---
layout: default
current: 25050101
criterion: 2505
checkpoint: 250501
guideline: operable

css: focus-indicator
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2505.2505[page.current] %}
{% assign baseurl=site.data.2505.2505[page.base] %}
{% assign sc=site.data.2505.2505[page.criterion] %}
{% assign cp=site.data.2505.2505[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Control target size is at least 44x44 CSS pixels.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Control target size is less than 44x44 CSS pixels.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Increase the target size to at least 44x44 CSS pixels.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Buttons</h3>
                <div class="example">
                    <button class="exButton" style="min-height:44px; min-width:44px;"><strong>Click Here</strong></button>
                    <pre><code>&lt;button <strong>style="min-height:44px; min-width:44px;"</strong>&gt;Click Here&lt;/button&gt;</code></pre>
                </div>

                <div class="example">
                    <div class="triangle-right-img" role="button" tabindex="0"></div>
                    <pre><code>.triangle-right-img {
    background-image: url("triangle.png");
    <strong>width: 50px;
    height: 50px;
    background-size: 50px;</strong>
}</code></pre>
                </div>

                <p>These icons are 40px, but there is 10px of space between them.</p>
                <div class="example">
                    <i class="fab fa-twitter" style="font-size: 40px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-facebook-f" style="font-size: 40px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-pinterest" style="font-size: 40px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-instagram" style="font-size: 40px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-google-plus-g" style="font-size: 40px; margin: 0 10px 0 0;"></i>
                    <pre><code>font-size: 40px; 
margin: 0 10px 0 0;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Some users cannot click or tap small controls.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C42">C42: Using min-height and min-width to ensure sufficient target spacing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2505checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>