---
layout: default
current: 33020301
criterion: 3302
checkpoint: 330203
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3302.3302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3302.3302[page.criterion] %}
{% assign cp=site.data.3302.3302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Required form input has a visible text indicator.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Required form input does not have a visible text indicator.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Include the required status of form inputs in the label or instructions.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <h3>Individual Labels</h3>
                    <p>Marking required fields with an asterisk (*) minimally passes. Screen readers should read the asterisk, and it is a common enough practice that it is usually understood to mean "required". An additional note such as "Fields marked with * are required" should be provided, as well as the <code>required</code> attribute on the <code>&lt;input&gt;</code>.</p>
                    <div class="example">
                        <form>
                            <label for="email4">Email Address *<br>
                                <input type="email" id="email4">
                            </label>
                            <label for="agree4"><input type="checkbox" id="agree4" required> I agree to the terms. *</label>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <p>Using the word "required" is a better option, because the screen reader will read it. Avoid using abbreviations like "req".</p>
                    <div class="example">
                        <form>
                            <label for="email3">Email Address<br>
                                <input type="email" id="email3">
                            </label>
                            <label for="agree3"><input type="checkbox" id="agree3" required> I agree to the terms. <span style="font-style: italic; color: #e00000;">(Required)</span></label>
                            <input type="submit" value="Submit">
                        </form>
                    </div>

                    <h3>Form-Level Instructions</h3>
                    <div class="example">
                        <form>
                            <legend style="font-style: italic; display:block; color: #e00000;">All fields are required.</legend>
                            <label for="email1">Email Address<br>
                                <input type="email" id="email1" required>
                            </label>
                            <label for="agree1"><input type="checkbox" id="agree1" required> I agree to the terms.</label>
                            <input type="submit" value="Submit">
                        </form>
                    </div>

                    <h3>Optional Fields Labeled</h3>
                    <div class="example">
                        <form>
                            <label for="email2">Email Address<br>
                                <input type="email" id="email2" required>
                            </label>
                            <label for="gender">Gender (Optional)<br>
                                <select id="gender" name="gender">
                                    <option>Select</option>
                                    <option value="female">Female</option>
                                    <option value="male">Male</option>
                                    <option value="other">Other</option>
                                </select>
                            </label>
                            <label for="agree2"><input type="checkbox" id="agree2" required> I agree to the terms.</label>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Cognitive impairments:</strong> Users understand what information should be entered.</li>
                        <li><strong>Vision impairments:</strong> Labels and instructions help prevent mistakes, which help prevent users having to navigate through the page multiple times.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G83">G83: Providing text descriptions to identify required fields that were not completed</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G131">G131: Providing descriptive labels</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G184">G184: Providing text instructions at the beginning of a form or set of fields that describes the necessary input</a></li>
                            </ul>
                        </li>
                        <li>HTML:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H90">H90: Indicating required form controls using label or legend</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/3302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>