---
layout: default
current: 33020204
criterion: 3302
checkpoint: 330202
guideline: understandable

---
{% assign currentpg=site.data.3302.3302[page.current] %}
{% assign baseurl=site.data.3302.3302[page.base] %}
{% assign sc=site.data.3302.3302[page.criterion] %}
{% assign cp=site.data.3302.3302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Form input labels and instructions have enough information for the user to know what input is expected.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Form input instructions are provided, but they are not read by assistive technology.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Ensure the instructions for completing the form inputs are accessible to assistive technology.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Required Fields</h3>
                <p>The required status of the fields is communicated both visually and programmatically.</p>
                <div class="example">
                    <form>
                        <legend style="font-style: italic;">All fields are required.</legend>
                        <label for="dob">Date of Birth (<em>MM/DD/YYYY</em>)<br>
                            <input type="text" id="dob" required>
                        </label>
                        <label for="zip">Postal Code (<em>XXXXX</em> or <em>XXXXX-XXXX</em>)<br>
                            <input type="text" id="zip" required>
                        </label>
                    </form>
                    <pre><code>&lt;form&gt;
    <strong>&lt;legend&gt;All fields are required.&lt;/legend&gt;</strong>
    &lt;label for="dob"&gt;Date of Birth (&lt;em&gt;MM/DD/YYYY&lt;/em&gt;)&lt;br&gt;
        &lt;input type="text" id="dob" <strong>required</strong>&gt;
    &lt;/label&gt;
    &lt;label for="zip"&gt;Postal Code (&lt;em>XXXXX&lt;/em&gt; or &lt;em&gt;XXXXX-XXXX&lt;/em&gt;)&lt;br&gt;
        &lt;input type="text" id="zip" <strong>required</strong>&gt;
    &lt;/label&gt;
&lt;/form&gt;</code></pre>
                </div>

                <h3>Associating Instructions with <code>aria-describedby</code></h3>
                <div class="example">
                    <form>
                        <label for="email">Email Address</label>
                        <input type="email" id="email" aria-describedby="info">
                        <p id="info" style="font-style: italic;">This should be your company email.</p>
                        <input type="submit" value="Submit">
                    </form>
                    <pre><code>&lt;form&gt;
    &lt;label for="email"&gt;Email Address&lt;/label&gt;
    &lt;input type="email" id="email" <strong>aria-describedby="info"</strong>&gt;
    &lt;p id="info"&gt;This should be your company email.&lt;/p&gt;
    &lt;input type="submit" value="Submit"&gt;
&lt;/form&gt;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Everyone, especially those with cognitive disabilities, will know how to respond.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA1">ARIA1: Using the aria-describedby property to provide a descriptive label for user interface controls</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA9">ARIA9: Using aria-labelledby to concatenate a label from several text nodes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3302checkpoints.html %}