---
layout: default
current: 33020101
criterion: 3302
checkpoint: 330201
guideline: understandable

---
{% assign currentpg=site.data.3302.3302[page.current] %}
{% assign baseurl=site.data.3302.3302[page.base] %}
{% assign sc=site.data.3302.3302[page.criterion] %}
{% assign cp=site.data.3302.3302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Form inputs have visible labels.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Form inputs do not have visible labels.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide visible labels for each form input.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Individual Labels</h3>
                <div class="example">
                    <form>
                        <label for="fname">First Name<br>
                            <input type="text" id="fname">
                        </label>
                        <label for="gender">Gender<br>
                            <select id="gender" name="gender">
                                <option>Select</option>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                                <option value="other">Other</option>
                            </select>
                        </label>
                        <label for="agree"><input type="checkbox" id="agree"> I agree to the terms.</label>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Everyone, especially those with cognitive disabilities, will know how to respond.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G89">G89: Providing expected data format and example</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G131">G131: Providing descriptive labels</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G162">G162: Positioning labels to maximize predictability of relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G167">G167: Using an adjacent button to label the purpose of a field</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H44">H44: Using label elements to associate text labels with form controls</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF10">PDF10: Providing labels for interactive form controls in PDF documents</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/forms/instructions/">W3C: Form Instructions</a></li>
                    <li><a href="https://www.digitala11y.com/anatomy-of-accessible-forms-placeholder-is-a-mirage/">DigitalA11y: Can Placeholder Make a Difference in Form Accessibility?</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3302checkpoints.html %}