---
layout: default
current: 33020202
criterion: 3302
checkpoint: 330202
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3302.3302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3302.3302[page.criterion] %}
{% assign cp=site.data.3302.3302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Form input labels and instructions have enough information for the user to know what input is expected.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Form input label does not include the expected data format.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Include the expected data format in the label or instructions.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <div class="example">
                    <form>
                        <label for="dob">Date of Birth (<em>MM/DD/YYYY</em>)<br>
                            <input type="text" id="dob">
                        </label>
                        <label for="zip">Postal Code (<em>XXXXX</em> or <em>XXXXX-XXXX</em>)<br>
                            <input type="text" id="zip">
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Everyone, especially those with cognitive disabilities, will know how to respond.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G131">G131: Providing descriptive labels</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>