---
layout: default
current: 12020106
criterion: 1202
checkpoint: 120201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1202.1202[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1202.1202[page.criterion] %}
{% assign cp=site.data.1202.1202[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Prerecorded video with audio must have synchronized captions which convey the same information provided in the audio.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The video has captions, but speakers are not identified.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Edit the captions to identify speakers in the audio.</div>
    	</div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Video Identifying Speakers</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xW-zNOT4P1A?si=RbJP2MABiCq1ncmW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with hearing can distinguish speakers by voices. Deaf users and any other users who use captions must be given all the same information that is given in audio form.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.2.2 Captions (Prerecorded)</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/captions/">W3: Captions</a></li>
                    <li><a href="https://dcmp.org/learn/603-captioning-key---speaker-identification">DCMP: Captioning Key - Speaker Identification</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1202checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>