---
layout: default
current: 12020107
criterion: 1202
checkpoint: 120201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1202.1202[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1202.1202[page.criterion] %}
{% assign cp=site.data.1202.1202[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>If synchronized media is used as a media alternative to text, it must be clearly labeled as such.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The video is an alternative to text on the page, but it is not clearly labeled as such.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Clearly label the video as an alternative to text on the page.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Audio-only:</strong><br>
                            File under <a href="{{ site.data.1201.1201[12010106].link | prepend: baseurl }}">{{ site.data.1201.1201[12010106].name }}</a>.</a></li>
                        <li><strong>Video-only:</strong><br>
                            File under <a href="{{ site.data.1201.1201[12010204].link | prepend: baseurl }}">{{ site.data.1201.1201[12010204].name }}</a>.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>Media which is intended as an alternative to text on the page needs to be clearly labeled as such, so users can find it and so users who expect text alternatives know not to look for them.</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F74">F74: Failure of Success Criterion 1.2.2 and 1.2.8 due to not labeling a synchronized media alternative to text as an alternative</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1202checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>