---
layout: default
current: 12020107
criterion: 1202
checkpoint: 120201
---
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign baseurl=site.data.1201.1201[page.base] %}
{% assign sc=site.data.1201.1201[page.criterion] %}
{% assign cp=site.data.1201.1201[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Prerecorded video with audio must have synchronized captions which convey the same information provided in the audio.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The video has captions, but they are difficult to read and can't be adjusted.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Ensure caption text has at least 3:1 contrast (assuming a minimum font size of 18 points) with the background at all times, <strong>OR</strong></li>
                    <li>Use a video player which allows the user to adjust the appearance of the captions.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Caption Settings</h3>
                <p>Some video players allow the user to adjust the appearance of captions.</p>
                <img src="{{ baseurl }}/assets/images/12020107-caption-settings.png" alt="Screenshot of Advanced options dialog offering different choices for caption appearance.">
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with low vision need to be able to easily read the captions.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.2.2 Captions (Prerecorded)</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/captions/">W3: Captions</a></li>
                    <li><a href="https://subtitleo.com/blog/guide-to-video-captions/#C_Color_and_Contrast">SubtitleO: Color and Contrast</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1202checkpoints.html %}