---
layout: default
current: 12020103
criterion: 1202
checkpoint: 120201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1202.1202[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1202.1202[page.criterion] %}
{% assign cp=site.data.1202.1202[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Captions must be synchronized.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The video has captions, but they are not synchronized.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Synchronize the captions with the audio.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                    <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>YouTube</h3>
                    <p>The following is a <strong>bad example</strong> showing poorly synchronized captions.</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vBvW76nVq14?si=q-FVBrtIcfsc9q7t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Live synchronized media:</strong><br>
                            File under <a href="{{ site.data.1204.1204[12040103].link | prepend: baseurl }}">{{ site.data.1204.1204[12040103].name }}</a>.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <p>People who are deaf or hard of hearing generally can also read lips. When the video and captions don’t match, it can cause confusion.</p>
                    <ul>
                        <li><strong>Deaf/hard of hearing:</strong> People who are deaf or hard of hearing need to be able to access the same information provided in the audio portion of multimedia.</li>
                        <li><strong>Information processing:</strong> People who have the ability to hear use captions to more easily process the auditory information.</li>
                        <li><strong>Non-native speakers:</strong> Captions help non-native speakers of the audio language understand the content.</li>
                        <li><strong>Environment:</strong> Captions allow all users to access the auditory information in environments where sound can't be used or cannot be heard.</li>
                        <li><strong>SEO:</strong> Captions allow search engines to catalog the information contained in videos.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/media/av/captions/">W3: Captions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1202checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>