---
layout: default
current: 22040101
criterion: 2204
checkpoint: 220401
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2204.2204[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2204.2204[page.criterion] %}
{% assign cp=site.data.2204.2204[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>The user is able to postpone or suppress interruptions.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>There are non-emergency content refreshes, and the user has no means to postpone or suppress them.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide a mechanism to turn off automatic content refreshes. An option may be provided to manually refresh as needed.</div>
    	</div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <ul>
                    <li>A website has preference settings where a user can opt to turn off non-emergency content refreshes until the user requests them manually.</li>
                </ul>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with attention deficits and users of assistive technology are distracted and disrupted by non-essential interruptions.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F40">F40: Failure due to using meta redirect with a time limit</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F41">F41: Failure of Success Criterion 2.2.1, 2.2.4, and 3.2.5 due to using meta refresh to reload the page</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G75">G75: Providing a mechanism to postpone any updating of content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G76">G76: Providing a mechanism to request an update of the content instead of updating automatically</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2204checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>