---
layout: default
current: 22040102
root: WCAG 2.2
base: base
criterion: 2204
checkpoint: 220401
guideline: perceivable
level: a
---
{% assign currentpg=site.data.2204.2204[page.current] %}
{% assign baseurl=site.data.2204.2204[page.base] %}
{% assign sc=site.data.2204.2204[page.criterion] %}
{% assign cp=site.data.2204.2204[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>The user is able to postpone or suppress interruptions.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>There are non-emergency notifications or alerts, and the user has no means to postpone or suppress them.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Provide a mechanism to turn off non-emergency notifications and alerts.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <ul>
                    <li>A website has preference settings where a user can opt to turn off non-emergency notifications and alerts.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Users with attention deficits and users of assistive technology are distracted and disrupted by non-essential interruptions.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR14">SCR14: Using scripts to make nonessential alerts optional</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2204checkpoints.html %}