---
layout: default
current: 12060102
criterion: 1206
checkpoint: 120601
guideline: perceivable
aa
---
{% assign currentpg=site.data.1206.1206[page.current] %}
{% assign baseurl=site.data.1206.1206[page.base] %}
{% assign sc=site.data.1206.1206[page.criterion] %}
{% assign cp=site.data.1206.1206[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Prerecorded synchronized media has an accurate sign language interpretation for the audio content.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The prerecorded synchronized media has a sign language interpretation for the audio content, but it is not accurate.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide an accurate sign language interpretation that includes all key elements necessary to understand the audio content.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Fake Sign Language Interpreter</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LvNPKwz4Ghw?si=IK-4VSryD0h2temV" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Some deaf users are more fluent in sign language than in reading spoken languages. These users need an accurate translation of the audio content.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.2.6 Sign Language (Prerecorded)</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G54">G54: Including a sign language interpreter in the video stream</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G81">G81: Providing a synchronized video of the sign language interpreter that can be displayed in a different viewport or overlaid on the image by the player</a></li>
                    <li><a href="https://www.accessguide.io/guide/asl-interpretation">Access Guide: Provide ASL interpretation of video</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

     {% include checkpoints/1206checkpoints.html %}