---
layout: default
current: 14110304
criterion: 1411
checkpoint: 141103
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1411.1411[page.current] %}
{% assign baseurl=site.data.1411.1411[page.base] %}
{% assign sc=site.data.1411.1411[page.criterion] %}
{% assign cp=site.data.1411.1411[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Text characters used as graphic symbols have at least a 3:1 contrast with the background.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Text characters used as graphic symbols do not have at least a 3:1 contrast with the background.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the colors of the text characters to have at least 3:1 contrast with the background.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Close Button</h3>
                <p>Text characters such as x, <, and > are often used as graphic labels for buttons. Since these function as images rather than literal text, the non-text contrast rule of 3:1 applies.</p>
                <button aria-label="Close"><b>X</b></button>

                <h3>Menu Button Using FontAwesome</h3>
                <p>FontAwesome allows you to use icon font characters as images, such as the down arrow on a drop-down menu. The non-text contrast rule of 3:1 applies to them as well.</p>
                <div class="exnavbar">
                    <a href="#home">Home</a>
                    <a href="#news">News</a>
                    <div class="dropdown">
                        <button class="dropbtn">Dropdown
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Color blind and visually impaired users need to be able to distinguish meaningful non-text symbols.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1411checkpoints.html %}