---
layout: default
current: 14110302
root: WCAG 2.2
base: base
criterion: 1411
checkpoint: 141103
guideline: perceivable
level: a
---
{% assign currentpg=site.data.1411.1411[page.current] %}
{% assign baseurl=site.data.1411.1411[page.base] %}
{% assign sc=site.data.1411.1411[page.criterion] %}
{% assign cp=site.data.1411.1411[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Parts of graphic required to understand its meaning have 3:1 contrast against adjacent colors.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Part of graphic required to understand its meaning does not have 3:1 contrast against adjacent colors.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Change the colors of the graphic so that parts required to understand its meaning have at least 3:1 contrast with adjacent colors.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <h3>Multi-color Icon</h3>
                <p>The hand in this icon has more than one color. However, the shape of the hand is understandable without contrast between those colors. The contrast between the hand and the background is sufficient, so the icon passes.</p>
                <div role="button"><img src="{{ baseurl }}/assets/images/1411c-thumbs-up.png" style="max-width: 64px" alt="Like"></div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Color blind and visually impaired users need to be able to distinguish and understand meaningful icons.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1411checkpoints.html %}