---
layout: default
current: 14110202
criterion: 1411
checkpoint: 141102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1411.1411[page.current] %}
{% assign baseurl=site.data.1411.1411[page.base] %}
{% assign sc=site.data.1411.1411[page.criterion] %}
{% assign cp=site.data.1411.1411[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Visual indicators of a control's hover state must have at least 3:1 contrast with adjacent colors.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Visual indicators of a control's hover state do not have at least 3:1 contrast with adjacent colors.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the color of the hover state boundaries to have at least 3:1 contrast with adjacent colors.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Border</h3>
                <p>The hover state border has a contrast ratio of at least 3:1 with both the internal and external background.</p>
                <label for="firstName"> First Name<br>
                    <input type="text" id="firstName">
                </label>

                <h3>Border</h3>
                <p>The hover state border has a contrast ratio of at least 3:1 with the external background. Since the internal background is not required to distinguish the hover state, it is not required to meet the contrast minimum.</p>
                <label for="address"> Street Address<br>
                    <input type="text" id="address" style="border-width: 0 0 2px 0; background-color: #E2F2FF;">
                </label>

                <h3>Border and Background</h3>
                <p>This control's hover state has a border and background around the entire hit area, making it very clear and distinguishable. The hover state border has at least 3:1 contrast with the background, so the background color of the hover state is not required to distinguish the control and doesn't need to meet the contrast ratio.</p>
                <div class="cbExample">
                    <div role="checkbox" tabindex="0" aria-checked="false">I agree to the terms of use.
                        <span id="ccbChecked1" class="ccbCheckbox ccbChecked" style="display: none;"></span>
                        <span id="ccbNotChecked1" class="ccbCheckbox ccbNotChecked" style="display: block;"></span>
                    </div>
                </div>
                <script src="{{ baseurl }}/assets/js/checkbox.js"></script>

                <h3>Background</h3>
                <p>The hover state has a contrast ratio of at least 3:1 with the background. It is not necessary for the hover state to contrast with the default state.</p>
                <input type="button" value="Send" class="focusInternal">
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Color blind and visually impaired users need to be able to distinguish the control in the hover state.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1411checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>