---
layout: default
current: 14110205
criterion: 1411
checkpoint: 141102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1411.1411[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1411.1411[page.criterion] %}
{% assign cp=site.data.1411.1411[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Visual indicators of a control's selected state must have at least 3:1 contrast with adjacent colors.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Visual indicators of a control's selected state do not have at least 3:1 contrast with adjacent colors.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the color of the selected state boundaries to have at least 3:1 contrast with adjacent colors.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Background</h3>
                <p>The background of the selected tab has a contrast ratio of at least 3:1 with the external background.</p>
                <script src="{{ baseurl }}/assets/js/tabs-manual.js"></script>
                <div class="tabs">
                    <div role="tablist" class="manual">
                        <button id="tab-1" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-1">
                          <span class="focus">Screen Reader</span>
                        </button>
                        <button id="tab-2" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-2" tabindex="-1">
                          <span class="focus">Braille Device</span>
                        </button>
                        <button id="tab-3" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-3" tabindex="-1">
                          <span class="focus">Switch Device</span>
                        </button>
                        <button id="tab-4" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-4" tabindex="-1">
                          <span class="focus">Voice Recognition</span>
                        </button>
                    </div>
                </div>
                <div id="tabpanel-1" role="tabpanel" aria-labelledby="tab-1">Screen Reader</div>
                <div id="tabpanel-2" role="tabpanel" aria-labelledby="tab-2">Braille Device</div>
                <div id="tabpanel-3" role="tabpanel" aria-labelledby="tab-3">Switch Device</div>
                <div id="tabpanel-4" role="tabpanel" aria-labelledby="tab-4">Voice Recognition</div>

                <h3>Border</h3>
                <p>The border of the selected list item has a contrast ratio of at least 3:1 with the external background. The internal background is not required to distinguish the state, so it doesn't need to meet a contrast minimum.</p>
                <script src="{{ baseurl }}/assets/js/listbox.js"></script>
                <script src="{{ baseurl }}/assets/js/listbox-scrollable.js"></script>
                <div class="listbox-area">
                    <div><span id="ss_sr" class="listbox-label">Screen Readers:</span>
                        <ul id="ss_sr_list" tabindex="0" role="listbox" aria-labelledby="ss_sr">
                          <li id="ss_sr_jaws" role="option"><span class="checkmark" aria-hidden="true"></span>JAWS</li>
                          <li id="ss_sr_nvda" role="option"><span class="checkmark" aria-hidden="true"></span>NVDA</li>
                          <li id="ss_sr_vo" role="option"><span class="checkmark" aria-hidden="true"></span>VoiceOver</li>
                          <li id="ss_sr_tb" role="option"><span class="checkmark" aria-hidden="true"></span>TalkBack</li>
                          <li id="ss_sr_orca" role="option"><span class="checkmark" aria-hidden="true"></span>Orca</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Color blind and visually impaired users need to be able to distinguish the control in the selected state.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1411checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>