---
layout: default
current: 32040103
root: WCAG 2.2
base: base
criterion: 3204
checkpoint: 320401
guideline: understandable
level: aa
---
{% assign currentpg=site.data.3204.3204[page.current] %}
{% assign baseurl=site.data.3204.3204[page.base] %}
{% assign sc=site.data.3204.3204[page.criterion] %}
{% assign cp=site.data.3204.3204[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Icons that have the same purpose within a set of web pages are identified consistently.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Icons that have the same purpose within a set of web pages are not identified consistently.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Ensure icons that have the same purpose within a set of web pages have consistent accessible names each time they appear.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
            <div>
                <h3>Page 1</h3>
                <div class="example">
                    <span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" aria-label="Completed"></span></h2>
                    <pre><code>&lt;span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" <strong>aria-label="Completed"</strong>&gt;&lt;/span&gt;</code></pre>
                </div>

                <h3>Page 2</h3>
                <div class="example">
                    <span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" aria-label="Completed"></span></h2>
                    <pre><code>&lt;span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" <strong>aria-label="Completed"</strong>&gt;&lt;/span&gt;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
            <div>
                <h3>Page 1</h3>
                <div class="example">
                    <span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" aria-label="Completed"></span></h2>
                    <pre><code>&lt;span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" <strong>aria-label="Completed"</strong>&gt;&lt;/span&gt;</code></pre>
                </div>

                <h3>Page 2</h3>
                <div class="example">
                    <span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" aria-label="Done"></span></h2>
                    <pre><code>&lt;span role="img" class="fa-solid fa-circle-check lgIcon" style="color: #28a228;" <strong>aria-label="Done"</strong>&gt;&lt;/span&gt;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Consistently identified actions are especially important to people with disabilities.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F31">F31: Failure of Success Criterion 3.2.4 due to using two different labels for the same function on different Web pages within a set of Web pages </a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G197">G197: Using labels, names, and text alternatives consistently for content that has the same functionality</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include  checkpoints/3204checkpoints.html %}