---
layout: default
current: 22010102
criterion: 2201
checkpoint: 220101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2201.2201[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2201.2201[page.criterion] %}
{% assign cp=site.data.2201.2201[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>If the content has a time limit and the user is given a warning when time is about to expire, the user must be given a means to extend the time limit with a simple action.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The user is given a warning when time is about to expire but is not provided a means to extend the time limit with a simple action.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <ul>
                        <li>For a period of at least 20 seconds, allow the user to extend the time limit with a simple action (e.g., pressing the spacebar), <strong>AND</strong></li>
                        <li>Provide a means for the user to extend the time limit at least 10 times.</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <ul>
                        <li>A site logs the user out after a period of inactivity to protect their data. The site provides a dialog asking if the user needs more time. The user can extend the time limit an indefinite number of times. After 30 seconds, if there is no response, the user is logged out.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Users need more time to locate things on screen and to read. Screen reader users need more time to understand screen layouts, find information, and operate controls.</li>
                        <li><strong>Motion impaired:</strong> Users need more time to react, type, and complete activities.</li>
                        <li><strong>Cognitively impaired: Users need more time to read and understand the information.</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR16">SCR16: Providing a script that warns the user a time limit is about to expire</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2201checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>