---
layout: default
current: 24060101
criterion: 2406
checkpoint: 240601
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2406.2406[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2406.2406[page.criterion] %}
{% assign cp=site.data.2406.2406[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Headings describe the topics of their content.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Heading does not describe the topic of its content.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Change the heading text to describe the topic of its content.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <div class="example" style="width: 80%;">
                        <h3>Saguaro National Park</h3>
                        <p>Divided into two sections on either side of Tucson, Arizona, Saguaro National Park is named for its large saguaro cactus, which can live up to 200 years and grow as tall as 40 feet. The park is a showcase for the Sonoran Desert ecosystem, offering hiking trails, scenic drives, and evening programs under the stars.</p>
                        <p><em>Top Feature:</em> The Saguaro Cactus - largest cactus species in the park</p>
                        <h4>Fun Fact</h4>
                        <p>Saguaro National Park in Arizona is named after the Saguaro cactus, which is the largest cactus species in the United States. These iconic cacti can grow up to 60 feet tall and live for more than 150 years, but they're also slow-growers; it can take a Saguaro 75 years just to grow its first "arm."</p>
                        <h4>Three Things to Know Before Visiting</h4>
                        <ol>
                            <li>Two Districts: The park is divided into two districts: the Rincon Mountain District (East) and the Tucson Mountain District (West). Each offers different experiences and scenic views, so you may want to plan to visit both.</li>
                            <li>Extreme Heat: Especially in the summer months, temperatures can soar, making hiking and other activities potentially dangerous. Always carry ample water, wear sun protection, and consider visiting during the cooler parts of the day.</li>
                            <li>Desert Wildlife: The park is home to a variety of desert wildlife, including rattlesnakes. Be cautious when exploring, stick to marked trails, and keep a safe distance from any animals you encounter.</li>
                        </ol>
                        <p>Source: <a href="https://ourparks.org/parks/saguaro">Our Parks</a></p>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <p>The following are not applicable to this failure:</p>
                    <ul>
                        <li><strong>Existence of headings</strong></li>
                        <li><strong>Programmatic markup:</strong><br>
                            File under <a href="{{ site.data.1301.1301[1301].link | prepend: baseurl }}">{{ site.data.1301.1301[1301].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visual impairments:</strong> Descriptive headings enable screen reader users to predict what each section contains, including in lists generated by screen readers.</li>
                        <li><strong>Cognitive impairments:</strong> Descriptive headings help users understand what the content is about.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G130">G130: Providing descriptive headings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2406checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>