---
layout: default
current: 24060201
criterion: 2406
checkpoint: 240602
guideline: operable
a
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2406.2406[page.current] %}
{% assign baseurl=site.data.2406.2406[page.base] %}
{% assign sc=site.data.2406.2406[page.criterion] %}
{% assign cp=site.data.2406.2406[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Labels describe the purpose of the associated controls or inputs.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Label does not describe the purpose of the associated control or input.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the label text to describe the purpose of the control or input.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <div class="example" style="width: 80%;">
                    <label for="fname" style="display:block;">First Name<br>
                        <input type="text" id="fname" autocomplete="given-name">
                    </label>
                    <label for="lname" style="display:block;">Last Name<br>
                        <input type="text" id="lname" autocomplete="family-name">
                    </label>
                    <label for="terms" style="display:block;">
                        <input type="checkbox" id="terms"> I agree to the terms and conditions.
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users, especially those with cognitive or visual disabilities, can orient themselves.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G131">G131: Providing descriptive labels</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2406checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>