---
layout: default
current: 14080402
criterion: 1408
checkpoint: 140804
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1408.1408[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1408.1408[page.criterion] %}
{% assign cp=site.data.1408.1408[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Paragraph spacing is adjustable to at least 1.5 times the line spacing.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Paragraph spacing is less than 1.5 times the line spacing and cannot be adjusted by the user.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Set the bottom margin to at least 1.5 times the <code>line-height</code> value, <strong>OR</strong></li>
                    <li>Provide a mechanism to change the paragraph spacing</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <p>You can calculate the minimum paragraph margin based on the font size. For example:</p>
                <ol>
                    <li>Get the minimum <code>line-height</code> value by calculating font size x 1.5:<br>
                        1em x 1.5 = <strong>1.5em</strong><br>
                        This is the <code>line-height</code> value.</li>
                    <li>Get the total paragraph spacing by calculating <code>line-height</code> x 1.5:<br>
                        1.5em x 1.5 = <strong>2.25em</strong><br>
                        However, the last line of the paragraph will still have the <code>line-height</code> value, so that must be subtracted from the total.</li>
                    <li>Get the minimum paragraph spacing by subtracting the <code>line-height</code> from the total paragraph spacing:<br>
                        2.25em - 1.5em = <strong>.75em</strong><br>
                        This is the number used for the bottom <code>margin</code>.</li>
                </ol>

                <h3 style="color: red;">Bad Example: No paragraph spacing</h3>
                <div style="border: 1px solid #888; padding: .5em;">
                    <p style="line-height: 1.5; margin: 0; padding: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</p>
                    <p style="line-height: 1.5; margin: 0; padding: 0;">Vivamus tristique ex semper dolor tempor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ullamcorper ligula sed convallis egestas. Nunc posuere ante ipsum, in congue quam venenatis et. Aliquam vel convallis ligula. Suspendisse aliquam interdum tellus ac tristique.</p>
                </div>
                <pre><code>font-size: 1em;
line-height: 1.5;
margin-bottom: 0;</code></pre>

                <h3 style="color: green;">Good Example: Space and a Half</h3>
                <div style="border: 1px solid #888; padding: .5em;">
                    <p style="line-height: 1.5; margin: 0 0 .75em 0; padding: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</p>
                    <p style="line-height: 1.5; margin: 0 0 .75em 0; padding: 0;">Vivamus tristique ex semper dolor tempor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ullamcorper ligula sed convallis egestas. Nunc posuere ante ipsum, in congue quam venenatis et. Aliquam vel convallis ligula. Suspendisse aliquam interdum tellus ac tristique.</p>
                </div>
                <pre><code>font-size: 1em;
line-height: 1.5;
margin-bottom: .75em;</code></pre>

                <h3 style="color: green;">Good Example: Double Spaced</h3>
                <div style="border: 1px solid #888; padding: .5em;">
                    <p style="line-height: 2; margin: 0 0 1em 0; padding: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</p>
                    <p style="line-height: 2; margin: 0 0 1em 0; padding: 0;">Vivamus tristique ex semper dolor tempor suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ullamcorper ligula sed convallis egestas. Nunc posuere ante ipsum, in congue quam venenatis et. Aliquam vel convallis ligula. Suspendisse aliquam interdum tellus ac tristique.</p>
                </div>
                <pre><code>font-size: 1em;
line-height: 2;
margin-bottom: 1em;</code></pre>   
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with certain cognitive disabilities have difficulty reading blocks of text with insufficient spacing between paragraphs.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G188">G188: Providing a button on the page to increase line spaces and paragraph spaces</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C21">C21: Specifying line spacing in CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1408checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>