---
layout: default
current: 14080201
criterion: 1408
checkpoint: 140802
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1408.1408[page.current] %}
{% assign baseurl=site.data.1408.1408[page.base] %}
{% assign sc=site.data.1408.1408[page.criterion] %}
{% assign cp=site.data.1408.1408[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>The width of a block of text can be adjusted so that no more than 80 characters are displayed without the need for horizontal scrolling.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>When a block of text is resized so that no more than 80 characters are displayed, horizontal scrolling is required.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Use relative width measurements such as ems or percentages, <strong>OR</strong></li>
                    <li>Do not set width on text containers</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <p>Use browser zoom to resize text to 200%.</p>
                <h3>Ems</h3>
                <div style="max-width: 70em; border: 1px solid #888;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</div>

                <h3>Percentages</h3>
                <div style="width: 90%; border: 1px solid #888;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</div>             
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with certain cognitive disabilities are better able to track lines of text when they are shorter.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G204">G204: Not interfering with the user agent's reflow of text as the viewing window is narrowed</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C20">C20: Using relative measurements to set column widths so that lines can average 80 characters or less when the browser is resized</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1408checkpoints.html %}