---
layout: default
current: 14080301
criterion: 1408
checkpoint: 140803
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1408.1408[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1408.1408[page.criterion] %}
{% assign cp=site.data.1408.1408[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Blocks of text must not be justified.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Text is justified.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Align text to either the left or right side only, <strong>OR</strong></li>
                    <li>Provide a mechanism to remove the justification</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
                <h3 style="color: red;">Bad Example: Justified</h3>
                <div style="text-align: justify; border: 1px solid #888;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</div>
                <pre><code>text-align: justify;</code></pre>

                <h3 style="color: green;">Good Example: Left Aligned</h3>
                <div style="text-align: left; border: 1px solid #888;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</div>
                <pre><code>text-align: left;</code></pre>

                <h3 style="color: green;">Good Example: Right Aligned</h3>
                <div style="text-align: right; border: 1px solid #888;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et ultrices enim. Pellentesque pulvinar massa orci, sed ultrices tellus hendrerit ac. Ut turpis dui, dapibus id augue id, fermentum consectetur velit. Pellentesque pharetra hendrerit erat, ac convallis est lacinia quis.</div>
                <pre><code>text-align: right;</code></pre>   
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with certain cognitive disabilities have difficulty reading blocks of texts with uneven spacing between words.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G169">G169: Aligning text on only one side</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G172">G172: Providing a mechanism to remove full justification of text</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C19">C19: Specifying alignment either to the left or right in CSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1408checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>