---
layout: default
current: 14080101
criterion: 1408
checkpoint: 140801
---
{% assign currentpg=site.data.1408.1408[page.current] %}
{% assign baseurl=site.data.1408.1408[page.base] %}
{% assign sc=site.data.1408.1408[page.criterion] %}
{% assign cp=site.data.1408.1408[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Foreground and background colors can be adjusted by the user to suit their needs.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Foreground and background colors cannot be adjusted by the user.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Do not prevent the user from being able to adjust the colors, <strong>OR</strong></li>
                    <li>Do not specify foreground or background colors, <strong>OR</strong></li>
                    <li>Provide a color selection tool at the top of the page which allows the user to change the colors</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users with certain visual or cognitive disabilities may have difficulty reading text in certain color combinations.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F24">F24: Failure of Success Criterion 1.4.3, 1.4.6 and 1.4.8 due to specifying foreground colors without specifying background colors or vice versa</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G148">G148: Not specifying background color, not specifying text color, and not using technology features that change those defaults</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G156">G156: Using a technology that has commonly-available user agents that can change the foreground and background of blocks of text</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G175">G175: Providing a multi color selection tool on the page for foreground and background colors</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C23">C23: Specifying text and background colors of secondary content such as banners, features and navigation in CSS while not specifying text and background colors of the main content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C25">C25: Specifying borders and layout in CSS to delineate areas of a Web page while not specifying text and text-background colors</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1408checkpoints.html %}