---
layout: default
current: 14040105
criterion: 1404
checkpoint: 140401
last-modified: June 29, 2026
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1404.1404[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1404.1404[page.criterion] %}
{% assign cp=site.data.1404.1404[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>All content and functionality must be available within one click or tap when resized to 200%.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Content or functionality is removed entirely when resized to 200%.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Ensure content is not removed entirely when resized to 200%. It may be moved or hidden, but should remain accessible with a single click or tap.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Examples<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    A web page has a menu with a visible list of several options. When the user resizes the page to 200%, the menu disappears and the options are no longer available on the page.
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Examples<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    A web page has a menu with a visible list of several options. When the user resizes the page to 200%, the menu is collapsed into a hamburger icon, which the user may click or tap to view the same options.
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Visual Impairment:</strong> Users must be able to increase the text size of content so that they can read it.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G179">G179: Ensuring that there is no loss of content or functionality when the text resizes and text containers do not change their width</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1404checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>