---
layout: default
title: Failure - F2.5.8.a.a Target size is less than 24 x 24 CSS pixels
current: /a11y/failure/258/f258aa.html
root: WCAG 2.2
scurl: /a11y/sc/258.html
sctitle: 2.5.8 Target Size (Minimum)
cpurl: /a11y/checkpoint/258a.html
cptitle: 2.5.8.a Target Size (Minimum)
guideline: operable
level: aa
w3scurl: https://www.w3.org/WAI/WCAG22/Understanding/target-size-minimum
css: focus-indicator
---
<div class="cpcontent {{ page.level }}link">
    <h1>{{ page.title }}</h1>
    <nav aria-label="Breadcrumb" class="breadcrumb {{ page.level }}lite">
        <ol>
            <li><a href="/a11y/index.html">{{ page.root }}</a></li>
            <li><a href="{{ page.scurl }}">{{ page.sctitle }}</a></li>
            <li><a href="{{ page.cpurl }}">{{ page.cptitle }}</a></li>
            <li><a href="{{ page.current }}" aria-current="page">{{ page.title }}</a> - Level {{ page.level | upcase }}</li> 
        </ol>
    </nav>

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Control target size is at least 24 x 24 CSS pixels.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Control target size is less than 24 x 24 CSS pixels.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Increase the target size to at least 24 x 24 CSS pixels.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <h3>Buttons</h3>
                <div class="example">
                    <button class="exButton" style="min-height:24px; min-width:24px;">Click Here</button>
                    <pre><code>&lt;button style="min-height:24px; min-width:24px;"&gt;<strong>Click Here</strong>&lt;/button&gt;</code></pre>
                </div>

                <div class="example">
                    <div class="triangle-right-img" style="width:24px; height:24px; background-size:24px;" role="button" tabindex="0"></div>
                    <pre><code>.triangle-right-img {
    background-image: url("triangle.png");
    width: 24px;
    height: 24px;
    background-size: 24px;
}</code></pre>
                </div>

                <p>These icons are 20px, but there is 10px of space between them.</p>
                <div class="example">
                    <i class="fab fa-twitter" style="font-size: 20px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-facebook-f" style="font-size: 20px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-pinterest" style="font-size: 20px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-instagram" style="font-size: 20px; margin: 0 10px 0 0;"></i>
                    <i class="fab fa-google-plus-g" style="font-size: 20px; margin: 0 10px 0 0;"></i>
                    <pre><code>font-size: 20px; 
margin: 0 10px 0 0;</code></pre>
                </div>

                <h3>Select</h3>
                <div class="example">
                    {% include examples/select-only.html %}
                    <script src="/a11y/assets/js/select-only.js"></script>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Some users cannot click or tap small controls.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ page.w3scurl }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C42">C42: Using min-height and min-width to ensure sufficient target spacing</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include 258checkpoints.html %}