---
layout: default
title: 1.1.1.a Functional Images (Text Alternative)
guideline: perceivable
scurl: https://www.w3.org/WAI/WCAG22/Understanding/non-text-content
---
<div class="cpcontent">
    <h1>{{ page.title }}</h1>
    <p class="breadcrumb"><a href="index.html">WCAG</a> | <a href="111.html">1.1.1 Non-text Content</a></p>

    <h2>Overview</h2>

    <h3>Examples</h3>
    <p>Functional images include the following:</p>
    <h4>Image as Link</h4>
    <p>This link's function on the site is to view the home page, so this is what the text alternative should describe. The fact that it is a logo is not relevant and should not be included in the text alternative.</p>
    <p><a href="#"><img src="/a11y/assets/images/111a-github-mark.png" width="60" height="60" alt="GitHub home" /></a></p>
    <pre><code>&lt;a href="http://github.com"&gt;
  &lt;img 
    src="github-mark.png" 
    <strong>alt="GitHub home"</strong> /&gt;
&lt;/a&gt;</code></pre>

<h4>Informational Image within Link</h4>
    <p>This link's function is to open a PDF file. The image's function within the link is to convey the file type. Since the link already contains text describing its target, the image's text alternative only needs to identify the target as a PDF.</p>
    <p><a href="#">Download the User Guide <img src="/a11y/assets/images/111a-pdf-icon_60.png" width="24" height="24" alt="PDF" /></a></p>
    <pre><code>&lt;a href="user-guide.pdf"&gt;
  Download the User Guide 
  &lt;img 
    src="pdf-icon.png" 
    <strong>alt="PDF"</strong> /&gt;
&lt;/a&gt;</code></pre>

    <h4>Image as Button</h4>
    <p>This button's function is to add an item to the cart, so this is what the text alternative should convey. Using "Shopping Cart" would be inappropriate, as that does not describe the actual function, and the user would assume that they are going to a page displaying their cart contents.</p>
    <p><button style="background-color: transparent; border: 0;"><img src="/a11y/assets/images/111a-shopping-cart.png" alt="Add to Cart" /></button></p>
    <pre><code>&lt;button&gt;
  &lt;img 
    src="shopping-cart.png" 
    <strong>alt="Add to Cart"</strong> /&gt;
&lt;/button&gt;</code></pre>

    <h4>Input Image</h4>
    <p>This button's function is to submit a form and continue to the next step in a process, so this is what the text alternative should convey.</p>
    <p><input type="image" src="/a11y/assets/images/111a-next-arrow_60.png" alt="Submit and continue" /></button></p>
    <pre><code>&lt;button&gt;
  &lt;img 
    src="next-button.png" 
    <strong>alt="Submit and continue"</strong> /&gt;
&lt;/button&gt;</code></pre>

   <h4>Client-side Image Map</h4>
    <p>Each circle on this example image is an <code>&lt;area&gt;</code> which is a link. The alt text for each area must describe the target of the link.</p>
    <img src="assets/images/111a-infographic.png"
     alt="Steps of the Process"
     usemap="#csimap">
    <map id="csimap" name="Sample Image Map">
        <area shape="rect"
            coords="0,0,168,334"
            href="#"
            onclick="alert('Step 1')"
            alt="Step 1 Details">
        <area shape="rect"
            coords="168,0,319,334"
            href="#"
            onclick="alert('Step 2')"
            alt="Step 2 Details">
        <area shape="rect"
            coords="319,0,471,334"
            href="#"
            onclick="alert('Step 3')"
            alt="Step 3 Details">
        <area shape="rect"
            coords="471,0,640,334"
            href="#"
            onclick="alert('Step 4')"
            alt="Step 4 Details">
    </map>
    <pre><code>&lt;img src="infographic.png"
    alt="Steps of the Process"
    usemap="#csimap"&gt;
&lt;map id="csimap" name="Sample Image Map"&gt; 
    &lt;area shape="rect"
        coords="0,0,168,334"
        href="#"
        <strong>alt="Step 1 Details"</strong>&gt;
    &lt;area shape="rect"
        coords="168,0,319,334"
        href="#"
        <strong>alt="Step 2 Details"</strong>&gt;
    &lt;area shape="rect"
        coords="319,0,471,334"
        href="#"
        <strong>alt="Step 3 Details"</strong>&gt;
    &lt;area shape="rect"
        coords="471,0,640,334"
        href="#"
        <strong>alt="Step 4 Details"</strong>&gt;
&lt;/map&gt;</code></pre>
    

    <h2>Basic Requirements and Best Practices</h2>
    <p><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br />
        <span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If a control is labeled with only an image, the image must have alternative text which describes the function or destination of the control.</li>
        <li><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If a control is labeled with both an image and text:
            <ul>
                <li>If the image provides information not conveyed by the associated text, the image's alternative text along with the visible text must together describe the function or destination of the control.</li>
                <li>If the image does not provide any information not conveyed by the associated text, check against <a href="111d.html">1.1.1.d Decorative Images (Text Alternative)</a>.</li>
            </ul>
        </li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> If the image contains meaningful text, the text alternative should contain that exact text.</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Text alternatives for linked images should not duplicate adjacent link text for the same destination. Combine the image and text into a single link and check the image against 1.1.1.d Alternative Text (Decorative Images).</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Text alternatives for functional images should not include words such as "link" or "button".</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Trademarks, copyright symbols, etc. on an image should be included in the text alternative.</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Text alternatives should be as succinct as possible.</li>
    </ul>

    <div class="success"><strong>Success:</strong> If you could not see the image, you would still understand the destination, purpose, or function of the control.</div>

    <p>Text alternatives for functional images include the following:</p>
    <ul>
        <li><code>alt</code> attribute value</li>
        <li><code>title</code> attribute value</li>
        <li><code>aria-label</code> property</li>
        <li><code>aria-labelledby</code> property</li>
    </ul>

    <h2>Testing Logic</h2>
    <script src="/a11y/assets/js/tree.js"></script>
    <h3 id="test1">Are there images on the page which function as interactive controls?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the image have a text alternative?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the text alternative repeat the text that it is programmatically associated with?</span>
                    <ul role="group">
                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="111d.html">1.1.1.d Decorative Images (Text Alternative)</a>.</span></li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the text alternative necessary to understand the function of the control?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the text alternative sufficiently describe the function of the control?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="failures/f111ad.html">F1.1.1.a.d Existing text alternative does not serve the same purpose as the functional image</a>.</span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="111d.html">1.1.1.d Decorative Images (Text Alternative)</a>.</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is a text alternative necessary to understand the control's purpose?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the image in an <code>&lt;img&gt;</code> element?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="failures/f111aa.html">F1.1.1.a.a Functional <code>&lt;img&gt;</code> is missing an <code>alt</code> attribute.</a></span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the image in an <code>&lt;svg&gt;</code> element?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="failures/f111ab.html">F1.1.1.a.b Functional <code>&lt;svg&gt;</code> is missing a <code>title</code> element.</a></span></li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the image in an <code>&lt;input type="image"&gt;</code> element?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="failures/f111ac.html">F1.1.1.a.c <code>&lt;input&gt;</code> image is missing an <code>alt</code> attribute.</a>.</span></li>
                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the image a CSS background element for an interactive element?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="failures/f111ad.html">F1.1.1.a.d CSS background image in interactive element is missing a text alternative.</a></span></li>
                                                        <li role="treeitem" class="fail"><span><strong>No</strong>; Add a text alternative.</span></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                    </ul>
                </li>
            </ul>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h3 id="test2">Is there an image map on the page?</h3> 
    <ul role="tree" aria-labelledby="test2">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is it a client-side image map with an <code>&lt;area&gt;</code> tag?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the <code>&lt;area&gt;</code> tag have a descriptive text alternative?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="failures/f111ae.html">F1.1.1.a.e Image map <code>&lt;area&gt;</code> element is missing a text alternative.</a></span></li>
                    </ul>
                </li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is there an alternative to the image map, such as a list of links?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the image map have a short text alternative summarizing its purpose?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="111c.html">1.1.1.c Complex Images (Text Alternative)</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="failures/f111af.html">F1.1.1.a.f Server-side image map is missing a text alternative.</a></span></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h3 id="test3">Are there functional images which change dynamically (e.g., a button that changes from Play to Pause)?</h3>
    <ul role="tree" aria-labelledby="test3">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the text alternative change to match the current functional image?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="failures/f111bi.html">F1.1.1.b.i Text alternative does not match dynamic image.</a></span></li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop</h3>
    <ol>
        <li>Run <a href="https://deque.com/axe/devtools/">axe DevTools</a> or <a href="https://wave.webaim.org/extension/">WAVE</a> to flag missing text alternatives.</li>
        <li>Locate each functional image on the page using one or more of the following methods:
            <ul>
                <li><strong>Mouse</strong>: Hover over images, noting cursor change if they are functional.</li>
                <li><strong>Keyboard</strong>: Use the <kbd>Tab</kbd> key to focus functional images.</li>
                <li><strong>Windows / NVDA</strong>: Use the <kbd>G</kbd> key to cycle through images.</li>
                <li><strong>MacOS / VoiceOver</strong>: Use <kbd>VO+Command+G</kbd> to cycle through images.</li>
            </ul>
        </li>
        <li>Verify that each functional image has a text alternative which accurately describes its purpose.</li>
    </ol>

    <h3>Mobile</h3>
    <ol>
        <li>For iOS devices, <a href="https://support.apple.com/en-us/111799">turn off image recognition features</a>.</li>
        <li>Navigate to each functional image.</li>
        <li>Verify that the name spoken by the screen reader accurately describes the purpose of the functional image.</li>
    </ol>

    <h2>Mobile App Test Procedure</h2>
    <ul>
        <li>Follow the procedure for Web Mobile.</li>
        <li>iOS: Verify that the button, button image, or link image trait is spoken, AND/OR hint text such as "Double tap to activate" is spoken.</li>
        <li>Android: Verify that the button role is spoken, AND/OR hint text such as "Double tap to activate" is spoken.</li>
    </ul>

    <h2>PDF Test Procedure</h2>

    <h3>Find missing text alternatives.</h3>

    <h4>PDF Accessibility Checker</h4>
    <ol>
        <li>Run PAC on the PDF.</li>
        <li>Select the <strong>WCAG</strong> tab and check if <strong>1.3 Adaptable</strong> is marked as a failure.</li>
        <li>If it is, activate the <strong>Results in Detail</strong> button.</li>
        <li>Check if <strong>Alternative text for "Figure" structure elements</strong> is marked as a failure.</li>
    </ol>

    <h4>Adobe Acrobat Pro</h4>
    <ol>
        <li>To find missing text alternatives, select <strong>Accessibility > Accessibility Check</strong> in the Task pane to open the Accessibility Checker Options dialog.</li>
        <li>Select <strong>Alternate Text and Headings</strong> from the Category drop-down, and make sure <strong>Figures require alternate text</strong> is checked.</li>
    </ol>

    <h3>Verify the text alternatives are sufficient.</h3>
    <ol>
        <li>Locate each functional image in the PDF using one or more of the following methods:
            <ul>
                <li><strong>Mouse</strong>: Hover over images, noting cursor change if they are functional.</li>
                <li><strong>Keyboard</strong>: Use the <kbd>Tab</kbd> key to focus functional images.</li>
                <li><strong>Windows / NVDA</strong>: Use the <kbd>G</kbd> key to cycle through images.</li>
                <li><strong>MacOS / VoiceOver</strong>: Use <kbd>VO+Command+G</kbd> to cycle through images.</li>
            </ul>
        </li>
        <li>Verify that each functional image has a text alternative which accurately describes its purpose.</li>
    </ol>

    <h2>Failures</h2>
    <ul>
        <li><a href="failures/f111aa.html">F1.1.1.a.a Functional <code>&lt;img&gt;</code> is missing an <code>alt</code> attribute.</a> (High)</li>
        <li><a href="failures/f111ab.html">F1.1.1.a.b Functional <code>&lt;svg&gt;</code> is missing a <code>title</code> element.</a> (High)</li>
        <li><a href="failures/f111ac.html">F1.1.1.a.c <code>&lt;input&gt;</code> image is missing an <code>alt</code> attribute.</a> (High)</li>
        <li><a href="failures/f111ad.html">F1.1.1.a.d CSS background image in interactive element is missing a text alternative.</a> (High)</li>
        <li><a href="failures/f111ae.html">F1.1.1.a.e Image map <code>&lt;area&gt;</code> element is missing a text alternative.</a> (High)</li>
        <li><a href="failures/f111af.html">F1.1.1.a.f Server-side image map is missing a text alternative.</a> (High)</li>
        <li><a href="failures/f111ag.html">F1.1.1.a.g Existing text alternative does not serve the same purpose as the functional image.</a> (Medium)</li>
        <li><a href="failures/f111ah.html">F1.1.1.a.h Existing text alternative does not include informational image text.</a> (Medium)</li>
        <li><a href="failures/f111ai.html">F1.1.1.a.i Text alternative does not match dynamic image.</a> (Medium)</li>
        <li><a href="failures/f111aj.html">F1.1.1.a.j PDF image control is missing Alternate Text.</a> (High)</li>
        <li><a href="failures/f111ah.html">F1.1.1.a.h Articulate Storyline functional image is missing Alternate text.</a> (High)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li><a href="https://developer.chrome.com/docs/devtools/accessibility/reference/#pane">Chrome Developer Tools</a></li>
        <li><a href="https://firefox-source-docs.mozilla.org/devtools-user/accessibility_inspector/index.html">Firefox Web Developer Tools</a></li>
        <li><a href="https://wave.webaim.org/extension/">WAVE</a></li>
        <li><a href="https://deque.com/axe/devtools/">axe DevTools</a></li>
        <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
        <li><a href="https://pauljadam.com/bookmarklets.html">Paul Adam Images bookmarklet</a></li>
        <li><a href="https://chrispederick.com/work/web-developer/">Web Developer</a></li>
        <li>Screen reader</li>
        <li><a href="https://pdfua.foundation/en/pdf-accessibility-checker-pac/">PDF Accessibility Checker</a></li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ page.scurl }}">Understanding Success Criterion 1.1.1: Non-text Content</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G94">G94: Providing short text alternative for non-text content that serves the same purpose and presents the same information as the non-text content</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H37">H37: Using alt attributes on img elements</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF1">PDF1: Applying text alternatives to images with the Alt entry in PDF documents</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h3>Additional Information</h3>
    <ul>
        <li><a href="https://www.w3.org/WAI/tutorials/images/functional/">W3: Functional Images</a></li>
        <li><a href="https://www.w3.org/WAI/tutorials/images/imagemap/">W3: Image Maps</a></li>
        <li><a href="https://webaim.org/techniques/hypertext/link_text#alt_link">WebAIM: Links and Hypertext - Link Text and Apeparance</a></li>
        <li><a href="https://fontawesome.com/v4/accessibility/">Font Awesome & Accessibility</a></li>
        <li><a href="https://learn.levelaccess.com/l/487581/2018-04-18/28w4fc">Level Access: Accessibility Basics Webinar Series #3 - Non-text Elements</a> (0:00 - 13:30)</li>
        <li><a href="https://uxdesign.cc/how-to-write-an-image-description-2f30d3bf5546">How to write an image description</a></li>
    </ul>
</div>

    <nav class="checkpoints" aria-label="checkpoints" id="checkpoints" aria-label="1.1.1 Checkpoints">
        <h2>Checkpoints</h2>
        <ul>
            {% for item in site.data.111-non-text-content %}
                <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current" aria-current="page"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>