---
layout: default
title: 1.1.1.c Alternative Text (Complex Images)
guideline: perceivable
---
<div class="cpcontent">
    <h1>{{ page.title }}</h1>
    <p class="breadcrumb"><a href="index.html">WCAG</a> | <a href="111.html">1.1.1 Non-text Content</a></p>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br />
        <span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Complex images that cannot be sufficiently described with a short text alternative must also have a long description that fully conveys all the information provided by the image.</li>
        <li><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Complex images must have a short descriptive text alternative that summarizes the information provided by the image.</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> The short text alternative should reference the location of the long description.</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Short text alternatives for complex images should not include words such as "image" or "graphic". Words like "graph" or "chart" may be used.</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Short text alternatives should be as succinct as possible.</li>
    </ul>

    <div class="success"><strong>Success:</strong> If you could not see the image, you would still get all the information intended to be conveyed by the image.</div>

    <p>Text alternatives for complex images may be provided in context or on a separate page, such as by:</p>
    <ul>
        <li>Providing a long description in the form of adjacent text, preferably with a reference in the short text alternative</li>
        <li>Providing graph information in table format in addition to the complex image</li>
        <li>Providing a link to a long description, placed immediately adjacent to the complex image</li>
        <li>Providing a long description that is hidden within a collapsible region</li>
        <li>Providing a long description in a dialog that is opened by user choice</li>
        <li>Providing a link to a long description on another page via the <code>longdesc</code> attribute (<strong>Warning</strong>: This is the least preferred option, as it is only available to screen reader users.)</li>
    </ul>

    <h2>Testing Logic</h2>
    <script src="/a11y/assets/js/tree.js"></script>
    <h3 id="test1">Are there complex images on the page that cannot be sufficiently described with a short text alternative?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does each complex image have a standard short text alternative?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does each complex image also have a long text alternative?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the long text alternative provided in context or via an adjacent link to a separate page?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the long text alternative sufficiently describe all visual complexities and relationships conveyed visually?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; Rewrite the long text alternative to include all details, complexities, and relationships conveyed visually.</span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; Provide the long text description in context or via an adjacent link to a separate page.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; Add a descriptive long text alternative that sufficiently describes all visual complexities and relationships conveyed visually. It may be provided in context or on a separate page.</span></li>
                    </ul>
                </li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; Add a text alternative  to the active image.</span></li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop</h3>
    <ol>
        <li>Run <a href="https://deque.com/axe/devtools/">axe DevTools</a> or <a href="https://wave.webaim.org/extension/">WAVE</a> to flag missing text alternatives.</li>
        <li>Locate each complex image on the page.</li>
        <li>Verify that each complex image has a short text alternative which summarizes the information conveyed by the image.</li>
        <li>Verify that a long description has also been provided.</li>
    </ol>

    <h3>Mobile</h3>
    <ol>
        <li>For iOS devices, <a href="https://support.apple.com/en-us/111799">turn off image recognition features</a>.</li>
        <li>Navigate to each complex image.</li>
        <li>Verify that each complex image has a short text alternative which summarizes the information conveyed by the image.</li>
        <li>Verify that a long description has also been provided.</li>
    </ol>

    <h2>Mobile App Test Procedure</h2>
    <ul>
        <li>Follow the procedure for Web Mobile.</li>
    </ul>

    <h2>PDF Test Procedure</h2>
    <h3>Find missing text alternatives.</h3>

    <h4>PDF Accessibility Checker</h4>
    <ol>
        <li>Look for failures under <strong>Logical Structure > Alternative Descriptions > Alternative text for "Figure" structure elements</strong>.</li>
    </ol>

    <h4>Adobe Acrobat Pro</h4>
    <ol>
        <li>Select <strong>Accessibility > Accessibility Check</strong> in the Task pane to open the Accessibility Checker Options dialog.</li>
        <li>Select "Alternate Text and Headings" from the Category drop-down, and make sure "Figures require alternate text" is checked.</li>
    </ol>

    <h3>Verify the text alternatives are sufficient.</h3>
    <ol>
        <li>Locate each complex image in the PDF.</li>
        <li>Verify that each complex image has a short text alternative which summarizes the information conveyed by the image.</li>
        <li>Verify that a long description has also been provided.</li>
    </ol>

    <h2>Failures</h2>
    <ul>
        <li>F1.1.1.c.a Complex image is missing a short text alternative. (Medium)
        <li>F1.1.1.c.b Existing short text alternative does not adequately summarize the purpose of the complex image. (Medium)</li>
        <li>F1.1.1.c.c Complex image is missing a long text description. (High)</li>
        <li>F1.1.1.c.d Existing long text alternative does not convey all the information in the complex image. (Medium)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li><a href="https://developer.chrome.com/docs/devtools/accessibility/reference/#pane">Chrome Developer Tools</a></li>
        <li><a href="https://firefox-source-docs.mozilla.org/devtools-user/accessibility_inspector/index.html">Firefox Web Developer Tools</a></li>
        <li><a href="https://wave.webaim.org/extension/">WAVE</a></li>
        <li><a href="https://deque.com/axe/devtools/">axe DevTools</a></li>
        <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
        <li><a href="https://pauljadam.com/bookmarklets.html">Paul Adam Images bookmarklet</a></li>
        <li><a href="https://chrispederick.com/work/web-developer/">Web Developer</a></li>
        <li>Screen reader</li>
        <li><a href="https://pdfua.foundation/en/pdf-accessibility-checker-pac/">PDF Accessibility Checker</a></li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="https://www.w3.org/WAI/WCAG22/Understanding/non-text-content">Understanding Success Criterion 1.1.1: Non-text Content</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G73">G73: Providing a long description in another location with a link to it that is immediately adjacent to the non-text content</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G74">G74: Providing a long description in text near the non-text content, with a reference to the location of the long description in the short description</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G92">G92: Providing long description for non-text content that serves the same purpose and presents the same information</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G95">G95: Providing short text alternatives that provide a brief description of the non-text content</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H37">H37: Using alt attributes on img elements</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H45">H45: Using longdesc</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF1">PDF1: Applying text alternatives to images with the Alt entry in PDF documents</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
        <li><a href="https://webaim.org/techniques/alttext/">WebAIM: Alternative Text</a></li>
        <li><a href="https://learn.levelaccess.com/l/487581/2018-04-18/28w4fc">Level Access: Accessibility Basics Webinar Series #3 - Non-text Elements</a> (0:00 - 13:30)</li>
        <li><a href="https://uxdesign.cc/how-to-write-an-image-description-2f30d3bf5546">How to write an image description</a></li>
    </ul>
</div>

    <nav class="checkpoints" aria-label="checkpoints" id="checkpoints" aria-label="1.1.1 Checkpoints">
        <h2>Checkpoints</h2>
        <ul>
            {% for item in site.data.111-non-text-content %}
                <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current" aria-current="page"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>