---
layout: default
title: 1.2.1.a Text Transcript (Prerecorded Audio Only)
---
<div class="cpcontent">
    <h1>{{ page.title }}</h1>
    <p class="breadcrumb"><a href="index.html">WCAG</a> | <a href="121.html">1.2.1 Audio-only and Video-only (Prerecorded)</a></p>

    <p>Prerecorded audio-only content must have a text transcript that includes all of the information presented in the audio.</p>

    <div class="success"><strong>Success:</strong> You can just read the transcript and not miss any important content in the audio.</div>

    <p>Audio-only content includes the following:</p>
    <ul>
        <li>Audio podcasts</li>
        <li>mp3 files</li>
    </ul>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br />
        <span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Prerecorded audio-only content must have a text transcript that includes all of the information presented in the audio.</li>
        <li><span class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> The text transcript should be presented next to the audio and be easy to find.</li>
    </ul>

    <h2>Testing Logic</h2>
    <script src="/a11y/assets/js/tree.js"></script>
    <h3 id="test1">Does the page contain any audio-only content?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the audio-only content accompanied by a full transcript?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the dialogue in the transcript match the dialogue in the audio-only content?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; If the audio includes more than one speaker, does the transcript identify who is speaking each time it changes?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><strong>Yes</strong>; PASS</li>
                                <li role="treeitem"><strong>No</strong>; Identify the speaker for all dialogue.</li>
                            </ul>
                        </li>
                        <li role="treeitem"><strong>No</strong>; Edit the transcript to exactly match the dialogue in the audio-only content.</li>
                    </ul>
                </li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the audio-only content itself a media alternative for text?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is it clearly labeled as such?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><strong>Yes</strong>; PASS</li>
                                <li role="treeitem"><strong>No</strong>; Add text making it clear that the audio is an alternative for the text content.</li>
                            </ul>
                        </li>
                        <li role="treeitem"><strong>No</strong>; Add a full transcript (or link to the transcript) adjacent to the audio-only content.</li>
                    </ul>
                </li>
            </ul>
        <li role="treeitem" class="pass"><strong>No</strong>; PASS</li>
        </li>
    </ul>

    <h2>Web Test Procedure</h2>
    <ol>
        <li>Locate each audio-only object.</li>
        <li>Verify that there is a text transcript available.</li>
        <li>Verify that the transcript includes all dialogue and sound effects, and that it identifies the speakers.</li>
    </ol>

    <h2>Mobile App Test Procedure</h2>
    <ul>
        <li>Follow the procedure for Web.</li>
    </ul>

    <h2>Failures</h2>
    <ul>
        <li>F1.2.1.a.a Text transcript is missing. (High)</li>
        <li>F1.2.1.a.b Existing text transcript does not include all dialogue. (Medium)</li>
        <li>F1.2.1.a.c Existing text transcript does not identify speakers. (Low)</li>
        <li>F1.2.1.a.d Existing transcript does not include important sound effects. (Medium)</li>
        <li>F1.2.1.a.e Existing transcript is inadequate. (Medium)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li>Screen reader (optional)</li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="https://www.w3.org/WAI/WCAG22/Understanding/audio-only-and-video-only-prerecorded">Understanding Success Criterion 1.2.1: Audio-only and Video-only (Prerecorded) (Level A)</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G158">G158: Providing an alternative for time-based media for audio-only content</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
        <li><a href="https://webaim.org/techniques/captions/">WebAIM: Captions, Transcripts, and Audio Descriptions</a></li>
    </ul>
</div>

    <nav class="checkpoints" aria-label="checkpoints" id="checkpoints" aria-label="1.2.1 Checkpoints">
        <h2>Checkpoints</h2>
        <ul>
            {% for item in site.data.121-audio-video-only %}
                <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current" aria-current="page"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>