---
layout: default
current: 33010102
criterion: 3301
checkpoint: 330101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3301.3301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3301.3301[page.criterion] %}
{% assign cp=site.data.3301.3301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>When an error is automatically detected, the error is described in text.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>An error is automatically detected, but it is not described in text.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide an error message describing the error in text.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Flagging errors helps people with reduced sight and cognitive disabilities resolve them.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G83">G83: Providing text descriptions to identify required fields that were not completed</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G84">G84: Providing a text description when the user provides information that is not in the list of allowed values</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G85">G85: Providing a text description when user input falls outside the required format or values</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR18">SCR18: Providing client-side validation and alert</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR32">SCR32: Providing client-side validation and adding error text via the DOM</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF5">PDF5: Indicating required form controls in PDF forms</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF22">PDF22: Indicating when user input falls outside the required format or values in PDF forms</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>