---
layout: default
current: 33010101
criterion: 3301
checkpoint: 330101
guideline: understandable

---
{% assign currentpg=site.data.3301.3301[page.current] %}
{% assign baseurl=site.data.3301.3301[page.base] %}
{% assign sc=site.data.3301.3301[page.criterion] %}
{% assign cp=site.data.3301.3301[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Error messages identify the items with the error.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Error message does not identify the item with the error.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <p>Multiple methods are encouraged.</p>
                <ul>
                    <li>Identify the item with the error in the error message text, <strong>OR</strong></li>
                    <li>Modify the label of the item in error to indicate it has an error, <strong>OR</strong></li>
                    <li>Set the <code>aria-invalid</code> attribute to "true" on the item with the error, <strong>OR</strong></li>
                    <li>Use an icon with a text alternative next to the item in error, <strong>OR</strong></li>
                    <li>Use color to highlight the item in error. <em>Note: See <a href="/sc/1401.html">1.4.1 Use of Color</a> for requirement.</em></li>
                </ul>      
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Flagging errors helps people with reduced sight and cognitive disabilities resolve them.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G83">G83: Providing text descriptions to identify required fields that were not completed</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA2">ARIA2: Identifying a required field with the aria-required property</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">ARIA18: Using aria-alertdialog to Identify Errors</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA19">ARIA19: Using ARIA role=alert or Live Regions to Identify Errors</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA21">ARIA21: Using aria-invalid to Indicate An Error Field</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3301checkpoints.html %}