---
layout: default
current: 14010201
criterion: 1401
checkpoint: 140102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1401.1401[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1401.1401[page.criterion] %}
{% assign cp=site.data.1401.1401[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Color is not used as the only visual means of distinguishing links from regular text.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Color is the only visual means of distinguishing links from regular text.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide a visual means of distinguishing links from regular text in addition to color.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Underline</h3>
                <p>The most universally understood indicator of links is underlining.</p>
                <div style="border: 1px solid black;">
                    <p>We have unlimited opportunities for antiquing, golfing, boating, museums, historical sites, concerts and so much more! <a href="#" style="text-decoration: underline; text-underline-offset: 4px;">Download our Experience Guide</a> to help you plan your next great escape!</p>
                </div>

                <h3>Background Color</h3>
                <div style="border: 1px solid black;">
                    <p>We have unlimited opportunities for antiquing, golfing, boating, museums, historical sites, concerts and so much more! <a href="#" style="text-decoration: none; color: black; background-color: #b3ffff;">Download our Experience Guide</a> to help you plan your next great escape!</p>
                </div>

                <h3>Bold Text</h3>
                <div style="border: 1px solid black;">
                    <p>We have unlimited opportunities for antiquing, golfing, boating, museums, historical sites, concerts and so much more! <a href="#" style="text-decoration: none; font-weight: bold;">Download our Experience Guide</a> to help you plan your next great escape!</p>
                </div>

                <h3>Italic Text</h3>
                <div style="border: 1px solid black;">
                    <p>We have unlimited opportunities for antiquing, golfing, boating, museums, historical sites, concerts and so much more! <a href="#" style="text-decoration: none; font-style: italic;">Download our Experience Guide</a> to help you plan your next great escape!</p>
                </div>

                <h3>Sufficient Contrast and Underline on Hover/Focus</h3>
                <p>If contrast is used along with color to differentiate links, the contrast ratio must be at least 3:1 with regular text. (Keep in mind, the color also has to maintain 4.5:1 contrast with the background.) In addition, another indicator must be displayed on hover and focus.</p>
                <div style="border: 1px solid black;">
                    <p>We have unlimited opportunities for antiquing, golfing, boating, museums, historical sites, concerts and so much more! <a href="#" style="text-decoration: none; color: #008484;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'" onfocus="this.style.textDecoration='underline'; this.style.outline='none'" onblur="this.style.textDecoration='none'">Download our Experience Guide</a> to help you plan your next great escape!</p>
                </div>

                <h3>Location</h3>
                <div style="border: 1px solid black;">
                    <p>From quiet, secluded fishing holes to fast moving creeks and rivers, there are plenty of accessible waterways to kick up your feet and reel in your next big catch.</p>
                    <p><a href="#" aria-label="Learn more about Beaver County’s fishing spots" style="color: #0047b3; text-align: center; text-decoration: none; display: inline-block;">Learn more</a></p>
                </div>

                <h3>Navigation Area</h3>
                <div style="border: 1px solid black;">
                    <h4>Explore</h4>
                    <ul style="list-style-type:none; margin: 0; padding: 0;">
                        <li><a href="#" style="text-decoration: none; color: #0047b3;">Family Fun & Amusement</a></li>
                        <li><a href="#" style="text-decoration: none; color: #0047b3;">Outdoor Adventures</a></li>
                        <li><a href="#" style="text-decoration: none; color: #0047b3;">Arts & Culture</a></li>
                        <li><a href="#" style="text-decoration: none; color: #0047b3;">Eat & Drink</a></li>
                        <li><a href="#" style="text-decoration: none; color: #0047b3;">Where to Stay</a></li>
                        <li><a href="#" style="text-decoration: none; color: #0047b3;">Experience Guide</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People who are color blind or have low vision need an alternate means besides color of getting the information.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.4.1 Use of Color</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F73">F73: Failure of Success Criterion 1.4.1 due to creating links that are not visually evident without color vision</a>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G182">G182: Ensuring that additional visual cues are available when text color differences are used to convey information</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G183">G183: Using a contrast ratio of 3:1 with surrounding text and providing additional visual cues on hover for links or controls where color alone is used to identify them</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1401checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>