---
layout: default
current: 14010202
criterion: 1401
checkpoint: 140102
---
{% assign currentpg=site.data.1401.1401[page.current] %}
{% assign baseurl=site.data.1401.1401[page.base] %}
{% assign sc=site.data.1401.1401[page.criterion] %}
{% assign cp=site.data.1401.1401[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Color is not used as the only visual means of conveying additional meaning between links.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Color is the only visual means of conveying additional meaning between links.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide a visual means of conveying additional meaning between links.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Different Colored Links for Existing and Missing Target Pages</h3>
                <p>Wikis often use different colored links for these purposes.</p>
                <div style="border: 1px solid black;">
                    <p>Join host and staff writer <a style="color: blue;" href="#" title="Emily Yoshida">Emily Yoshida</a> as she sits down with the creators, cast, and crew that brought <a style="color: red; font-style: italic;" title="Sengoku (page does not exist)" href="#">Sengoku</a> Period Japan to life. In this exclusive companion podcast, each episode will break down the twists and turns of the plot, the top-of-the-line craft behind the scenes, and the real-life history that informed it all.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People who are color blind or have low vision need an alternate means besides color of telling the difference between different types of links.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.4.1 Use of Color</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G182">G182: Ensuring that additional visual cues are available when text color differences are used to convey information</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G183">G183: Using a contrast ratio of 3:1 with surrounding text and providing additional visual cues on hover for links or controls where color alone is used to identify them</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1401checkpoints.html %}