---
layout: default
current: 32020102
root: WCAG 2.2
base: base
criterion: 3202
checkpoint: 320201
guideline: understandable

---
{% assign currentpg=site.data.3202.3202[page.current] %}
{% assign baseurl=site.data.3202.3202[page.base] %}
{% assign sc=site.data.3202.3202[page.criterion] %}
{% assign cp=site.data.3202.3202[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>When a control state or value changes, a new window, tab, or dialog is not automatically launched unless a warning is provided beforehand.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>When a control state or value changes, a new window, tab, or dialog is automatically launched without warning.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Launch new windows, tabs, or dialogs only on activation, <strong>OR</strong></li>
                    <li>Provide instructions warning that the change will occur.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Content that behaves predictably is especially important to people with disabilities.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G13">G13: Describing what will happen before a change to a form control that causes a change of context to occur is made</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G80">G80: Providing a submit button to initiate a change of context</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H32">H32: Providing submit buttons</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H84">H84: Using a button with a select element to perform an action</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR19">SCR19: Using an onchange event on a select element without causing a change of context</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF15">PDF15: Providing submit buttons with the submit-form action in PDF forms</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include  checkpoints/3202checkpoints.html %}