---
layout: default
current: 12040103
criterion: 1204
checkpoint: 120401
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1204.1204[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1204.1204[page.criterion] %}
{% assign cp=site.data.1204.1204[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Live video with audio must have synchronized captions which convey the same information provided in the audio.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The live video has captions, but they are not synchronized.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Synchronize the captions with the audio.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People who are deaf or hard of hearing generally can also read lips. When the video and captions don’t match, it can cause confusion.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.2.4 Captions (Live)</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/captions/">W3: Captions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1204checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>