---
layout: default
title: Failure - F1.1.1.b.h PDF image is missing Alternate Text.
guideline: perceivable
scurl: https://www.w3.org/WAI/WCAG22/Understanding/non-text-content
---
<div class="cpcontent">
    <h1>{{ page.title }}</h1>
    <p class="breadcrumb"><a href="index.html">WCAG</a> | <a href="/a11y/sc/111.html">1.1.1 Non-text Content</a> | <a href="/a11y/checkpoint/111b.html">1.1.1.b Meaningful Images (Text Alternative)</a></p>

    <table>
    	<tr>
    		<th><h2>Expected Result</h2></th>
    		<td>All meaningful images must have a text alternative that conveys the same information as the image.</td>
    	</tr>
    	<tr>
    		<th><h2>Actual Result</h2></th>
    		<td>The meaningful image does not have a text alternative.</td>
    	</tr>
    	<tr>
    		<th><h2>Solution</h2></th>
    		<td>Add Alternate Text to the image either in the source document or directly in the PDF.
                <h3>Adobe PDF</h3>
                <ol>
                    <li>Select <strong>Accessibility > Reading Order</strong></li>
                    <li>Right-click on the image and select <strong>Edit Alternate Text...</strong>.</li>
                    <li>In the dialog, for <strong>Alternate Text</strong>, enter text which describes the function or destination of the control.</li>
                </ul>
            </td>
    	</tr>
        <tr>
            <th><h2>Example</h2></th>
            <td>
                <h3>Image with Caption</h3>
                <img src="../assets/images/f111bh-clock.png" width="400" alt="Screenshot of Alternate Text dialog for an image of a clock" />
                <p>This image has a &lt;Caption&gt; nested within the &lt;Figure&gt; tag. While this is the recommended structure, screen readers do not appear to read both the Alternate Text and the Caption, but the PDF fails the accessibility check if there is no Alternate Text. A workaround is to include the Caption text in the Alternate Text.</p>
            </td>
        </tr>
        <tr>
            <th>Why It's Important</th>
            <td>Blind and visually impaired users need to have a text alternative to meaningful images so that the images can be interpreted by assistive technology such as screen readers and braille devices. Without a text alternative, these users would not get the information conveyed by the image.</td>
        </tr>
        <tr>
            <th>References</th>
            <td>
                <ul>
                    <li><a href="{{ page.scurl }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF1">PDF1: Applying text alternatives to images with the Alt entry in PDF documents</a></li>
                    <li><a href="https://helpx.adobe.com/acrobat/using/editing-document-structure-content-tags.html#add_alternate_text_and_supplementary_information_to_tags">Add alternate text and supplementary information to tags</a></li>
                    <li><a href="https://www.pdf-accessible.com/wp-content/uploads/2015/01/making-PDF-accessible-Acrobat.pdf">Making PDF documents accessible with Adobe Acrobat Pro</a> (PDF)</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

    <nav class="checkpoints" aria-label="checkpoints" id="checkpoints" aria-label="1.1.1 Checkpoints">
        <h2>Checkpoints</h2>
        <ul>
            {% for item in site.data.111-non-text-content %}
                <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current" aria-current="page"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>