---
layout: default
current: 14060103
criterion: 1406
checkpoint: 140601
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1406.1406[page.current] %}
{% assign baseurl=site.data.1406.1406[page.base] %}
{% assign sc=site.data.1406.1406[page.criterion] %}
{% assign cp=site.data.1406.1406[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Regular size text has a contrast ratio of at least 7:1 with all parts of the background.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Regular size text does not have a contrast ratio of at least 7:1 with all parts of the background.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the text or background so that the contrast ratio between the text and the background is at least 7:1 in all areas.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <p>Adding a background color behind text that's over an image can help ensure that the text maintains enough contrast when the background image or the flow of the text changes.</p>
                <div id="bg2">
                    <div id="divText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Vision impaired and color blind users need sufficient contrast in order to be able to read text.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F83">F83: Failure of Success Criterion 1.4.3 and 1.4.6 due to using background images that do not provide sufficient contrast with foreground text (or images of text)</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G17">G17: Ensuring that a contrast ratio of at least 7:1 exists between text (and images of text) and background behind the text</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G148">G148: Not specifying background color, not specifying text color, and not using technology features that change those defaults</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G174">G174: Providing a control with a sufficient contrast ratio that allows users to switch to a presentation that uses sufficient contrast</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1406checkpoints.html %}