---
layout: default
current: 12080102
criterion: 1208
checkpoint: 120801
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1208.1208[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1208.1208[page.criterion] %}
{% assign cp=site.data.1208.1208[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Prerecorded synchronized media and video-only media must have a text (transcript) alternative that includes all of the information presented in the visual content.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The media has a text transcript, but it is missing important information.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <p>Update the text transcript to include all of the information presented in the video. Descriptions should be neutral, clear, and present tense.</p>
                    <p>Important visual information may include:</p>
                    <ul>
                        <li>Actions</li>
                        <li>Facial expressions</li>
                        <li>Indication of dreams or memories</li>
                        <li>Passage of time</li>
                        <li>Scene changes</li>
                        <li>Text embedded in the video</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Example</h2>
                <div>
                    <h3>Text Transcript</h3>
                    <p>This transcript does include the text on the cartoon images, which is positive. However, it should also include a brief description of the cartoons themselves to give context to the text.</p>
                    <img src="{{ baseurl }}/assets/images/12030103-transcript.png" style="max-width: 640px;" alt="Screenshot of video with text transcript visible to the side">
                    <p><a href="https://www.ted.com/talks/liana_finck_life_is_hard_art_helps/transcript">TED: Liana Finck: Life is Hard. Art Helps.</a></p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/vision impaired:</strong> People who are blind or vision impaired need to be able to access the same information provided in the video track.</li>
                        <li><strong>Information processing:</strong> People who have the ability to see use alternatives to more easily process the visual information.</li>
                        <li><strong>Deafblind:</strong> Transcripts allow deafblind users access to information presented in video content through braille devices.</li>
                        <li><strong>SEO:</strong> Transcripts allow search engines to catalog the information contained in video content.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G69">G69: Providing an alternative for time based media</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G58">G58: Placing a link to the alternative for time-based media immediately next to the non-text content</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G159">G159: Providing an alternative for time-based media for video-only content</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     {% include checkpoints/1208checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>