---
layout: default
current: 14070101
criterion: 1407
checkpoint: 140701
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1407.1407[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1407.1407[page.criterion] %}
{% assign cp=site.data.1407.1407[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Audio that is mostly speech has low or no background sound or the background sound can be turned off.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Audio has background sound that is too loud.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <ul>
                        <li>Mix the audio so that there is at least a 20 db difference between the foreground and background sound, <strong>OR</strong></li>
                        <li>Provide the user the ability to turn the background sound off.</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <p><strong>Good</strong>: <a href="https://www.w3.org/WAI/WCAG22/working-examples/audio-contrast/good-contrast.mp3">Audio Example: Foreground is 20 decibels above the background</a> (mp3)</p>
                    <p><strong>Bad</strong>: <a href="https://www.w3.org/WAI/WCAG22/working-examples/audio-contrast/bad-contrast.mp3">Audio Example: Foreground is less than 20 decibels above the background</a> (mp3)</p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Hard of hearing:</strong> People who are hard of hearing often have difficulty separating speech from background sound.</li>
                        <li><strong>Information processing:</strong> People who have the ability to hear may also have difficulty separating speech from background sound.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G56">G56: Mixing audio files so that non-speech sounds are at least 20 decibels lower than the speech audio content</a></li>
                        <li><a href="https://manual.audacityteam.org/man/contrast.html">Audacity: Contrast</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1407checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>