---
layout: default
current: 14030201
criterion: 1403
checkpoint: 140302
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1403.1403[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1403.1403[page.criterion] %}
{% assign cp=site.data.1403.1403[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Large text, including images of large text, has a contrast ratio of at least 3:1 with the background.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Large text does not have a contrast ratio of at least 3:1 with the background.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Change the text or background color so that the contrast ratio between the text and the background is at least 3:1.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Examples<br>
                    <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div style="background-color: #F5FFF2">
                    <p style="font-size: 24px; color: #5fa200">This text has passing contrast with the background at 3:1.</p>
                    <p style="font-size: 19px; font-weight: bold; color: #5fa200">This text has passing contrast with the background at 3:1.</p>
                    <p style="font-size: 24px; color: #315400">This text has very good contrast with the background at 8.5:1.</p>
                    <p style="font-size: 19ox; font-weight: bold; color: #315400">This text has very good contrast with the background at 8.5:1.</p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Regular size text:</strong><br>
                            File under <a href="{{ site.data.1403.1403[14030101].link | prepend: baseurl }}">{{ site.data.1403.1403[14030101].name }}.</a></li>
                        <li><strong>Disabled form controls</strong></li>
                        <li><strong>Purely decorative text</strong></li>
                        <li><strong>Visited link text</strong></li>
                        <li><strong>Logo text</strong></li>
                        <li><strong>Text within an image that contains significant other visual content</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Vision impaired:</strong> Users often have difficulty reading low contrast text.</li>
                        <li><strong>Colorblind:</strong> Some color deficiencies lower the contrast in the user's vision.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G145">G145: Ensuring that a contrast ratio of at least 3:1 exists between text (and images of text) and background behind the text</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G148">G148: Not specifying background color, not specifying text color, and not using technology features that change those defaults</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G174">G174: Providing a control with a sufficient contrast ratio that allows users to switch to a presentation that uses sufficient contrast</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>