---
layout: default
current: 14030102
criterion: 1403
checkpoint: 140301
css: link-examples
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1403.1403[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1403.1403[page.criterion] %}
{% assign cp=site.data.1403.1403[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Regular size link text, including all states of the link, has a contrast ratio of at least 4.5:1 with the background.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Regular link text does not have a contrast ratio of at least 4.5:1 with the background on hover or focus.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Change the text or background color so that the contrast ratio between the text and the background is at least 4.5:1 in all states.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                    <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div style="background-color: #F5FFF2">
                    <p><a href="#" class="hover-contrast">This link text has passing contrast with the background at 4.55:1 in the hover state.</a></p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Large text:</strong><br>
                            File under <a href="{{ site.data.1403.1403[14030202].link | prepend: baseurl }}">{{ site.data.1403.1403[14030202].name }}.</a></li>
                        <li><strong>Visited link text</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Vision impaired:</strong> Users often have difficulty reading low contrast text.</li>
                        <li><strong>Colorblind:</strong> Some color deficiencies lower the contrast in the user's vision.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G18">G18: Ensuring that a contrast ratio of at least 4.5:1 exists between text (and images of text) and background behind the text</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G148">G148: Not specifying background color, not specifying text color, and not using technology features that change those defaults</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G174">G174: Providing a control with a sufficient contrast ratio that allows users to switch to a presentation that uses sufficient contrast</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>