---
layout: default
current: 14030105
criterion: 1403
checkpoint: 140301
css: background-image
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1403.1403[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1403.1403[page.criterion] %}
{% assign cp=site.data.1403.1403[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Regular sized text over a moving background has at least a 4.5:1 contrast ratio with the background in all places.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Regular sized text over a moving background does not have at least a 4.5:1 contrast ratio with the background in all places, AND the appearance of the text cannot be adjusted by the user.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <ul>
                        <li>Ensure regular sized text over a moving background has at least 4.5:1 contrast with the background at all times, <strong>OR</strong></li>
                        <li>Use a video player which allows the user to adjust the appearance of the captions.</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                    <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <p>Adding a background color behind text that's over a moving image can help ensure that the text maintains enough contrast throughout the animation.</p>
                    <div id="moving-bg">
                        <div id="moving-bg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris.</div>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Large text:</strong><br>
                            File under <a href="{{ site.data.1403.1403[14030205].link | prepend: baseurl }}">{{ site.data.1403.1403[14030205].name }}.</a></li>
                        <li><strong>Video captions:</strong><br>
                            File under <a href="{{ site.data.1403.1403[14030106].link | prepend: baseurl }}">{{ site.data.1403.1403[14030106].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Vision impaired:</strong> Users often have difficulty reading low contrast text.</li>
                        <li><strong>Colorblind:</strong> Some color deficiencies lower the contrast in the user's vision.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G18">G18: Ensuring that a contrast ratio of at least 4.5:1 exists between text (and images of text) and background behind the text</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>