---
layout: default
title: Failure - F2.4.3.a.c Focus does not go to modeless dialog immediately after the trigger
current: /a11y/failure/243/f243ac.html
root: WCAG 2.2
scurl: /a11y/sc/243.html
sctitle: 2.4.3 Focus Order
cpurl: /a11y/checkpoint/243a.html
cptitle: 2.4.3.a Focus Order
guideline: operable
level: a
w3scurl: https://www.w3.org/WAI/WCAG22/Understanding/focus-order
css: disclosure-faq
---
<div class="cpcontent {{ page.level }}link">
    <h1>{{ page.title }}</h1>
    <nav aria-label="Breadcrumb" class="breadcrumb {{ page.level }}lite">
        <ol>
            <li><a href="/a11y/index.html">{{ page.root }}</a></li>
            <li><a href="{{ page.scurl }}">{{ page.sctitle }}</a></li>
            <li><a href="{{ page.cpurl }}">{{ page.cptitle }}</a></li>
            <li><a href="{{ page.current }}" aria-current="page">{{ page.title }}</a> - Level {{ page.level | upcase }}</li> 
        </ol>
    </nav>

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Focus moves to modeless dialog immediately after the trigger element.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Focus does not move to modeless dialog immediately after the trigger element.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Place the modeless dialog in the DOM immediately after the trigger element so the focus moves to it in logical order, <strong>OR</strong></li>
                    <li>Deliberately move the focus to the modeless dialog after the trigger element.</li>
                </ul>      
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                {% include examples/disclosure.html %}
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Navigating a site or application with only the keyboard will make sense.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ page.w3scurl }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F85">F85: Failure of Success Criterion 2.4.3 due to using dialogs or menus that are not adjacent to their trigger control in the sequential navigation order</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G59">G59: Placing the interactive elements in an order that follows sequences and relationships within the content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR26">SCR26: Inserting dynamic content into the Document Object Model immediately following its trigger element</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include 243checkpoints.html %}