#bg {
  background-image: url("/a11y/assets/images/11010203-time-for-change.jpg");
  width: 649px;
  height: 427px;
}
#bg2 {
  background-image: url("/a11y/assets/images/11010402-flower.jpg");
  width: 640px;
  height: 424px;
}
#moving-bg {
  background-image: url("/a11y/assets/images/14030105-security.gif");
  width: 480px;
  height: 270px;
}
#moving-bg-text {
  width: 250px;
  margin-right: 115px;
  padding: 40px 0 20px 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}
#divText {
  width: 249px;
  margin-right: 400px;
  padding: 80px 0 20px 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}