/******************************/
/* 1.4.11.a custom checkboxes */
/******************************/
/* The container */

.cbExample div,
.radioExample div {
  display: block;
  margin: 0.5em;
  padding: 4px 4px 6px 35px;
  border: 0 solid .005a9c;
  border-radius: 5px;
  width: 16em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cbExample div:focus,
.cbExample div:hover {
  border: 2px solid #1C7AC7;
  outline: none;
  background-color: #def;
  cursor: pointer;
}

/* Create a custom checkbox */
.ccbCheckbox,
.crbRadio {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 25px;
  width: 25px;
  border: 2px solid #949494;
}

/* Create a custom radio button */
.crbRadio {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cbExample div:hover span ~ .ccbNotChecked,
.radioExample div:hover span ~ .crbNotChecked {
  background-color: #eee;
}

/* On focus, add a grey background color and darker border */ 
.ccbNotChecked,
.crbNotChecked {
  background-color: #eee;
  border: 2px solid #1C7AC7;
}

/* When the checkbox is checked, add a blue background */
.ccbChecked,
.crbChecked {
  background-color: #1C7AC7;
  border-color: #1C7AC7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ccbChecked:after,
.crbChecked:after {
  content: "";
  position: absolute;
}

/* Style the checkmark/indicator */
.cbExample div .ccbChecked:after {
  left: 7px;
  top: 0;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Style the radio indicator (dot/circle) */
.radioExample div .crbChecked:after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}