/******************************/
/* 1.4.11.a custom checkboxes */
/******************************/
/* The container */

.cbExample label { /*.ccbContainer*/
  display: block;
  margin: 0.5em;
  padding: 4px 4px 6px 35px;
  border: 0 solid .005a9c;
  border-radius: 5px;
  width: 16em;

  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cbExample label:focus,
.cbExample label:hover {
  /* padding: 2px 2px 4px 4px;*/
  border-width: 2px;
  outline: none;
  background-color: #def;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.cbExample label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.ccbCheckmark {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 25px;
  width: 25px;
  border: 2px solid #949494;
}
/* Create a custom radio button */
.ccbRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #949494;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cbExample label:hover input ~ .ccbCheckmark,
.cbExample label:hover input ~ .ccbRadio {
  background-color: #eee;
}

/* On focus, add a grey background color and darker border */
.cbExample label input:focus ~ .ccbCheckmark,
.cbExample label input:focus ~ .ccbRadio {
  background-color: #eee;
  border: 2px solid black;
}

/* When the checkbox is checked, add a blue background */
.cbExample label[aria-checked="true"] ~ .ccbCheckmark,
.cbExample label[aria-checked="true"] ~ .ccbRadio {
  background-color: #1C7AC7;
  border-color: #1C7AC7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ccbCheckmark:after,
.ccbRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbExample label[aria-checked="true"] ~ .ccbCheckmark:after,
.cbExample label[aria-checked="true"] ~ .ccbRadio:after {
  display: block;
}

/*[role="checkbox"][aria-checked="true"]::before {
  position: relative;
  top: 1px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' style='forced-color-adjust: auto;'%3E%3Crect x='2' y='2' height='13' width='13' rx='2' stroke='currentcolor' stroke-width='1' fill-opacity='0' /%3E%3Cpolyline points='4,8 7,12 12,5' fill='none' stroke='currentcolor' stroke-width='2' /%3E%3C/svg%3E");
}*/

/* Style the checkmark/indicator */
.cbExample label .ccbCheckmark:after {
  left: 7px;
  top: 0;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Style the indicator (dot/circle) */
.cbExample label .ccbRadio:after {
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}