.dropdown {
  width: 288px;
  height: 64px;
  background: white;
  position: relative;
}
@media (max-width: 400px) {
  .dropdown {
    width: 240px;
  }
}
.dropdown::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 9999;
  width: 12px;
  height: 12px;
  border: 2px solid grey;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}
.dropdown input {
  width: 100%;
  height: 100%;
  padding: 32px 24px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.dropdown .options {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background: white;
  font-size: 20px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  background: rgb(255, 255, 255);
  border: 1px solid grey;
}
.dropdown .options .option {
  padding: 16px;
  color: #292d34;
}
.dropdown .options .option:not(:last-of-type) {
  margin-bottom: 8px;
}
.dropdown .options .option:hover {
  color: white;
  background: #5bc5fa;
}
.dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}
.circle.one {
  width: 250px;
  height: 250px;
  background: linear-gradient(45deg, rgb(42, 179, 248) 0%, rgb(91, 197, 250) 100%);
  top: -120px;
  left: -80px;
  z-index: -1;
}
@media (max-width: 575px) {
  .circle.one {
    width: 160px;
    height: 160px;
    left: -40px;
  }
}
@media (max-width: 400px) {
  .circle.one {
    display: none;
  }
}