.contrast-pass-bg {
	background-color: #c7dca7;
}
.contrast-fail-bg {
	background-color: #ffe9e4;
}
/* 3.01:1 with #ffe9e4 */
.contrast-fail-aa {
	color: #FF3F0F;
}
/* 4.64:1 with #ffe9e4 */
.contrast-fail-aaa,
.hover-contrast-fail-aa,
.hover-contrast-fail-aaa,
.hover-contrast-fail-lg {
	color: #CC2900; 
}
/* 4.62:1 with #c7dca7 */
.contrast-pass-aa {
	color: #4B6228;
}
/* 7.11:1 with #c7dca7 */
.contrast-pass-aaa {
	color: #2A4700;
}

/* 7.94:1 with c7dca7 */
.hover-contrast-pass-aa,
.hover-contrast-lg-pass-aa {
	color: #253F00 !important;
}
/* 4.59:1 with c7dca7 */
.hover-contrast-pass-aa:hover {
	color: #3C6600 !important;
	background-color: transparent !important;
}
.hover-contrast-lg:hover {
	color: #4D8500 !important;
	background-color: transparent !important;
}
.hover-contrast-fail-aa:hover {
	color: #FF3F0F !important;
	background-color: transparent !important;
}
.hover-contrast-fail-lg:hover {
	color: #FF6C47 !important;
	background-color: transparent !important;
}

.gradient-bg {
	position: relative; 
	background: #FD1D1D; 
	background: linear-gradient(0deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 44%, rgba(250, 244, 135, 1) 80%);
}
.gradient-fail {
	color: #fff; 
	font-weight: bold; 
	margin: 0; top: 30%; 
	position: absolute;
}
/* 2.84:1 with white */
.placeholder-fail::placeholder {
	color: #999999 !important;
	opacity: 1;
}