.contrast-pass-bg {
	background-color: #c7dca7;
}
.contrast-fail-bg {
	background-color: #ffe9e4;
}
/* 3.01:1 with #ffe9e4 */
.contrast-fail-aa {
	color: #ff3f0f;
}
/* 4.64:1 with #ffe9e4 */
.contrast-fail-aaa,
.hover-contrast-fail-aa,
.hover-contrast-fail-aaa,
.hover-contrast-fail-lg {
	color: #cc2900; 
}
/* 2.34:1 with #ffe9e4 */
.contrast-fail-lg-aa {
	color: #ff704d;
}
/* 4.62:1 with #c7dca7 */
.contrast-pass-aa {
	color: #4b6228;
}
/* 3.04:1 with #c7dca7 */
.contrast-pass-lg-aa {
	color: #4d8500;
}
/* 7.11:1 with #c7dca7 */
.contrast-pass-aaa {
	color: #2a4700;
}
/* 5.92:1 with #c7dca7 */
.contrast-pass-lg-aaa,
.hover-contrast-lg-pass-aaa {
	color: #315400 !important;
}

/* 7.94:1 with c7dca7 */
.hover-contrast-pass-aa,
.hover-contrast-lg-pass-aa,
.hover-contrast-pass-aaa {
	color: #253f00 !important;
}
/* 4.59:1 with c7dca7 */
.hover-contrast-pass-aa:hover {
	color: #3c6600 !important;
	background-color: transparent !important;
}
/* 9.89:1 with #c7dca7 */
.hover-contrast-pass-aaa:hover,
.hover-contrast-lg-pass-aaa:hover {
	color: #1B2E00 !important;
	background-color: transparent !important;
}
/* 3.04:1 with #c7dca7 */
.hover-contrast-lg-pass-aa:hover {
	color: #4d8500 !important;
	background-color: transparent !important;
}
/* 3.01:1 with #ffe9e4 */
.hover-contrast-fail-aa:hover {
	color: #ff3f0f !important;
	background-color: transparent !important;
}
/* 2.4:1 with #ffe9e4 */
.hover-contrast-fail-lg-aa:hover {
	color: #ff6c47 !important;
	background-color: transparent !important;
}

.gradient-bg {
	position: relative; 
	background: #FD1D1D; 
	background: linear-gradient(0deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 44%, rgba(250, 244, 135, 1) 80%);
}
.gradient-fail {
	color: #fff; 
	font-weight: bold; 
	margin: 0; top: 30%; 
	position: absolute;
}
/* 2.84:1 with white */
.placeholder-fail::placeholder {
	color: #999999 !important;
	opacity: 1;
}
input[type=text].placeholder-fail-lg,
input[type=text].placeholder-pass-lg-aaa {
	height: 3em;
}
/* 1.91:1 with white */
.placeholder-fail-lg::placeholder {
	color: #bbbbbb !important;
	opacity: 1;
	font-size: 24px;
}
/* 7:1 with white */
.placeholder-pass-aaa::placeholder {
	color: #595959;
}
/* 4.54:1 with white */
.placeholder-pass-lg-aaa::placeholder {
	color: #767676 !important;
	opacity: 1;
	font-size: 24px;
}