.ddUl
{
	position: relative;
	width: 11em;
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	background: #000;
	color: #fff;
	margin-bottom: 1em;	
}

.ddUl.instructions
{
	width: auto;
	list-style-type: disc;
	margin-left: 0;
	padding: 0.5em;
	background: #fff;
	color: #000;
	margin-bottom: 1em;	
}

.ddUl#popup
{
	position: absolute;
	width: 10em;
	padding: 0.3em;
	background: #ccc;
	color: #000;
	border: 1px solid #000;
	top: 1em;
	left: 1em;
	cursor: default;
	z-index: 40;
}

.ddUl#popup li
{
	text-align: left;
	margin: 0.3em 0;
	padding: 0 0.2em;
}

.ddUl#popup li.focus, ul#popup li.hover
{
	background: #00c;
	color: #fff;
}

.ddUl.highlight
{
	background: #c00;
	color: #000;	
}

li.draggable
{
	cursor: move;
}

.ddUl li.hover, ul li.focused
{
	background: #fc0;
}

li.draggable, li.empty
{
	position: relative;
	border: 1px solid #666;
	padding: 0.5em;
	width: 10em;
	text-align: center;
	color: #000;
	background: #fff;
}