.exampleButton {
	background-color: #C4E7FF; 
	border: none; 
	padding: 10px; 
	text-align: center; 
	font-weight: bold; 
	margin: 0 5px;
	width: 72px;
	height: 36px; /* 432px area */
}

.defaultFI:focus {
	outline-style: auto;
}

.outlineFI:focus {
	outline: 3px dashed #1C7AC7;
}

.bgFI:focus {
	opacity: 1;
	background-color: #333 !important;
	color:#fff;
	outline: none;
}

.noFI:focus {
	outline: none;
}

.solidOutlineFI:focus {
	outline: 2px solid #1C7AC7;
}

.solidBorderFI:focus {
	border: 2px solid #1C7AC7 !important;
	outline: none;
}

.solidOutsetFI:focus {
	outline: 2px solid #1C7AC7;
	outline-offset: 2px;
}

.solidInsetFI:focus {
	outline: 3px solid #1C7AC7;
	outline-offset: -5px;
}

.bottomBorderFI:focus {
	border-bottom: 6px solid #1C7AC7 !important;
	outline: none;
}

.bottomBorderContrastFI:focus {
	border-bottom: 10px solid #04AA6D !important;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid red;
    border-bottom: 25px solid transparent;
}

.triangle-right:focus {
	outline: 2px solid black;
	outline-style: auto;
}

.triangle-right-img {
	background-image: url("/a11y/assets/images/triangle.png");
	width: 50px;
	height: 50px;
	background-size: 50px;
}

.triangle-right-img:focus {
	background-image: url("/a11y/assets/images/triangle-focus.png");
	background-size: 50px;
	outline: none;
}