.defaultFI:focus {
	outline-style: auto;
}

.outlineFI:focus {
	outline: 3px dashed #1C7AC7;
}

.bgFI:focus {
	opacity: 1;
	background-color: #333 !important;
	color:#fff;
	outline: none;
}

.noFI:focus {
	outline: none;
}

.solidOutlineFI:focus {
	outline: 2px solid #1C7AC7;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid red;
    border-bottom: 25px solid transparent;
}

.triangle-right:focus {
	outline: 2px solid black;
	outline-style: auto;
}

.triangle-right-img {
	background-image: url("/a11y/assets/images/triangle.png");
	width: 50px;
	height: 50px;
}

.triangle-right-img:focus {
	background-image: url("a11y/assets/images/triangle-focus.png");
}