table[role="grid"] {
  margin: 0;
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  table-layout: fixed;
}

tbody[role="rowgroup"] th,
tbody[role="rowgroup"] td {
  padding: 5px;
}

tbody[role="rowgroup"] td {
  border: 1px solid #000;
  text-align: right;
  color: #767676;
}

tbody[role="rowgroup"] td[role="gridcell"] {
  color: #000;
}

tbody[role="rowgroup"] td[role="gridcell"]:hover,
tbody[role="rowgroup"] td[role="gridcell"]:focus {
  background-color: #f1f1f1;
  outline: 3px solid #1d7ad7;
}

tbody[role="rowgroup"] td[role="gridcell"][aria-selected="true"] {
  background-color: #1d7ad7;
  color: #fff;
}
