a.example-link:active {
	background-color: #fff;
}
a.example-link:hover:not(.active) {
	background-color: #fff;
	text-decoration: underline;
	color: #4169e1;
}

#underline-link {
	text-decoration: underline; 
	text-underline-offset: 4px;
}

#background-link {
	text-decoration: none; 
	color: black; 
	background-color: #87cefa;
}
#background-link:hover {
	color: black;
}

#bold-link {
	text-decoration: none; 
	color: #4169e1;
	font-weight: bold;
}

#italic-link {
	 text-decoration: none; 
	 font-style: italic;
	 color: #4169e1;
}

#contrast-link {
	text-decoration: none; 
	color: #4169e1;
}
#contrast-link:hover {
	text-decoration: underline;
	color: #4169e1;
}

#location-link {
	color: #4169e1; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block;
}

.navigation-link {
	text-decoration: none; 
	color: #4169e1 !important;
}
.navigation-link:hover {
	color: #000 !important;
}