.example-link a.active {
	background-color: #fff;
}
.example-link a:hover:not(.active),
.example-link a.current {
	background-color: #fff;
	color: #000;
	text-decoration: underline;
}

#underline-link {
	text-decoration: underline; 
	text-underline-offset: 4px;
}

#background-link {
	text-decoration: none; 
	color: black; 
	background-color: #b3ffff;
}

#bold-link {
	text-decoration: none; 
	font-weight: bold;
}

#italic-link {
	 text-decoration: none; 
	 font-style: italic;
}

#contrast-link {
	text-decoration: none; 
	color: #008484;
}
#contrast-link:hover {
	text-decoration: underline;
}

#location-link {
	color: #0047b3; 
	text-align: center; 
	text-decoration: none; 
	display: inline-block;
}

.navigation-link {
	text-decoration: none; 
	color: #0047b3;
}