html {
  scroll-behavior: smooth;
}
* {
  	box-sizing: border-box;
}

/* Style the body */
body {
  	font-family: Trebuchet MS,Helvetica Neue,Arial,sans-serif;
  	margin: 0;
  	line-height: 1.5;
		font-size: 1rem;
}

.a,
.aa,
.aaa {
	color: #222;
}
.a .accordion-trigger:focus,
.a .accordion-trigger:hover, 
.a .glselect {
	background-color: #ff6961 !important;
}
button.a,
button.aa,
button.aaa {
	background-color: #222;
	color: #fff;
}
.alite {
	background-color: #fff9f7;
	border-color: #ffe9e4;
}
.adark {
	background-color: #860111 ;
}
.alink a {
	color: #860111 ;
}
.a a.active {
	background-color: #82341b;
}
.a a:hover:not(.active),
.a a.current {
	background-color: #ff6961;
	color: #000;
}
.aa .accordion-trigger:focus,
.aa .accordion-trigger:hover, 
.aa .glselect {
	background-color: #ff8c00 !important;
}
.aalite {
	background-color: #fdf9f5;
	border-color: #f9ecdc;
}
.aadark {
	background-color: #cb410b;
}
.aalink a {
	color: #cb410b;
}
.aa a.active {
	background-color: #743f00;
}
.aa a:hover:not(.active),
.aa a.current {
	background-color: #ff8c00;
	color: #000;
}
.aaa .accordion-trigger:focus,
.aaa .accordion-trigger:hover, 
.aaa .glselect {
	background-color: #fcc200 !important;
}
.aaalite {
	background-color: #fffaeb;
	border-color: #feedb9;
}
.aaadark {
	background-color: #996515;
}
.aaalink a {
	color: #996515;
}
.aaa a.active {
	background-color: #60491b;
}
.aaa a:hover:not(.active),
.aaa a.current {
	background-color: #fcc200;
	color: #222;
}

/* Header/logo Title */
.header {
  	padding: 0;
}

.skip-link, .hidden {
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip-link:focus {
	position: static;
  	width: auto;
  	height: auto;
}

/* Style the top navigation bar */
.navbar {
  	display: flex;
  	background-color: #333;
}

/* Style the navigation bar links */
.navbar a,
#flinks a {
		font-weight: 700;
  	color: white;
  	padding: 14px 20px;
  	text-align: center;
}

/* Column container */
.row {  
  	display: flex;
  	flex-wrap: wrap;
}

/* Create two unequal columns that sit next to each other */
/* Sidebar/left column */
.side, .checkpoints {
  	flex: 20%;
/*  	padding: 0 20px 20px 20px;*/
}

/* Main column */
.content, .cpcontent {
  	flex: 80%;
  	background-color: white;
}

.content {
	padding: 0;
}

.cpcontent {
	padding: 0 20px 20px 20px;
}

.block {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1em 2em;
	margin: 0 1em 3.5em 1em;
}

.example {
	padding: 1em;
	border: 1px solid #333;
	border-radius: 4px;
	margin-bottom: .5em;
}

/* Footer */
.footer {
  	padding: 20px;
  	text-align: center;
  	background-color: #333;
  	color: white;
}

.siteTitle {
	font-size: 1.5em;
}

nav.breadcrumb {
  padding: 0.5em 1em;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}

nav.breadcrumb [aria-current="page"] {
  font-weight: 700;
  text-decoration: none;
}

#sidebar {
	background-color: #222;
}

.side h2,
.checkpoints h2 {
	font-size: 1.5em;
	padding: 0 .5em;
}

.checkpoints h2 {
	color: #222;
}

.accordion {
	margin: 0;
	padding: 0;
	border: 0;
}
.accordion h3 {
	margin: 0;
	padding: 0;
}
/*.accordion > * + * {
  border-top: 1px solid;
}*/
.accordion-trigger {
	display: block;
	margin: 0;
	padding: 1em 1.5em;
	position: relative;
	text-align: left;
	width: 100%;
	border: 0;
	font-weight: 900;
	background-color: #222;
}
.accordion-trigger:focus,
.accordion-trigger:hover, 
.glselect {
	color: #222 !important;
}
.accordion-trigger:focus {
  outline: 4px solid transparent;
}
.accordion-title {
	display: block;
	pointer-events: none;
	border: transparent 2px solid;
	padding: 0.25em;
}
.accordion-panel {
	margin: 0;
	padding: 0;
}

.caption {
	font-size: 14px;
}
.lgIcon {
	font-size: 4em;
	text-align: center; 
	width: 100%;
	padding-top: 10px;
}
code {
  font-family: Consolas,"courier new",monospace;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
kbd {
	background-color: #f1f1f1;
	font-weight: bold;
}
pre {
	background-color: #f1f1f1;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 10px;
}
th {
	background-color: #f1f1f1;
}

label {
	display: block;
}

input[type=text] {
	border: 2px solid #1C7AC7; 
	height: 2em;
}
input[type=text]:not(.defaultFI):hover,
input[type=text]:not(.defaultFI):focus {
	outline: 2px solid #1c7ac7;
}
input[type=text].noFocus:focus {
	outline: none;
}
input[type=text]:invalid:hover,
input[type=text]:invalid:focus,
[role="checkbox"][aria-invalid="true"]:hover,
[role="checkbox"][aria-invalid="true"]:focus {
	outline: 2px solid #c00000;
	background-color: #ffdddd;
}
input[type=text]:invalid,
[role="checkbox"][aria-invalid="true"] {
	border-color: #c00000;
  background-color: #ffdddd;
}
[role="checkbox"][aria-invalid="true"] {
	border-color: #c00000;
  background-color: #E27474;
}
input::placeholder {
  color: #767676;
}
.lgPlaceholder::placeholder {
  color: #939393;
}
.ePlaceholder::placeholder {
	color: #595959;
}
input[type=button],
.exButton {
	background-color: #1C7AC7;
	color: white;
	padding: 5px 10px !important;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

input[type=button]:hover,
.exButton:hover {
	background: #2898F3;
}

input[type=button].focusInternal:focus {
	outline: 2px solid white;
	outline-offset: -4px;
}

div.failure {
	flex: 100%;
	align-items: stretch;
}

.failure h2 {
	font-size: 1em;
	text-align: left;
	padding: 5px;
	border: 0;
	margin: 0;
	flex: 20%;
}
.failure .row,
.failure .row > div {
	flex: 80%;
	padding: 5px;
}

.checkpoints ul, .checkpoints li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.side a, .checkpoints a {
	display: block;
	margin: 0;
	padding: .5em;
/*	border-top: 1px solid;*/
	color: #fff;
}

.checkpoints a {
	color: #222;
}

/*div.sc {
	padding: 1em;
}*/

div.userstory {
	background-color: #feedb9;
	padding: 1em;
}

div.success {
	background-color: #c7dca7;
	padding: 1em;
}

ul[role="tree"] {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul[role="tree"] li {
	margin: 0;
	padding: 0;
	list-style: none;
}

[role="treeitem"][aria-expanded="false"] + [role="group"],
[role="treeitem"][aria-expanded="false"] > ul {
	display: none;
}

[role="treeitem"][aria-expanded="true"] + [role="group"],
[role="treeitem"][aria-expanded="true"] > ul {
	display: block;
}

[role="treeitem"][aria-expanded="false"] > span::before {
	font: var(--fa-font-solid);
	content: "\f0da";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

[role="treeitem"][aria-expanded="true"] > span::before {
	font: var(--fa-font-solid);
	content: "\f0d7";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

[role="treeitem"],
[role="treeitem"] span {
	margin: 0;
	padding: 0.125em;
	display: block;
}

[role="treeitem"][aria-expanded="false"],
[role="treeitem"][aria-expanded="true"] {
	text-decoration: underline;
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
	border-color: black;
	border-radius: 4px;
}

[role="treeitem"].hover,
[role="treeitem"] span:hover {
	border-color: #888;
	border-radius: 4px;
}

[role="treeitem"].pass {
	background-color: #c7dca7;
	width: 100%;
}
[role="treeitem"].fail {
	background-color: #ffe9e4;
	width: 100%;
}
[role="treeitem"].na {
	background-color: #f1f1f1;
	width: 100%;
}
[role="treeitem"].pass span,
[role="treeitem"].fail span,
[role="treeitem"].na span {
	display: inline-block;
	text-decoration: none;
}

.pass::before,
.na::before {
	font: var(--fa-font-solid);
	font-size: 12px;
	content: "\f005";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	padding-left: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.fail::before {
	font: var(--fa-font-solid);
	font-size: 12px;
	content: "\f057";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	padding-left: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

/* F1.1.1.a.i play/pause button example */
.player.active .play {
	display: none;
}
.player.active .pause {
  display: block;
}
.player .play {
  display: block;
}
.player .pause {
  display: none;
}

/* 1.1.1.2.3 background image with text */
#bg {
  background-image: url("/a11y/assets/images/11010203-time-for-change.jpg");
  width: 649px;
  height: 427px;
}
#bg2 {
  background-image: url("/a11y/assets/images/11010402-flower.jpg");
  width: 640px;
  height: 424px;
}
#divText {
  width: 249;
  margin-right: 400px;
  padding: 80px 0 20px 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  	.row, .navbar {   
    	flex-direction: column;
  	}
}