body {
	font-family: Noto Sans,Trebuchet MS,Helvetica Neue,Arial,sans-serif;
	line-height: 1.5;
	font-size: 1rem;
}
header {
	display: flex;
	position: fixed;
	top: 0;
	margin: 0;
	border: 0;
	padding: 0;
	height: 50px;
	float: left;
	width: 100%;
	background-color: white;
	clear: both;
}
.siteTitle {
	margin: 0;
	padding: 0;
	font-size: larger;
	display: block;
	text-align: left;
	white-space: nowrap;
}
nav.mainmenu {
	display: inline-block;
	text-align: right;
	margin: 0;
	width: 100%;
}
nav.mainmenu ul {
	text-align: right;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	display: inline-block;
}
nav.mainmenu li {
	display: inline-block;
}

.accordion {
	margin: 0;
	padding: 0;
	border: 2px solid;
	width: 196px;
}
.accordion h3 {
	margin: 0;
	padding: 0;
}
.accordion > * + * {
  border-top: 1px solid;
}
.accordion-trigger {
	display: block;
	margin: 0;
	padding: 1em 1.5em;
	position: relative;
	text-align: left;
	width: 100%;
}
.accordion-trigger:focus,
.accordion-trigger:hover {
	background-color: #555;
	color: white;
}
.accordion-trigger:focus {
  outline: 4px solid transparent;
}
.accordion-title {
	display: block;
	pointer-events: none;
	border: transparent 2px solid;
	padding: 0.25em;
}
.accordion-panel {
	margin: 0;
	padding: 0;
}

.sidebar {
	margin: 50px 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	overflow: auto;
}
.checkpoints {
	position: fixed;
	top: 50px;
	right: 0;
	margin-left: 40px;
	z-index: 1;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border: 2px solid;
}
.checkpoints ul, .checkpoints li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidebar a, .checkpoints a {
	display: block;
	margin: 0;
	padding: .5em;
	border-top: 1px solid;
	color: black;
}
.sidebar a.active,
.checkpoints a.active {
	background-color: #04aa6d;
	color: white;
}
.sidebar a:hover:not(.active),
.sidebar a.current,
.checkpoints a:hover:not(.active),
.checkpoints a.current 
{
	background-color: #555;
	color: white;
}

div.content {
	margin: 50px 0 0 200px;
	padding: 1px 16px;
	height: 1000px;
	clear: both;
}

div.cpcontent {
	margin-right: 200px;
}

div.success {
	background-color: #e6ffe6;
	padding: 1em;
}

ul[role="tree"] {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 120%;
}

ul[role="tree"] li {
	margin: 0;
	padding: 0;
	list-style: none;
}

[role="treeitem"] > span::before {
	font: var(--fa-font-solid);
	font-size: 10px;
	content: "\f111";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

[role="treeitem"][aria-expanded="false"] + [role="group"],
[role="treeitem"][aria-expanded="false"] > ul {
	display: none;
}

[role="treeitem"][aria-expanded="true"] + [role="group"],
[role="treeitem"][aria-expanded="true"] > ul {
	display: block;
}

[role="treeitem"][aria-expanded="false"] > span::before {
	font: var(--fa-font-solid);
	content: "\f0da";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

[role="treeitem"][aria-expanded="true"] > span::before {
	font: var(--fa-font-solid);
	content: "\f0d7";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

[role="treeitem"],
[role="treeitem"] span {
	margin: 0;
	padding: 0.125em;
	display: block;
}

[role="treeitem"][aria-expanded="false"],
[role="treeitem"][aria-expanded="true"] {
	text-decoration: underline;
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
	border-color: black;
	background-color: #eee;
}

[role="treeitem"].hover,
[role="treeitem"] span:hover {
	padding-left: 4px;
	background-color: #ddd;
}

.pass {
	background-color: #e6ffe6;
	text-decoration: none !important;
}

.pass::before {
	font: var(--fa-font-solid);
	font-size: 12px;
	content: "\f005";
	display: inline-block;
	text-rendering: auto;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}

/* MOBILE 
@media screen and (max-width: 700px) {}

@media screen and (max-width: 400px) {}*/