body {
	font-family: Noto Sans,Trebuchet MS,Helvetica Neue,Arial,sans-serif;
	line-height: 1.5;
	font-size: 1rem;
}
header {
	display: flex;
	margin: 0;
	padding: 0;
	height: 50px;
	float: left;
	width: 100%;
	clear: both;
}
.siteTitle {
	margin: 0;
	padding: 0;
	font-size: larger;
	display: block;
	text-align: left;
	white-space: nowrap;
}
nav.mainmenu {
	display: inline-block;
	text-align: right;
	margin: 0;
	width: 100%;
}
nav.mainmenu ul {
	text-align: right;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	display: inline-block;
}
nav.mainmenu li {
	display: inline-block;
}

.accordion {
	margin: 0;
	padding: 0;
	border: 2px solid;
	width: 196px;
}
.accordion h3 {
	margin: 0;
	padding: 0;
}
.accordion > * + * {
  border-top: 1px solid;
}
.accordion-trigger {
	display: block;
	margin: 0;
	padding: 1em 1.5em;
	position: relative;
	text-align: left;
	width: 100%;
}
.accordion-trigger:focus,
.accordion-trigger:hover {
	background-color: #555;
	color: white;
}
.accordion-trigger:focus {
  outline: 4px solid transparent;
}
.accordion-title {
	display: block;
	pointer-events: none;
	border: transparent 2px solid;
	padding: 0.25em;
}
.accordion-panel {
	margin: 0;
	padding: 0;
}

.sidebar {
	margin: 50px 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	overflow: auto;
}
.sidebar a, .checkpoints a {
	display: block;
	margin: 0;
	padding: .5em;
	border-top: 1px solid;
	color: black;
}
.sidebar a.active,
.checkpoints a.active {
	background-color: #04aa6d;
	color: white;
}
.sidebar a:hover:not(.active),
.sidebar a.current,
.checkpoints a:hover:not(.active),
.checkpoints a.current 
{
	background-color: #555;
	color: white;
}

div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
	clear: both;
}
.checkpoints {
	position: fixed;
	right: 0;
	z-index: 1;
	margin: 50px 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid;
}
div.success {
	background-color: #e6ffe6;
	padding: 1em;
}

/* MOBILE 
@media screen and (max-width: 700px) {}

@media screen and (max-width: 400px) {}*/