.radio {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	width: 2.5em;
	height: 2.5em;
	border: 0.15em solid white;
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
	margin: .5em;
}

.radio::before {
	box-sizing: border-box;
	content: "";
	width: 3em;
	height: 3em;
	border: 0.2em solid black;
	border-radius: 50%;
	transform: scale(0);
}

.radio:checked::before {
	transform: scale(1);
}

.radio:focus {
	outline: max(2px, 0.15em) solid black;
	outline-offset: max(2px, 0.15em);
}

.black {
	box-shadow: inset 2em 2em black;
}

.blue {
	box-shadow: inset 2em 2em #1e90ff;
}

.pink {
	box-shadow: inset 2em 2em pink;
}