.slidecontainer {
  width: 80%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  --c: #2C97EE; /* active color */
  --l: 8px; /* line thickness*/
  --h: 30px; /* thumb height */
  --w: 10px; /* thumb width */

  width: 400px;
  height: var(--h); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));

  -webkit-appearance: none;
  -moz-appearance :none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

.slider:focus-visible,
.slider:hover {
  --p: 25%;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range" i]::-webkit-slider-thumb {
  height: var(--h);
  width: var(--w);
  background: var(--_c);
  border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: .3s;
}

input[type="range"]::-moz-range-thumb {
  height: var(--h);
  width: var(--w);
  background: var(--_c);
  border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: .3s;
}

@supports not (color: color-mix(in srgb,red,red)) {
  .slider {
    --_c: var(--c);
  }
}