.tabs *,
[role="tabpanel"] {
 box-sizing: content-box;
}
.tabs {
  padding: 0 !important;
}

[role="tablist"] {
  min-width: 100%;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  display: inline-block;
  position: relative;
  z-index: 2;
  top: 2px;
  margin: 0;
  margin-top: 4px;
  padding: 3px 3px 4px;
  border: 1px solid #949494;
  border-bottom: 2px solid #949494;
  border-radius: 5px 5px 0 0;
  background: #eee;
  outline: none;
  font-weight: bold;
  max-width: 22%;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

[role="tab"][aria-selected="true"] {
  padding: 2px 2px 4px;
  margin-top: 0;
  border-color: #1C7AC7;
  background: #1C7AC7;
  color: white;
}

[role="tab"][aria-selected="false"] {
  border-bottom: 1px solid #949494;
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  padding: 2px 4px;
  border: 2px solid black;
  border-radius: 3px;
}

[role="tabpanel"] {
  padding: 5px;
  border: 2px solid #949494;
  border-radius: 0 5px 5px;
  background: white;
  min-height: 10em;
  width: 100%;
  overflow: auto;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}