---
layout: default
current: 13030101
criterion: 1303
checkpoint: 130301
css: link-examples
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1303.1303[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1303.1303[page.criterion] %}
{% assign cp=site.data.1303.1303[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Instructions do not rely on visual characteristics such as shape, color, size, visual location, or orientation to be understood.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Instructions rely on visual characteristics to be understood.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Add an additional non-visual reference, such as a text label, that can be accessed by color blind and screen reader users.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>Shape</h3>
                    <p>The instructions refer to the shield graphic within the link, but the text alternative does not identify the image as a shield.</p>
                    <div class="example" style="max-width: 400px; text-align: center;">
                        <a href="#" class="example-link"><img src="{{ baseurl }}/assets/images/130301-shield.png" alt="Click here" style="max-width: 200px;"></a>
                        <p>Click the shield above to participate in the Customer Protection Program.</p>
                    </div>
                    <pre><code>&lt;a href="#"&gt;&lt;img src="shield.png" <strong>alt="Customer Protection Program"</strong>&gt;&lt;/a&gt;</code></pre>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Shape</h3>
                    <p>One possible solution is to include the word “shield” in the text alternative. This will identify the shape for screen reader users, as well as for users who have images turned off.</p>
                    <div class="example" style="max-width: 400px; text-align: center;">
                        <a href="#" class="example-link"><img src="{{ baseurl }}/assets/images/130301-shield.png" alt="Customer Protection Program shield" style="max-width: 200px;"></a>
                        <p>Click the shield above to participate in the Customer Protection Program.</p>
                    </div>
                    <pre><code>&lt;a href="#"&gt;&lt;img src="shield.png" <strong>alt="Customer Protection Program shield"</strong>&gt;&lt;/a&gt;</code></pre>
                    <p>Other possible solutions include:</p>
                    <ul>
                        <li>Combining the image and the text into a link with the text "Participate in the Customer Protection Program".</li>
                        <li>Changing the instructions to "Click the Customer Protection Program link above to participate," referring to the original <code>alt</code> text.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Users may not be able to follow instructions if they rely on a visual description of the content.</li>
                        <li><strong>Colorblind:</strong> Users may not be able to follow instructions if they rely on references to color.</li>
                        <li><strong>Cognitively impaired:</strong> Users may benefit from additional text cues.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F14">F14: Failure of Success Criterion 1.3.3 due to identifying content only by its shape or location</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G96">G96: Providing textual identification of items that otherwise rely only on sensory information to be understood</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1303checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>