---
layout: default
current: 21020103
criterion: 2102
checkpoint: 210201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2102.2102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2102.2102[page.criterion] %}
{% assign cp=site.data.2102.2102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Instructions are provided when components require non-standard keystrokes to navigate away from them.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Non-standard keystrokes are required to navigate away from an element, but instructions explaining them are not provided.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Provide instructions on how to navigate away from the element.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>Non-standard Keyboard Shortcuts</h3>
                    <p>To escape this form, the user must press <kbd>Ctrl</kbd> + <kbd>Enter</kbd>. No instructions are provided, so there is no way the user would know to do this.</p>
                    <div class="example">
                        <script>
                            document.addEventListener('keydown', function(event) {
                                if (event.code == 'Enter' && (event.ctrlKey || event.metaKey)) {
                                    setFree();
                                }
                            });
                            function  setFree() {
                                document.getElementById('email').setAttribute('onblur', 'javascript:void(0);');
                                document.getElementById('trapt').innerHTML = "Keyboard focus has been set free.";
                            }
                            function itsATrap() {
                                document.getElementById('email').setAttribute('onblur', 'document.getElementById("fname").focus();');
                                document.getElementById('trapt').innerHTML = "Keyboard focus has been trapped.";
                            }
                        </script>
                        <p>All fields are required.</p>
                        <form>
                            <label for="fname">First Name:</label>
                            <input id="fname" class="req">
                            <label for="lname">Last Name:</label>
                            <input id="lname" class="req">
                            <label for="email">Email:</label>
                            <input id="email" class="req" onblur="document.getElementById('fname').focus();">
                            <p><button>Submit</button></p>
                        </form>
                        <div id="trapt" class="sr-only" aria-live="polite">Keyboard focus is trapped.</div>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Non-standard Keyboard Shortcuts with Instructions</h3>
                    <p>Instructions are provided for the non-standard functionality. If at all possible, you should stick to standard functionality instead.</p>
                    <div class="example">
                        <script>
                            document.addEventListener('keydown', function(event) {
                                if (event.code == 'Enter' && (event.altKey || event.metaKey)) {
                                    setFree2();
                                }
                            });
                            function  setFree2() {
                                document.getElementById('email2').setAttribute('onblur', 'javascript:void(0);');
                                document.getElementById('trapt2').innerHTML = "Keyboard focus has been set free.";
                            }
                        </script>
                        <p>All fields are required. Press <kbd>Alt</kbd> + <kbd>Enter</kbd> to leave the form.</p>
                        <form>
                            <label for="fname2">First Name:</label>
                            <input id="fname2" class="req">
                            <label for="lname2">Last Name:</label>
                            <input id="lname2" class="req">
                            <label for="email2">Email:</label>
                            <input id="email2" class="req" onblur="document.getElementById('fname2').focus();">
                            <p><button>Submit</button></p>
                        </form>
                        <div id="trapt2" class="sr-only" aria-live="polite">Keyboard focus is trapped.</div>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Focus out of order:</strong><br>
                            File under <a href="{{ site.data.2403.2403[2403].link | prepend: baseurl }}">{{ site.data.2403.2403[2403].name }}.</a></li>
                        <li><strong>Focus goes to hidden content:</strong><br>
                            File under <a href="{{ site.data.2403.2403[2403].link | prepend: baseurl }}">{{ site.data.2403.2403[2403].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Vision Impairment:</strong> Blind users cannot use devices such as mice which require eye-hand coordination.</li>
                        <li><strong>Motor Impairment:</strong> Users have difficulty using a mouse and rely on a keyboard.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>