---
layout: default
current: 21020103
root: WCAG 2.2
base: base
criterion: 2102
checkpoint: 210201
guideline: perceivable

---
{% assign currentpg=site.data.2102.2102[page.current] %}
{% assign baseurl=site.data.2102.2102[page.base] %}
{% assign sc=site.data.2102.2102[page.criterion] %}
{% assign cp=site.data.2102.2102[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Instructions are provided when components require non-standard keystrokes to navigate away from them.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Non-standard keystrokes are required to navigate away from an element, but instructions explaining them are not provided.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Provide instructions on how to navigate away from the element.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Users may be unable to figure out how to navigate away from an element which requires non-standard keystrokes.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F10">F10: Failure of Success Criterion 2.1.2 and Conformance Requirement 5 due to combining multiple content formats in a way that traps users inside one format type</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G21">G21: Ensuring that users are not trapped in content</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2102checkpoints.html %}