---
layout: default
current: 13020301
criterion: 1302
checkpoint: 130203
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1302.1302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1302.1302[page.criterion] %}
{% assign cp=site.data.1302.1302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>When content is inserted or changed, the reading order remains logical.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>When content is inserted or changed, the content reading order is not logical.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Ensure that the dynamic content makes sense both in the overall flow of the page and within the context of the current sequence.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>Content Inserted Before Trigger</h3>
                    <p>When the checkbox is checked, an additional field is displayed. The user must navigate backwards with the keyboard to get to it, and assistive technologies have no way of knowing it is there without going backwards.</p>
                    <script src="{{ baseurl }}/assets/js/toggle-display.js"></script>
                    <div class="example">
                        <form>
                            <label for="fname">First Name:</label>
                            <input type="text" id="fname">
                            <label for="lname">Last Name:</label>
                            <input type="text" id="lname">
                            <div id="altname" style="display: none;">
                                <label for="altlname">Alternate Last Name:</label> 
                                <input type="text" id="altlname">
                            </div>
                            <label for="gender">Gender:</label> 
                            <select id="gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                                <option value="other">Other</option>
                            </select>
                            
                            <label for="age">Age:</label>
                            <input type="number" min="16" max="99" id="age">
                            <label for="altcheck"><input type="checkbox" name="altcheck" id="altcheck" onchange="toggleDisplay('altname');"> Have you gone by a different last name?</label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Content Inserted After Trigger</h3>
                    <p>When the checkbox is checked, an additional field is displayed directly after the trigger, so keyboard and assistive technology users may navigate to it next in the tab order.</p>
                    <div class="example">
                        <form>
                            <label for="fname2">First Name:</label>
                            <input type="text" id="fname2">
                            <label for="lname2">Last Name:</label>
                            <input type="text" id="lname2">
                            <label for="altcheck2"><input type="checkbox" name="altcheck" id="altcheck2" onchange="toggleDisplay('altname2');"> Have you gone by a different last name?</label>
                            <div id="altname2" style="display: none;">
                                <label for="altlname2">Alternate Last Name:</label> 
                                <input type="text" id="altlname2">
                            </div>
                            <label for="gender2">Gender:</label> 
                            <select id="gender2">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                                <option value="other">Other</option>
                            </select>
                            
                            <label for="age2">Age:</label>
                            <input type="number" min="16" max="99" id="age2">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Keyboard focus order:</strong><br>
                            File under <a href="{{ site.data.2403.2403[2403].link | prepend: baseurl }}">{{ site.data.2403.2403[2403].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Users of assistive technology need to get the information in a sequence that makes sense.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                        <li><a href="G57: Ordering the content in a meaningful sequence">G57: Ordering the content in a meaningful sequence</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C27">C27: Making the DOM order match the visual order</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>