---
layout: default
current: 13020202
criterion: 1302
checkpoint: 130202
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1302.1302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1302.1302[page.criterion] %}
{% assign cp=site.data.1302.1302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>All meaningful content is readable with a screen reader.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Meaningful content is not readable with the screen reader.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    Don't use <code>aria-hidden="true"</code> on meaningful content or its container elements.      
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>aria-hidden="true" on Link</h3>
                    <p>This link includes a redundant image inside a link. The entire link has been hidden from assistive technology with <code>aria-hidden="true"</code>.
                    <div class="example">
                        <p aria-hidden="true"><a href="#"><img src="{{ baseurl }}/assets/images/110101-pdf-icon_60.png"> PDF User Guide</a></p>
                        <pre><code>&lt;p <strong>aria-hidden="true"</strong>&gt;&lt;a href="#"&gt;&lt;img src="pdf-icon.png"&gt; PDF User Guide&lt;/a&gt;&lt;/p&gt;</code></pre>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Hidden Redundant Image Only</h3>
                    <p>This is the same link as above, but the redundant image alone has been hidden from assistive technology with <code>alt=""</code>.</p>
                    <div class="example">
                        <p><a href="#"><img src="{{ baseurl }}/assets/images/110101-pdf-icon_60.png" alt=""> PDF User Guide</a></p>
                        <pre><code>&lt;a href="#"&gt;&lt;img src="pdf-icon.png" <strong>alt=""</strong>&gt; PDF User Guide&lt;/a&gt;</code></pre>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Keyboard focus order:</strong><br>
                            File under <a href="{{ site.data.2403.2403[2403].link | prepend: baseurl }}">{{ site.data.2403.2403[2403].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Users of assistive technology need to get the information in a sequence that makes sense.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>