---
layout: default
current: 24020106
criterion: 2402
checkpoint: 240201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2402.2402[page.current] %}
{% assign baseurl=site.data.2402.2402[page.base] %}
{% assign sc=site.data.2402.2402[page.criterion] %}
{% assign cp=site.data.2402.2402[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>PDF file has a title describing the content.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>PDF file does not have a title describing the content.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <p>Add a descriptive title describing the PDF file's content.</p>
                <h3>Adobe Acrobat Pro</h3>
                <ol>
                    <li>Select <strong>Menu > Document properties...</strong>.</li>
                    <li>In the Document Properties dialog, select the <strong>Description</strong> tab.</li>
                    <li>Enter a descriptive title in the <strong>Title</strong> field.</li>
                    <li>Activate the <strong>OK</strong> button.</li>
                </ol>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <img src="{{ baseurl }}/assets/images/24020106-pdf-title.png" alt="Screenshot of Document Properties Description tab in Adobe Acrobat Pro" style="max-width: 480px;">
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Screen reader users, as well as people with cognitive, memory, or reading disabilities benefit from the ability to identify content by its title.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF18">PDF18: Specifying the document title using the Title entry in the document information dictionary of a PDF document</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2402checkpoints.html %}