---
layout: default
current: 24020104
criterion: 2402
checkpoint: 240201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2402.2402[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2402.2402[page.criterion] %}
{% assign cp=site.data.2402.2402[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Mobile app screen has a title or main heading describing the content.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Mobile app screen does not have a title or main heading describing the content.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Add a descriptive title or main heading describing the screen content.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <img src="{{ baseurl }}/assets/images/24020104-screen-title.jpg" alt="Screenshot of News app with screen title of Sports">
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>Users can easily identify whether the information on the web page is relevant to their needs.
                    <ul>
                        <li><strong>Blindness/Visual Impairment:</strong> Screen reader users can differentiate content when multiple web pages are open.</li>
                        <li><strong>Motion impaired:</strong> Users who rely on audio when navigating between web pages can differentiate content.</li>
                        <li><strong>Cognitive Impairment:</strong> Users can identify content by its title.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G88">G88: Providing descriptive titles for Web pages</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2402checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>