---
layout: default
current: 13010503
criterion: 1301
checkpoint: 130105
---
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.1301.1301[page.base] %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Description lists are marked up as description lists.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Description list is not marked up as a description list.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <h3>Native HTML (Preferred Method)</h3>
                <p>Use the <code>&lt;dl&gt;</code>, <code>&lt;dt&gt;</code>, and <code>&lt;dd&gt;</code> tags to mark up description lists.</p>

                <strong>OR</strong>

                <h3>ARIA</h3>
                <p>Use ARIA to mark up the list.</p>
                <ul>
                    <li>Add the <code>role="term"</code> attribute to the term element.</li>
                    <li>Add the <code>role="definition"</code> attribute to the description element.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Native HTML (Preferred Method)</h3>
                <dl>
                    <dt>Accessibility</dt>
                    <dd>The practice of making your website usable by as many people as possible.</dd>
                </dl>
                <pre><code>&lt;dl&gt;
    &lt;dt&gt;Accessibility&lt;/dt&gt;
    &lt;dd&gt;The practice of making your website usable by as many people as possible.&lt;/dd&gt;
&lt;dl&gt;</code></pre>

                <h3>ARIA</h3>
                <div>
                    <div role="term">Accessibility</div>
                    <div role="definition">The practice of making your website usable by as many people as possible.</div>
                </div>
                <pre><code>&lt;div&gt;
    &lt;div role="term"&gt;Accessibility&lt;/div&gt;
    &lt;div role="definition"&gt;The practice of making your website usable by as many people as possible.&lt;/div&gt;
&lt;div&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>When a list is properly marked up, screen readers notify users that the list exists and how many items are in it. This is information that visual users can see at a glance, so it must be conveyed to assistive technology users as well.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H48">H48: Using ol, ul and dl for lists or groups of links</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/definition_role">MDN: ARIA: definition role</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/term_role">MDN: ARIA: term role</a></li>
                    <li><a href="https://www.w3schools.com/tags/tag_dl.asp">W3: HTML &lt;dl&gt; Tag</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}