---
layout: default
current: 13010206
criterion: 1301
checkpoint: 130102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Complex tables use <code>headers</code> and <code>id</code> attributes to associate headers with data.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Table is too complex for the header and data relationships to be identified using <code>&lt;th&gt;</code> and <code>scope</code>, but the <code>headers</code> and <code>id</code> association is not used.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Add an <code>id</code> attribute to each header cell, set to a unique value.</li>
                    <li>Add a <code>headers</code> attribute to each data cell and set the value to a space-separated list of header cell <code>id</code> values that label the cell.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Table with Changing Column Headers</h3>
                <p><em>Note: NVDA will always read both column headers (for example, Freddie and Phillip) even when the table is marked up correctly. To avoid this, it's best practice to restructure the data into a simple table.</em></p>
                <table>
                    <caption>Cats</caption>
                    <tr>
                        <th id="blank"></th>
                        <th id="fred" headers="blank">Freddie</th>
                        <th id="joaq" headers="blank">Joaquin</th>
                    </tr>
                    <tr>
                        <th id="sex1" headers="blank">Sex</th>
                        <td headers="fred sex1">Female</td>
                        <td headers="joaq sex1">Male</td>
                    </tr>
                    <tr>
                        <th id="coat1" headers="blank">Color</th>
                        <td headers="fred coat1">Tortoiseshell</td>
                        <td headers="joaq coat1">White with gray cap and saddle</td>
                    </tr>
                    <tr>
                        <th id="wgt1" headers="blank">Weight</th>
                        <td headers="fred wgt1">12 lbs</td>
                        <td headers="joaq wgt1">18 lbs</td>
                    </tr>
                    <tr>
                        <th id="blank2"></th>
                        <th id="phil" headers="blank2">Phillip</th>
                        <th id="myrt" headers="blank2">Myrtle</th>
                    </tr>
                    <tr>
                        <th id="sex2" headers="blank2">Sex</th>
                        <td headers="phil sex2">Male</td>
                        <td headers="myrt sex2">Female</td>
                    </tr>
                    <tr>
                        <th id="coat2" headers="blank2">Color</th>
                        <td headers="phil coat2">Black with white spot on belly</td>
                        <td headers="myrt coat2">Tortoiseshell</td>
                    </tr>
                    <tr>
                        <th id="wgt2" headers="blank2">Weight</th>
                        <td headers="phil wgt2">14 lbs</td>
                        <td headers="myrt wgt2">7 lbs</td>
                    </tr>
                </table>

                <pre><code>&lt;table&gt;
    &lt;caption&gt;Cats&lt;/caption&gt;
    &lt;tr&gt;
        &lt;th <strong>id="blank"</strong>&gt;&lt;/th&gt;
        &lt;th <strong>id="fred" headers="blank"</strong>&gt;Freddie&lt;/th&gt;
        &lt;th <strong>id="joaq" headers="blank"</strong>&gt;Joaquin&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th <strong>id="sex1" headers="blank"</strong>&gt;Sex&lt;/th&gt;
        &lt;td <strong>headers="fred sex1"</strong>&gt;Female&lt;/td&gt;
        &lt;td <strong>headers="joaq sex1"</strong>&gt;Male&lt;/td&gt;
    &lt;/tr&gt;
    ...
     &lt;tr&gt;
        &lt;th <strong>id="blank2"</strong>&gt;&lt;/th&gt;
        &lt;th <strong>id="phil" headers="blank2"</strong>&gt;Phillip&lt;/th&gt;
        &lt;th <strong>id="myrt" headers="blank2"</strong>&gt;Myrtle&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th <strong>id="sex2" headers="blank2"</strong>&gt;Sex&lt;/th&gt;
        &lt;td <strong>headers="phil sex2"</strong>&gt;Male&lt;/td&gt;
        &lt;td <strong>headers="myrt sex2"</strong>&gt;Female&lt;/td&gt;
    &lt;/tr&gt;
    ...
&lt;/table&gt;</code></pre>

                <h3>Table with Multiple Levels of Headers</h3>
                <p><em>Note: NVDA will always read the full span headers (in this case, Alaska and Arizona) even when the table is marked up correctly. To avoid this, it's best practice to break the complex table up into simple tables, such as one for each state.</em></p>
                <table>
                    <caption>High Temperatures - 2023</caption>
                    <tr>
                        <th id="blank"></th>
                        <th id="jan" headers="blank">January</th>
                        <th id="jun" headers="blank">June</th>
                        <th id="oct" headers="blank">October</th>
                    </tr>
                    <tr>
                        <th colspan="4" id="ak" headers="blank">Alaska</th>
                    </tr>
                    <tr>
                        <th id="anch" headers="ak">Anchorage</th>
                        <td headers="jan ak anch">50</td>
                        <td headers="jun ak anch">85</td>
                        <td headers="oct ak anch">64</td>
                    </tr>
                    <tr>
                        <th id="fair" headers="ak">Fairbanks</th>
                        <td headers="jan ak fair">52</td>
                        <td headers="jun ak fair">96</td>
                        <td headers="oct ak fair">72</td>
                    </tr>
                    <tr>
                        <th id="june" headers="ak">Juneau</th>
                        <td headers="jan ak june">60</td>
                        <td headers="jun ak june">86</td>
                        <td headers="oct ak june">61</td>
                    </tr>
                    <tr>
                        <th colspan="4" id="az" headers="blank">Arizona</th>
                    </tr>
                    <tr>
                        <th id="flag" headers="az">Flagstaff</th>
                        <td headers="jan az flag">66</td>
                        <td headers="jun az flag">96</td>
                        <td headers="oct az flag">85</td>
                    </tr>
                    <tr>
                        <th id="phoe" headers="az">Phoenix</th>
                        <td headers="jan az phoe">88</td>
                        <td headers="jun az phoe">122</td>
                        <td headers="oct az phoe">107</td>
                    </tr>
                    <tr>
                        <th id="tucs" headers="az">Tucson</th>
                        <td headers="jan az tucs">87</td>
                        <td headers="jun az tucs">117</td>
                        <td headers="oct az tucs">102</td>
                    </tr>
                </table>
                <pre><code>&lt;table&gt;
    &lt;caption&gt;High Temperatures - 2023&lt;/caption&gt;
    &lt;tr&gt;
        &lt;th <strong>id="blank"</strong>&gt;&lt;/th&gt;
        &lt;th <strong>id="jan" headers="blank"</strong>&gt;January&lt;/th&gt;
        &lt;th <strong>id="jun" headers="blank"</strong>&gt;June&lt;/th&gt;
        &lt;th <strong>id="oct" headers="blank"</strong>&gt;October&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th colspan="4" <strong>id="ak" headers="blank"</strong>&gt;Alaska&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th <strong>id="anch" headers="ak"</strong>&gt;Anchorage&lt;/th&gt;
        &lt;td <strong>headers="jan ak anch"</strong>&gt;50&lt;/td&gt;
        &lt;td <strong>headers="jun ak anch"</strong>&gt;85&lt;/td&gt;
        &lt;td <strong>headers="oct ak anch"</strong>&gt;64&lt;/td&gt;
    &lt;/tr&gt;
    ...
&lt;/table&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Table relationships are visible at a glance for sighted users. Assistive technology users need to get this relationship information from the semantic structure and to be able to easily navigate the data.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F91">F91: Failure of Success Criterion 1.3.1 for not correctly marking up table headers</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H43">H43: Using id and headers attributes to associate data cells with header cells in data tables</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/tables/multi-level/">W3: Tables with Multi-Level Headers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>