---
layout: default
current: 13010207
criterion: 1301
checkpoint: 130102
---
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.1301.1301[page.base] %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Complex tables which use <code>headers</code> and <code>id</code> attributes to associate headers with data have the correct associations.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Complex table which uses <code>headers</code> and <code>id</code> attributes to associate headers with data does not have the correct associations.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Ensure that the <code>headers</code> attributes for each cell point to the correct header cell <code>id</code>s.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Table with Multiple Levels of Headers</h3>
                <p><em>Note: NVDA will always read the full span headers (in this case, Alaska and Arizona) even when the table is marked up correctly. To avoid this, it's best practice to break the complex table up into simple tables, such as one for each state.</em></p>
                <table>
                    <caption>High Temperatures - 2023</caption>
                    <tr>
                        <th id="blank"></th>
                        <th id="jan" headers="blank">January</th>
                        <th id="jun" headers="blank">June</th>
                        <th id="oct" headers="blank">October</th>
                    </tr>
                    <tr>
                        <th colspan="4" id="ak" headers="blank">Alaska</th>
                    </tr>
                    <tr>
                        <th id="anch" headers="ak">Anchorage</th>
                        <td headers="jan ak anch">50</td>
                        <td headers="jun ak anch">85</td>
                        <td headers="oct ak anch">64</td>
                    </tr>
                    <tr>
                        <th id="fair" headers="ak">Fairbanks</th>
                        <td headers="jan ak fair">52</td>
                        <td headers="jun ak fair">96</td>
                        <td headers="oct ak fair">72</td>
                    </tr>
                    <tr>
                        <th id="june" headers="ak">Juneau</th>
                        <td headers="jan ak june">60</td>
                        <td headers="jun ak june">86</td>
                        <td headers="oct ak june">61</td>
                    </tr>
                    <tr>
                        <th colspan="4" id="az" headers="blank">Arizona</th>
                    </tr>
                    <tr>
                        <th id="flag" headers="az">Flagstaff</th>
                        <td headers="jan az flag">66</td>
                        <td headers="jun az flag">96</td>
                        <td headers="oct az flag">85</td>
                    </tr>
                    <tr>
                        <th id="phoe" headers="az">Phoenix</th>
                        <td headers="jan az phoe">88</td>
                        <td headers="jun az phoe">122</td>
                        <td headers="oct az phoe">107</td>
                    </tr>
                    <tr>
                        <th id="tucs" headers="az">Tucson</th>
                        <td headers="jan az tucs">87</td>
                        <td headers="jun az tucs">117</td>
                        <td headers="oct az tucs">102</td>
                    </tr>
                </table>
                <pre><code>&lt;table&gt;
    &lt;caption&gt;High Temperatures - 2023&lt;/caption&gt;
    &lt;tr&gt;
        &lt;th <strong>id="blank"</strong>&gt;&lt;/th&gt;
        &lt;th <strong>id="jan" headers="blank"</strong>&gt;January&lt;/th&gt;
        &lt;th <strong>id="jun" headers="blank"</strong>&gt;June&lt;/th&gt;
        &lt;th <strong>id="oct" headers="blank"</strong>&gt;October&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th colspan="4" <strong>id="ak" headers="blank"</strong>&gt;Alaska&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;th <strong>id="anch" headers="ak"</strong>&gt;Anchorage&lt;/th&gt;
        &lt;td <strong>headers="jan ak anch"</strong>&gt;50&lt;/td&gt;
        &lt;td <strong>headers="jun ak anch"</strong>&gt;85&lt;/td&gt;
        &lt;td <strong>headers="oct ak anch"</strong>&gt;64&lt;/td&gt;
    &lt;/tr&gt;
    ...
&lt;/table&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Table relationships are visible at a glance for sighted users. Assistive technology users need to get this relationship information from the semantic structure and to be able to easily navigate the data.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F90">F90: Failure of Success Criterion 1.3.1 for incorrectly associating table headers and content via the headers and id attributes</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H43">H43: Using id and headers attributes to associate data cells with header cells in data tables</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/tables/multi-level/">W3: Tables with Multi-Level Headers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}