---
layout: default
current: 13010505
criterion: 1301
checkpoint: 130105
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Lists contain only <code>&lt;li&gt;</code>, <code>&lt;script&gt;</code>, and <code>&lt;template&gt;</code> elements.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>List contains one or more invalid child elements.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Enclose all content inside <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> elements within <code>&lt;li&gt;</code> elements.</div>
    	</div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <pre><code>&lt;ul&gt;
  &lt;li&gt;&lt;p&gt;Coffee&lt;br&gt;
    &lt;i&gt;with cream&lt;/i&gt;&lt;/p&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Tea&lt;/a&gt;
    &lt;ul&gt;
      &lt;li&gt;Black tea&lt;/li&gt;
      &lt;li&gt;Green tea&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;&lt;img src="milk.png"&gt; Milk&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Screen readers do not correctly read lists when content elements other than <code>&lt;li&gt;</code> are directly below the <code>&lt;ul&gt;</code> or <code>&lt;ol&gt;</code> elements.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol">&lt;ol&gt;: The Ordered List element</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">&lt;ul&gt;: The Unordered List element</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>