---
layout: default
current: 13010505
criterion: 1301
checkpoint: 130105
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Lists in PDF documents are tagged as lists.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The list is not tagged as a list.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <h3>Adobe Acrobat Pro</h3>
                    <ul>
                        <li>Tag the list with the <code>&lt;List&gt;</code> tag.</li>
                        <li>Tag the bullet or number character with the <code>&lt;Lbl&gt;</code> tag.</li>
                        <li>Tag the bullet text with the <code>&lt;LBody&gt;</code> tag.</li>
                        <li>Enclose the <code>&lt;Lbl&gt;</code> and <code>&lt;LBody&gt;</code> elements within the <code>&lt;LI&gt;</code> tag.</li>
                        <li>Nest the <code>&lt;LI&gt;</code> tags within the <code>&lt;List&gt;</code> tag.</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2>Example</h2>
                <div>
                    <pre><code>&lt;L&gt;
    &lt;LI&gt;
        &lt;Lbl&gt;
        &lt;LBody&gt;
    &lt;LI&gt;
    ...</code></pre>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Screen reader users rely on programmatic markup to understand how content is arranged. When lists are properly marked up, screen readers inform users of the structure and how many items are in the list.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF21">PDF21: Using List tags for lists in PDF documents</a></li>
                        <li><a href="https://helpx.adobe.com/acrobat/using/create-verify-pdf-accessibility.html">Adobe: Create and verify PDF accessibility (Acrobat Pro)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>