---
layout: default
current: 13010504
root: WCAG 2.2
base: base
criterion: 1301
checkpoint: 130105
guideline: perceivable

---
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.1301.1301[page.base] %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Only actual lists are semantically marked up as lists.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Content which does not function as a list is marked up as a list.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Remove list markup from the content. Use CSS to style as desired.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Example</h2>
            <div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Assistive technology users depend on semantic information to understand the relationships between pieces of content. If semantic markup is used for presentation effect only, this can be confusing.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F43">F43: Failure of Success Criterion 1.3.1 due to using structural markup in a way that does not represent relationships in the content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C22">C22: Using CSS to control visual presentation of text</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}