---
layout: default
current: 13010403
root: WCAG 2.2
base: base
criterion: 1301
checkpoint: 130104
guideline: perceivable
level: a
---
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.1301.1301[page.base] %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Only text that functions as a heading is marked up semantically as a heading.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Text that does not function as a heading is marked up as a heading.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Remove heading tags (<code>&lt;h1&gt;</code>-<code>&lt;h6&gt;</code>) from non-heading text.</li>
                    <li>Use CSS to style the text as desired.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Example</h2>
            <div>
                <div style="display: block; border: 1px solid black; padding: 20px; text-align: center;"><span style="font-size: 48px; font-weight: bolder;">100%</span><br>
                coverage!</div>
                <pre><code>&lt;span style="font-size: 48px; font-weight: bolder;"&gt;100%&lt;/span&gt;&lt;br&gt;
coverage!&lt;/p&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Visual users can see at a glance how information on the page is structured. Assistive technology users rely on semantic markup to understand how content is arranged.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F43">F43: Failure of Success Criterion 1.3.1 due to using structural markup in a way that does not represent relationships in the content</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}