---
layout: default
current: 13010302
criterion: 1301
checkpoint: 130103
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>If the label for an individual control in a group of controls does not provide enough context to understand the purpose of the control, the control is programmatically associated with the group label.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The label for an individual radio button in a radio group does not provide enough context to understand the purpose of the radio button, and the radio button is not programmatically associated with the group label.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <h3>Native HTML (Preferred Method)</h3>
                <p>Use the <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> tags to group the radio buttons.</p>
                <ul>
                    <li>Enclose the entire group of radio buttons in a <code>&lt;fieldset&gt;</code> element.</li>
                    <li>Place the group label inside a <code>&lt;legend&gt;</code> element as a child of the <code>&lt;fieldset&gt;</code> element.</li>
                </ul>
                <strong>OR</strong>
                <h3>ARIA</h3>
                <p>Use ARIA to group the radio buttons.</p>
                <ul>
                    <li>Locate or create a parent element for the radio group.</li>
                    <li>Add the <code>role="radiogroup"</code> attribute to the parent element.</li>
                    <li>Add an <code>id</code> attribute to the tag containing the group label text, and set it to a unique value.</li>
                    <li>Add an <code>aria-labelledby</code> attribute to the parent (radiogroup) element and point it to the <code>id</code> of the group label tag.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Native HTML (Preferred Method)</h3>
                <fieldset>
                    <legend>Pancake Toppings</legend>
                    <input type="radio" name="toppings" id="syrup">
                    <label for="syrup">Maple syrup</label><br>
                    <input type="radio" name="toppings" id="berries">
                    <label for="berries">Blueberries</label><br>
                    <input type="radio" name="toppings" id="cream">
                    <label for="cream">Whipped cream</label>
                </fieldset>
                <pre><code><strong>&lt;fieldset&gt;
    &lt;legend&gt;Pancake Toppings&lt;/legend&gt;</strong>
    &lt;input type="radio" name="toppings" id="syrup"&gt;
    &lt;label for="syrup"&gt;Maple syrup&lt;/label&gt;&lt;br&gt;
    &lt;input type="radio" name="toppings" id="berries"&gt;
    &lt;label for="berries"&gt;Blueberries&lt;/label>&lt;br&gt;
    &lt;input type="radio" name="toppings" id="cream"&gt;
    &lt;label for="cream"&gt;Whipped cream&lt;/label&gt;
<strong>&lt;/fieldset&gt;</strong></code></pre>

                <h3>ARIA</h3>
                <p id="toppingsLabel">Pancake Toppings</p>
                <div role="radiogroup" aria-labelledby="toppingsLabel">
                  <input type="radio" name="toppings" id="syrup2">
                  <label for="syrup2">Maple syrup</label><br>
                  <input type="radio" name="toppings" id="berries2">
                  <label for="berries2">Blueberries</label><br>
                  <input type="radio" name="toppings" id="cream2">
                  <label for="cream2">Whipped cream</label>
                </div>
                <pre><code>&lt;p <strong>id="toppingsLabel"</strong>&gt;Pancake Toppings&lt;/p&gt;
&lt;div <strong>role="radiogroup" aria-labelledby="toppingsLabel"</strong>&gt;
    &lt;input type="radio" name="toppings" id="syrup"&gt;
    &lt;label for="syrup"&gt;Maple syrup&lt;/label&gt;&lt;br&gt;
    &lt;input type="radio" name="toppings" id="berries"&gt;
    &lt;label for="berries"&gt;Blueberries&lt;/label>&lt;br&gt;
    &lt;input type="radio" name="toppings" id="cream"&gt;
    &lt;label for="cream"&gt;Whipped cream&lt;/label&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology users browsing through a form will not hear group labels unless they are programmatically associated. Screen readers in forms mode will ignore any text that is not programmatically associated with form controls.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H71">H71: Providing a description for groups of form controls using fieldset and legend elements</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA16">ARIA16: Using aria-labelledby to provide a name for user interface controls</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA17">ARIA17: Using grouping roles to identify related form controls</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/forms/grouping/">W3: Grouping Controls</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>