---
layout: default
current: 13010305
criterion: 1301
checkpoint: 130103
css: checkbox
last-modified: March 11, 2026
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>If individual labels for controls in a group do not provide enough context to understand the purpose of the control, the controls are programmatically grouped.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The individual labels for controls in a group do not provide enough context to understand the purpose of the control, and the controls are not programmatically grouped.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <h3>Native HTML (Preferred Method)</h3>
                    <p>Use the <code>&lt;fieldset&gt;</code> and <code>&lt;legend&gt;</code> tags to group the controls.</p>
                    <ul>
                        <li>Enclose the entire group of controls in a <code>&lt;fieldset&gt;</code> element.</li>
                        <li>Place the group label inside a <code>&lt;legend&gt;</code> element as a child of the <code>&lt;fieldset&gt;</code> element.</li>
                    </ul>
                    <strong>OR</strong>
                    <h3>ARIA</h3>
                    <p>Use ARIA to group the controls.</p>
                    <ul>
                        <li>Create a parent element for the control group.</li>
                        <li>Add the <code>role="group"</code> attribute to the parent element.</li>
                        <li>Add an <code>id</code> attribute to the tag containing the group label text, and set it to a unique value.</li>
                        <li>Add an <code>aria-labelledby</code> attribute to the parent (group) element and point it to the <code>id</code> of the group label tag.</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Examples<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Native HTML (Preferred Method)</h3>
                    <fieldset>
                        <legend>Pancake Toppings</legend>
                        <label for="syrup"><input type="checkbox" name="toppings" id="syrup"> Maple syrup</label><br>
                        <label for="berries"><input type="checkbox" name="toppings" id="berries"> Blueberries</label><br>
                        <label for="cream"><input type="checkbox" name="toppings" id="cream"> Whipped cream</label>
                    </fieldset>
                    <pre><code><strong>&lt;fieldset&gt;</strong>
        &lt;legend&gt;Pancake Toppings&lt;/legend&gt;
        &lt;input type="checkbox" name="toppings" id="syrup"&gt;
        &lt;label for="syrup"&gt;Maple syrup&lt;/label&gt;&lt;br&gt;
        &lt;input type="checkbox" name="toppings" id="berries"&gt;
        &lt;label for="berries"&gt;Blueberries&lt;/label>&lt;br&gt;
        &lt;input type="checkbox" name="toppings" id="cream"&gt;
        &lt;label for="cream"&gt;Whipped cream&lt;/label&gt;
    <strong>&lt;/fieldset&gt;</strong></code></pre>

                    <h3>ARIA</h3>
                    <p id="toppingsLabel">Pancake Toppings</p>
                    <div role="group" aria-labelledby="toppingsLabel">
                      <label for="syrup2"><input type="checkbox" name="toppings" id="syrup2"> Maple syrup</label><br>
                      <label for="berries2"><input type="checkbox" name="toppings" id="berries2"> Blueberries</label><br>
                      <label for="cream2"><input type="checkbox" name="toppings" id="cream2"> Whipped cream</label>
                    </div>
                    <pre><code>&lt;p id="toppingsLabel"&gt;Pancake Toppings&lt;/p&gt;
    &lt;div <strong>role="group"</strong> aria-labelledby="toppingsLabel"&gt;
        &lt;input type="checkbox" name="toppings" id="syrup"&gt;
        &lt;label for="syrup"&gt;Maple syrup&lt;/label&gt;&lt;br&gt;
        &lt;input type="checkbox" name="toppings" id="berries"&gt;
        &lt;label for="berries"&gt;Blueberries&lt;/label>&lt;br&gt;
        &lt;input type="checkbox" name="toppings" id="cream"&gt;
        &lt;label for="cream"&gt;Whipped cream&lt;/label&gt;
    &lt;/div&gt;</code></pre>

                    <h3>Option group</h3>
                    <label for="pancakeToppings">Pancake Toppings</label>
                    <select id="pancakeToppings" name="pancakeToppings">
                        <optgroup label="Fruits">
                            <option value="1">Apples</option>
                            <option value="2">Bananas</option>
                            <option value="3">Blueberries</option>
                        </optgroup>
                        <optgroup label="Syrups">
                            <option value="4">Maple</option>
                            <option value="5">Blueberry</option>
                            <option value="6">Strawberry</option>
                        </optgroup>
                        <optgroup label="Extras">
                            <option value="7">Cinnamon</option>
                            <option value="8">Pecans</option>
                            <option value="9">Whipped Cream</option>
                        </optgroup>
                    </select>
                    <pre><code>&lt;label for="pancakeToppings">Pancake Toppings&lt;/label>
    &lt;select id="pancakeToppings" name="pancakeToppings">
        <strong>&lt;optgroup label="Fruits"&gt;</strong>
            &lt;option value="1">Apples&lt;/option&gt;
            &lt;option value="2">Bananas&lt;option&gt;
            &lt;option value="3">Blueberries&lt;option&gt;
        <strong>&lt;/optgroup&gt;
        &lt;optgroup label="Syrups"&gt;</strong>
            &lt;option value="4">Maple&lt;option&gt;
            &lt;option value="5">Blueberry&lt;option&gt;
            &lt;option value="6">Strawberry&lt;option&gt;
        <strong>&lt;/optgroup>
        &lt;optgroup label="Extras"&gt;</strong>
            &lt;option value="7">Cinnamon&lt;/option>
            &lt;option value="8">Pecans&lt;option&gt;
            &lt;option value="9">Whipped Cream&lt;option&gt;
        <strong>&lt;/optgroup&gt;</strong>
    &lt;/select&gt;</code></pre>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Grouped checkboxes:</strong><br>
                            File under <a href="{{ site.data.1301.1301[13010301].link | prepend: baseurl }}">{{ site.data.1301.1301[13010301].name }}.</a></li>
                        <li><strong>Grouped radio buttons:</strong><br>
                            File under <a href="{{ site.data.1301.1301[13010302].link | prepend: baseurl }}">{{ site.data.1301.1301[13010302].name }}.</a></li>
                        <li><strong>Grouped form controls:</strong><br>
                            File under <a href="{{ site.data.1301.1301[13010303].link | prepend: baseurl }}">{{ site.data.1301.1301[13010303].name }}.</a></li>
                        <li><strong>Grouped <code>&lt;select&gt;</code> options:</strong><br>
                            File under <a href="{{ site.data.1301.1301[13010304].link | prepend: baseurl }}">{{ site.data.1301.1301[13010304].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Visual Impairment:</strong> Assistive technology users browsing through a form will not hear group labels unless they are programmatically associated. Screen readers in forms mode will ignore any text that is not programmatically associated with form controls.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion 1.3.1: Info and Relationships</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H71">H71: Providing a description for groups of form controls using fieldset and legend elements</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA17">ARIA17: Using grouping roles to identify related form controls</a></li>
                        <li><a href="https://www.w3.org/WAI/tutorials/forms/grouping/">W3: Grouping Controls</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>