---
layout: default
current: 13010508
criterion: 1301
checkpoint: 130105
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1301.1301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1301.1301[page.criterion] %}
{% assign cp=site.data.1301.1301[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Only content that functions as lists are tagged as lists in a PDF document.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Content which does not function as a list is tagged as a list.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <h3>Adobe Acrobat Pro</h3>
                <ul>
                    <li>Select the <strong>Tags</strong> button in the navigation pane.</li>
                    <li>In the Accessibility tags panel, find and select the incorrectly tagged element.</li>
                    <li>Right-click the element or open the Options (...) menu and select <strong>Properties...</strong>.</li>
                    <li>From the Type drop-down, select the correct tag for the element.</li>
                    <li>Close the Object Properties dialog.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <img src="{{ baseurl }}/assets/images/13010508-pdf-obj-prop.png" style="max-width: 380px;" alt="Screenshot of Object Properties dialog in Acrobat with Type drop-down highlighted">
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Screen readers rely on accessibility tags in PDF documents to interpret the content for users.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.3.1: Info and Relationships</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F43">F43: Failure of Success Criterion 1.3.1 due to using structural markup in a way that does not represent relationships in the content</a></li>
                    <li><a href="https://helpx.adobe.com/acrobat/using/create-verify-pdf-accessibility.html">Adobe: Create and verify PDF accessibility (Acrobat Pro)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>