---
layout: default
current: 25020101
criterion: 2502
checkpoint: 250201
guideline: operable

---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2502.2502[page.current] %}
{% assign baseurl=site.data.2502.2502[page.base] %}
{% assign sc=site.data.2502.2502[page.criterion] %}
{% assign cp=site.data.2502.2502[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Single-pointer functionality doesn't use the down-event or it can be aborted or undone.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Irreversible action is executed on the down-even with no mechanism to undo it.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Execute the function on the up-event, <strong>OR</strong></li>
                    <li>Provide a mechanism to cancel the action before completion, <strong>OR</strong></li>
                    <li>Provide a mechanism to undo the action after completion, <strong>OR</strong></li>
                    <li>Reverse the action of the down-event with the up-event.</li>
                </ul>

                <p>The Javascript <code>click()</code> event activates on the up-event.</p>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Users can recover from something they didn’t mean to do.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F101">F101: Failure of Success Criterion 2.5.2 due to activating a control on the down-event</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G212">G212: Using native controls to ensure functionality is triggered on the up-event</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2502checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>