---
layout: default
current: 12090101
criterion: 1209
checkpoint: 120901
guideline: perceivable
aa
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1209.1209[page.current] %}
{% assign baseurl=site.data.1209.1209[page.base] %}
{% assign sc=site.data.1209.1209[page.criterion] %}
{% assign cp=site.data.1209.1209[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Live audio broadcasts must have a text equivalent.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The live audio broadcast does not have a text equivalent.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide a means to produce text alternatives that include all of the information presented in the audio.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People who are deaf, hard of hearing, or have difficulty understanding audio information for any reason, need to be able to access the same information provided in the audio broadcast.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion 1.2.9 Audio-only (Live)</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G150">G150: Providing text based alternatives for live audio-only content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G151">G151: Providing a link to a text transcript of a prepared statement or script if the script is followed</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G157">G157: Incorporating a live audio captioning service into a Web page</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/captions/">W3: Captions</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

     {% include checkpoints/1209checkpoints.html %}