---
layout: default
current: 33030101
root: WCAG 2.2
base: base
criterion: 3303
checkpoint: 330301
guideline: understandable
level: aa
---
{% assign currentpg=site.data.3303.3303[page.current] %}
{% assign baseurl=site.data.3303.3303[page.base] %}
{% assign sc=site.data.3303.3303[page.criterion] %}
{% assign cp=site.data.3303.3303[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Error messages indicate the expected data format.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Error message does not indicate the expected data format.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>
                <p>Include the expected data format in the error message.</p>

                <h3>PDF</h3>
                <p>Indicate the required format for the field.</p>
                <ol>
                    <li>Select <strong>All tools</strong> > <strong>Prepare a form</strong>.</li>
                    <li>Activate a form field to open the Properties dialog.</li>
                    <li>In the <strong>Format</strong> tab, select the appropriate option from the <strong>Select format category</strong> drop-down.</li>
                    <li>Select the appropriate options for the selection.</li>
                </ol>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                 <h3>HTML</h3>
                <div class="example">
                    <form>
                        <label for="email">Email 
                            <input id="email" type="email" aria-invalid="true" aria-describedby="err" value="myname@example">
                        </label>
                        <div id="err" style="color: red;">Please enter your email address in the format: yourname@example.com</div>
                    </form>
                </div>

                <h3>PDF</h3>
                <div class="example">
                    <img src="{{ baseurl }}/assets/images/33030101-pdf-1.png" style="max-width: 480px;" alt="Screenshot of Phone Number field in document and Text Field Properties dialog with Phone Number selected from the Special Options">
                </div>
                <div class="example">
                    <img src="{{ baseurl }}/assets/images/33030101-pdf-2.png" style="max-width: 480px;" alt="Screenshot of Adobe Acrobat alert message which reads: Invalid date/time; please ensure that the date/time exists. Field Birth Date should match format MM/DD/YYYY.">
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>People can address errors faster and with reduced effort.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G85">G85: Providing a text description when user input falls outside the required format or values</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">ARIA18: Using aria-alertdialog to Identify Errors</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF22">PDF22: Indicating when user input falls outside the required format or values in PDF forms</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3303checkpoints.html %}