---
layout: default
current: 33030103
criterion: 3303
checkpoint: 330301
guideline: understandable
a
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3303.3303[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3303.3303[page.criterion] %}
{% assign cp=site.data.3303.3303[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Error messages provide suggestions for correcting the error.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Error message does not provide suggestions for correcting the error.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide suggestions for correcting the error in the error message.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>HTML</h3>
                <div class="example">
                    <form>
                        <label for="username">Username 
                            <input id="username" type="text" aria-invalid="true" aria-describedby="err" value="John">
                        </label>
                        <div id="err" style="color: red;">The username is too short. It must be at least 10 characters and include an uppercase letter.</div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People can address errors faster and with reduced effort.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G84">G84: Providing a text description when the user provides information that is not in the list of allowed values</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G85">G85: Providing a text description when user input falls outside the required format or values</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G177">G177: Providing suggested correction text</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">ARIA18: Using aria-alertdialog to Identify Errors</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF22">PDF22: Indicating when user input falls outside the required format or values in PDF forms</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3303checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>