---
layout: default
current: 33030104
criterion: 3303
checkpoint: 330301
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3303.3303[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3303.3303[page.criterion] %}
{% assign cp=site.data.3303.3303[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>Previously entered data is redisplayed in input fields so the user can see what needs to be corrected.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Previously entered data is not redisplayed in input fields.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Redisplay previously entered data in the input fields.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <h3>HTML</h3>
                    <div class="example">
                        <form>
                            <label for="username">Username 
                                <input id="username" type="text" aria-invalid="true" aria-describedby="err" value="John" readonly>
                            </label>
                            <div id="err" style="color: red;">The username is too short. It must be at least 10 characters and include an uppercase letter.</div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>No error detection:</strong><br>
                            The form does not check for errors.</li>
                        <li><strong>Existence of errors:</strong><br>
                            File under <a href="{{ site.data.3301.3301[3301].link | prepend: baseurl }}">{{ site.data.3301.3301[3301].name }}.</a></li>
                        <li><strong>Programmatic association:</strong><br>
                            File under <a href="{{ site.data.1301.1301[1301].link | prepend: baseurl }}">{{ site.data.1301.1301[1301].name }}.</a></li>
                        <li><strong>Assistive technology notification:</strong><br>
                            File under <a href="{{ site.data.4103.4103[4103].link | prepend: baseurl }}">{{ site.data.4103.4103[4103].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blind/vision impaired:</strong> Users are aware of the nature of the error and how to crrect it.</li>
                        <li><strong>Mobility impaired:</strong> Users can reduce the number of times they need to change an input value.</li>
                        <li><strong>Cognitive Impairment:</strong> Users are able to understand how to successfully complete a form.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G84">G84: Providing a text description when the user provides information that is not in the list of allowed values</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G85">G85: Providing a text description when user input falls outside the required format or values</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G177">G177: Providing suggested correction text</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">ARIA18: Using aria-alertdialog to Identify Errors</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF22">PDF22: Indicating when user input falls outside the required format or values in PDF forms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/3303checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>