---
layout: default
current: 12050101
criterion: 1205
checkpoint: 120501
guideline: perceivable
a
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1205.1205[page.current] %}
{% assign baseurl=site.data.1205.1205[page.base] %}
{% assign sc=site.data.1205.1205[page.criterion] %}
{% assign cp=site.data.1205.1205[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Prerecorded synchronized media must have an audio description of the visual content.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The prerecorded synchronized media content does not have an audio alternative for the video portion.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide an audio description that includes all key visual elements necessary to understand the video content.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Audio Description Added to Spaces in Audio</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cQXD6jkv4hQ?si=XXoZK9b1Wl2tRgjM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <h3>Audio Description Integrated into Dialogue</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JUfmCvdzqbM?si=mnPUOBwbh70SKYoD" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Visually impaired users, or any users who have difficulty understanding moving content, need an alternate means of receiving the information.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.2.5 Audio Description (Prerecorded)</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G8">G8: Providing a movie with extended audio descriptions</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G78">G78: Providing a second, user-selectable, audio track that includes audio descriptions</a>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G173">G173: Providing a version of a movie with audio descriptions</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G203">G203: Using a static text alternative to describe a talking head video</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/av-content/">Audio Content and Video Content</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

     {% include checkpoints/1205checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>