---
layout: default
current: 22060101
root: WCAG 2.2
base: base
criterion: 2206
checkpoint: 220601
guideline: perceivable
level: a
---
{% assign currentpg=site.data.2206.2206[page.current] %}
{% assign baseurl=site.data.2206.2206[page.base] %}
{% assign sc=site.data.2206.2206[page.criterion] %}
{% assign cp=site.data.2206.2206[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>A warning is provided about the length of a time limit that could result in loss of data.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>The site has a time limit for inactivity which results in loss of data, but there is no warning informing the user of the length of time they have.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Provide a warning notifying the user of how much time they have before the site times out from inactivity.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <h3>Form with Warning</h3>
                <p>For security purposes, you will be logged out after 30 minutes of inactivity.</p>
                <form>
                    <label> First Name<br>
                        <input type="text" id="fName" autocomplete="given-name">
                    </label><br>
                    <label> Last Name<br>
                        <input type="text" id="lName" autocomplete="family-name">
                    </label>
                </form>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Users with various disabilities often need more time to complete activities.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2206checkpoints.html %}