---
layout: default
current: 31050101
criterion: 3105
checkpoint: 310501
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3105.3105[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3105.3105[page.criterion] %}
{% assign cp=site.data.3105.3105[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>When text requires more than a 9th grade reading level to understand, supplemental content explaining the text or an alternate version that is easier to read is provided.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>No supplemental content or alternate version is provided.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Provide an alternate version of the text content that is easier to read, <strong>OR</strong></li>
                    <li>Provide supplemental content such as explanatory graphics, audio, or text summary.</li>
                </ul>      
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <div class="example">
                    <h3>Scientific Report</h3>
                    <p>The Tyrolean ice mummy known as Ötzi presents some of the earliest direct evidence of tattooing in the human past. Despite decades of study, it remains unclear how the Iceman's tattoos were created and what tools and methods were used. Popular discussions of the Iceman describe his tattoos as having been made by incision, first cutting the skin and then rubbing in pigment from the surface. The authors review the scholarly literature on the Iceman's tattoos and summarize ethnographic, historic, and anthropological research on global patterns of tattooing to contextualize the Iceman's marks within pre-electric tattooing traditions. The results of recent experimental tattooing studies are then compared to the physical signature of the Iceman's marks to evaluate existing claims and provide informed hypotheses as to how those tattoos were created.</p>
                    <p><em>Grade Level: College Graduate</em></p>

                    <h3>Article</h3>
                    <p>An off-beat experiment has poked holes in a common assumption about Ötzi the Iceman’s tattoos.</p>

                    <p>Ötzi is a roughly 5,200-year-old mummy. His body was found in a mountain glacier along the border of Austria and Italy in 1991. That body is decorated with the world’s oldest known tattoos. There are 61 in total, including black lines and crosses on Ötzi’s left wrist, lower legs, lower back and chest.</p>

                    <p>Scientists had thought that Ötzi got his tattoos by rubbing charcoal ash into slices in his skin. Those cuts would have been made with a sharp stone tool. But until now, that idea had never been tested.</p>
                    <p><em>Grade Level: Sixth Grade</em></p>

                    <h3>Illustrations</h3>
                    <img src="{{ baseurl }}/assets/images/31050101-1.jpg" alt="Ötzi the Iceman’s tattooed left wrist"><br>
                    <p class="caption">Here, you can see tattooed lines on Ötzi the Iceman’s left wrist. These tattoos and others on his body could have been created by poking holes in the skin with a pigment-coated tool.<br>
                    <em>South Tyrol Museum of Archaeology, M. Samadelli/Eurac, G. Staschitz</em></p>

                    <img src="{{ baseurl }}/assets/images/31050101-2.jpg" alt="Bone awl"><br>
                    <p class="caption">A sharpened bone awl from Ötzi’s toolkit (pictured) should be examined for evidence of having been used in tattooing, investigators recommend.<br>
                    <em>Harald Wisthaler, South Tyrol Museum of Archaeology</em></p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>More people, especially those with cognitive disabilities, can understand the meaning of content.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G79">G79: Providing a spoken version of the text</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G86">G86: Providing a text summary that can be understood by people with lower secondary education level reading ability</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G103">G103: Providing visual illustrations, pictures, and symbols to help explain ideas, events, and processes</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G153">G153: Making the text easier to read</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G160">G160: Providing sign language versions of information, ideas, and processes that must be understood in order to use the content</a></li>
                    <li><a href="https://readabilityformulas.com/readability-scoring-system.php">Readability Scoring System</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include  checkpoints/3105checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>