---
layout: default
current: 32060101
criterion: 3206
checkpoint: 320601
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3206.3206[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3206.3206[page.criterion] %}
{% assign cp=site.data.3206.3206[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Help mechanisms which appear on multiple web pages appear in the same relative order on each page.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Help mechanisms which appear on multiple web pages do not appear in the same relative order on each page.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Place help mechanisms in the same relative order to other content on each page that they appear</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People who need help can find it more easily if it's in the same place.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G220">G220: Provide a contact-us link in a consistent location</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3206checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>