---
layout: default
current: 22020203
criterion: 2202
checkpoint: 220202
guideline: perceivable

css: carousel-tablist
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2202.2202[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2202.2202[page.criterion] %}
{% assign cp=site.data.2202.2202[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>The user is able to interact with other content while auto-updating content is paused.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The user is not able to interact with other content while the auto-updating content is paused.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Provide a mechanism to pause, stop, or hide the auto-updating content which allows the user to interact with other content while it is paused.</div>
    	</div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <p>This carousel pauses when the mouse is hovered over it. However, if this were the only means of pausing it, the user could not interact with the other content, because as soon as they removed the mouse hover, it would begin auto-advancing again.</p>
                {% include examples/carousel.html %}
                <script src="{{ baseurl }}/assets/js/carousel-tablist.js"></script>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Some people with cognitive disabilities and attention deficits cannot concentrate with continual movement.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G4">G4: Allowing the content to be paused and restarted from where it was paused</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G186">G186: Using a control in the Web page that stops moving, blinking, or auto-updating content</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2202checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>