---
layout: default
title: Failure - 2.4.3.1.6 When modal is closed, focus is not returned to trigger or next logical location
current: /a11y/failure/2403/24030106.html
root: WCAG 2.2
scurl: /a11y/sc/2403.html
sctitle: 2.4.3 Focus Order
cpurl: /a11y/checkpoint/240301.html
cptitle: 2.4.3.1 Focus Order
guideline: operable
level: a
w3scurl: https://www.w3.org/WAI/WCAG22/Understanding/focus-order
css: dialog
---
<div class="cpcontent {{ page.level }}link">
    <h1>{{ page.title }}</h1>
    <nav aria-label="Breadcrumb" class="breadcrumb {{ page.level }}lite">
        <ol>
            <li><a href="/a11y/index.html">{{ page.root }}</a></li>
            <li><a href="{{ page.scurl }}">{{ page.sctitle }}</a></li>
            <li><a href="{{ page.cpurl }}">{{ page.cptitle }}</a></li>
            <li><a href="{{ page.current }}" aria-current="page">{{ page.title }}</a> - Level {{ page.level | upcase }}</li> 
        </ol>
    </nav>

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>When modal is closed, focus returns to the trigger element or to the next logical location.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>When modal is closed, focus is not returned to the trigger element or to the next logical location.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>When the modal is closed, place the focus back on the trigger element. If this is not the most logical location, place the focus on the element that is.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <p>When this modal is closed, focus returns to the trigger button.</p>
                {% include examples/modal.html %}
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Navigating a site or application with only the keyboard will make sense.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ page.w3scurl }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G59">G59: Placing the interactive elements in an order that follows sequences and relationships within the content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H102">H102: Creating modal dialogs with the HTML dialog element</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include 2403checkpoints.html %}