---
layout: default
current: 24030106
criterion: 2403
checkpoint: 240301
css: dialog
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2403.2403[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2403.2403[page.criterion] %}
{% assign cp=site.data.2403.2403[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>When modal is closed, focus returns to the trigger element or to the next logical location.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>When modal is closed, focus is not returned to the trigger element or the next logical location.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>When the modal is closed, place the focus back on the trigger element. If this is not the most logical location, place the focus on the element that is.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <p>When this modal is closed, focus returns to the trigger button.</p>
                    {% include examples/modal.html %}
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Screen reader and screen magnifier users can become disoriented if tabbing moves the focus in an illogical order.</li>
                        <li><strong>Cognitive impairments:</strong> Users can become disoriented if tab focus is in an illogical order.</li>
                        <li><strong>Mobility impairments:</strong> Users may have a more difficult time navigating a page if tab focus is in an illogical order.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G59">G59: Placing the interactive elements in an order that follows sequences and relationships within the content</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H102">H102: Creating modal dialogs with the HTML dialog element</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>