---
layout: default
current: 24030107
criterion: 2403
checkpoint: 240301
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2403.2403[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2403.2403[page.criterion] %}
{% assign cp=site.data.2403.2403[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>When a page visually scrolls as a result of a scripted action, such as a "go to top" link, the focus also moves to the target location.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>Focus does not follow a scripted visual scroll.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Deliberately move the focus to the target location in addition to visually scrolling the page.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <p>These links visually scroll to the target area and also move the keyboard focus.</p>
                    <div id="section1" style="height:600px; padding:10px;">
                        <h3>Section 1</h3>
                        <p><a href="#section2">Click to smooth scroll to Section 2.</a></p>
                    </div>

                    <div id="section2" style="height:300px; padding:10px;">
                        <h3>Section 2</h3>
                        <a href="#section1">Click to smooth scroll to Section 1.</a>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Sequence of non-focusable content:</strong><br>
                            File under <a href="{{ site.data.1302.1302[1302].link | prepend: baseurl }}">{{ site.data.1302.1302[1302].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Vision Impairment:</strong> Screen reader and screen magnifier users can become disoriented if tabbing moves the focus in an illogical order.</li>
                        <li><strong>Cognitive Impairment:</strong> Users can become disoriented if tab focus is in an illogical order.</li>
                        <li><strong>Motor Impairment:</strong> Users may have a more difficult time navigating a page if tab focus is in an illogical order.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>