                <div class="example" style="width: 80%;">
                    <div aria-label="Breadcrumb Example">
                        <ol style="margin: 0; padding-left: 0; list-style: none;">
                            <li style="display: inline;"><a href="{{ baseurl }}/index.html">{{ root }}</a> |</li>
                            <li style="display: inline;"><a href="{{ sc.link }}">{{ sc.name }}</a> |</li>
                            <li style="display: inline;"><a href="{{ currentpg.link }}" aria-current="page" style="font-weight: 700; text-decoration: none;">{{ currentpg.name }}</a></li>
                        </ol>
                    </div>
                </div>