<button type="button" aria-expanded="true" aria-controls="header" class="collapsible-button expanded" id="collapsibleButton"></button>
<nav aria-label="collapsible header example" class="collapsible-header" id="header-content">
	<ul class="menubar-navigation" role="menubar" aria-label="Collapsible Header">
		<li role="none"><a role="menuitem" href="#">Home</a></li>
		<li role="none"><a role="menuitem" href="#">About</a></li>
		<li role="none"><a role="menuitem" href="#">Services</a></li>
		<li role="none"><a role="menuitem" href="#">Contact</a></li>
		<li role="none"><a role="menuitem" href="#">Log In</a></li>
	</ul>
</nav>

<script>
	var coll = document.getElementById("collapsibleButton");
	coll.addEventListener("click", toggleHeader());
	coll.addEventListener('keydown', function(event) {
		if (event.code == 'Enter') {
			toggleHeader();
		}
	});

	function toggleHeader() {
		coll.classList.toggle("expanded");
		if (coll.getAttribute("aria-expanded") == "true") {
			coll.setAttribute("aria-expanded") = "false";
		} else {
			coll.setAttribute("aria-expanded") = "true";
		}
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
			content.style.display = "none";
		} else {
			content.style.display = "block";
		}
	}
</script>
