                    <div class="dropdown">
                        <input type="text" placeholder="Select a language" readonly>
                        <ul class="options">
                            <li class="option">Arabic</li>
                            <li class="option">English</li>
                            <li class="option">French</li>
                            <li class="option">German</li>
                            <li class="option">Greek</li>
                            <li class="option">Italian</li>
                            <li class="option">Russian</li>
                            <li class="option">Spanish</li>
                        </ul>
                    </div>
                    <div class="circle one"></div>
                    <script src="{{ baseurl }}/assets/js/combobox-fail.js"></script>