<div class="page-container">
  <p>This dialog animates in unless you have animations turned off at system level. To change this setting:</p>
  <ul>
    <li>Windows 10: Settings > Ease of Access > Display > Show animations in Windows</li>
    <li>Windows 11: Settings > Accessibility > Visual Effects > Animation Effects</li>
    <li>macOS: System Preferences > Accessibility > Display > Reduce motion</li>
    <li>iOS: Settings > Accessibility > Motion</li>
    <li>Android 9+: Settings > Accessibility > Remove animations</li>
    <li>Firefox: about:config > ui.prefersReducedMotion</li>
  </ul>

  <button id="myDialogTrigger">Open dialog</button>

  <dialog id="myDialog" class="my-dialog">
    <form method="dialog">
      <p>Change your system animation settings to see the difference.</p>
      <button type="submit" id="myDialogClose">Close</button>
    </form>
  </dialog>
</div>
<script src="{{ baseurl }}/assets/js/dialog-animated.js"></script>