<div class="page-container">
  <p>Click the buttons below to trigger each element.</p>

  <button id="myDialogTrigger">Open dialog</button>

  <dialog id="myDialog" class="my-dialog">
    <form method="dialog">
      <p>
        This simple modal dialog is built with HTML5's &lt;dialog&gt;
        element and styled with CSS. Click the Close button below or press
        Esc to cancel.
      </p>
      <button type="submit">Close</button>
    </form>
  </dialog>
</div>
<script src="{{ baseurl }}/assets/js/dialog-animated.js"></script>