<dl class="faq">
  <dd>
    <div id="faq2_desc" class="desc">
      <ul>
        <li>Shave his belly with a rusty razor</li>
        <li>Put him in a long boat until he's sober</li>
        <li>Stick him in a scupper with a hosepipe bottom</li>
        <li>Put him in the bed with the captain's daughter</li>
      </ul>
      <p>...early in the morning.</p>
      <p>See <a href="#">Drunken Sailor Guidelines</a> for more information.</p>
    </div>
  </dd>
  <dt>
    <button type="button" aria-expanded="false" aria-controls="faq2_desc" id="disclosure_faq2">
      What will we do with a drunken sailor?
    </button>
  </dt>
  
</dl>