<dl class="faq">
  <dt>
    <button type="button" aria-expanded="false" aria-controls="faq1_desc">
      What will we do with a drunken sailor?
    </button>
  </dt>
  <dd>
    <div id="faq1_desc" class="desc">
      <ul>
        <li>Shave his belly with a rusty razor</li>
        <li>Put him in a long boat until he's sober</li>
        <li>Stick him in a scupper with a hosepipe bottom</li>
        <li>Put him in the bed with the captain's daughter</li>
      </ul>
      <p>...early in the morning.</p>
    </div>
  </dd>
</dl>
<script src="/a11y/assets/js/disclosureButton.js"></script>