  <nav aria-label="Example Menu">
  <ul id="exTest" class="disclosure-nav">
    <li>
      <button type="button" aria-expanded="true" aria-controls="id_about_menu">About</button>
      <ul id="id_about_menu">
        <li><a href="#">Company</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </li>
    <li>
      <button type="button" aria-expanded="true" aria-controls="id_services_menu">Services</button>
      <ul id="id_services_menu">
        <li><a href="#">Walrus Wrangling</a></li>
        <li><a href="#">Banana Breeding</a></li>
        <li><a href="#">Refrigerator Repair</a></li>
        <li><a href="#">Aquatic Tap Dance</a></li>
      </ul>
    </li>
    <li>
      <button type="button" aria-expanded="true" aria-controls="id_resources_menu">Resources</button>
      <ul id="id_resources_menu">
        <li><a href="#">Sea Mammal Guide</a></li>
        <li><a href="#">Tap Dance Tutorial</a></li>
        <li><a href="#">Clown School</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div id="page-content" class="disclosure-page-content" tabindex="-1" role="region" aria-label="sample page content">
  <h3 id="page-heading">
    Example Content
  </h3>
  <p>
    Sample content section.
    Activating a link above will update and navigate to this region.
  </p>
</div>