<p id="listName">Sortable List:</p>
<ol id="myList" class="demo" aria-labelledby="listName">
 	<li>
    	<button id="button1" class="handle" aria-labelledby="button1 item1">
      		<div class="offscreen">Reorder</div>
    	</button>
    	<span id="item1">Item 1</span>
  	</li>
  	<li>
    	<button id="button2" class="handle" aria-labelledby="button2 item2">
      		<div class="offscreen">Reorder</div>
    	</button>
    	<span id="item2">Item 2</span>
  	</li>
  	<li>
    	<button id="button3" class="handle" aria-labelledby="button3 item3">
      		<div class="offscreen">Reorder</div>
    	</button>
    	<span id="item3">Item 3</span>
  	</li>
  	<li>
    	<button id="button4" class="handle" aria-labelledby="button4 item4">
      		<div class="offscreen">Reorder</div>
    	</button>
    	<span id="item4">Item 4</span>
  	</li>
</ol>

<script src="/a11y/assets/js/dragon-drop.min.js"></script>
<script>
var myList = new DragonDrop(document.getElementById('myList'), {
    handle: '.handle',
});
</script>