<p>
  Choose upgrades for your transport capsule.
</p>
<div class="listbox-area">
  <div class="left-area">
    <span id="ms_av_l" class="listbox-label">
      Available upgrades:
    </span>
    <ul id="ms_imp_list"
        tabindex="0"
        role="listbox"
        aria-labelledby="ms_av_l"
        aria-multiselectable="true">
      <li id="ms_opt1"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Leather seats
      </li>
      <li id="ms_opt2"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Front seat warmers
      </li>
      <li id="ms_opt3"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Rear bucket seats
      </li>
      <li id="ms_opt4"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Rear seat warmers
      </li>
      <li id="ms_opt5"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Front sun roof
      </li>
      <li id="ms_opt6"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Rear sun roof
      </li>
      <li id="ms_opt7"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Cloaking capability
      </li>
      <li id="ms_opt8"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Food synthesizer
      </li>
      <li id="ms_opt9"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Advanced waste recycling system
      </li>
      <li id="ms_opt10"
          role="option"
          aria-selected="false">
        <span class="checkmark" aria-hidden="true"></span>
        Turbo vertical take-off capability
      </li>
    </ul>
    <button type="button"
            id="ex2-add"
            class="move-right-btn"
            aria-keyshortcuts="Alt+ArrowRight Enter"
            aria-disabled="true">
      <span class="checkmark" aria-hidden="true"></span>
      Add
    </button>
  </div>
  <div class="right-area">
    <span id="ms_ch_l" class="listbox-label">
      Upgrades you have chosen:
    </span>
    <ul id="ms_unimp_list"
        tabindex="0"
        role="listbox"
        aria-labelledby="ms_ch_l"
        aria-activedescendant=""
        aria-multiselectable="true">
    </ul>
    <button type="button"
            id="ex2-delete"
            class="move-left-btn"
            aria-keyshortcuts="Alt+ArrowLeft Delete"
            aria-disabled="true">
      <span class="checkmark" aria-hidden="true"></span>
      Remove
    </button>
  </div>
  <div class="offscreen">
    Last change:
    <span aria-live="polite" id="ms_live_region"></span>
  </div>
</div>
<script src="/a11y/assets/js/listbox.js"></script>
<script src="/a11y/assets/js/toolbar.js"></script>
<script src="/a11y/assets/js/listbox-rearrangeable.js"></script>