<script> 
   function goToSearch(theInput) {
    var searchSite = "https://" + theInput.value + "/"; 
    window.open(searchSite); 
   }

   function getRadioValue() {
    var ele = document.getElementsByName('searchEngine2');
 
    for (i = 0; i < ele.length; i++) {
      if (ele[i].checked) {
        window.alert(ele[i].value);
        //goToSearch(ele[i]);
        // return (ele[i].value);
      }
    }
</script>

<form name="search_form" id="search_form" action="" method="get">
  <p>Please select a search engine:</p> 
  <p> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="duckduckgo" value="duckduckgo.com"> <label for="duckduckgo" style="display: inline;">DuckDuckGo</label><br> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="brave" value="search.brave.com"> <label for="brave" style="display: inline;">Brave</label><br> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="ecosia" value="ecosia.org"> <label for="ecosia" style="display: inline;">Ecosia</label><br> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="gibiru" value="gibiru.com"> <label for="gibiru" style="display: inline;">Gibiru</label><br> 
  </p> 
</form>