<script> 
   function goToSearch(theInput) {
    var searchSite = "https://" + theInput.value + "/"; 
    window.open(searchSite); 
   }
</script>

<form name="search_form" id="search_form" action="" method="get">
  <p>Please select a search engine:</p> 
  <p> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="duckduckgo" value="duckduckgo.com"> <label for="duckduckgo">DuckDuckGo</label><br> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="brave" value="search.brave.com"> <label for="brave">Brave</label><br> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="ecosia" value="ecosia.org"> <label for="ecosia">Ecosia</label><br> 
    <input type="radio" onclick="goToSearch(this);" name="searchEngine" id="gibiru" value="gibiru.com"> <label for="gibiru">Gibiru</label><br> 
  </p> 
</form>