<table class="erow">
  <caption>Books I May or May Not Have Read</caption>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Year</th>
      <th>ISBN-13</th>
      <th>ISBN-10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Miguel De Cervantes</td>
      <td>The Ingenious Gentleman Don Quixote of La Mancha</td>
      <td>1605</td>
      <td>9783125798502</td>
      <td>3125798507</td>
    </tr>
    <tr>
      <td>Mary Shelley</td>
      <td>Frankenstein; or, The Modern Prometheus</td>
      <td>1818</td>
      <td>9781530278442</td>
      <td>1530278449</td>
    </tr>
    <tr>
      <td colspan="5">
        <button type="button" id="btnMSa" aria-expanded="false" onclick="toggle(this.id,'#MS01a,#MS02a,#MS03a');" aria-controls="MS01a MS02a MS03a">
          <svg xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
          3 more from Mary Shelley…
        </button>
      </td>
    </tr>
    <tr id="MS01a" class="hidden">
      <td>Mary Shelley</td>
      <td>Valperga: Or, the Life and Adventures of Castruccio, Prince of Lucca</td>
      <td>1823</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="MS02a" class="hidden">
      <td>Mary Shelley</td>
      <td>The Last Man</td>
      <td>1826</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="MS03a" class="hidden">
      <td>Mary Shelley</td>
      <td>The Fortunes of Perkin Warbeck, A Romance</td>
      <td>1830</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Herman Melville</td>
      <td>Moby-Dick; or, The Whale</td>
      <td>1851</td>
      <td>9781530697908</td>
      <td>1530697905</td>
    </tr>
    <tr>
      <td>Emma Dorothy Eliza Nevitte Southworth</td>
      <td>The Hidden Hand</td>
      <td>1888</td>
      <td>9780813512969</td>
      <td>0813512964</td>
    </tr>
    <tr>
      <td colspan="5">
        <button type="button" id="btnEDENSa" aria-expanded="false" onclick="toggle(this.id,'#EDENS01a,#EDENS02a,#EDENS03a,#EDENS04a,#EDENS05a');" aria-controls="EDENS01a EDENS02a EDENS03a EDENS04a EDENS05a">
          <svg xmlns="\http://www.w3.org/2000/svg&quot;" viewBox="0 0 80 80" focusable="false"><path d="M70.3 13.8L40 66.3 9.7 13.8z"></path></svg>
          5 more from Emma Dorothy Eliza Nevitte Southworth…
        </button>
      </td>
    </tr>
    <tr id="EDENS01a" class="hidden">
      <td>Emma Dorothy Eliza Nevitte Southworth</td>
      <td>A Leap in the Dark: A Novel</td>
      <td>1889</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="EDENS02a" class="hidden">
      <td>Emma Dorothy Eliza Nevitte Southworth</td>
      <td>Unknown; or the Mystery of Raven Rocks</td>
      <td>1889</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="EDENS03a" class="hidden">
      <td>Emma Dorothy Eliza Nevitte Southworth</td>
      <td>The Lost Lady of Lone</td>
      <td>1890</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="EDENS04a" class="hidden">
      <td>Emma Dorothy Eliza Nevitte Southworth</td>
      <td>The Rejected Bride</td>
      <td>1894</td>
      <td></td>
      <td></td>
    </tr>
    <tr id="EDENS05a" class="hidden">
      <td>Emma Dorothy Eliza Nevitte Southworth</td>
      <td>Gertrude Haddon</td>
      <td>1894</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>F. Scott Fitzgerald</td>
      <td>The Great Gatsby</td>
      <td>1925</td>
      <td>9780743273565</td>
      <td>0743273567</td>
    </tr>
    <tr>
      <td>George Orwell</td>
      <td>Nineteen Eighty-Four</td>
      <td>1948</td>
      <td>9780451524935</td>
      <td>0451524934</td>
    </tr>
  </tbody>
</table>
<script src="{{ baseurl }}/assets/js/table-expandable.js"></script>