---
layout: default
current: 23020101
criterion: 2302
checkpoint: 230201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2302.2302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2302.2302[page.criterion] %}
{% assign cp=site.data.2302.2302[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Content does not flash more than 3 times per second.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Content flashes more than 3 times per second.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Remove the flashing content, <strong>OR</strong></li>
                    <li>Reduce the flashing to less than 3 flashes per second.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Flashing content can cause migraines, dizziness, nausea, and seizures.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G19">G19: Ensuring that no component of the content flashes more than three times in any 1-second period</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>