---
layout: default
current: 33080101
criterion: 3308
checkpoint: 330801
guideline: understandable
a
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3308.3308[page.current] %}
{% assign baseurl=site.data.3308.3308[page.base] %}
{% assign sc=site.data.3308.3308[page.criterion] %}
{% assign cp=site.data.3308.3308[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>A cognitive function test is not required for authentication unless an alternative or assistive mechanism is provided or the test involves object recognition or personal non-text content.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>A cognitive function test is required for authentication, but an alternative or assistive mechanism is not provided and the test does not involve object recognition or personal non-text content.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>
                <p>Provide one of the following:</p>

                <ul>
                    <li>An alternative authentication method that is not a cognitive function test, <strong>OR</strong></li>
                    <li>A mechanism to assist the user in completing the cognitive function test.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <ul>
                    <li>Allowing for auto-filling of username and password fields</li>
                    <li>Allowing for copy and paste into fields</li>
                    <li>Allowing for auto-fill or copy and paste for two-factor authentication codes</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Some people with cognitive disabilities cannot solve puzzles, memorize a username and password, or retype one-time passcodes.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F109">F109: Failure of Success Criterion 3.3.8 and 3.3.9 due to preventing password or code re-entry in the same format</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G218">G218: Email link authentication</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H100">H100: Providing properly marked up email and password inputs</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/3308checkpoints.html %}