---
layout: default
title: Failure - F2.2.2.b.a Automatic carousel has no means to pause, stop, hide or control the frequency
current: /a11y/failure/222/f222ba.html
root: WCAG 2.2
scurl: /a11y/sc/222.html
sctitle: 2.2.2 Pause, Stop, Hide
cpurl: /a11y/checkpoint/222a.html
cptitle: 2.2.2.b Automatically Updating Content
guideline: operable
level: a
w3scurl: https://www.w3.org/WAI/WCAG22/Understanding/pause-stop-hide
css: carousel-tablist
---
<div class="cpcontent {{ page.level }}link">
    <h1>{{ page.title }}</h1>
    <nav aria-label="Breadcrumb" class="breadcrumb {{ page.level }}lite">
        <ol>
            <li><a href="/a11y/index.html">{{ page.root }}</a></li>
            <li><a href="{{ page.scurl }}">{{ page.sctitle }}</a></li>
            <li><a href="{{ page.cpurl }}">{{ page.cptitle }}</a></li>
            <li><a href="{{ page.current }}" aria-current="page">{{ page.title }}</a> - Level {{ page.level | upcase }}</li> 
        </ol>
    </nav>

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>The user is able to pause, stop, hide or control the frequency of automatically updating content.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>Automatically advancing carousel has no means to pause, stop, hide, or control the frequency of the slide change.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Provide a mechanism to pause, stop, or hide the slide advancement, <strong>OR</strong>
                        <ul>
                            <li><em>Note: The mechanism must allow the user to interact with other content while it is paused. Therefore, pausing on focus does not meet this criterion.</em></li>
                        </ul>
                    </li>
                    <li>Provide a mechanism to control the frequency of the slide advancement.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <p>This carousel has a pause button that stops the auto-play and tab buttons to manually control the slide display.</p>
                {% include examples/carousel.html %}
                <script src="/a11y/assets/js/carousel-tablist.js"></script>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Some people with cognitive disabilities and attention deficits cannot concentrate with continual movement.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ page.w3scurl }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G4">G4: Allowing the content to be paused and restarted from where it was paused</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G186">G186: Using a control in the Web page that stops moving, blinking, or auto-updating content</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include 222checkpoints.html %}