---
layout: default
current: 21010201
criterion: 2101
checkpoint: 210102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2101.2101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2101.2101[page.criterion] %}
{% assign cp=site.data.2101.2101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>All functionality is available through the keyboard interface.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>An action cannot be performed using only a keyboard, because the shortcut conflicts with an existing user agent or assistive technology shortcut, and there is no equivalent means of achieving the action.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the shortcut to one that does not conflict with existing user agent or assistive technology shortcuts.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <p>Press <kbd>Shift</kbd> + <kbd>Alt</kbd> + <kbd>S</kbd> to open and close the search.</p>
                <div id="searchField" style="display:none;">
                    <label>
                        <input type="search"> <button>Search</button>
                    </label>
                </div>
                <script src="{{ baseurl }}/assets/js/shortcut.js"></script>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology provides users with shortcuts for browsing the web with the keyboard. These shortcuts will override any conflicting shortcuts on a web page.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G202">G202: Ensuring keyboard control for all functionality</a></li>
                    <li><a href="https://webaim.org/techniques/keyboard/accesskey">WebAIM: Keyboard Accessibility: Accesskey</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>