---
layout: default
current: 21010105
criterion: 2101
checkpoint: 210101
guideline: perceivable

css: dialog
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2101.2101[page.current] %}
{% assign baseurl=site.data.2101.2101[page.base] %}
{% assign sc=site.data.2101.2101[page.criterion] %}
{% assign cp=site.data.2101.2101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>All functionality is available through the keyboard interface.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The modal cannot be dismissed using only the keyboard.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Ensure any close buttons in the modal can be activated with the keyboard.</li>
                    <li>Enable the use of the <kbd>Esc</kbd> key to close the modal.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Modal with Close Button and Esc Functionality</h3>
                <p>This modal has two methods to close it using only the keyboard.</p>
                
                <button type="button" onclick="openDialog('dialog1', this)">Open Modal</button>
                <div id="dialog_layer" class="dialogs">
                    <div role="dialog" id="dialog1" aria-labelledby="dialog1_label" aria-modal="true" class="hidden">
                        <h2 id="dialog1_label" class="dialog_label">Example Modal</h2>
                        <p>You can close this with the keyboard.</p>
                        <button type="button" onclick="closeDialog(this)">Close</button>
                    </div>
                </div>
                <script src="{{ baseurl }}/assets/js/dialog.js"></script>
                <script src="{{ baseurl }}/assets/js/utils.js"></script>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Some users with vision disabilities or hand tremors are unable to use a mouse well or at all.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G202">G202: Ensuring keyboard control for all functionality</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>