---
layout: default
current: 21010107
criterion: 2101
checkpoint: 210101
guideline: perceivable

css: dragdrop
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2101.2101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2101.2101[page.criterion] %}
{% assign cp=site.data.2101.2101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>All functionality is available through the keyboard interface.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>Drag and drop feature does not have keyboard functionality.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Ensure that the drag and drop functionality can be controlled with the keyboard, <strong>OR</strong></li>
                    <li>Provide an alternate mechanism that can be controlled with the keyboard.</li>
                </ul>      
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Drag and Drop</h3>
                <p>Drag and drop the artists under the heading they belong. See keyboard instructions.</p>
                <script src="{{ baseurl }}/assets/js/dragdrop.js" defer></script>
                <div id="dragdrop">
                    <h2 id="Favh">Favorite Artists</h2>
                    <ul id="Fav" class="ddUl">
                        <li class="draggable">Frida Kahlo</li>
                        <li class="draggable">Vincent Van Gogh</li>
                        <li class="draggable">Francis Bacon</li>
                        <li class="draggable">Pablo Picasso</li>
                        <li class="draggable">Gustav Klimt</li>
                        <li class="draggable">Lucian Freud</li>
                    </ul>

                    <h2 id="Tolh">Tolerable Artists</h2>
                    <ul id="Tol" class="ddUl">
                        <li class="empty">None</li>
                    </ul>

                    <h2 id="Rejh">Rejected Artists</h2>
                    <ul id="Rej" class="ddUl">
                        <li class="empty">None</li>
                    </ul>
                </div>

                <h2 id="kbdinstructions">Keyboard Instructions</h2>
                <ul class="instructions">
                    <li>Use the <kbd>Tab</kbd> to move to the artist you want to move.</li>
                    <li>Select the item you want to move with the <kbd>Spacebar</kbd>.</li>
                    <li>Use the <kbd>Up</kbd> and <kbd>Down</kbd> arrow keys to select a target in the context menu.</li>
                    <li>Press <kbd>Enter</kbd> to move the artist to the target list.</li>
                </ul>

            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Some users with vision disabilities or hand tremors are unable to use a mouse well or at all.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G202">G202: Ensuring keyboard control for all functionality</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>