---
layout: default
current: 21010106
root: WCAG 2.2
base: base
criterion: 2101
checkpoint: 210101
guideline: perceivable

---
{% assign currentpg=site.data.2101.2101[page.current] %}
{% assign baseurl=site.data.2101.2101[page.base] %}
{% assign sc=site.data.2101.2101[page.criterion] %}
{% assign cp=site.data.2101.2101[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>All functionality is available through the keyboard interface.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>A server-side image map is used, but there are no text links for keyboard users.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Add an alternate list of text links containing all the same links in the image map.</div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Examples</h2>
            <div>
                <h3>Server-Side Image Map</h3>
                <a href="#"><img ismap src="{{ baseurl }}/assets/images/1101016-map_640.png" alt="World Map"></a>
                <ul>
                    <li><a href="#">North America</a></li>
                    <li><a href="#">South America</a></li>
                    <li>etc.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Some users with vision disabilities or hand tremors are unable to use a mouse well or at all.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G202">G202: Ensuring keyboard control for all functionality</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2101checkpoints.html %}