---
layout: default
current: 41020116
criterion: 4102
checkpoint: 410201
guideline: understandable

css: checkbox
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>If a control functions as a checkbox, it has a checked state.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>A checkbox does not have a checked state.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>
                <ul>
                    <li>Use the native <code>&lt;input type="checkbox"&gt;</code> mark-up to create the checkbox, <strong>OR</strong></li>
                    <li>Use the <code>aria-checked</code> attribute on the custom checkbox element.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Native HTML</h3>
                <div class="example">
                    <label><input type="checkbox"> Soup</label>
                    <label><input type="checkbox" checked> Salad</label>

                    <pre><code>&lt;input type="checkbox"&gt; Soup&lt;/label&gt;
&lt;input type="checkbox" checked&gt; Salad&lt;/label&gt;</code></pre>
                </div>

                <h3>Custom Checkbox</h3>
                <div class="example">
                    
                    <div class="cbExample">
                        <div role="checkbox" tabindex="0" aria-checked="false">Subscribe to the mailing list
                            <span id="ccbChecked1" class="ccbCheckbox ccbChecked" style="display: none;"></span>
                            <span id="ccbNotChecked1" class="ccbCheckbox ccbNotChecked" style="display: block;"></span>
                        </div>
                    </div>
                    <script src="{{ baseurl }}/assets/js/checkbox.js"></script>

                    <pre><code>&lt;div role="checkbox" tabindex="0" <strong>aria-checked="false"</strong>&gt; Subscribe to the mailing list</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li><strong>Hidden</strong>:<br>
                        <code>&lt;div style="display:none;"&gt;...&lt;/div&gt;</code><br>
                        Does not appear in accessibility tree</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G108">G108: Using markup features to expose the name and role, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF12">PDF12: Providing name, role, value information for form fields in PDF documents</a></li>
                    <li><a href="https://www.w3.org/WAI/standards-guidelines/act/rules/4e8ab6/proposed/">Element with role attribute has required states and properties</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>