---
layout: default
current: 41020220
criterion: 4102
checkpoint: 410202
guideline: understandable

---
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.4102.4102[page.base] %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>Elements are contained within any required parent role.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>An element requires a particular parent role, but the parent role is missing.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>
                Ensure that any required parent roles are present. 
                <ul>
                    <li><code>role="cell"</code> must be a child of <code>role="row"</code></li>
                    <li><code>role="gridcell"</code> must be a child of <code>role="row"</code></li>
                    <li><code>role="menuitem"</code>, <code>role="menuitemcheckbox"</code>, and <code>role="menuitemradio"</code> must be a child of <code>role="menu"</code> or <code>role="menubar"</code></li>
                    <li><code>role="option"</code> must be a child of <code>role="listbox"</code></li>
                    <li><code>role="radio"</code> must be a child of <code>role="radiogroup"</code></li>
                    <li><code>role="tab"</code> must be a child of <code>role="tablist"</code></li>
                    <li><code>role="treeitem"</code> must be a child of <code>role="tree"</code></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>ARIA</h3>
                <div class="example">
                    <ul id="myaccount" role="menu" aria-label="My Account">
                        <li role="none"><a role="menuitem" href="#" tabindex="0">Profile</a></li>
                        <li role="none"><a role="menuitem" href="#" tabindex="0">Preferences </a></li>
                    </ul>

                    <pre><code>&lt;ul id="myaccount" <strong>role="menu"</strong> aria-label="My Account"&gt;
    &lt;li role="none"&gt;&lt;a role="menuitem" href="#" tabindex="0"&gt;Profile&lt;/a&gt;&lt;/li&gt;
    &lt;li role="none"&gt;&lt;a role="menuitem" href="#" tabindex="0"&gt;Preferences&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/standards-guidelines/act/rules/674b10/proposed/">Role attribute has valid value</a></li>
                    <li><a href="https://www.w3.org/TR/wai-aria-1.2/#role_definitions">WAI-ARIA roles</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}