---
layout: default
current: 41020212
criterion: 4102
checkpoint: 410202
guideline: understandable

css: menubar
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>Menus have all appropriate roles and attributes.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>A menu does not have all the appropriate roles or attributes.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>
                <h3>Menu bar</h3>
                <ul>
                    <li>Use the "menubar" role on the menu bar (<code>&lt;ul&gt;</code>) element.</li>
                    <li>Use <code>aria-label</code> or another method to give the menu bar an accessible name.</li>
                    <li>Use the "none" role on each <code>&lt;li&gt;</code> element, because the parent element is a menu, not a list.</li>
                    <li>Use the "menuitem" role on each menu item (<code>&lt;a</code>) element.</li>
                    <li>Use <code>tabindex="-1"</code> on each menu item element to allow it to have keyboard focus without being part of the tab sequence.</li>
                    <li>Use <code>tabindex="0"</code> on the first menu item to include it in the tab sequence.</li>
                    <li>Use <code>aria-current="page"</code> on the menu item element that corresponds to the current page.</li>
                    <li>Use <code>aria-haspopup="true"</code> on any menu item element that has a submenu.</li>
                    <li>Use <code>aria-expanded</code> on any menu item element that has a submenu.
                        <ul>
                            <li>If the submenu is closed, set it to <code>aria-expanded="false"</code>.</li>
                            <li>If the submenu is open, set it to <code>aria-expanded="true"</code>.</li>
                        </ul>
                    </li>
                </ul>

                <h3>Submenu</h3>
                <ul>
                    <li>Use the "menu" role on each submenu container (<code>&lt;ul&gt;</code>) element.</li>
                    <li>Use <code>aria-label</code> or another method to give the submenu an accessible name.</li>
                    <li>Use the "none" role on each <code>&lt;li&gt;</code> element, because the parent element is a menu, not a list.</li>
                    <li>Use the "menuitem" role on each menu item (<code>&lt;a</code>) element.</li>
                    <li>Use <code>tabindex="-1"</code> on each menu item element to allow it to have keyboard focus without being part of the tab sequence.</li>
                    <li>Use <code>aria-haspopup="true"</code> on any menu item element that has a submenu.</li>
                    <li>Use <code>aria-expanded</code> on any menu item element that has a submenu.
                        <ul>
                            <li>If the submenu is closed, set it to <code>aria-expanded="false"</code>.</li>
                            <li>If the submenu is open, set it to <code>aria-expanded="true"</code>.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Navigation menubar</h3>
                <div class="example">
                    {% include examples/menubar.html %}
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li><strong>Role of "none"</strong>:<br>
                        <code>&lt;div role="none"&gt;</code><br>
                        Does not appear in accessibility tree</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA14">ARIA14: Using aria-label to provide an invisible label where a visible label cannot be used</a></li>
                    <li><a href="https://www.w3.org/WAI/standards-guidelines/act/rules/674b10/proposed/">Role attribute has valid value</a></li>
                    <li><a href="https://www.w3.org/TR/wai-aria-1.2/#role_definitions">WAI-ARIA roles</a></li>
                    <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/listbox/">W3: Listbox Pattern</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>