---
layout: default
current: 41020206
criterion: 4102
checkpoint: 410202
guideline: understandable

css: accordion
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row block">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>Custom breadcrumb controls have all appropriate roles and attributes.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>A custom breadcrumb control does not have all the appropriate roles or attributes.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>Assign the appropriate roles and attributes:
                <ul>
                    <li>Use the "navigation" role on the breadcrumb region (<code>&lt;nav&gt;</code> or <code>role="navigation</code>).</li>
                    <li>Use <code>aria-label</code> on the breadcrumb region to give it an accessible name.</li>
                    <li>Use the <code>aria-current="page"</code> property on the link to the current page.</li>
                </ul>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <div class="example">
                    {% include examples/breadcrumb.html %}

                    <pre><code><strong>&lt;nav aria-label="Breadcrumb"&gt;</strong>
...
&lt;a href="#" <strong>aria-current="page"</strong>&gt;4.1.2.b.f Breadcrumb is missing appropriate roles and/or attributes&lt;/a&gt;</code></pre>
                </div>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li><strong>Native HTML controls</strong>:<br>
                        <code>&lt;input type="checkbox"&gt; Subscribe to the mailing list</code><br>
                        File under <a href="/a11y/checkpoint/410201.html">4.1.2.1 Name, Role, Value</a></li>
                    <li><strong>Custom controls that function as native HTML controls</strong>:<br>
                        <code>&lt;div role="checkbox" tabindex="0" aria-checked="false"&gt;Subscribe to the mailing list</code><br>
                        File under <a href="/a11y/checkpoint/410201.html">4.1.2.1 Name, Role, Value</a></li>
                    <li><strong>Hidden</strong>:<br>
                        <code>&lt;div style="display:none;"&gt;</code><br>
                        Does not appear in accessibility tree</li>
                    <li><strong>Role of "none"</strong>:<br>
                        <code>&lt;div role="none"&gt;</code><br>
                        Does not appear in accessibility tree</li>
                </ul>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA14">ARIA14: Using aria-label to provide an invisible label where a visible label cannot be used</a></li>
                    <li><a href="https://www.w3.org/WAI/standards-guidelines/act/rules/674b10/proposed/">Role attribute has valid value</a></li>
                    <li><a href="https://www.w3.org/TR/wai-aria-1.2/#role_definitions">WAI-ARIA roles</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-current">MDN: aria-current</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>