---
layout: default
current: 41020217
criterion: 4102
checkpoint: 410202
last-modified: 23 June 2025
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
            <div class="row block">
                <h2 class="{{ sc.level }}">Expected Result</h2>
                <div>Elements are contained within any required parent element or role.</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Actual Result</h2>
                <div>An element requires a particular parent element or role, but the parent is missing.</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Solution</h2>
                <div>
                    <h3>HTML</h3>
                    <p>Ensure that any required parent elements are present.</p>
                    <ul>
                        <li><code>&lt;area&gt;</code> must be the descendent of <code>&lt;map&gt;</code>, but it doesn't have to be a direct child.</li>
                        <li><code>&lt;caption&gt;</code> must be the first descendent of <code>&lt;table&gt;</code>.</li>
                        <li><code>&lt;col&gt;</code> must be a child of <code>&lt;colgroup&gt;</code>.</li>
                        <li><code>&lt;colgroup&gt;</code> must be a child of <code>&lt;table&gt;</code>. It must appear after any <code>&lt;caption&gt;</code> but before any <code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code>, <code>&lt;tfoot&gt;</code>, or <code>&lt;tr&gt;</code>.</li>
                        <li><code>&lt;dd&gt;</code> must be a child of <code>&lt;dl&gt;</code> (or a <code>&lt;div&gt;</code> that is a child of a <code>&lt;dl&gt;</code>).</li>
                        <li><code>&lt;dt&gt;</code> must be a child of <code>&lt;dl&gt;</code> (or a <code>&lt;div&gt;</code> that is a child of a <code>&lt;dl&gt;</code>).</li>
                        <li><code>&lt;figcaption&gt;</code> must be the first or last child of <code>&lt;figure&gt;</code>.</li>
                        <li><code>&lt;head&gt;</code> must be the first child of <code>&lt;html&gt;</code>.</li>
                        <li><code>&lt;legend&gt;</code> must be the first child of <code>&lt;fieldset&gt;</code> or a child of <code>&lt;optgroup&gt;</code>.</li>
                        <li><code>&lt;li&gt;</code> must be a child of <code>&lt;ul&gt;</code>, <code>&lt;ol&gt;</code>, or <code>&lt;menu&gt;</code>.</li>
                        <li><code>&lt;optgroup&gt;</code> must be a child of <code>&lt;select&gt;</code>.</li>
                        <li><code>&lt;option&gt;</code> must be a child of <code>&lt;select&gt;</code>, <code>&lt;optgroup&gt;</code>, or <code>&lt;datalist&gt;</code>.</li>
                        <li><code>&lt;summary&gt;</code> must be a child of <code>&lt;details&gt;</code>.</li>
                        <li><code>&lt;tbody&gt;</code> must be a child of <code>&lt;table&gt;</code>. It must be after any <code>&lt;caption&gt;</code>, <code>&lt;colgroup&gt;</code>, or <code>&lt;thead&gt;</code>.</li>
                        <li><code>&lt;td&gt;</code> must be a child of <code>&lt;tr&gt;</code>.</li>
                        <li><code>&lt;tfoot&gt;</code> must be a child of <code>&lt;table&gt;</code>. It must appear after any <code>&lt;caption&gt;</code>, <code>&lt;colgroup&gt;</code>, <code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code>, or <code>&lt;tr&gt;</code>.</li>
                        <li><code>&lt;th&gt;</code> must be a child of <code>&lt;tr&gt;</code>.</li>
                        <li><code>&lt;thead&gt;</code> must be a child of <code>&lt;table&gt;</code>. It must appear after any <code>&lt;caption&gt;</code> or <code>&lt;colgroup&gt;</code> but before any <code>&lt;tbody&gt;</code>, <code>&lt;tfoot&gt;</code>, or <code>&lt;tr&gt;</code>.</li>
                        <li><code>&lt;title&gt;</code> must be a child of <code>&lt;head&gt;</code>. Only one <code>&lt;title&gt;</code> is permitted.</li>
                        <li><code>&lt;tr&gt;</code> must be a child of <code>&lt;table&gt;</code> if the <code>&lt;table&gt;</code> has no <code>&lt;tbody&gt;</code>. In this case, it must appear after any <code>&lt;caption&gt;</code>, <code>&lt;colgroup&gt;</code>, or <code>&lt;thead&gt;</code>. Otherwise, it must be a child of <code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code>, or <code>&lt;tfoot&gt;</code>.</li>
                        <li><code>&lt;track&gt;</code> must be a child of <code>&lt;audio&gt;</code> or <code>&lt;video&gt;</code>.</li>
                    </ul>

                    <h3>ARIA</h3>
                    <p>Ensure that any required parent roles are present.</p>
                    <ul>
                        <li><code>caption</code> must be a child of <code>figure</code>, <code>grid</code>, <code>table</code>, or <code>treegrid</code>.</li>
                        <li><code>cell</code> must be a child of <code>row</code>.</li>
                        <li><code>columnheader</code> must be a child of <code>row</code>.</li>
                        <li><code>gridcell</code> must be a child of <code>row</code>.</li>
                        <li><code>listitem</code> must be a child of <code>directory</code> or <code>list</code>.</li>
                        <li><code>menuitem</code> must be a child of <code>group</code>, <code>menu</code>, or <code>menubar</code>.</li>
                        <li><code>menuitemcheckbox</code> must be a child of <code>group</code>, <code>menu</code>, or <code>menubar</code>.</li>
                        <li><code>menuitemradio</code> must be a child of <code>group</code>, <code>menu</code>, or <code>menubar</code>.</li>
                        <li><code>option</code> must be a child of <code>group</code> or <code>listbox</code>.</li>
                        <li><code>row</code> must be a child of <code>grid</code>, <code>rowgroup</code>, <code>table</code>, or <code>treegrid</code>.</li>
                        <li><code>rowgroup</code> must be a child of <code>grid</code>, <code>table</code>, or <code>treegrid</code>.</li>
                        <li><code>rowheader</code> must be a child of <code>row</code>.</li>
                        <li><code>tab</code> must be a child of <code>tablist</code>.</li>
                        <li><code>treeitem</code> must be a child of <code>group</code> or <code>tree</code>.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                        
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>List</h3>
                    <p>In this example, each <code>&lt;li&gt;</code> is a child of the <code>&lt;ul&gt;</code>.</p>
                    <div class="example">
                        <p>Types of paint</p>
                        <ul>
                            <li>Watercolor</li>
                            <li>Acrylic</li>
                            <li>Oil</li>
                        </ul>

                        <pre><code>&lt;p&gt;Types of paint&lt;/p&gt;
    <strong>&lt;ul&gt;</strong>
        &lt;li&gt;Watercolor&lt;/li&gt;
        &lt;li&gt;Acrylic&lt;/li&gt;
        &lt;li&gt;Oil&lt;/li&gt;
    <strong>&lt;/ul&gt;</strong></code></pre>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <p>The following items are not applicable to this failure:</p>
                    <ul>
                        <li><strong>Role of "none"</strong>:<br>
                            <code>&lt;li role="none"&gt;</code><br>
                            Does not appear in accessibility tree</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Vision Impairment:</strong> Programmatic roles enable compatibility with assistive technology such as screen readers and screen magnifiers.</li>
                        <li><strong>Motor Impairment:</strong> Programmatic roles enable compatibility with assistive technology such as speech recognition software.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H88">H88: Using HTML according to spec</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements">MDN: HTML elements reference</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria/#introroles">WAI-ARIA Roles</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>