---
layout: default
current: 41020316
criterion: 4102
checkpoint: 410203
css: table-sortable
last-modified: 10 June 2025
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
            <div class="row block">
                <h2 class="{{ sc.level }}">Expected Result</h2>
                <div>Sortable table headers communicate the sort state to assistive technology.</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Actual Result</h2>
                <div>A sortable table header does not communicate the sort state to assistive technology</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Solution</h2>
                <div>
                    <ul>
                        <li>Use <code>aria-sort</code> on the sortable table header.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3></h3>
                    <p>This example does not communicate the sort state to assistive technology.</p>
                    <ul>
                        <li>NVDA/Chrome: ""</li>
                    </ul>
                    <div class="example">

                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3></h3>
                    <p>This example uses <code>aria-sort</code> to communicate the expanded state.</p>
                    <ul>
                        <li>NVDA/Chrome (on focus): ""</li>
                        <li>NVDA/Chrome (on change): ""</li>
                    </ul>
                    <div class="example">
                        {% include examples/table-sortable.html %}

                        <pre><code></code></pre>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <p>The following items are not applicable to this failure:</p>
                    <ul>
                        <li><strong>Role of "none"</strong>:<br>
                            <code>&lt;div role="none"&gt;</code><br>
                            Does not appear in accessibility tree</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Vision Impairment:</strong> Properties enable compatibility with assistive technology such as screen readers and screen magnifiers.</li>
                        <li><strong>Motor Impairment:</strong> Properties enable compatibility with assistive technology such as speech recognition software.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria/#aria-sort">WAI-ARIA: aria-sort property</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Attributes/aria-sort">MDN: ARIA: aria-sort attribute</a></li>
                        <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/table/examples/sortable-table/">WAI-ARIA: Sortable Table Example</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>