---
layout: default
current: 41020303
criterion: 4102
checkpoint: 410203
guideline: understandable

---
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.4102.4102[page.base] %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>Changes to form instructions, controls, or content are announced to assistive technology users. Note: Content added after the current focus does not need to be announced.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>Changes to form instructions, controls, or content are not announced to assistive technology users.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>
                Ensure that changes to form instructions, controls, or content that occur before the current focus are announced to assistive technology users.
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <div class="example">
                    <ul>
                        <li>The control that triggers the change has accessible instructions notifying the user of the change ahead of time.</li>
                        <li>The updated content is announced with a modal dialog.</li>
                        <li>The focus is moved to the updated content, and the target provides sufficient information.</li>
                        <li>The updated content is contained within an ARIA Live Region.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li>Links that reload the current page.</li>
                    <li>Links that navigate to a different page.</li>
                    <li>Automatic updates to content<br>
                        File under <a href="/a11y/failure/4102/41020301.html">4.1.2.3.1 Automatically updated content is not announced.</a></li> 
                    <li>Form elements that change in response to value changes<br>
                        File under <a href="/a11y/failure/4102/41020302.html">4.1.2.3.2 Form change is not announced.</a></li> 
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA1">Using the aria-describedby property to provide a descriptive label for user interface controls</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H102">Creating modal dialogs with the HTML dialog element</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">Using aria-alertdialog to Identify Errors</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19">Using ARIA role=alert or Live Regions to Identify Errors</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}