---
layout: default
current: 41020514
criterion: 4102
checkpoint: 410205
css: toolbar
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row block">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>Toolbars have all appropriate roles and attributes.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>A toolbar does not have all the appropriate roles or attributes.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>
                <h3>Tab List</h3>
                <ul>
                    <li>Use the "toolbar" role on the element that contains a set of tool buttons.</li>
                    <li>Use the <code>aria-label</code> attribute to give the toolbar an accessible name.</li>
                    <li>Use the <code>aria-controls</code> attribute on the toolbar element and point it to the <code>id</code> of the associated text area.</li>
                    <li>Set <code>tab-index="-1"</code> on each inactive tool element to prevent it from getting keyboard focus.</li>
                    <li>Set <code>tab-index="0"</code> on only one item in the toolbar.
                        <ul>
                            <li>Set this on the first tool item when the page loads.</li>
                            <li>Change it with keyboard focus to the currently focused tool item.</li>
                        </ul>
                    </li>
                </ul>

                <h3>Toggle Buttons (Bold, Italic, Underline)</h3>
                <ul>
                    <li>Set <code>aria-pressed="true"</code> on each button when it is pressed.</li>
                    <li>Set <code>aria-pressed="false"</code> on each button when it is not pressed.</li>
                    <li>Set <code>aria-hidden="true"</code> on the image/icon to prevent it from being read by the screen reader.</li>
                </ul>

                <h3>Radio Group (Text Alignment)</h3>
                <ul>
                    <li>Use the "radiogroup" role on the radio button container element.</li>
                    <li>Use the <code>aria-label</code> attribute to give the radio group an accessible name.</li>
                    <li>Set <code>aria-checked="true</code> on the currently selected radio button.</li>
                    <li>Set <code>aria-checked="false"</code> on each non-selected radio button.</li>
                    <li>Set <code>aria-hidden="true"</code> on the image/icon to prevent it from being read by the screen reader.</li>
                </ul>

                <h3>Button (Cut, Copy, Paste)</h3>
                <ul>
                    <li>Set <code>aria-disabled="true"</code> on each button when it is unavailable.</li>
                    <li>Set <code>aria-disabled="false"</code> on each button when it is available.</li>
                </ul>

                <h3>Menu Button (Fonts)</h3>
                <ul>
                    <li>Use <code>aria-haspopup="true"</code> on the button to indicate that it opens a menu.</li>
                    <li>Use the <code>aria-controls</code> attribute and point it to the <code>id</code> of the menu element.</li>
                    <li>Use the <code>aria-expanded</code>attribute on the menu button.
                        <ul>
                            <li>Set it to "true" when the menu is open.</li>
                            <li>Set it to "false" when the menu is closed.</li>
                        </ul>
                    </li>
                    <li>Use <code>aria-label</code> to set the accessible name for the button.
                        <ul>
                            <li>For a font menu, set the name to "Font: [Font Name]" and update it to match the currently selected option.</li>
                        </ul>
                    </li>
                </ul>

                <h3>Menu (Fonts)</h3>
                <ul>
                    <li>Use the "menu" role on the menu element.</li>
                    <li>Use <code>aria-label</code> to set the accessible name (e.g., "Font Family").</li>
                    <li>Use the "menuitemradio" role on each menu item.</li>
                    <li>Use the <code>aria-checked</code> attribute on each menu item element.
                        <ul>
                            <li>Set to "true" for the currently selected option.</li>
                            <li>Set to "false" for each non-selected option.</li>
                        </ul>
                    </li>
                    <li>Set <code>tabindex="-1"</code> on each menu item element to allow scripted focus.</li>
                </ul>

                <h3>Spin Button (Font Size)</h3>
                <ul>
                    <li>Use the "spinbutton" role on the spin button element.</li>
                    <li>Use <code>aria-label</code> to set the accessible name (e.g. "Font size in points").</li>
                    <li>Use the <code>aria-valuenow</code> attribute on the spin button element to indicate the current value.
                        <ul>
                            <li>Update whenever the value changes.</li>
                        </ul>
                    </li>
                    <li>Use the <code>aria-valuetext</code> attribute to give the spin button a more descriptive name (e.g., "[Number] Points").</li>
                    <li>Use the <code>aria-valuemin</code> attribute to set the minimum value for the spin button.</li>
                    <li>Use the <code>aria-valuemax</code> attribute to set the maximum value for the spin button.</li>
                </ul>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Toolbar</h3>
                <div class="example">
                    {% include examples/toolbar.html %}
                </div>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li><strong>Role of "none"</strong>:<br>
                        <code>&lt;div role="none"&gt;</code><br>
                        Does not appear in accessibility tree</li>
                </ul>
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Disabilities Affected</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA14">ARIA14: Using aria-label to provide an invisible label where a visible label cannot be used</a></li>
                    <li><a href="https://www.w3.org/WAI/standards-guidelines/act/rules/674b10/proposed/">Role attribute has valid value</a></li>
                    <li><a href="https://www.w3.org/TR/wai-aria-1.2/#role_definitions">WAI-ARIA roles</a></li>
                    <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/toolbar/">W3: Toolbar Pattern</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>