---
layout: default
current: 41020113
criterion: 4102
checkpoint: 410201
guideline: understandable

css: button
---
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.4102.4102[page.base] %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
        <div class="row">
            <h2 class="{{ sc.level }}">Expected Result</h2>
            <div>If a control functions as a toggle button, it has a "pressed" state.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Actual Result</h2>
            <div>A toggle button does not have a "pressed" state.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Solution</h2>
            <div>Use the <code>aria-pressed</code> attribute on the toggle button. Set it to "true" when pressed and to "false" when not pressed.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Button</h3>
                <div class="example">
                    <a tabindex="0" role="button" id="toggle" aria-pressed="false" class="toggleButton">Mute <svg aria-hidden="true" focusable="false"><use href="#icon-sound"></use></svg></a>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none" id="svg_definitions">
                        <defs>
                          <symbol id="icon-mute" viewBox="0 0 75 75">
                            <polygon id="polygon1" points="39.389,13.769 22.235,28.606 6,28.606 6,47.699 21.989,47.699 39.389,62.75 39.389,13.769" style="stroke: currentcolor; stroke-width: 5; stroke-linejoin: round; fill: currentcolor"></polygon>
                            <path id="path3003" d="M 48.651772,50.269646 69.395223,25.971024" style="fill: none; stroke: currentcolor; stroke-width: 5; stroke-linecap: round"></path>
                            <path id="path3003-1" d="M 69.395223,50.269646 48.651772,25.971024" style="fill: none; stroke: currentcolor; stroke-width: 5; stroke-linecap: round"></path>
                          </symbol>
                          <symbol id="icon-sound" viewBox="0 0 75 75">
                            <polygon points="39.389,13.769 22.235,28.606 6,28.606 6,47.699 21.989,47.699 39.389,62.75 39.389,13.769" style="stroke: currentcolor; stroke-width: 5; stroke-linejoin: round; fill: currentcolor"></polygon>
                            <path d="M 48.128,49.03 C 50.057,45.934 51.19,42.291 51.19,38.377 C 51.19,34.399 50.026,30.703 48.043,27.577" style="fill: none; stroke: currentcolor; stroke-width: 5; stroke-linecap: round"></path>
                            <path d="M 55.082,20.537 C 58.777,25.523 60.966,31.694 60.966,38.377 C 60.966,44.998 58.815,51.115 55.178,56.076" style="fill: none; stroke: currentcolor; stroke-width: 5; stroke-linecap: round"></path>
                            <path d="M 61.71,62.611 C 66.977,55.945 70.128,47.531 70.128,38.378 C 70.128,29.161 66.936,20.696 61.609,14.01" style="fill: none; stroke: currentcolor; stroke-width: 5; stroke-linecap: round"></path>
                          </symbol>
                        </defs>
                      </svg>
                    <script src="{{ baseurl }}/assets/js/button.js"></script>

                    <pre><code>&lt;a tabindex="0" role="button" id="toggle" <strong>aria-pressed="false"</strong>&gt;Mute&lt;/a&gt;</code></pre>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li><strong>Hidden</strong>:<br>
                        <code>&lt;div style="display:none;"&gt;Mute&lt;/div&gt;</code><br>
                        Does not appear in accessibility tree</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Assistive technology only works well when code is done properly.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G108">G108: Using markup features to expose the name and role, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF12">PDF12: Providing name, role, value information for form fields in PDF documents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/4102checkpoints.html %}