---
layout: default
current: 41020208
criterion: 4102
checkpoint: 410202
css: dialog
last-modified: 29 June 2025
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
            <div class="row block">
                <h2 class="{{ sc.level }}">Expected Result</h2>
                <div>Dialogs have the role of "dialog".</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Actual Result</h2>
                <div>A dialog is missing the dialog role.</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Solution</h2>
                <div>
                    <p>Assign <code>role="dialog"</code> to the dialog element.</p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>Dialog</h3>
                    <p>This example does not assign a role to the dialog.</p>
                    <ul>
                        <li>NVDA (when dialog is opened): ""</li>
                    </ul>

                    <div class="example">
                        

                        <pre><code></code></pre>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Examples<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Dialog</h3>
                    <p>This example uses <code>role="dialog"</code>.</p>
                    <ul>
                        <li>NVDA (when dialog is opened): ""</li>
                    </ul>
                    <div class="example">
                        <div class="dialog">
                            <button type="button" class="exButton btn-open" aria-haspopup="dialog">Open Passing Modal</button>
                            <div id="passModal" role="dialog" aria-modal="true" aria-labelledby="passDialog_label" class="modal hidden" tabindex="-1">
                                <h2 id="passDialog_label" class="dialog_label">Example Pass</h2>
                                <p>This is a modal dialog.</p>
                                <div class="dialog_form">
                                    <div class="dialog_form_actions">
                                        <button type="button" class="exButton btn-close">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <pre><code>&lt;div id="modal" <strong>role="dialog"</strong> aria-modal="true" aria-labelledby="labelId"&gt;</code></pre>
                        
                        <div class="dialog-backdrop overlay"></div>
                        <script src="{{ baseurl }}/assets/js/alertdialog2.js"></script>
                        <script>
                            window.addEventListener(
  'load',
  function () {
    var alerts = document.querySelectorAll(
      '.alertdialog'
    );

    for (var i = 0; i < alerts.length; i++) {
      new AlertModal(alerts[i]);
    }
  },
  false
);
</script>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <p>The following items are not applicable to this failure:</p>
                    <ul>
                        <li><strong>Hidden</strong>:<br>
                            <code>&lt;div style="display:none;"&gt;...&lt;/div&gt;</code><br>
                            Does not appear in accessibility tree</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Vision Impairment:</strong> Programmatic roles enable compatibility with assistive technology such as screen readers and screen magnifiers.</li>
                        <li><strong>Motor Impairment:</strong> Programmatic roles enable compatibility with assistive technology such as speech recognition software.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F59">Failure of Success Criterion 4.1.2 due to using script to make div or span a user interface control in HTML without providing a role for the control</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G108">G108: Using markup features to expose the name and role, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA4">ARIA4: Using a WAI-ARIA role to expose the role of a user interface component</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria-1.2/#role_definitions">WAI-ARIA roles</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria/#dialog">WAI-ARIA: dialog role</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/dialog_role">MDN: ARIA: dialog role</a></li>
                        <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/dialog-modal/">WAI-ARIA: Dialog (Modal) Pattern</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>