---
layout: default
current: 41020207
criterion: 4102
checkpoint: 410202
css: dialog
last-modified: 21 June 2025
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}
{% assign cp=site.data.4102.4102[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
            <div class="row block">
                <h2 class="{{ sc.level }}">Expected Result</h2>
                <div>Alert dialogs have the role of "alertdialog".</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Actual Result</h2>
                <div>An alert dialog is missing the alertdialog role.</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Solution</h2>
                <div>
                    <p>Assign <code>role="alertdialog"</code> to the alert dialog.</p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3></h3>
                    <p></p>
                    <ul>
                        <li>NVDA: ""</li>
                    </ul>

                    <div class="example">
                        <div class="alertdialog">
                            <button type="button" class="exButton btn-open" aria-haspopup="dialog">Open Failing Modal</button>
                            <section class="modal hidden" aria-modal="true" aria-labelledby="failDialog_label" id="failModal" tabindex="-1">
                                <h2 id="failDialog_label" class="dialog_label">Example Failure</h2>
                                <p>Are you sure you want to do that?</p>
                                <div class="dialog_form">
                                    <div class="dialog_form_actions">
                                        <button type="button" class="exButton btn-submit">Yes</button>
                                        <button type="button" class="exButton btn-close">Cancel</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Examples<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Alert Dialog</h3>
                    <p>This example uses <code>role="alertdialog"</code> to communicate the role to assistive technology.</p>
                    <ul>
                        <li>NVDA (when dialog is opened): "Example Passing Alert, dialog, This is an alert dialog!"</li>
                    </ul>
                    <div class="example">
                        <div class="alertdialog">
                            <button type="button" class="exButton btn-open" aria-haspopup="dialog">Open Passing Modal</button>
                            <section role="alertdialog" class="modal hidden" aria-labelledby="passDialog_label" aria-modal="true" id="passModal" tabindex="-1">
                                <h2 id="passDialog_label" class="dialog_label">Example Pass</h2>
                                <p>Are you sure you want to do that?</p>
                                <div class="dialog_form">
                                    <div class="dialog_form_actions">
                                        <button type="button" class="exButton btn-submit">Yes</button>
                                        <button type="button" class="exButton btn-close">Cancel</button>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="dialog-backdrop overlay"></div>
                        <script src="{{ baseurl }}/assets/js/alertdialog2.js"></script>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <p>The following items are not applicable to this failure:</p>
                    <ul>
                        <li><strong>Hidden</strong>:<br>
                            <code>&lt;div style="display:none;"&gt;...&lt;/div&gt;</code><br>
                            Does not appear in accessibility tree</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Vision Impairment:</strong> Programmatic roles enable compatibility with assistive technology such as screen readers and screen magnifiers.</li>
                        <li><strong>Motor Impairment:</strong> Programmatic roles enable compatibility with assistive technology such as speech recognition software.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F59">Failure of Success Criterion 4.1.2 due to using script to make div or span a user interface control in HTML without providing a role for the control</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G108">G108: Using markup features to expose the name and role, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA4">ARIA4: Using a WAI-ARIA role to expose the role of a user interface component</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF12">PDF12: Providing name, role, value information for form fields in PDF documents</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria-1.2/#role_definitions">WAI-ARIA roles</a></li>
                        <li><a href="https://www.w3.org/TR/wai-aria/#alertdialog">WAI-ARIA: alertdialog role</a></li>
                        <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/alertdialog_role">MDN: ARIA: alertdialog role</a></li>
                        <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/alertdialog/">WAI-ARIA: Alert and Message Dialogs Pattern</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>