---
layout: default
current: 11010402
criterion: 1101
checkpoint: 110104
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Decorative images must be hidden from screen readers.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The decorative image is read by screen readers.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Hide the image using one of the following methods:
                <ul>
                    <li>Add <code>aria-hidden="true"</code> to the image element.</li>
                    <li>Implement the image as a CSS background image.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>ARIA and <code>&lt;svg&gt;</code></h3>
                <svg aria-hidden="true" viewBox="0 0 344.20377 256" xmlns="http://www.w3.org/2000/svg" width="320">
                    <g transform="matrix(1.6329 0 0 1.6329 -233.22 -353.86)">
                        <path d="m277.67 293.6c9.979 9.2424 7.5825 45.952 19.752 40.581 8.5922-3.7921 4.2125-26.335 15.757-39.898 13.278-4.9514 35.919 13.051 39.606 5.3806 6.3075-13.12-24.865-32.276-24.801-35.944 0.0718-4.1001 25.497-26.72 21.237-31.782-6.7254-7.9911-41.131 6.1214-44.919 5.6683-3.2684-0.39092-29.333-23.219-35.281-20.697-7.6326 3.2368 4.2602 36.542 2.5036 39.817-1.8352 3.4215-34.537 20.236-31.003 29.378 3.2547 8.421 22.982 2.36 37.149 7.4962z" fill="#fc0"/>
                        <path d="m260.91 286.98c15.862-9.0959 27.799-11.062 30.375-14.342s-14.479-38.912-14.479-38.912 21.077 32.44 29.862 29.862 22.554-13.933 39.574-25.554c-13.926 15.278-33.778 34.331-32.334 39.128s18.469 12.556 34.387 25.338c-16.759-4.8554-34.244-18.28-39.817-9.9542s-5.9017 13.392-10.72 40.24c-2.675-30.811 3.484-39.071-3.7593-43.86s-14.97-5.0078-33.09-1.9465z" fill="#ffd42a"/>
                        <path d="m271.5 274.2s-38.173-4.2947-51.114 7.0335c-13.077 11.448-0.56705 39.086-13.88 50.259-16.331 13.707-63.674 6.0767-63.674 6.0767s44.576 0.99232 58.909-13.125c11.841-11.663-1.3112-38.005 11.579-48.498 15.047-12.249 58.181-1.7463 58.181-1.7463z" fill="#fc0"/>
                        <path d="m277.11 292.21s-27.953 9.08-37.575 17.908c-15.305 14.042-4.8416 39.187-24.616 48.937-13.322 6.568-39.562-5.2863-39.562-5.2863s24.257 2.9341 34.382-3.171c16.59-10.003 9.082-31.509 23.889-43.177 11.585-9.1293 43.483-15.211 43.483-15.211z" fill="#ffd42a"/>
                        <path d="m294.74 310.67s-22.693 3.105-30.564 9.56c-9.0859 7.4512-13.244 31.849-20.651 40.971-9.6292 11.861-34.143 12.291-34.143 12.291s22.051-4.9207 31.246-17.837c7.3086-10.266 10.094-36.056 20.651-42.938 8.7901-5.7299 33.46-2.0486 33.46-2.0486z" fill="#fc0"/>
                    </g>
                </svg>

                <pre><code>&lt;svg <strong>aria-hidden="true"</strong> viewBox="0 0 344.20377 256" xmlns="http://www.w3.org/2000/svg"&gt;</code></pre>

                <h3>ARIA and <code>&lt;img&gt;</code> SVG</h3>
                <p>When a .svg file is the <code>src</code> for an <code>&lt;img&gt;</code> element and it has a <code>&lt;title&gt;</code> element inside it, even if it has an <code>alt=""</code> attribute, VoiceOver will still read it. In this case, you must use <code>aria-hidden="true"</code> to truly hide it.</p>
                <img src="{{ baseurl }}/assets/images/11010102-handicap.svg" alt="" aria-hidden="true" style="max-width: 250px;">
                <pre><code>&lt;img src="handicap.svg" alt="" <strong>aria-hidden="true"</strong>&gt;</code></pre>

                <h3>CSS background</h3>
                <div id="bg2">
                    <div id="divText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris.</div>
                </div>
    <pre><code>&lt;style&gt;
    #bg {
        background-image: url("flower.jpg");
        width: 640px;
        height: 424px;
    }
&lt;/style&gt;
&lt;div id="bg"&gt;
    &lt;div id="divText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris.&lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users want decorative or redundant images hidden so they do not get overwhelmed with unimportant screen reader chatter.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F38">Failure of Success Criterion 1.1.1 due to not marking up decorative images in HTML in a way that allows assistive technology to ignore them</a></li>
                    <li><a href="https://www.456bereastreet.com/archive/201609/hiding_inline_svg_icons_from_screen_readers/">Hiding inline SVG icons from screen readers</a></li>
                    <li><a href="https://www.w3schools.com/cssref/pr_background-image.php">W3: CSS background-image Property</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>