---
layout: default
current: 11010601
root: WCAG 2.2
base: base
criterion: 1101
checkpoint: 110106
guideline: perceivable

---
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.1101.1101[page.base] %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Each audio element must have a text alternative which summarizes its purpose.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>The audio element does not have a text alternative.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Add a text alternative which summarizes the content of the audio:
                <ul>
                    <li>Add an <code>aria-label</code> attribute to the element, <strong>OR</strong></li>
                    <li>Add an <code>aria-labelledby</code> attribute to the element, set to the <code>id</code> value of the text to use as a label</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Example</h2>
            <div>
                <h3>HTML <code>&lt;audio&gt;</code></h3>
                <p>What a horse says:</p>
                <audio controls aria-label="horse neighing">
                    <source src="{{ baseurl }}/assets/media/11010601-horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
    <pre><code>What a horse says:
&lt;audio controls <strong>aria-label="horse neighing"</strong>&gt;
    &lt;source src="horse.mp3" type="audio/mpeg"&gt;
    Your browser does not support the audio element.
&lt;/audio&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users need to have a text alternative to embedded audio so they know what it is without having to play it.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G100">G100: Providing a short text alternative which is the accepted name or a descriptive name of the non-text content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA6.html">ARIA6: Using aria-label to provide labels for objects</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA10">ARIA10: Using aria-labelledby to provide a text alternative for non-text content</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}