---
layout: default
current: 11010405
criterion: 1101
checkpoint: 110104
---
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Decorative images must not have a <code>title</code> attribute.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The decorative image has a <code>title</code> attribute.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Remove the <code>title</code> attribute from the image element.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>JPG Image</h3>
                <p>The <code>title</code> attribute can be added to images to provide tooltip text. This must not be done with decorative images, because the screen reader will read the text.</p>
                <div style="border: 1px solid black; padding: 5px">
                    <p><img src="{{ baseurl }}/assets/images/11010401-smiling-child.jpg" alt="" style="float: left; padding-right: 20px;"></p>
                    <p>If your children need health coverage, they may be eligible for the Children's Health Insurance Program (CHIP).</p>
                    <p>CHIP provides low-cost health coverage to children in families that earn too much money to qualify for Medicaid. In some states, CHIP covers pregnant women. Each state offers CHIP coverage, and works closely with its state Medicaid program.</p>
                </div>
    <pre style="clear: both;"><code>&lt;img src="smiling-child.jpg" <strong>alt=""</strong>&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users want decorative or redundant images hidden so they do not get overwhelmed with unimportant screen reader chatter.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F39">Failure of Success Criterion 1.1.1 due to providing a text alternative that is not null (e.g., alt="spacer" or alt="image") for images that should be ignored by assistive technology</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H67">Using null alt text and no title attribute on img elements for images that assistive technology should ignore</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/images/decorative/">W3: Decorative Images</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}