---
layout: default
current: 11010103
criterion: 1101
checkpoint: 110101
---
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>If a control is labeled with only an image, the image must have alternative text which describes the function or destination of the control.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The <code>&lt;input&gt;</code> control is labeled with only an image, but the image does not have a text alternative.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Add a text alternative which describes the purpose of the functional image using one of the following methods:
                <ul>
                    <li>Add an <code>alt</code> attribute to the <code>&lt;input&gt;</code> tag, <strong>OR</strong></li>
                    <li>Add an <code>aria-label</code> attribute to the <code>&lt;input&gt;</code> tag</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Submit Button</h3>
                <p><input type="image" name="submit" src="{{ baseurl }}/assets/images/11010103-submit.png"
    alt="Submit"></p>
    <pre><code>&lt;input type="image" name="submit" src="submit.png"
    <strong>alt="Submit"</strong>&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users need to have a text alternative to functional images so that they can be interpreted by assistive technology such as screen readers and braille devices. Without a text alternative, these users would not know what the link or control does.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F65">F65: Failure of Success Criterion 1.1.1 due to omitting the alt attribute or text alternative on img elements, area elements, and input elements of type "image"</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H36">H37: Using alt attributes on images used as submit buttons</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}