---
layout: default
current: 11010404
criterion: 1101
checkpoint: 110104
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Redundant images must be hidden from screen readers.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The redundant image is read by screen readers.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Hide the image using one of the following methods:
                <ul>
                    <li>Add <code>alt=""</code> to the <code>&lt;img&gt;</code> tag.</li>
                    <li>Add <code>aria-hidden="true"</code> to the image element.</li>
                    <li>Implement the image as a CSS background image.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <h3>Combined Image and Text Link</h3>
                <p>Flag images are used in a list of country links simply to illustrate each one. Since the name of the country is already provided in text, the image is redundant. The link and image should be combined within a single link and the image hidden from screen readers.</p>
                <div style="border: 1px solid black; padding: 5px">
                    <a href="#">
                        <img src="{{ baseurl }}/assets/images/11010404-norway-flag.png" alt=""><br>
                        Norway
                    </a>
                </div>

                <pre><code>&lt;a href="norway.html"&gt;
    &lt;img src="norway-flag.png" <strong>alt=""</strong>&gt;
    Norway
&lt;/a&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users want decorative or redundant images hidden so they do not get overwhelmed with unimportant screen reader chatter.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F38">Failure of Success Criterion 1.1.1 due to not marking up decorative images in HTML in a way that allows assistive technology to ignore them</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H67">H67: Using null alt text and no title attribute on img elements for images that assistive technology should ignore</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/images/decorative/">W3: Decorative Images</a></li>
                    <li><a href="https://www.456bereastreet.com/archive/201609/hiding_inline_svg_icons_from_screen_readers/">Hiding inline SVG icons from screen readers</a></li>
                    <li><a href="https://www.w3schools.com/cssref/pr_background-image.php">W3: CSS background-image Property</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}