---
layout: default
current: 11010110
root: WCAG 2.2
base: base
criterion: 1101
checkpoint: 110101
guideline: perceivable

---
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.1101.1101[page.base] %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>If a control is labeled with only an image, the image must have a text alternative which describes the function or destination of the control.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>The control is labeled with only an image, but the image does not have Alternate Text.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Add Alternate Text to the image either in the source document or directly in the PDF.
                <h3>Adobe PDF</h3>
                <ol>
                    <li>Select <strong>Accessibility > Reading Order</strong></li>
                    <li>Right-click on the image and select <strong>Edit Alternate Text...</strong>.</li>
                    <li>In the dialog, for <strong>Alternate Text</strong>, enter text which describes the function or destination of the control.</li>
                </ol>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Example</h2>
            <div>
                <h3>Image as Link</h3>
                <img src="{{ baseurl }}/assets/images/11010110-search-button.png" alt="Screenshot of Alternate Text dialog for a search button in Acrobat Pro. The alt text is Search document.">
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users need to have a text alternative to functional images so that they can be interpreted by assistive technology such as screen readers and braille devices. Without a text alternative, these users would not know what the link or control does.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF1">PDF1: Applying text alternatives to images with the Alt entry in PDF documents</a></li>
                    <li><a href="https://helpx.adobe.com/acrobat/using/editing-document-structure-content-tags.html#add_alternate_text_and_supplementary_information_to_tags">Add alternate text and supplementary information to tags</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}