---
layout: default
current: 11010108
criterion: 1101
checkpoint: 110101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>The text alternative for the functional image describes the purpose of the control.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The functional image has a text alternative, but it does not describe the purpose of the control.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Change the text alternative to describe the purpose of the control. The literal description of the image is usually irrelevant.</div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Search Button</h3>
                    <p>A text alternative such as "magnifying glass" would be inappropriate for this control, because it doesn't describe the function.</p>
                    <p><input type="image" name="submit" src="{{ baseurl }}/assets/images/11010107-search.png" alt="Search"></p>
                    <pre><code>&lt;input type="image" src="submit.png" <strong>alt="Search"</strong>&gt;</code></pre>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Meaningful non-interactive images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110102].link | prepend: baseurl }}">{{ site.data.1101.1101[110102].name }}.</a></li>
                        <li><strong>Complex images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110103].link | prepend: baseurl }}">{{ site.data.1101.1101[110103].name }}.</a></li>
                        <li><strong>Decorative images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110104].link | prepend: baseurl }}">{{ site.data.1101.1101[110104].name }}.</a></li>
                        <li><strong>CAPTCHA:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110105].link | prepend: baseurl }}">{{ site.data.1101.1101[110105].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Visual Impairment:</strong> Users need to have a text alternative for functional images so that the images can be interpreted by assistive technology such as screen readers and braille devices.</li>
                        <li><strong>Cognitive Impairment:</strong> Users who have difficulty understanding images may benefit from having a text description.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F13">Failure of Success Criterion 1.1.1 and 1.4.1 due to having a text alternative that does not include information that is conveyed by color differences in the image</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F30">Failure of Success Criterion 1.1.1 and 1.2.1 due to using text alternatives that are not alternatives (e.g., filenames or placeholder text)</a></li>
                        <li><a href="https://webaim.org/techniques/alttext/">WebAIM: Alternative Text</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>