---
layout: default
current: 11010107
criterion: 1101
checkpoint: 110101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>The text alternative for the functional image describes the purpose of the control.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The functional image has a text alternative, but it does not describe the purpose of the control.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Change the text alternative to describe the purpose of the image.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Search Button</h3>
                <p>A text alternative such as "magnifying glass" would be inappropriate for this control, because it doesn't describe the function.</p>
                <p><input type="image" name="submit" src="{{ baseurl }}/assets/images/11010107-search.png" alt="Search"></p>
    <pre><code>&lt;input type="image" src="submit.png" <strong>alt="Search"</strong>&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users need to have a text alternative that describes the function of the control so that they know what it does. The literal description of the image is irrelevant.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F13">Failure of Success Criterion 1.1.1 and 1.4.1 due to having a text alternative that does not include information that is conveyed by color differences in the image</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F30">Failure of Success Criterion 1.1.1 and 1.2.1 due to using text alternatives that are not alternatives (e.g., filenames or placeholder text)</a></li>
                    <li><a href="https://webaim.org/techniques/alttext/">WebAIM: Alternative Text</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}