---
layout: default
current: 11010111
criterion: 1101
checkpoint: 110101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>
                    If a link or button contains both an image and text AND the image adds information not conveyed by the text, the image must have alternate text which conveys the same information as the image.
                </div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>
                    The link or button contains both an image and text, and the image adds information not conveyed by the text, but the image does not have alternative text.
                </div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Add a text alternative which describes the purpose of the functional image using one of the following methods:
                    <ul>
                        <li>Add an <code>alt</code> attribute to the <code>&lt;img&gt;</code> tag, <strong>OR</strong></li>
                        <li>Add an <code>aria-label</code> attribute to the image element's tag, <strong>OR</strong></li>
                        <li>Add an <code>aria-labelledby</code> attribute to the image element's tag, set to the <code>id</code> value of the text to use as a label, <strong>OR</strong></li>
                        <li>Add a <code>title</code> attribute to the <code>&lt;img&gt;</code> tag</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Example</h2>
                <div>
                    <h3>Informational <code>&lt;img&gt;</code> within Link</h3>
                    <p>This link's function is to open a PDF file. The image's function within the link is to convey the file type. Since the link already contains text describing its target, the image's text alternative only needs to identify the target as a PDF.</p>
                    <p><a href="#">Download the User Guide <img src="{{ baseurl }}/assets/images/110101-pdf-icon_60.png" width="24" height="24" alt="PDF" /></a></p>
                    <pre><code>&lt;a href="user-guide.pdf"&gt;
    Download the User Guide 
    &lt;img 
    src="pdf-icon.png" 
    <strong>alt="PDF"</strong> /&gt;
&lt;/a&gt;</code></pre>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Redundant images within links and buttons:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110104].link | prepend: baseurl }}">{{ site.data.1101.1101[110104].name }}.</a>
                        <li><strong>Meaningful non-interactive images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110102].link | prepend: baseurl }}">{{ site.data.1101.1101[110102].name }}.</a></li>
                        <li><strong>Complex images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110103].link | prepend: baseurl }}">{{ site.data.1101.1101[110103].name }}.</a></li>
                        <li><strong>Decorative images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110104].link | prepend: baseurl }}">{{ site.data.1101.1101[110104].name }}.</a></li>
                        <li><strong>CAPTCHA:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110105].link | prepend: baseurl }}">{{ site.data.1101.1101[110105].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/visually impaired:</strong> Users need to have a text alternative for functional images so that the images can be interpreted by assistive technology such as screen readers and braille devices.</li>
                        <li><strong>Cognitively impaired:</strong> Users who have difficulty understanding images may benefit from having a text description.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding SC {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F65">F65: Failure of Success Criterion 1.1.1 due to omitting the alt attribute or text alternative on img elements, area elements, and input elements of type "image"</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H37">H37: Using alt attributes on img elements</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA6">ARIA6: Using aria-label to provide labels for objects</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA10">ARIA10: Using aria-labelledby to provide a text alternative for non-text content</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H65">H65: Using the title attribute to identify form controls when the label element cannot be used</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include checkpoints/1101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>