---
layout: default
current: 11010203
criterion: 1101
checkpoint: 110102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>If a link or button contains only an image AND the link or button itself doesn't have alternative text, the image must have alternative text which describes the destination or function.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The <code>&lt;input&gt;</code> control is labeled with only an image, but the image does not have alternative text and the control does not have an accessible name.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>Add a text alternative which describes the purpose of the functional image using one of the following methods:
                    <ul>
                        <li>Add an <code>alt</code> attribute to the <code>&lt;input&gt;</code> tag, <strong>OR</strong></li>
                        <li>Add an <code>aria-label</code> attribute to the <code>&lt;input&gt;</code> tag.</li>
                    </ul>
                </div>
        	</div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    <h3>Submit Button</h3>
                    <p><input type="image" name="submit" src="{{ baseurl }}/assets/images/11010103-submit.png" alt="Submit"></p>
                    <pre><code>&lt;input type="image" name="submit" src="submit.png"
    <strong>alt="Submit"</strong>&gt;</code></pre>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Functional <code>&lt;img&gt;</code> images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[11010101].link | prepend: baseurl }}">{{ site.data.1101.1101[11010101].name }}.</a></li>
                        <li><strong>Functional <code>&lt;svg&gt;</code> images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[11010102].link | prepend: baseurl }}">{{ site.data.1101.1101[11010102].name }}.</a></li>
                        <li><strong>Functional CSS background images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[11010104].link | prepend: baseurl }}">{{ site.data.1101.1101[11010104].name }}.</a></li>
                        <li><strong>Meaningful non-interactive images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110102].link | prepend: baseurl }}">{{ site.data.1101.1101[110102].name }}.</a></li>
                        <li><strong>Complex images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110103].link | prepend: baseurl }}">{{ site.data.1101.1101[110103].name }}.</a></li>
                        <li><strong>Decorative images:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110104].link | prepend: baseurl }}">{{ site.data.1101.1101[110104].name }}.</a></li>
                        <li><strong>CAPTCHA:</strong><br>
                            File under <a href="{{ site.data.1101.1101[110105].link | prepend: baseurl }}">{{ site.data.1101.1101[110105].name }}.</a></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blindness/Visual Impairment:</strong> Users need to have a text alternative for functional images so that the images can be interpreted by assistive technology such as screen readers and braille devices.</li>
                        <li><strong>Cognitive Impairment:</strong> Users who have difficulty understanding images may benefit from having a text description.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F65">F65: Failure of Success Criterion 1.1.1 due to omitting the alt attribute or text alternative on img elements, area elements, and input elements of type "image"</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H36">H37: Using alt attributes on images used as submit buttons</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>