---
layout: default
current: 11010301
criterion: 1101
checkpoint: 110103
---
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}
{% assign cp=site.data.1101.1101[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Complex images have a short descriptive text alternative that summarizes the information provided by the image.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The complex image does not have a short text alternative.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Add a short text alternative which summarizes the information provided by the image using one of the following methods:
                <ul>
                    <li>Add an <code>alt</code> attribute to the <code>&lt;img&gt;</code> tag, <strong>OR</strong></li>
                    <li>Add an <code>aria-label</code> attribute to the image tag, <strong>OR</strong></li>
                    <li>Add an <code>aria-labelledby</code> attribute to the image tag, set to the <code>id</code> value of the text to use as a label, <strong>OR</strong></li>
                    <li>Add a <code>title</code> attribute to the <code>&lt;img&gt;</code> tag</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Complex Image with Link to Long Description</h3>

                <figure>
                    <img src="{{ baseurl }}/assets/images/110103-constellations_640.png" height="300" width="300" alt="Historical chart of constellations.">
                    <figcaption><a href="#">Follow this link for a description of the chart.</a></figcaption>
                </figure>

                <pre><code>&lt;figure&gt;
    &lt;img src="constellations.png" <strong>alt="Historical chart of constellations."</strong>&gt;
    &lt;figcaption&gt;
        &lt;a href="long-description.html"&gt;Follow this link for a detailed description of the chart.&lt;/a&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind and visually impaired users need to have a short text alternative for complex images so that they can understand the purpose of the image and know whether they want to explore the long description.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/tutorials/images/complex/">W3: Complex Images</a></li>
                    <li><a href="https://medium.com/nightingale/writing-alt-text-for-data-visualization-2a218ef43f81">Writing Alt Text for Data Visualization</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1101checkpoints.html %}