---
layout: default
current: 110107
criterion: 1101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>

        <h3>Examples</h3>
        <h4>ASCII Art</h4>
        <pre aria-label="cat" role="img"> /\ /\ 
((ovo))
():::()
  VVV</pre>
    </div>

    <div class="block">
        <h2>Basic Requirements and Best Practices</h2>
        <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
            <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
        <ul>
            <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Text characters used to represent images or other characters must have a text alternative describing their meaning.</li>
            <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> ASCII images and emoticons must be marked as images (<code>role="img"</code>) so that screen readers will read the text alternative.</li>
        </ul>

        <div class="userstory"><strong>User Story:</strong> As a blind screen reader user, I want to hear the intended meaning of the characters rather than the literal reading so that I understand the content.</div>

        <div class="success"><strong>Success:</strong> If you could not see the text, when you read it with a screen reader, you would understand the intended meaning.</div>
    </div>

    <div class="block">
        <h2>Testing Logic</h2>
        <script src="{{ baseurl }}/assets/js/tree.js"></script>
        <h3 id="test1">Are there text look-alike characters on the page?</h3>
        <p><em>For example, the characters <code>U+0033</code> (or <code>&amp;#x0033;</code>) and <code>U+04E0</code> (or <code>&amp;#x04E0</code>) both look like the number "3", but the latter is a letter from the Cyrillic alphabet and will not be read as a "3".</em></p>
        <ul role="tree" aria-labelledby="test1">
            <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Do the characters have a text alternative which represents their meaning?</span>
                <ul role="group">
                    <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                    <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[11010701].link | prepend: baseurl }}">{{ site.data.1101.1101[11010701].name }}</a></span></li>
                </ul>
            </li>
            <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
        </ul>

        <h3 id="test2">Is there text on the page which represents an image (such as ASCII art or emoticons)?</h3>
        <ul role="tree" aria-labelledby="test2">
            <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the text image have a text alternative which describes its meaning?</span>
                <ul role="group">
                    <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                    <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[11010702].link | prepend: baseurl }}">{{ site.data.1101.1101[11010702].name }}</a></span></li>
                </ul>
            </li>
            <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
        </ul>
    </div>

    <div class="block">
        <h2>Web Test Procedure</h2>
        <ol>
            <li>Locate any text characters which visually mimic other characters.</li>
            <li>Locate any text characters which visually represent an image.</li>
            <li>Verify that they have a text alternative that conveys the meaning rather than the literal interpretation of the characters.</li>
        </ol>
    </div>

    <div class="block">
        <h2>Failures</h2>
        <ul>
            <li><a href="{{ site.data.1101.1101[11010701].link | prepend: baseurl }}">{{ site.data.1101.1101[11010701].name }}</a> (Medium)</li>
            <li><a href="{{ site.data.1101.1101[11010702].link | prepend: baseurl }}">{{ site.data.1101.1101[11010702].name }}</a> (Medium)</li>
        </ul>
    </div>

    <div class="block">
        <h2>Testing Tools</h2>
        <ul>
            <li><a href="https://developer.chrome.com/docs/devtools/accessibility/reference/#pane">Chrome Developer Tools</a></li>
            <li><a href="https://firefox-source-docs.mozilla.org/devtools-user/accessibility_inspector/index.html">Firefox Web Developer Tools</a></li>
            <li>Screen reader</li>
        </ul>
    </div>

    <div class="block">
        <h2>References</h2>
        <h3>WCAG</h3>
        <ul>
            <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
            <li>Related Techniques:
                <ul>
                    <li>General:
                        <ul>
                            <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G100">G100: Providing a short text alternative which is the accepted name or a descriptive name of the non-text content</a></li>
                        </ul>
                    </li>
                    <li>ARIA:
                        <ul>
                            <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA6">ARIA6: Using aria-label to provide labels for objects</a></li>
                        </ul>
                    </li>
                    <li>HTML:
                        <ul>
                            <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H86">H86: Providing text alternatives for emojis, emoticons, ASCII art, and leetspeak</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
    {% include checkpoints/1101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>