---
layout: default
current: 110104
criterion: 1101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1101.1101[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>
    <h3>Decorative Example</h3>
    <img src="{{ baseurl }}/assets/images/110104-fake-website.png" alt="Website with a decorative graphic of 3-D shapes">
    <p>The image of 3-D shapes is purely decorative and must be hidden from assistive technology.</p>

    <h3>Redundant Example</h3>
    <img src="{{ baseurl }}/assets/images/110104-bates-pettet.jpg" alt="">
    <p style="font-weight: bold;">Alan Bates and Joanna Pettet on Broadway in "Poor Richard"</p>
    <p>This image has adjacent text describing its content. Repeating this in the alt text would be redundant, so <code>alt=""</code> is appropriate here.</p>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Decorative or redundant images must not have text alternatives.</li>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Decorative or redundant images should be hidden from screen readers.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Text alternatives for linked images should not duplicate adjacent link text for the same destination. Combine the image and text into a single link.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Text alternatives for images inside of links or buttons should not duplicate the text content of the link or button. The alt text should be null.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a blind screen reader user, I don't want to hear a description of the decorative image so that I am not overwhelmed with irrelevant screen reader chatter.</div>

    <div class="success"><strong>Success:</strong> If you could not see the image, when you read it with a screen reader, you would not know it existed.</div>

    <p>Some ways to code images to be ignored by assistive technologies include:</p>
    <ul>
        <li>Adding <code>alt=""</code> to an <code>&lt;img&gt;</code> element</li>
        <li>Using <code>role="none"</code>, <code>role="presentation"</code>, or <code>aria-hidden="true"</code> on the image element</li>
        <li>Using <code>aria-hidden="true"</code> on an <code>&lt;svg&gt;</code> element</li>
        <li>Using CSS background images</li>
    </ul>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Are there images on the page which are purely decorative?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the image an <code>&lt;img&gt;</code> element?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the <code>&lt;img&gt;</code> element have an <code>alt=""</code> attribute?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the <code>&lt;img src&gt;</code> point to a .svg file?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the .svg file have a <code>&lt;title&gt;</code> tag inside it?</span>
                                    <ul role="group">
                                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the <code>&lt;img&gt;</code> element have an <code>aria-hidden="true"</code> property?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[11010402].link | prepend: baseurl }}">{{ site.data.1101.1101[11010402].name }}</a></span></li>
                                            </ul>
                                        </li>
                                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[11010401].link | prepend: baseurl }}">{{ site.data.1101.1101[11010401].name }}</a>.</span></li>
                    </ul>
                </li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the image hidden from assistive technologies?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the image have a text alternative?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1101.1101[11010403].link | prepend: baseurl }}">{{ site.data.1101.1101[11010403].name }}</a></span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the image have a <code>title</code> attribute?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1101.1101[11010405].link | prepend: baseurl }}">{{ site.data.1101.1101[11010405].name }}</a></span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[11010402].link | prepend: baseurl }}">{{ site.data.1101.1101[11010402].name }}</a></span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h3 id="test2">Are there images on the page which convey information?</h3>
    <ul role="tree" aria-labelledby="test2">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the image have visible adjacent text which conveys the same information?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the image have a text alternative?</span>
                    <ul role="group">
                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1101.1101[11010404].link | prepend: baseurl }}">{{ site.data.1101.1101[11010404].name }}</a></span></li>
                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                    </ul>
                </li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[110104].link | prepend: baseurl }}">{{ site.data.1101.1101[110104].name }}</a></span></li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop</h3>
    <ol>
        <li>Run <a href="https://deque.com/axe/devtools/">axe DevTools</a> or <a href="https://wave.webaim.org/extension/">WAVE</a> to flag missing <code>alt</code> attributes.</li>
        <li>Locate each decorative image on the page using one or more of the following methods:
            <ul>
                <li>Visually</li>
                <li><strong>Windows / NVDA</strong>: Use the <kbd>G</kbd> key to cycle through images.</li>
                <li><strong>MacOS / VoiceOver</strong>: Use <kbd>VO+Command+G</kbd> to cycle through images.</li>
            </ul>
        </li>
        <li>Verify that each decorative or redundant image is ignored by assistive technologies.</li>
    </ol>

    <h3>Mobile</h3>
    <ol>
        <li>For iOS devices, <a href="https://support.apple.com/en-us/111799">turn off image recognition features</a>.</li>
        <li>Navigate through the page with the screen reader.</li>
        <li>Verify that decorative images are not focusable and not announced by the screen reader.</li>
    </ol>

    <h2>Mobile App Test Procedure</h2>
    <ul>
        <li>Follow the procedure for Web Mobile.</li>
    </ul>

    <h2>PDF Test Procedure</h2>

    <ol>
        <li>Locate each decorative or redundant image in the PDF.</li>
        <li>Verify that each decorative or redundant image is tagged as &lt;Artifact&gt;.</li>
    </ol>

    <h4>PDF Accessibility Checker</h4>
    <ol>
        <li>Run PAC on the PDF.</li>
        <li>Select the <strong>WCAG</strong> tab and check if <strong>1.3 Adaptable</strong> is marked as a failure.</li>
        <li>If it is, activate the <strong>Results in Detail</strong> button.</li>
        <li>Check if <strong>Alternative text for "Figure" structure elements</strong> is marked as a failure.</li>
    </ol>

    <h4>Adobe Acrobat Pro</h4>
    <ol>
        <li>Select <strong>Accessibility > Accessibility Check</strong> in the Task pane to open the Accessibility Checker Options dialog.</li>
        <li>Select "Alternate Text and Headings" from the Category drop-down, and make sure "Figures require alternate text" is checked.</li>
    </ol>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.1101.1101[11010401].link | prepend: baseurl }}">{{ site.data.1101.1101[11010401].name }}</a> (Low)</li>
        <li><a href="{{ site.data.1101.1101[11010402].link | prepend: baseurl }}">{{ site.data.1101.1101[11010402].name }}</a> (Low)</li>
        <li><a href="{{ site.data.1101.1101[11010403].link | prepend: baseurl }}">{{ site.data.1101.1101[11010403].name }}</a> (Low)</li>
        <li><a href="{{ site.data.1101.1101[11010404].link | prepend: baseurl }}">{{ site.data.1101.1101[11010404].name }}</a> (Low)</li>
        <li><a href="{{ site.data.1101.1101[11010405].link | prepend: baseurl }}">{{ site.data.1101.1101[11010405].name }}</a> (Low)</li>
        <li><a href="{{ site.data.1101.1101[11010406].link | prepend: baseurl }}">{{ site.data.1101.1101[11010406].name }}</a> (Low)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li>Screen reader</li>
        <li>Web:
            <ul>
                <li><a href="https://developer.chrome.com/docs/devtools/accessibility/reference/#pane">Chrome Developer Tools</a></li>
                <li><a href="https://firefox-source-docs.mozilla.org/devtools-user/accessibility_inspector/index.html">Firefox Web Developer Tools</a></li>
                <li><a href="https://wave.webaim.org/extension/">WAVE</a></li>
                <li><a href="https://deque.com/axe/devtools/">axe DevTools</a></li>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                <li><a href="https://pauljadam.com/bookmarklets.html">Paul Adam Images bookmarklet</a></li>
                <li><a href="https://chrispederick.com/work/web-developer/">Web Developer</a></li>
            </ul>
        </li>
        <li>PDF:
            <ul>
                <li><a href="https://pac.pdf-accessibility.org">PAC PDF Accessibility Checker</a></li>
                <li>Adobe Acrobat Pro</li>
            </ul>
        </li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion 1.1.1: Non-text Content</a></li>
        <li>Related Techniques:
            <ul>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H37">H37: Using alt attributes on img elements</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H67">H67: Using null alt text and no title attribute on img elements for images that assistive technology should ignore</a></li>
                    </ul>
                </li>
                <li>CSS:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C9">C9: Using CSS to include decorative images</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF4">PDF4: Hiding decorative images with the Artifact tag in PDF documents</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
        <li><a href="https://www.w3.org/WAI/tutorials/images/decorative/">W3: Decorative Images</a></li>
        <li><a href="https://webaim.org/techniques/alttext/#decorative">WebAIM: Alternative Text</a></li>
        <li><a href="https://fontawesome.com/v4/accessibility/">Font Awesome & Accessibility</a></li>
        <li><a href="https://learn.levelaccess.com/l/487581/2018-04-18/28w4fc">Level Access: Accessibility Basics Webinar Series #3 - Non-text Elements</a> (0:00 - 13:30)</li>
    </ul>
    </div>
    {% include checkpoints/1101checkpoints.html %}
</div>