---
layout: default
current: 120102
criterion: 1201
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1201.1201[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>Video-only content includes the following:</p>
            <ul>
                <li>Silent movie</li>
                <li>Video with only music</li>
                <li>Animation illustrating information presented in text</li>
            </ul>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Prerecorded video-only content must have a text (transcript) or audio (audio descriptions) alternative that includes all of the information presented in the video.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If video-only media is used as a media alternative to text, it must be clearly labeled as such.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> A text transcript should be provided for the benefit of deafblind users.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> The text or audio description should be presented next to the video and be easy to find.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a blind user, I want to listen to an audio description along with the video or read a transcript with my screen reader so that I can get all of the same information that is conveyed visually.</div>

            <div class="success"><strong>Success:</strong> If you could not see the video, when you listen to the audio description or read the transcript, you would get all of the information conveyed in the video content.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Does the page contain any video-only content?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the video purely decorative?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the video-only content have an audio description?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the audio description include all the important actions, visuals, and text in the video?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1201.1201[12010202].link | prepend: baseurl }}">{{ site.data.1201.1201[12010202].name }}.</a></span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the video-only content have an accompanying text transcript?</span>
                                    <ul role="group">
                                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the transcript include all the important actions, visuals, and text in the video?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1201.1201[12010203].link | prepend: baseurl }}">{{ site.data.1201.1201[12010203].name }}.</a></span></li>
                                            </ul>
                                        </li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the video-only content itself a media alternative for text?</span>
                                            <ul role="group">
                                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is it clearly labeled as such?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1201.1201[12010204].link | prepend: baseurl }}">{{ site.data.1201.1201[12010204].name }}.</a></span></li>
                                                    </ul>
                                                </li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1201.1201[12010201].link | prepend: baseurl }}">{{ site.data.1201.1201[12010201].name }}.</a></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                <li role="treeitem" class="na"><strong>No</strong>; This checkpoint is not applicable.</li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <ol>
                <li>Locate each video-only object.</li>
                <li>Verify that there is either an audio description or a text transcript that provides all the information presented visually.</li>
            </ol>

            <h2>Mobile App Test Procedure</h2>
            <ul>
                <li>Follow the procedure for Web.</li>
            </ul>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.1201.1201[12010201].link | prepend: baseurl }}">{{ site.data.1201.1201[12010201].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1201.1201[12010202].link | prepend: baseurl }}">{{ site.data.1201.1201[12010202].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1201.1201[12010203].link | prepend: baseurl }}">{{ site.data.1201.1201[12010203].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1201.1201[12010204].link | prepend: baseurl }}">{{ site.data.1201.1201[12010204].name }}.</a> (Medium)</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G159">G159: Providing an alternative for time-based media for video-only content</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G166">G166: Providing audio that describes the important video content and describing it as such</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://www.w3.org/WAI/test-evaluate/easy-checks/description/">w3: Audio Description - Easy Checks</a></li>
                <li><a href="https://webaim.org/techniques/captions/">WebAIM: Captions, Transcripts, and Audio Descriptions</a></li>
                <li><a href="https://www.3playmedia.com/learn/how-to-guides/audio-description-how-to-guides/audio-description-examples/">3PlayMedia: Audio Description Examples</a></li>
                <li><a href="https://ableplayer.github.io/ableplayer/">Able Player</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1201checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>