---
layout: default
current: 130201
criterion: 1302
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1302.1302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1302.1302[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <div class="block">
        <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The reading order of page content must be logical and intuitive.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Screen reader reading order should match the visual order, but it is not a failure unless the difference changes meaning.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a blind screen reader user, I want the content to be read in a meaningful sequence so that I can understand the content.</div>

    <div class="success"><strong>Success:</strong> If you could not see the web page, when you use a screen reader, you would hear the content in an order that makes logical sense.</div>

    </div>

    <div class="block">
        <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Is the content presented in a logical order when CSS is turned off?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1302.1302[13020101].link | prepend: baseurl }}">{{ site.data.1302.1302[13020101].name }}</a></span></li>
    </ul>

    <h3 id="test2">Does the screen reader read through the content in a logical order?</h3>
    <ul role="tree" aria-labelledby="test2">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Are there controls which add or change content on the screen?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the screen reader read through the modified content in a logical order?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1302.1302[13020103].link | prepend: baseurl }}">{{ site.data.1302.1302[13020103].name }}</a></span></li>
                    </ul>
                </li>
                <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
            </ul>
        </li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; <a href="{{ site.data.1302.1302[13020102].link | prepend: baseurl }}">{{ site.data.1302.1302[13020102].name }}</a></span></li>
    </ul>

    <h3 id="test3">Does the screen reader read all content that is visible?</h3>
    <ul role="tree" aria-labelledby="test3">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the screen reader read content that is meant to be hidden from all users?</span>
            <ul role="group">
                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1302.1302[13020106].link | prepend: baseurl }}">{{ site.data.1302.1302[13020106].name }}</a></span></li>
                <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
            </ul>
        </li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1302.1302[13020105].link | prepend: baseurl }}">{{ site.data.1302.1302[13020105].name }}</a></span></li>
    </ul>

    <h3 id="test4">When a modal is opened, can the screen reader read text outside of the modal?</h3>
    <ul role="tree" aria-labelledby="test4">
        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1302.1302[130201014].link | prepend: baseurl }}">{{ site.data.1302.1302[13020104].name }}</a></span></li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    </div>

    <div class="block">
        <h2>Web Test Procedure</h2>

    <h3>Desktop</h3>
    <p>Screen reader testing should be performed in addition, to verify meaningful sequence of dynamic content.</p>
    <ol>
        <li>Use the <a href="https://chrispederick.com/work/web-developer/">Web Developer plugin</a> to view the page without CSS:
            <ol>
                <li>Open the Web Developer plugin.</li>
                <li>Select the <strong>CSS</strong> tab.</li>
                <li>Check the <strong>Disable All Styles</strong> option.</li>
                <li>Verify that the reading order of the non-styled content follows the intended meaning of the content.</li>
            </ol>
        </li>
        <li>Use the <a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI bookmarklet</a> to check reading order and reveal dynamic content:
            <ol>
                <li>Activate the ANDI bookmarklet.</li>
                <li>Reading Order:
                    <ol>
                        <li>Select <strong>structures</strong> from the drop-down.</li>
                        <li>Activate <strong>reading order</strong>. Web page elements will be numbered according to reading order.</li>
                    </ol>
                </li>
                <li>Reveal Hidden Content:
                    <ol>
                        <li>Select <strong>hidden content</strong> from the drop-down.</li>
                        <li>Activate <strong>reveal all</strong>.</li>
                        <li>Verify that the reading order of the content still follows a logical sequence with the hidden content revealed.</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>

    <h3>Desktop Screen Reader</h3>
    <ol>
        <li>Starting at the top of the page, read through the page content with the screen reader.
            <ul>
                <li><strong>NVDA and JAWS</strong>: Use <kbd>Down Arrow</kbd> and <kbd>Up Arrow</kbd></li>
                <li><strong>VoiceOver</strong>: Use <kbd>VO</kbd>+<kbd>Down Arrow</kbd> and <kbd>Up Arrow</kbd></li>
            </ul>
            <ol>
                <li>Verify that the reading order of the static content follows the intended meaning of the content.</li>
                <li>Verify that all visible text can be read.</li>
                <li>Verify that content that is meant to be hidden from all users is hidden from the screen reader.</li>
            </ol>
        </li>
        <li>Starting back at the top of the content being tested, navigate to and activate any controls that add or delete content from the page.
            <ul>
                <li>Verify that the reading order of the new content is logical in the natural flow of the interaction.</li>
                <li>Verify that the screen reader does not read outside any modals while they are open.</li>
            </ul>
        </li>
    </ol>

    <h3>Mobile Screen Reader</h3>
    <h4>VoiceOver or TalkBack</h4>
    <ol>
        <li>Starting at the top of the page, read through the page content with the screen reader by swiping left to right.
            <ol>
                <li>Verify that the reading order of the static content follows the intended meaning of the content.</li>
                <li>Verify that all visible text can be read.</li>
                <li>Verify that content that is meant to be hidden from all users is hidden from the screen reader.</li>
            </ol>
        </li>
        <li>Starting back at the top of the content being tested, navigate to and activate any controls that add or delete content from the page.
            <ul>
                <li>Verify that the reading order of the new content is logical in the natural flow of the interaction.</li>
                <li>Verify that the screen reader does not read outside any modals while they are open.</li>
            </ul>
        </li>
    </ol>

    <h2>Mobile App Test Procedure</h2>

    <h3>iOS or Android</h3>
    <ol>
        <li>Starting at the top of the page, read through the page content with the screen reader by swiping left to right.</li>
        <li>Verify that the reading order of the static content follows the intended meaning of the content.</li>
        <li>Verify that all visible text can be read.</li>
        <li>Verify that content that is meant to be hidden from all users is hidden from the screen reader.</li>
    </ol>

    <h2>PDF Test Procedure</h2>

    <h3>Adobe Acrobat Pro</h3>
    <ol>
        <li>Select <strong>All tools > Prepare for accessibility > Fix reading order</strong>.</li>
        <li>In the Reading Order dialog, check <strong>Show page content groups</strong> and <strong>Page content order</strong>. This displays numbers on tagged elements showing the reading order.</li>
        <li>Verify that the reading order follows the intended meaning of the content.</li>
    </ol>
    <img src="{{ baseurl }}/assets/images/130201-pdf-reading-order.png" alt="Screenshot of Acrobat Reading Order dialog with indicated options selected and numbers on tagged elements in the document pane" style="max-width: 380px;">

    <h3>Screen Reader</h3>
    Follow the procedure for Desktop Web Screen Reader.

    </div>

    <div class="block">
        <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.1302.1302[13020101].link | prepend: baseurl }}">{{ site.data.1302.1302[13020101].name }}</a> (High)</li>
        <li><a href="{{ site.data.1302.1302[13020102].link | prepend: baseurl }}">{{ site.data.1302.1302[13020102].name }}</a> (High)</li>
        <li><a href="{{ site.data.1302.1302[13020103].link | prepend: baseurl }}">{{ site.data.1302.1302[13020103].name }}</a> (Medium)</li>
        <li><a href="{{ site.data.1302.1302[13020104].link | prepend: baseurl }}">{{ site.data.1302.1302[13020104].name }}</a> (Medium)</li>
        <li><a href="{{ site.data.1302.1302[13020105].link | prepend: baseurl }}">{{ site.data.1302.1302[13020105].name }}</a> (High)</li>
        <li><a href="{{ site.data.1302.1302[13020106].link | prepend: baseurl }}">{{ site.data.1302.1302[13020106].name }}</a> (Medium)</li>
        <li><a href="{{ site.data.1302.1302[13020107].link | prepend: baseurl }}">{{ site.data.1302.1302[13020107].name }}</a> (High)</li>
    </ul>

    </div>

    <div class="block">
        <h2>Testing Tools</h2>
    <ul>
        <li>Screen reader</li>
        <li>Web:
            <ul>
                <li><a href="https://chrispederick.com/work/web-developer/">Web Developer plugin</a></li>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI bookmarklet</a></li>
            </ul>
        </li>     
    </ul>

    </div>

    <div class="block">
        <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion 1.3.2 Meaningful Sequence</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G57">G57: Ordering the content in a meaningful sequence</a></li>
                    </ul>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H34">H34: Using a Unicode right-to-left mark (RLM) or left-to-right mark (LRM) to mix text direction inline</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H56">H56: Using the dir attribute on an inline element to resolve problems with nested directional runs</a></li>
                    </ul>
                </li>
                <li>CSS:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C6">C6: Positioning content based on structural markup</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C8">C8: Using CSS letter-spacing to control spacing within a word</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C27">C27: Making the DOM order match the visual order</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF3">PDF3: Ensuring correct tab and reading order in PDF documents</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
        <li><a href="https://www.boia.org/blog/what-does-meaningful-sequence-mean-for-web-accessibility">What Does "Meaningful Sequence" Mean for Web Accessibility?</a></li>
        <li><a href="https://helpx.adobe.com/acrobat/using/touch-reading-order-tool-pdfs.html">Adobe: Reading Order tool for PDFS (Acrobat Pro)</a></li>
    </ul>
    </div>
</div>
    {% include checkpoints/1302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>