---
layout: default
current: 130204
criterion: 1302
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1302.1302[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1302.1302[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p></p>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The reading order of modal content must be logical and intuitive.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> When a modal is open, it must not be possible for assistive technology to read outside of it.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a blind screen reader user, I want the content to be read in a meaningful sequence so that I can understand the content.</div>

            <div class="success"><strong>Success:</strong> If you could not see the web page, when you use a screen reader, you would hear the content in an order that makes logical sense.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test4">Are there modals on the page?</h3>
            <ul role="tree" aria-labelledby="test4">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; When the modal is open, can assistive technology read content outside the modal?</span>
                    <ul role="group">
                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1302.1302[130204011].link | prepend: baseurl }}">{{ site.data.1302.1302[13020401].name }}</a></span></li>
                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <h3>Screen Reader</h3>
            <ol>
                <li>Starting at the top of the content being tested, navigate to and activate any controls that open modals.</li>
                <li>Verify that the focus goes to a logical location within the modal when it is opened and that the content that is read makes sense.</li>
                <li>Verify that no modal content is skipped.</li>
                <li>Verify that the screen reader does not read outside any modals while they are open.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.1302.1302[13020401].link | prepend: baseurl }}">{{ site.data.1302.1302[13020401].name }}.</a> (High)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G57">G57: Ordering the content in a meaningful sequence</a></li>
                            </ul>
                        <li>HTML:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H34">H34: Using a Unicode right-to-left mark (RLM) or left-to-right mark (LRM) to mix text direction inline</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H56">H56: Using the dir attribute on an inline element to resolve problems with nested directional runs</a></li>
                            </ul>
                        </li>
                        <li>CSS:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C6">C6: Positioning content based on structural markup</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C8">C8: Using CSS letter-spacing to control spacing within a word</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C27">C27: Making the DOM order match the visual order</a></li>
                            </ul>
                        </li>
                        <li>PDF:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF3">PDF3: Ensuring correct tab and reading order in PDF documents</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://www.boia.org/blog/what-does-meaningful-sequence-mean-for-web-accessibility">What Does "Meaningful Sequence" Mean for Web Accessibility?</a></li>
                <li><a href="https://helpx.adobe.com/acrobat/using/touch-reading-order-tool-pdfs.html">Adobe: Reading Order tool for PDFS (Acrobat Pro)</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1302checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>