---
layout: default
current: 130302
criterion: 1303
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1303.1303[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1303.1303[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>This checkpoint applies to instructions or operating procedures.</p>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Instructions provided for understanding and operating content do not rely solely on sound cues such as beeps, chimes, or speech. </li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a deaf screen reader user, I want instructions to not require hearing so that I can follow the them.</div>

            <div class="success"><strong>Success:</strong> If you could not hear, when you read instructions, you would still understand how to follow them.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Do any instructions on the page refer to sound cues such as beeps, chimes, or speech?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Do the instructions also include references which do not rely on sound cues?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1303.1303[13030201].link | prepend: baseurl }}">{{ site.data.1303.1303[13030201].name }}.</a></span></li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <h3>Desktop</h3>
            <ol>
                <li>Ensure sound is not muted.</li>
                <li>Locate any instructions related to understanding or operating content.</li>
                <li>Determine if any of the instructions reference auditory characteristics such as beeps, chimes, or speech.</li>
                <li>If so, verify that they also reference another non-sound characteristic, such as a text label, that can be accessed people who cannot hear.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.1303.1303[13030201].link | prepend: baseurl }}">{{ site.data.1303.1303[13030201].name }}.</a> (Medium)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li>Speakers or headphones</li> 
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G96">G96: Providing textual identification of items that otherwise rely only on sensory information to be understood</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1303checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>