---
layout: default
current: 130601
criterion: 1306
last-modified: March 16, 2026
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1306.1306[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1306.1306[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The purpose of user interface components, icons, and regions can be programmatically determined.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a non-verbal user who uses symbols to communicate, I want assistive technology to convert elements to familiar symbols so that I can understand their purpose.</div>

            <div class="success"><strong>Success:</strong> If you use assistive technology that converts elements to recognizable symbols, when you view a web page, the elements can be automatically translated.</div>
        </div>

        <div class="block">
            <h2>Overview</h2>
            <p>This checkpoint adds an additional layer beyond identifying names, roles, and values, by requiring that the <em>purpose</em> of components can be determined by assistive technology. For example:
            <ul>
                <li>Where <a href="{{ site.data.4102.4102[4102].link | prepend: baseurl }}">{{ site.data.4102.4102[4102].name }}</a> requires that assistive technology can read and understand how to use a control, this checkpoint requires that the specific purpose is also communicated.</li>
                <li>Where <a href="{{ site.data.1305.1305[1305].link | prepend: baseurl }}">{{ site.data.1305.1305[1305].name }}</a> applies to form inputs, this checkpoint includes non-interactive elements such as icons and landmarks.</li>
            </ul>

            <p>Often this checkpoint is already satisfied if semantic HTML elements or ARIA roles are used.</p>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>

            <h3 id="test1">Does the page contain informational icons?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the icon have a text alternative?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the text alternative accurately describe the purpose of the icon?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the text alternative for each icon consistent across the site?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060105].link | prepend: baseurl }}">{{ site.data.1306.1306[13060105].name }}</a>.</span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060101].link | prepend: baseurl }}">{{ site.data.1306.1306[13060101].name }}</a>.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1101.1101[11010101].link | prepend: baseurl }}">{{ site.data.1101.1101[1101].name }}</a>.</span></li>
                    </ul>
                <li role="treeitem" class="na"><span><strong>No</strong>; This test is not applicable.</span></li>
            </ul>

            <h3 id="test2">Does the page contain form elements?</h3>
            <ul role="tree" aria-labelledby="test2">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Do the form elements have a programmatically identifiable purpose?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the programmatically identifiable purpose consistent across the site?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060105].link | prepend: baseurl }}">{{ site.data.1306.1306[13060105].name }}</a>.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060102].link | prepend: baseurl }}">{{ site.data.1306.1306[13060102].name }}</a>.</span></li>
                    </ul>
                <li role="treeitem" class="na"><span><strong>No</strong>; This test is not applicable.</span></li>
            </ul>

            <h3 id="test3">Does the page contain links?</h3>
            <ul role="tree" aria-labelledby="test3">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Can the purpose of each link be programmatically determined?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the programmatically determined link purpose consistent across the site?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060105].link | prepend: baseurl }}">{{ site.data.1306.1306[13060105].name }}</a>.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060103].link | prepend: baseurl }}">{{ site.data.1306.1306[13060103].name }}</a>.</span></li>
                    </ul>
                <li role="treeitem" class="na"><span><strong>No</strong>; This test is not applicable.</span></li>
            </ul>

            <h3 id="test4">Are all page regions marked up as landmarks?</h3>
            <ul role="tree" aria-labelledby="test4">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1306.1306[13060104].link | prepend: baseurl }}">{{ site.data.1306.1306[13060104].name }}</a></span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>

            <h3>Desktop</h3>
            <ol>
                <li>Verify that icons have a programmatically determinable purpose.
                    <ol>
                        <li>Use ANDI: graphics/images to check the ANDI Output of informational icons.</li>
                        <li>Verify that the ANDI Output provides an accurate description of the purpose of the icon.</li>
                        <li>Verify that icons with the same purpose are identified consistently.</li>
                    </ol>
                </li>
                <li>Verify that user interface components have a programmatically determinable purpose.
                    <ol>
                        <li>Use ANDI: focusable elements to check the ANDI Output of keyboard-focusable elements.</li>
                        <li>Verify that the ANDI Output provides an accurate description of the purpose of the element.</li>
                        <li>Verify that components with the same purpose are identified consistently.</li>
                    </ol>
                </li>
                <li>Verify that links have a programmatically determinable purpose.
                    <ol>
                        <li>Use ANDI: links/buttons to check the ANDI Output of links.</li>
                        <li>Verify that the ANDI Output provides an accurate description of the purpose of the link.</li>
                        <li>Verify that links with the same destination are identified consistently.</li>
                    </ol>
                </li>
                <li>Verify that landmark regions are marked up programmatically.
                    <ol>
                        <li>Visually locate the regions of the web page.</li>
                        <li>Use ANDI: structures and select "landmarks".</li>
                        <li>Verify that ANDI identifies a landmark region for each visible page region.</li>
                    </ol>
                </li>
                <li>Verify that the programmatically determinable purpose for informational icons, user interface components, and links are consistent across the site.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.1306.1306[13060101].link | prepend: baseurl }}">{{ site.data.1306.1306[13060101].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1306.1306[13060102].link | prepend: baseurl }}">{{ site.data.1306.1306[13060102].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1306.1306[13060103].link | prepend: baseurl }}">{{ site.data.1306.1306[13060103].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1306.1306[13060104].link | prepend: baseurl }}">{{ site.data.1306.1306[13060104].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1306.1306[13060105].link | prepend: baseurl }}">{{ site.data.1306.1306[13060105].name }}</a> (Medium)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion 1.3.6 Identify Purpose</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA11">ARIA11: Using ARIA landmarks to identify regions of a page</a></li>
                            </ul>
                        </li>
                        <li>HTML:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H77">H77: Identifying the purpose of a link using link text combined with its enclosing list item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://www.youtube.com/watch?v=b9bOQDwVKJ0">webforeveryone: How to implement WCAG 2.1 Success Criteria 1.3.6 Identify Purpose in code with examples</a> (YouTube)</li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1306checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>