---
layout: default
current: 140302
criterion: 1403
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1403.1403[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1403.1403[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>Be sure to check for text that is not initially visible on the page, such as text in tooltips, dialogs, menus, edit fields, and expandable content.</p>
            <p>The following are not covered by this checkpoint:</p>
            <ul>
                <li>Logo text</li>
                <li>Disabled form controls</li>
                <li>Purely decorative text</li>
                <li>Text within an image that conatins significant other visual content</li>
                <li>Visited link text</li>
            </ul>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Large text, including images of large text, must have a contrast ratio of at least 3:1 with the background.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If either background or text color is specified, the other must also be specified.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Large sized synchronized media captions must must have at least 3:1 contrast with the background, or the player must allow the user to adjust the appearance of captions.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a user with a visual impairment, I want text to have good contrast so that I can more easily read it.</div>

            <div class="success"><strong>Success:</strong> If you had a visual impairment, when you viewed text, you would be able to see it well enough to read it.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Does the page have text that is at least 18pt (24px) or 14pt (19px) bold?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the text background an image or gradient?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes;</strong> Does the text have a contrast ratio of at least 3:1 with the area of the background with the least contrast?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1403.1403[14030203].link | prepend: baseurl }}">{{ site.data.1403.1403[14030203].name }}.</a></span></li>
                            </ul>
                        <li role="treeitem" aria-expanded="false"><span><strong>No;</strong> Is the text placeholder text?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the placeholder text have a contrast ratio of at least 3:1 with its background?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes;</strong> PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No;</strong> See <a href="{{ site.data.1403.1403[14030204].link | prepend: baseurl }}">{{ site.data.1403.1403[14030204].name }}.</a></span></li>
                                    </ul>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the text a link?</span>
                                    <ul role="group">
                                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the link text have a contrast ratio of at least 3:1 with its background?</span>
                                            <ul role="group">
                                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the text in the hover and focus states have a contrast ratio of at least 3:1 with its background?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1403.1403[14030202].link | prepend: baseurl }}">{{ site.data.1403.1403[14030202].name }}.</a></span></li>
                                                    </ul>
                                                </li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1403.1403[14030201].link | prepend: baseurl }}">{{ site.data.1403.1403[14030201].name }}.</a></span></li>
                                            </ul>
                                        </li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the text have a contrast ratio of at least 3:1 with its background?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1403.1403[14030201].link | prepend: baseurl }}">{{ site.data.1403.1403[14030201].name }}.</a></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>

            <h3>Desktop</h3>
            <h4>ANDI</h4>
            <ol>
                <li>Use ANDI: color contrast to automatically check for text contrast issues.</li>
                <li>Examine any Contrast Alerts under Accessibility Alerts which identify text that fails.</li>
                <li>Identify any alerts for Manual Contrast Tests Needed.</li>
                <li>Perform the Manual Checks steps below.</li>
            </ol>

            <h4>WAVE</h4>
            <ol>
                <li>Use WAVE to automatically check for text contrast issues.</li>
                <li>Select the Contrast tab in the results pane.</li>
                <li>Select the low contrast icons in the pane or on the page to view details.</li>
            </ol>

            <h4>axe DevTools</h4>
            <ol>
                <li>Run axe DevTools to automatically check for text contrast issues.</li>
                <li>Check for "Elements must meet minimum color contrast ratio thresholds" in the results.</li>
            </ol>

            <h4>Manual Checks</h4>
            <ol>
                <li>Use a tool such as one listed in the Testing Tools below to manually check any text not covered by the automated tool. For example:
                    <ul>
                        <li>Text in hover states</li>
                        <li>Meaningful text embedded in images (check the area with the least contrast)</li>
                        <li>Text over images or gradients</li>
                        <li>Text in modal and modeless dialogs</li>
                        <li>Text in menus</li>
                        <li>Placeholder text</li>
                    </ul>
                    <p><em>Note: Check hex codes rather than using an eyedropper tool whenever possible to ensure you're checking the exact color.</em></p>
                </li>
                <li>Verify that all large text has a contrast ratio of at least 3:1 with its background.</li>
            </ol>

            <h3>Mobile</h3>
            <ol>
                <li>Open the page on a desktop computer in Chrome.</li>
                <li>Right-click on the page and select <strong>Inspect</strong> or press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd> to open the Developer Tools.</li>
                <li>Activate the <strong>Toggle device toolbar</strong> button or press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>M</kbd>.</li>
                <li>Select a mobile device from the <strong>Dimensions</strong> drop-down menu.</li>
                <li>Follow the procedure for Desktop Web.</li>
            </ol>

            <h2>Mobile App Test Procedure</h2>
            <h3>iOS and Android</h3>
            <ol>
                <li>Ensure that any contrast enhancements, such as <a href="https://www.supportyourtech.com/iphone/enhancing-iphone-display-ios-17-contrast-settings/">Increase Contrast</a> on iOS, are turned OFF.</li>
                <li>Visually check for large text which appears to have poor contrast with its background.</li>
                <li>Take a screenshot on the device and open it on a desktop computer.</li>
                <li>Use a manual tool such as one listed in the Testing Tools below to check the contrast ratio of the colors in the screenshot.</li>
                <li>Verify that the contrast ratio between the large text and its background is at least 3:1.</li>
                <li>If the app supports Dark Mode, test both Light and Dark Mode.</li>
                <li>If the app has any alternate themes that affect text and background colors, test each of these.</li>
            </ol>

            <h2>PDF Test Procedure</h2>
            <ol>
                <li>Use PAC to automatically check for contrast issues.</li>
                <li>Look under WCAG > 1 Perceivable > 1.4 Distinguishable > 1.4.3 Contrast (Minimum) for failures.</li>
                <li>Use a manual tool such as one listed in the Testing Tools below to manually check any large text.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.1403.1403[14030201].link | prepend: baseurl }}">{{ site.data.1403.1403[14030201].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1403.1403[14030202].link | prepend: baseurl }}">{{ site.data.1403.1403[14030202].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1403.1403[14030203].link | prepend: baseurl }}">{{ site.data.1403.1403[14030203].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1403.1403[14030204].link | prepend: baseurl }}">{{ site.data.1403.1403[14030204].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1403.1403[14030205].link | prepend: baseurl }}">{{ site.data.1403.1403[14030205].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.1403.1403[14030206].link | prepend: baseurl }}">{{ site.data.1403.1403[14030206].name }}.</a> (Medium)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li>Automated Contrast Checkers for Web:
                    <ul>
                        <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                        <li><a href="https://wave.webaim.org/">WAVE</a></li>
                        <li><a href="https://deque.com/axe/devtools/">axe DevTools</a></li>
                    </ul>
                </li>
                <li>Manual Constrast Checkers:
                    <ul>
                        <li><a href="https://www.tpgi.com/color-contrast-checker/">TPGi Colour Contrast Analyzer</a></li>
                        <li><a href="https://dequeuniversity.com/color-contrast">Deque Color Contrast Analyzer</a></li>
                        <li><a href="https://coolors.co/contrast-checker/112a46-acc8e5">Coolors Color Contrast Checker</a></li>
                        <li><a href="https://accessible-colors.com/">Accessible Colors</a></li>
                        <li><a href="https://www.siegemedia.com/contrast-ratio">SiegeMedia Contrast Ratio</a></li>
                        <li><a href="https://webaim.org/resources/contrastchecker/">WebAIM Contrast Checker</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://pac.pdf-accessibility.org/en">PAC</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G145">G145: Ensuring that a contrast ratio of at least 3:1 exists between text (and images of text) and background behind the text</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G148">G148: Not specifying background color, not specifying text color, and not using technology features that change those defaults</a></li>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G174">G174: Providing a control with a sufficient contrast ratio that allows users to switch to a presentation that uses sufficient contrast</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/08Contrast/">Section 508 ICT Testing Baseline Portfolio: Contrast (Web)</a></li>
                <li><a href="https://webaim.org/articles/contrast/">WebAIM: Contrast and Color Accessibility</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast">MDN: Color contrast</a></li>
                <li><a href="https://bootcamp.uxdesign.cc/mastering-color-contrast-a-beginners-guide-to-wcag-guidelines-and-contrast-checkers-d6cd7de6c373">Mastering Color Contrast: A Beginner's Guide to WCAG Guidelines and Contrast Checkers</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>