---
layout: default
current: 140803
root: WCAG 2.2
base: base
criterion: 1408
guideline: perceivable
level: aaa
---
{% assign currentpg=site.data.1408.1408[page.current] %}
{% assign baseurl=site.data.1408.1408[page.base] %}
{% assign sc=site.data.1408.1408[page.criterion] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> 
        Text must not be justified.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a user with a cognitive disability, I want text to be evenly spaced so that I can more easily read the content.</div>

    <div class="success"><strong>Success:</strong> If you had difficulty reading unevenly spaced text, when you encountered blocks of text, you would be able to easily read it.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Does the page have blocks of text that are justified?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is there a mechanism on the page to remove the justification?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1408.1408[14080301].link | prepend: baseurl }}">{{ site.data.1408.1408[14080301].name }}</a></span></li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>

    <h3>Desktop</h3>
    <ol>
        <li>Check if there are blocks of text which are aligned on both the left and right sides.</li>
        <li>If so, verify that there is a mechanism available to remove the justification.</li>
    </ol>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.1408.1408[14080301].link | prepend: baseurl }}">{{ site.data.1408.1408[14080301].name }}</a> (Medium)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li>Web browser</li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G169">G169: Aligning text on only one side</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G172">G172: Providing a mechanism to remove full justification of text</a></li>
                    </ul>
                </li>
                <li>CSS:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C19">C19: Specifying alignment either to the left or right in CSS</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
        <li></li>
    </ul>
</div>

    {% include checkpoints/1408checkpoints.html %}