---
layout: default
current: 141101
criterion: 1411
guideline: perceivable
level: aa
css: 1411
last-modified: July 7, 2026
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1411.1411[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1411.1411[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}" id="main">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p aria-hidden="true"><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Visual indicators of a control's boundaries must have at least 3:1 contrast with the background.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> User controls should have visual boundaries to distinguish the hit area.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a user with low vision, I want controls to have sufficient contrast so that I can distinguish them.</div>

            <div class="success"><strong>Success:</strong> If you had low vision, when you encountered controls, you would be able to distinguish them from surrounding content.</div>
        </div>

        <div class="block">
            <h2>Overview</h2>

            <p>Visual indicators of a control's boundaries must have at least 3:1 contrast with the background. This includes both internal and external boundaries. For example, a slider button must have sufficient contrast with the slider bar, and the slider bar must have sufficient contrast with the page background.</p>

            <p><em>Note: Visual indicators of the boundaries are not required. This checkpoint only applies if the boundaries are the only way to identify the control.</em></p>

            <p>Exceptions include:</p>
            <ul>
                <li>User agent default controls: These colors are controlled via browser or system settings.</li>
                <li>Disabled controls</li>
                <li>Buttons with text or icons: The text or icon must have </li>
                <li>Text inputs with text inside them</li>
            </ul>

            <h3>Things to Check</h3>
            <p>The following are examples of things that fall under this criterion. This list does not cover all possible cases.</p>

            <h4>Border against background</h4>
            <ul>
                <li><img src="{{ baseurl }}/assets/images/checkbox-empty.png" width="48" height="48" style="vertical-align: middle;" alt="">The checkbox border (gray in this example) must have 3:1 contrast with the page background./li>
                <li><img src="{{ baseurl }}/assets/images/radio-empty.png" width="48" height="48" style="vertical-align: middle;">The radio button border (gray in this example) must have 3:1 contrast with the page background.</li>
                <li>The text box border (gray in this example) must have 3:1 contrast with the page background.<br>
                    <img src="{{ baseurl }}/assets/images/text-field-border.png" alt=""></li>
                <li>The switch border (gray in this example) must have 3:1 contrast with the page background.<br>
                    <img src="{{ baseurl }}/assets/images/switch-border.png" alt=""></li>
                <li>The switch toggle border (white in this example) must have 3:1 contrast with the switch fill (blue).<br>
                    <img src="{{ baseurl }}/assets/images/switch-toggle-border.png" alt=""></li>
                <li>The slider button border (white in this example) must have 3:1 contrast with both colors of the slider fill. It doesn't need to have contrast with the page background, as this is not necessary to distinguish it.<br>
                    <img src="{{ baseurl }}/assets/images/slider-fill.png" alt=""></li>
            </ul>

            <h4>Fill against background</h4>
            <ul>
                <li><img src="{{ baseurl }}/assets/images/checkbox-empty-fill.png" width="48" height="48" style="vertical-align: middle;" alt="">The checkbox fill in this example must have 3:1 contrast with the background, since there is no border.</li>
                <li><img src="{{ baseurl }}/assets/images/radio-empty-fill.png" width="48" height="48" style="vertical-align: middle;" alt="">The radio button fill in this example must have 3:1 contrast with the background, since there is no border.</li>
                <li>The text box fill in this example must have 3:1 contrast with the background, since there is no border.<br>
                    <img src="{{ baseurl }}/assets/images/text-field-fill.png" alt=""></li>
                <li>If there is both a fill and a border, the border does not have to have 3:1 contrast with both the fill and the background. In this example, the contrast between the fill and the background is enough, and the border can be ignored.<br>
                    <img src="{{ baseurl }}/assets/images/text-field-border-fill.png" alt=""></li>
                <li>The switch fill (blue in this example) must have 3:1 contrast with the page background, since it has no border.<br>
                    <img src="{{ baseurl }}/assets/images/switch-fill.png" alt=""></li>
                <li>Both colors of the slider fill (blue and gray in this example) must have 3:1 contrast with the page background, since it has no border.<br>
                    <img src="{{ baseurl }}/assets/images/slider-fill.png" alt=""></li>
            </ul>

            <h4>Checked indicator against fill</h4>
            <ul>
                <li><img src="{{ baseurl }}/assets/images/checkbox-checked.png" width="48" height="48" style="vertical-align: middle;" alt="">The checkmark (white in this example) must have 3:1 contrast with the checkbox fill (blue).</li>
                <li><img src="{{ baseurl }}/assets/images/radio-checked.png" width="48" height="48" style="vertical-align: middle;" alt="">The radio button checked indicator (white in this example) must have 3:1 contrast with the radio button fill (blue).</li>
                <li>The switch toggle (round) fill (white in this example) must have 3:1 contrast with the switch fill (blue).<br>
                    <img src="{{ baseurl }}/assets/images/switch-fill.png" alt=""></li>
            </ul>

            <h4>Icon as functionality indicator</h4>
            <ul>
                <li>The arrow indicates that this is a drop-down, so it must have 3:1 contrast with its background.<br>
                    <img src="{{ baseurl }}/assets/images/dropdown-arrow.png" alt=""></li>
                <li>If an icon is the only visible label on a button, the icon itself is the indicator, so it must have 3:1 contrast with the button background. The border can be ignored because it's not necessary to distinguish the control.<br>
                    <i class="fa-solid fa-house" style="color: #529FF6; border: 2px solid #ddd; height: 48px; width: 48px; text-align: center; line-height: 42px; font-size: x-large;" aria-hidden="true"></i></li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Does the page include active user interface components which have visual boundaries indicating the hit area?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Are the visual boundaries the only means of distinguishing the control (e.g., no text or icon inside it)?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the visual boundary have at least 3:1 contrast with the background?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control disabled?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control the default appearance for the user agent?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a checkbox or radio button?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1411.1411[14110101].link | prepend: baseurl }}">{{ site.data.1411.1411[14110101].name }}</a></span></li>
                                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a text field?</span>
                                                            <ul role="group">
                                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1411.1411[14110102].link | prepend: baseurl }}">{{ site.data.1411.1411[14110102].name }}</a></span></li>
                                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a switch?</span>
                                                                    <ul role="group">
                                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1411.1411[14110103].link | prepend: baseurl }}">{{ site.data.1411.1411[14110103].name }}</a></span></li>
                                                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a slider?</span>
                                                                            <ul role="group">
                                                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.1411.1411[14110104].link | prepend: baseurl }}">{{ site.data.1411.1411[14110104].name }}</a></span></li>
                                                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.1411.1411[14110105].link | prepend: baseurl }}">{{ site.data.1411.1411[14110105].name }}</a></span></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li role="treeitem" class="na"><span><strong>No</strong>; This test is not applicable.</span></li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This test is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>

            <h3>Desktop</h3>
         
            <ol>
                <li>Load the page so that user interface controls are in their default state.</li>
                <li>Locate any active controls that are not in the browser default style and that do not have text or icons inside them.</li>
                <li>Identify the visual indicators of the control that are required to identify that the control exists.</li>
                <li>Determine if the visual indicator is the only means of distinguishing it from the background.</li>
                <li>Use a tool such as one listed in the Testing Tools below to check the contrast between the visual indicator and the background.
                    <p><em>Note: Check hex codes rather than using an eyedropper tool whenever possible to ensure you're checking the exact color.</em></p>
                </li>
                <li>Verify that the visual indicator has at least 3:1 contrast with the background.</li>
            </ol>

            <h3>Mobile</h3>
            <ol>
                <li>Open the page on a desktop computer in Chrome.</li>
                <li>Right-click on the page and select <strong>Inspect</strong> or press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd> to open the Developer Tools.</li>
                <li>Activate the <strong>Toggle device toolbar</strong> button or press <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>M</kbd>.</li>
                <li>Select a mobile device from the <strong>Dimensions</strong> drop-down menu.</li>
                <li>Follow the procedure for Desktop Web.</li>
            </ol>

            <h2>Mobile App Test Procedure</h2>
            <h3>iOS and Android</h3>
            <ol>
                <li>Ensure that any contrast enhancements, such as <a href="https://www.supportyourtech.com/iphone/enhancing-iphone-display-ios-17-contrast-settings/">Increase Contrast</a> on iOS, are turned OFF.</li>
                <li>Locate any active controls that are not the system default and that do not have text or icons inside them.</li>
                <li>Determine if they have a visual boundary that is the only means of distinguishing them from the background.</li>
                <li>Visually check for boundaries which appear to have poor contrast with the background.</li>
                <li>Take a screenshot on the device and open it on a desktop computer.</li>
                <li>Use a manual tool such as one listed in the Testing Tools below to check the contrast ratio of the colors in the screenshot.</li>
                <li>Verify that the contrast ratio between the visual boundary and its background is at least 3:1.</li>
                <li>If the app supports Dark Mode, test both Light and Dark Mode.</li>
                <li>If the app has any alternate themes that affect the control colors, test each of these.</li>
            </ol>

            <h2>PDF Test Procedure</h2>
            <ol>
                <li>Locate any active controls that are not the system default and that do not have text or icons inside them.</li>
                <li>Determine if they have a visual boundary that is the only means of distinguishing them from the background.</li>
                <li>Use a manual tool such as one listed in the Testing Tools below to manually check any visual boundaries.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.1411.1411[14110101].link | prepend: baseurl }}">{{ site.data.1411.1411[14110101].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1411.1411[14110102].link | prepend: baseurl }}">{{ site.data.1411.1411[14110102].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1411.1411[14110103].link | prepend: baseurl }}">{{ site.data.1411.1411[14110103].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1411.1411[14110104].link | prepend: baseurl }}">{{ site.data.1411.1411[14110104].name }}</a> (Medium)</li>
                <li><a href="{{ site.data.1411.1411[14110105].link | prepend: baseurl }}">{{ site.data.1411.1411[14110105].name }}</a> (Medium)</li>
            </ul>

        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.tpgi.com/color-contrast-checker/">TPGi Colour Contrast Analyzer</a></li>
                <li><a href="https://dequeuniversity.com/color-contrast">Deque Color Contrast Analyzer</a></li>
                <li><a href="https://coolors.co/contrast-checker/112a46-acc8e5">Coolors Color Contrast Checker</a></li>
                <li><a href="https://webaim.org/resources/contrastchecker/">WebAIM Contrast Checker</a></li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G174">G174: Providing a control with a sufficient contrast ratio that allows users to switch to a presentation that uses sufficient contrast</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://webaim.org/articles/contrast/">WebAIM: Contrast and Color Accessibility</a></li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Perceivable/Color_contrast">MDN: Color contrast</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1411checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>