---
layout: default
current: 210101
criterion: 2101
---
{% assign currentpg=site.data.2101.2101[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2101.2101[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>

    <p>This checkpoint applies to literal keyboards, but it also applies to any technology which uses the keyboard interface, such as switch controls, voice control, sip-and-puff controls, on-screen keyboards, and screen readers.</p> 

    <p>"Specific timings for individual keystrokes" refers to things such as multiple keystrokes within a short period of time or holding down a key for a length of time.</p>

    <p>Examples of exceptions which depend on the path of the user's movement:</p>
    <ul>
        <li>Free hand drawing or painting</li>
    </ul>

    <p>Examples that are <em>not</em> path-dependent and must be made accessible:</p>
    <ul>
        <li>Drag and drop</li>
        <li>Resizing</li>
        <li>Drawing a straight line</li>
        <li>Drawing preset geometric shapes (circle, square, triangle, star, spiral)</li>
    </ul>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> All functionality must be available through the keyboard interface.</li>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Keyboard functionality must not require specific timings for individual keystrokes.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Content should use the standard and expected keyboard interaction for the platform/user agent.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Instructions should be provided to explain any non-standard keyboard interaction required to use the functionality.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a keyboard user, I want to be able to access all functionality with the keyboard so that I can use the page.</div>

    <div class="success"><strong>Success:</strong> If you used only a keyboard, when you access a page, you could use all functionality.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Can all page functionality be reached using only the keyboard?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Can all page functionality be activated using only the keyboard?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the underlying function require input that depends on the path of the user's movement?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Can the functionality be activated with a mouse?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the control a link?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.2101.2101[21010103].link | prepend: baseurl }}">{{ site.data.2101.2101[21010103].name }}</a>.</span></li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control an image map?</span>
                                            <ul role="group">
                                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is it a client-side image map?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.2101.2101[21010103].link | prepend: baseurl }}">{{ site.data.2101.2101[21010103].name }}</a>.</span></li>
                                                    </ul>
                                                </li>
                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a drag and drop?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.2101.2101[21010107].link | prepend: baseurl }}">{{ site.data.2101.2101[21010107].name }}</a>.</span></li>
                                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a scrollable region?</span>
                                                            <ul role="group">
                                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.2101.2101[21010108].link | prepend: baseurl }}">{{ site.data.2101.2101[21010108].name }}</a>.</span></li>
                                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2101.2101[21010102].link | prepend: baseurl }}">{{ site.data.2101.2101[21010102].name }}</a>.</span></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2101.2101[21010101].link | prepend: baseurl }}">{{ site.data.2101.2101[21010101].name }}</a>.</span></li>
    </ul>

    <h3 id="test2">Is there additional modal or non-modal content on the page?</h3> 
    <ul role="tree" aria-labelledby="test2">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the additional content contain interactive controls?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Can the controls be reached using only the keyboard?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the additional content a modal?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Can the modal be dismissed without submitting data?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2101.2101[21010104].link | prepend: baseurl }}">{{ site.data.2101.2101[21010104].name }}</a>.</span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See test flow for main content.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the control a close button?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.2101.2101[21010105].link | prepend: baseurl }}">{{ site.data.2101.2101[21010105].name }}</a>.</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See test flow for main content.</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the additional content appear on mouse hover?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the additional content also appear on keyboard focus?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2101.2101[21010109].link | prepend: baseurl }}">{{ site.data.2101.2101[21010109].name }}</a>.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop Keyboard</h3>
    <ol>
        <li>Using only the keyboard (no mouse or screen reader), navigate through the page.
            <ul>
                <li>Press the <kbd>Tab</kbd> key to navigate the focus through menu items, form inputs, links, help items, and other interactive UI elements.</li>
                <li>Press <kbd>Shift</kbd>+<kbd>Tab</kbd> to navigate the focus in the reverse direction through all interactive UI elements.</li>
                <li>In grouped inputs, menus, or list item elements, press the <kbd>up</kbd>, <kbd>down</kbd>, <kbd>right</kbd>, or <kbd>left arrow</kbd> keys to move between items inside the element.</li>
                <li>Press the <kbd>Enter</kbd> key or the <kbd>Space bar</kbd> to select or activate the interactive UI element that has focus.</li>
            </ul>
        </li>
        <li>Verify that all controls can be navigated to and activated using only the keyboard.</li>
    </ol>

    <h3>Desktop Screen Reader</h3>
    <ol>
        <li>Turn on the screen reader.</li>
        <li>Follow the process for Desktop Keyboard.</li>
    </ol>

    <h3>Mobile</h3>

    <h4>Screen Reader (iOS and Android)</h4>
    <ol>
        <li>Turn on the screen reader.</li>
        <li>Swipe to each interactive element on the page.</li>
        <li>Verify that you are able to reach and use each interactive element.</li>
    </ol>

    <h4>Bluetooth Keyboard (Android)</h4>
    <ol>
        <li>Pair a Bluetooth keyboard with your device.</li>
        <li>With TalkBack off, navigate through the screen using <kbd>Tab</kbd> and <kbd>Arrow</kbd> keys.</li>
        <li>Verify that you are able to reach and use all interactive elements.</li>
    </ol>

    <h2>Mobile App Test Procedure</h2>

    <h3>Screen Reader (iOS and Android)</h3>
    <ul>
        <li>Follow the procedure for Web Mobile.</li>
    </ul>

    <h3>iOS</h3>

    <h4>Voice Control</h4>
    <ol>
        <li>Turn on Voice Control.</li>
        <li>Say “Show numbers.”</li>
        <li>Verify that a number appears next to all active (non-disabled) controls.
            <ul>
                <li>If you are unsure if a button is active or disabled, turn off Voice Control and try to activate the button with no assistive technology.</li>
            </ul>
        </li>
        <li>If a number does not appear next to a link, turn off Voice Control and test with VoiceOver to ensure the link role is announced and the link can be activated with VoiceOver turned on.</li>
    </ol>

    <h4>Switch Control (optional)</h4>
    <ol>
        <li>Using Switch Control, navigate through the app.</li>
        <li>Verify that you are able to reach and use all active (non-disabled) controls.</li>
    </ol>

    <h4>Keyboard (optional)</h4>
    <p>As of iOS 13, full keyboard support was enabled on iOS devices. To see the full range of keyboard commands for operating content, access the Help menu by pressing <kbd>Tab</kbd>+<kbd>H</kbd>.</p>

    <h3>Android</h3>

    <h4>Switch Control</h4>
    <ol>
        <li>Using Switch Control, navigate through the app. (See link under Additional Information.)</li>
        <li>Verify that you are able to reach and use all active (non-disabled) controls.</li>
    </ol>

    <h2>PDF Test Procedure</h2>
    <p>Follow the procedure for Desktop Web.</p>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.2101.2101[21010101].link | prepend: baseurl }}">{{ site.data.2101.2101[21010101].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010102].link | prepend: baseurl }}">{{ site.data.2101.2101[21010102].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010103].link | prepend: baseurl }}">{{ site.data.2101.2101[21010103].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010104].link | prepend: baseurl }}">{{ site.data.2101.2101[21010104].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010105].link | prepend: baseurl }}">{{ site.data.2101.2101[21010105].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010106].link | prepend: baseurl }}">{{ site.data.2101.2101[21010106].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010107].link | prepend: baseurl }}">{{ site.data.2101.2101[21010107].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010108].link | prepend: baseurl }}">{{ site.data.2101.2101[21010108].name }}</a> (High)</li>
        <li><a href="{{ site.data.2101.2101[21010109].link | prepend: baseurl }}">{{ site.data.2101.2101[21010109].name }}</a> (High)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li>Keyboard</li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G90">G90: Providing keyboard-triggered event handlers</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G202">G202: Ensuring keyboard control for all functionality</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H91">H91: Using HTML form controls and links</a></li>
                    </ul>
                </li>
                <li>JavaScript:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR2">SCR2: Using redundant keyboard and mouse event handlers</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR20">SCR20: Using both keyboard and other device-specific functions</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR35">SCR35: Making actions keyboard accessible by using the onclick event of anchors and buttons</a></li>
                    </ul>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF3">PDF3: Ensuring correct tab and reading order in PDF documents</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF11">PDF11: Providing links and link text using the Link annotation and the /Link structure element in PDF documents</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF23">PDF23: Providing interactive form controls in PDF documents</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h3>Additional Information</h3>
    <ul>
        <li><a href="https://developer.android.com/guide/topics/ui/accessibility/testing#switch-access">Developers: Android Switch Control</a></li>
    </ul>
    </div>
    {% include checkpoints/2101checkpoints.html %}
</div>