---
layout: default
current: 210201
criterion: 2102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2102.2102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2102.2102[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>Exceptions:</p>
            <ul>
                <li>Focus must be "trapped" inside modals while they are open.</li>
                <li>Areas which require user input or interaction before allowing the user to continue do not fail this checkpoint.</li>
            </ul>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Keyboard focus must not get stuck on any component or in a loop.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Screen reader focus must not get stuck on any component or in a loop.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If moving focus from an element requires non-standard keystrokes, instructions must be provided.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If there are instructions for non-standard keystrokes, those keystrokes must work.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a keyboard user, I want to be able to navigate freely through the page with the keyboard so that I can use the page.</div>

            <div class="success"><strong>Success:</strong> If you used only a keyboard, when you navigated through a page, your keyboard focus would not get stuck anywhere.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Are there focusable elements on the page?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is it possible to move focus off of each page element using only the keyboard?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is it possible to move focus off of each page element with the screen reader turned on?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does any element require non-standard keystrokes to move the focus off of it?</span>
                                    <ul role="group">
                                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Are instructions provided explaining the non-standard keystrokes?</span>
                                            <ul role="group">
                                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Do the non-standard keystrokes work as instructed?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2102.2102[21020104].link | prepend: baseurl }}">{{ site.data.2102.2102[21020104].name }}.</a></span></li>
                                                    </ul>
                                                </li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2102.2102[21020103].link | prepend: baseurl }}">{{ site.data.2102.2102[21020103].name }}.</a></span></li>
                                            </ul>
                                        </li>
                                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2102.2102[21020102].link | prepend: baseurl }}">{{ site.data.2102.2102[21020102].name }}.</a></span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2102.2102[21020101].link | prepend: baseurl }}">{{ site.data.2102.2102[21020101].name }}.</a></span></li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <h3>Desktop Keyboard</h3>
            <ol>
                <li>Using only the keyboard (no mouse or screen reader), navigate through the page.
                    <ul>
                        <li>Press the <kbd>Tab</kbd> key to navigate the focus through menu items, form inputs, links, help items, and other interactive UI elements.</li>
                        <li>Press <kbd>Shift</kbd>+<kbd>Tab</kbd> to navigate the focus in the reverse direction through all interactive UI elements.</li>
                        <li>In grouped inputs, menus, or list item elements, press the <kbd>up</kbd>, <kbd>down</kbd>, <kbd>right</kbd>, or <kbd>left arrow</kbd> keys to move between items inside the element.</li>
                        <li>To escape a modal without a close button, try the <kbd>Esc</kbd> key.</li>
                        <li>To escape a menu, try <kbd>Esc</kbd>, <kbd>Enter</kbd>, or <kbd>Space</kbd>.</li>
                        <li>If escaping an element requires non-standard keystrokes, verify that instructions are provided.</li>
                        <li>Verify that the non-standard keystrokes work as instructed.</li>
                    </ul>
                </li>
            </ol>

            <h3>Desktop Screen Reader</h3>
            <ol>
                <li>Turn on the screen reader.</li>
                <li>Follow the process for Desktop Keyboard.</li>
            </ol>

            <h3>Mobile</h3>

            <h4>Screen Reader (iOS and Android)</h4>
            <ol>
                <li>Turn on the screen reader.</li>
                <li>Swipe to each interactive element on the page.</li>
                <li>Verify that you are able to navigate away from each interactive element using standard gestures.</li>
            </ol>

            <h4>Bluetooth Keyboard (Android)</h4>
            <ol>
                <li>Pair a Bluetooth keyboard with your device.</li>
                <li>With TalkBack off, follow Desktop Keyboard procedure.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.2102.2102[21020101].link | prepend: baseurl }}">{{ site.data.2102.2102[21020101].name }}.</a> (High)</li>
                <li><a href="{{ site.data.2102.2102[21020102].link | prepend: baseurl }}">{{ site.data.2102.2102[21020102].name }}.</a> (High)</li>
                <li><a href="{{ site.data.2102.2102[21020103].link | prepend: baseurl }}">{{ site.data.2102.2102[21020103].name }}.</a> (High)</li>
                <li><a href="{{ site.data.2102.2102[21020104].link | prepend: baseurl }}">{{ site.data.2102.2102[21020104].name }}.</a> (High)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li>Keyboard</li>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>Related Techniques:
                    <ul>
                        <li>General:
                            <ul>
                                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G21">G21: Ensuring that users are not trapped in content</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% include checkpoints/2102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>