---
layout: default
current: 220301
criterion: 2203
---
{% assign currentpg=site.data.2203.2203[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2203.2203[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>

    <p>This criterion is similar to <a href="/a11y/sc/2201.html">2.2.1 Timing Adjustable</a>, except time outs are only allowed for video and real-time events.</p>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> There must not be time limits on the content.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a user with a disability, I want to not encounter time limits so that I have adequate time to complete tasks.</div>

    <div class="success"><strong>Success:</strong> If you had a physical disability, when you use a web page, you are not subject to time limits on your interaction.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Is there a time limit controlled by a script on the page?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the time limit required as part of a real-time event?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the content video?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2203.2203[22030101].link | prepend: baseurl }}">{{ site.data.2203.2203[22030101].name }}</a>.</span></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop</h3>
    <ol>
        <li>Identify any content that has a time out function.</li>
        <li>Verify that the timed content is either video or a real-time event.</li>
    </ol>

    <h3>Mobile</h3>
    <p>Follow the process for Desktop.</p>

    <h2>Mobile App Test Procedure</h2>
    <p>Follow the process for Desktop.</p>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.2203.2203[22030101].link | prepend: baseurl }}">{{ site.data.2203.2203[22030101].name }}</a>. (Medium)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>Related Techniques:
            <ul>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G5">G5: Allowing users to complete an activity without any time limit</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <h3>Additional Information</h3>
</div>

    {% include checkpoints/2203checkpoints.html %}