---
layout: default
current: 240101
criterion: 2401
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2401.2401[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2401.2401[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>Blocks of content do not have to be exactly the same to be considered repetitive. They may differ in detail but contain the same type of information and serve the same purpose. Small items such as repeated individual words, phrases, or single links are not considered to be blocks of content.</p>

            <p>Examples of acceptable mechanisms include:</p>
            <ul>
                <li>Skip links</li>
                <li>Hide options</li>
                <li>Collapsible menus</li>
                <li>Keyboard shortcuts</li>
            </ul>

            <p>Note that landmarks and headings are only automatically usable by screen reader users. Keyboard-only users and users of assistive technologies which use the keyboard interface (such as a switch) require in-page links or keyboard shortcuts to navigate to them. (Landmarks and properly coded headings are already required under <a href="{{ site.data.1301.1301[1301].link | prepend: baseurl }}">{{ site.data.1301.1301[1301].name }}.</a>)</p>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> A keyboard-accessible method must be provided to skip blocks of content that are repeated across pages.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The bypass function must not skip content that is not repeated across pages.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> A skip link to the main content should be the first link on the page.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a keyboard-only user, I want to be able to skip blocks of repeated content so that I do not have to navigate through them each time I encounter them.</div>

            <div class="success"><strong>Success:</strong> If you were a keyboard-only user, when blocks of content are repeated across pages, you would be able to skip past them to the content you want.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Does the page contain blocks of content (such as navigation links, page headers, tabs, and banners) that are repeated across multiple pages?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the page provide a keyboard-accessible method to bypass the repeated content?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the method visible when in focus (if applicable)?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; When activated, does the method move the focus to the correct area?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2401.2401[24010102].link | prepend: baseurl }}">{{ site.data.2401.2401[24010102].name }}.</a></span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2401.2401[24010103].link | prepend: baseurl }}">{{ site.data.2401.2401[24010103].name }}.</a></span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2401.2401[24010101].link | prepend: baseurl }}">{{ site.data.2401.2401[24010101].name }}.</a></span></li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <h3>Desktop</h3>
            <ol>
                <li>When the page loads, press <kbd>Tab</kbd> to navigate into the page. Some skip links are not visible until they receive focus.</li>
                <li>Check if there is a keyboard-accessible method to skip repetitive blocks of content.
                    <ol>
                        <li>Use ANDI: focusable elements to check for skip links, hide options, collapse menu options, etc.), <strong>OR</strong></li>
                        <li>Use ANDI: links/buttons and select the "view links list" button.</li>
                        <li>Check page instructions for any keyboard shortcut functionality.</li>
                    </ol>
                <li>Use keyboard commands to activate the bypass function.</li>
                <li>Verify that the focus moves directly past the repeated content.</li>
            </ol>

            <h3>Desktop Screen Reader (NVDA)</h3>
            <ol>
                <li>Open web page in Chrome with NVDA turned on.</li>
                <li>Check for skip links:
                    <ol>
                        <li>Press <kbd>NVDA (Insert)</kbd>+<kbd>F7</kbd> to display the Elements List.</li>
                        <li>Select <strong>Links</strong>.</li>
                        <li>Check if there is a keyboard-accessible method to skip repetitive blocks of content, such as skip links, keyboard shortcuts, scripted elements, etc.</li>
                        <li>Use keyboard commands to activate the bypass function.</li>
                        <li>Verify that the focus moves directly past the repeated content.</li>
                    </ol>
                </li>
            </ol>

            <h3>Mobile Screen Reader</h3>
            <p>Mobile content often does not require a method to bypass blocks, because the heading content is condensed to a small number of elements (which may include an expandable hamburger menu).</p>

            <p>If a bypass method is required:</p>
            <ol>
                <li>Using VoiceOver or TalkBack, check if one of the first few focusable items on the page is a skip link.</li>
                <li>Check if there is a method to skip repetitive blocks of content, such as skip links, scripted elements, etc.</li>
                <li>Check if the page has a <code>main</code> landmark that allows you to jump to the main content.
                    <ul>
                        <li>iOS:
                            <ol>
                                <li>Use the Rotor by placing two fingers on the screen and turning, like you are turning a dial.</li>
                                <li>Switch the Rotor to <strong>Landmarks</strong>.</li>
                                <li>Swipe up or down through the page and look for a “main” landmark.</li>
                            </ol>
                        </li>
                        <li>Android:
                            <ol>
                                <li>Open the local context menu in Chrome by tapping inside the browser screen and swiping up and then down, or down and then up.</li>
                                <li>Select <strong>Landmarks</strong> from the navigation options.</li>
                                <li>Swipe left or right through the page and look for a “main” landmark.</li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ol>

            <h3>PDF Testing</h3>
            <h4>Adobe Acrobat Pro</h4>
            <ol>
                <li>Select <strong>Accessibility > Reading Order</strong> in the Task pane to open the Reading Order dialog.</li>
                <li>Check the <strong>Show page content groups</strong> checkbox and select the <strong>Structure types</strong> radio button. This will display the tag value of every tagged object in the Document pane.</li>
                <li>Verify that each section of the document begins with a heading of the appropriate hierarchical level, <strong>OR</strong></li>
                <li>Go through the Tags tree in the Tags pane and verify that each section of content begins with a visible heading tagged with <code>&lt;Hx&gt;</code> tags.</li>
            </ol>

            <h4>Screen Reader (NVDA or JAWS)</h4>
            <ol>
                <li>Press the <kbd>H</kbd> key to navigate through the headings in the document.</li>
                <li>Verify that each section of the document begins with a heading of the appropriate hierarchical level.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.2401.2401[24010101].link | prepend: baseurl }}">{{ site.data.2401.2401[24010101].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.2401.2401[24010102].link | prepend: baseurl }}">{{ site.data.2401.2401[24010102].name }}.</a> (Medium)</li>
                <li><a href="{{ site.data.2401.2401[24010103].link | prepend: baseurl }}">{{ site.data.2401.2401[24010103].name }}.</a> (Medium)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G1">G1: Adding a link at the top of each page that goes directly to the main content area</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G123">G123: Adding a link at the beginning of a block of repeated content to go to the end of the block</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G124">G124: Adding links at the top of the page to each area of the content</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H69">H69: Providing heading elements at the beginning of each section of content</a></li>
                    </ul>
                </li>
                <li>ARIA:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA11">ARIA11: Using ARIA landmarks to identify regions of a page</a></li>
                    </ul>
                </li>
                <li>JavaScript:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR28">SCR28: Using an expandable and collapsible menu to bypass block of content</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF9">PDF9: Providing headings by marking content with heading tags in PDF documents</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% include checkpoints/2401checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>