---
layout: default
current: 240201
criterion: 2402
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2402.2402[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2402.2402[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Pages must have descriptive and informative page titles.</li>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> When page content is changed dynamically, such as in Single Page Applications (SPAs), the page title must be updated to reflect the current contents.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Each page title should be unique within the website.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want to be able to hear a descriptive title for each web page so that I know what the content is without having to read through the page.</div>

    <div class="success"><strong>Success:</strong> If you were a screen reader user, when you have multiple browser tabs open, you would be able to differentiate between them.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Does the web page have a <code>&lt;title&gt;</code> element?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the <code>&lt;title&gt;</code> element have text which describes the content of the specific page?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the page content change dynamically, such as in a single page application?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; When the page content updates, does the title also update to reflect the current content?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020103].link | prepend: baseurl }}">{{ site.data.2402.2402[24020103].name }}</a>.</span></li>
                            </ul>
                        </li>
                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                    </ul>
                </li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020102].link | prepend: baseurl }}">{{ site.data.2402.2402[24020102].name }}</a>.</span></li>
            </ul>
        </li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020101].link | prepend: baseurl }}">{{ site.data.2402.2402[24020101].name }}</a>.</span></li>
    </ul>

    <h3 id="test2">Does the mobile app have a screen title or main heading?</h3>
    <ul role="tree" aria-labelledby="test2">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the title or heading accurately describe the content of the screen?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020105].link | prepend: baseurl }}">{{ site.data.2402.2402[24020105].name }}</a>.</span></li>
            </ul>
        </li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020104].link | prepend: baseurl }}">{{ site.data.2402.2402[24020104].name }}</a>.</span></li>
    </ul>

    <h3 id="test3">Does the PDF document have a title displayed in the browser or document tab?</h3>
    <ul role="tree" aria-labelledby="test3">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the title or heading accurately describe the content of the screen?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020106].link | prepend: baseurl }}">{{ site.data.2402.2402[24020106].name }}</a>.</span></li>
            </ul>
        </li>
        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2402.2402[24020107].link | prepend: baseurl }}">{{ site.data.2402.2402[24020107].name }}</a>.</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop</h3>
    <ol>
        <li>Run <a href="https://deque.com/axe/devtools/">axe DevTools</a> to flag a missing <code>&lt;title&gt;</code> element in the <code>&lt;head&gt;</code> of the page, <strong>OR</strong></li>
        <li>Run the <a href="https://pauljadam.com/bookmarklets.html">Page Title</a> bookmarklet, <strong>OR</strong></li>
        <li>Run <a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a>
            <ol>
                <li>Select <strong>structures</strong> from the drop-down.</li>
                <li>Select <strong>page title</strong> from the "more details" menu.</li>
            </ol>
        </li>
        <li>Verify that the text in the <code>&lt;title&gt;</code> element properly describes the content or purpose of the page.</li>
        <li>If the page content updates dynamically, look at each version of the page content presented with the same url.</li>
        <li>Verify that the title text updates to match the currently displayed content.</li>
    </ol>

    <h3>Mobile Screen Reader</h3>
    <ol>
        <li>With VoiceOver or TalkBack turned on, load or reload the web page.</li>
        <li>If the web page title is not spoken on page load, view the browser tabs. The page title should be read when a tab is focused.<br>
            <img src="{{ baseurl }}/assets/images/2402-mobile-tabs.png"></li>
        <li>Verify that the page title spoken is an accurate description of the screen’s content or purpose.
            <ul>
                <li><em>Note: It is not necessary to hear a role.</em></li>
            </ul>
        </li>
    </ol>

    <h2>Mobile App Test Procedure (iOS)</h2>
    <p><em>Note: This is not applicable to Android apps, because there is no way for a tester without access to the code to be sure that anything is a screen title.</em></p>
    <ol>
        <li>With VoiceOver turned on, navigate to the screen.</li>
        <li>When the screen loads, verify that both of the following are true:
            <ul>
                <li>An earcon sounds (indicating a new screen has loaded), <strong>AND</strong></li>
                <li>One of the following is announced:
                    <ul>
                        <li>A descriptive screen title, <strong>OR</strong></li>
                        <li>The first content element that serves as a descriptive heading, <strong>OR</strong></li>
                        <li>An element within the navigation bar <strong>AND</strong> you can swipe to a descriptive heading or title.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>
    <p>Screen titles are usually the text in the app bar or navigation bar at the top of the screen, but could also be the first text element in the content.</p>

    <h2>PDF Testing</h2>
    <p>Look at the top bar of the Adobe Acrobat window or the browser tab and verify that the information displayed meaningfully describes the content of the document.</p>

    <h3>PAC</h3>
    <ol>
        <li>Check the document with <a href="https://pdfua.foundation/en/pdf-accessibility-checker-pac/">PAC</a>.</li>
        <li>Select the <strong>WCAG</strong> tab.</li>
        <li>Look for <strong>2.4 Navigable</strong> failures.</li>
        <li>Activate the <strong>Results in Detail</strong> button.</li>
        <li>Under WCAG, navigate to the <strong>2.4.2 Page Titled</strong> entry and check whether it shows a failure.<br>
            <img src="{{ baseurl }}/assets/images/2402-pac-page-title.png" style="max-width:380px;"></li>
    </ol>

    <h3>Adobe Acrobat</h3>
    <ol>
        <li>Select <strong>All tools > Prepare for accessibility > Check for accessibility</strong>.</li>
        <li>In the Accessibility Checker Options dialog, ensure <strong>Document title is showing in title bar</strong> is checked.</li>
        <li>Activate the <strong>Start Checking</strong> button.</li>
        <li>In the Accessibility Checker results pane, check under the Document header for <strong>Title</strong>.</li>
        <li>If there is no error, go to <strong>Document Properties</strong>:
            <ol>
                <li>Select <strong>Menu > Document properties...</strong></li>
                <li>Windows: <kbd>Control</kbd>+<kbd>D</kbd></li>
                <li>MacOS: <kbd>Command</kbd>+<kbd>D</kbd></li>
            </ol>
        </li>
        <li>In the Document Properties dialog, go to the <strong>Description</strong> tab.</li>
        <li>Verify that a meaningful and descriptive <strong>Title</strong> value is provided for the document.<br>
            <img src="{{ baseurl }}/assets/images/2402-acrobat-page-title.png" style="max-width: 380px;"></li>
    </ol>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.2402.2402[24020101].link | prepend: baseurl }}">{{ site.data.2402.2402[24020101].name }}</a>. (Medium)</li>
        <li><a href="{{ site.data.2402.2402[24020102].link | prepend: baseurl }}">{{ site.data.2402.2402[24020102].name }}</a>. (Medium)</li>
        <li><a href="{{ site.data.2402.2402[24020103].link | prepend: baseurl }}">{{ site.data.2402.2402[24020103].name }}</a>. (Medium)</li>
        <li><a href="{{ site.data.2402.2402[24020104].link | prepend: baseurl }}">{{ site.data.2402.2402[24020104].name }}</a>. (Medium)</li>
        <li><a href="{{ site.data.2402.2402[24020105].link | prepend: baseurl }}">{{ site.data.2402.2402[24020105].name }}</a>. (Medium)</li>
        <li><a href="{{ site.data.2402.2402[24020106].link | prepend: baseurl }}">{{ site.data.2402.2402[24020106].name }}</a>. (Medium)</li>
        <li><a href="{{ site.data.2402.2402[24020107].link | prepend: baseurl }}">{{ site.data.2402.2402[24020107].name }}</a>. (Medium)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li><a href="https://deque.com/axe/devtools/">Deque: axe DevTools</a></li>
        <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">SSA: ANDI</a></li>
        <li><a href="https://pauljadam.com/bookmarklets.html">Paul J Adam: Page Title Bookmarklet</a></li>
        <li><a href="https://pdfua.foundation/en/pdf-accessibility-checker-pac/">PDF Accessibility Checker (PAC)</a></li>
        <li>Adobe Acrobat Pro</li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>General:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G88">G88: Providing descriptive titles for Web pages </a></li>
            </ul>
        </li>
        <li>HTML:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H25">H25: Providing a title using the title element</a></li>
            </ul>
        </li>
        <li>PDF:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF18">PDF18: Specifying the document title using the Title entry in the document information dictionary of a PDF document</a></li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
        
    </ul>
    </div>
    {% include checkpoints/2402checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>