---
layout: default
current: 240601
criterion: 2406
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2406.2406[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2406.2406[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>This checkpoint applies to any headings, whether or not they are marked up semantically.</p>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Each heading must describe the topic of its content.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Headings should be used to divide and label content.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want headings to be descriptive so that I can use them to navigate the content.</div>

            <div class="success"><strong>Success:</strong> If you were a screen reader user, when navigating a website, you could identify the sections of content by their headings.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Does the page contain visual headings?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Do the headings describe the topic of the associated blocks of content?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2406.2406[24060101].link | prepend: baseurl }}">{{ site.data.2406.2406[24060101].name }}.</a></span></li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <ol>
                <li>Identify all visual headings on the page.</li>
                <li>Use ANDI: structures to identify all programmatically defined headings.</li>
                <li>For each visual heading on the page, verify that it clearly describes the content of its section.</p>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.2406.2406[24060101].link | prepend: baseurl }}">{{ site.data.2406.2406[24060101].name }}.</a> (Low)</li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G130">G130: Providing descriptive headings</a></li>
                    </ul>
                </li>
            </ul>
            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/10Forms/">Section 508 ICT Testing Baseline Portfolio: Forms (Web)</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/13Structure/">Section 508 ICT Testing Baseline Portfolio: Content Structure (Web)</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/2406checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>