---
layout: default
current: 240601
criterion: 2406
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2406.2406[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2406.2406[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Headings must describe the topic of the section they head.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Headings should be used to divide and label content.</li>
        <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> Headings should be marked up semantically. (See <a href="{{ site.data.1301.1301[130105].link | prepend: baseurl }}">{{ site.data.1301.1301[130105].name }}</a>.)</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want headings to be descriptive so that I can use them to navigate the content.</div>

    <div class="success"><strong>Success:</strong> If you were a screen reader user, when navigating a website, you could identify the sections of content by their headings.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Does the page contain headings?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Do the headings describe the topic of the associated blocks of content?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.2406.2406[24060101].link | prepend: baseurl }}">{{ site.data.2406.2406[24060101].name }}</a>.</span></li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <p>For each heading on the page, verify that it clearly describes the content of its section.</p>

    <h2>PDF Test Procedure</h2>
    <p>Follow the same procedure as web.</p>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.2406.2406[24060101].link | prepend: baseurl }}">{{ site.data.2406.2406[24060101].name }}</a>. (Low)</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>General:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G130">G130: Providing descriptive headings</a></li>
            </ul>
        </li>
    </ul>

    <h3>Additional Information</h3>
    <ul>
    </ul>
    </div>
    {% include checkpoints/2406checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>