---
layout: default
current: 310401
criterion: 3104
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3104.3104[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3104.3104[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <div class="block">
        <h2>Overview</h2>

    </div>

    <div class="block">
        <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The expanded form or meaning of abbreviations must be provided.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a user with a cognitive disability, I want abbreviations to be defined so that I can understand the content.</div>

    <div class="success"><strong>Success:</strong> If you were a user with a cognitive disability, when you encountered abbreviations, you would have definitions provided to help you understand the content.</div>

    </div>

    <div class="block">
        <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/assets/js/tree.js"></script>
    <h3 id="test1">Does the text contain any abbreviations or acronyms?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Are definitions provided for them?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.3104.3104[31040101].link | prepend: baseurl }}">{{ site.data.3104.3104[31040101].name }}</a>.</span></li>
            </ul>
        </li>
        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
    </ul>

    </div>

    <div class="block">
        <h2>Web Test Procedure</h2>

    <ol>
        <li>Read the text of the page to identify any abbreviations.</li>
        <li>Verify that definitions are provided.</li>
    </ol>

    </div>

    <div class="block">
        <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.3104.3104[31040101].link | prepend: baseurl }}">{{ site.data.3104.3104[31040101].name }}</a>. (Medium)</li>
    </ul>

    </div>

    <div class="block">
        <h2>Testing Tools</h2>
    <ul>
    </ul>

    </div>

    <div class="block">
        <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>General:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G102">G102: Providing the expansion or explanation of an abbreviation</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G55">G55: Linking to definitions</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G62">G62: Providing a glossary</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G70">G70: Providing a function to search an online dictionary</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G97">G97: Providing the first use of an abbreviation immediately before or after the expanded form</a></li>
            </ul>
        </li>
        <li>HTML:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H28">H28: Providing definitions for abbreviations by using the abbr element</a></li>
            </ul>
        </li>
        <li>PDF:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF8">PDF8: Providing definitions for abbreviations via an E entry for a structure element</a></li>
            </ul>
        </li>
     </ul>

    <h3>Additional Information</h3>
    <ul>
        <li><a href="http://www.acronymfinder.com/">Acronym finder</a></li>
        <li><a href="http://www.abbreviations.com/">Abbreviations</a></li>
    </ul>
</div>
</div>
    {% include checkpoints/3104checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>