---
layout: default
current: 330101
criterion: 3301
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3301.3301[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3301.3301[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>This checkpoint checks that any errors that are detected by the web page are communicated to users in visible text.</p>
            <p>This checkpoint <em>does not</em> check for the existence of error checking. If a form is submitted unsuccessfully and the page simply redisplays the form with no feedback, this implies that error checking is occurring and an error message is required.</p>
            <p>The way the error message is displayed may vary according to what makes sense with the particular form. It may be a list of errors at the top of the page, inline error messages next to the fields in error, alert dialogs, toasts, etc.</p>
            <p>Errors may be indicated in other ways <em>in addition to</em> text, such as with color or images.</p>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
        <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
            <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
        <ul>
            <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Error feedback must identify the item with the error with visible text.</li>
            <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Error message must sufficiently describe the error.</li>
            <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If an error is automatically corrected, the error must still be identified and described with visible text.</li>
            <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> If errors are provided in a list at the top of the page, they should include links to the corresponding fields.</li>
        </ul>

        <div class="userstory"><strong>User Story:</strong> As a colorblind user, I want text-based error messages describing the error and the item with the error so that I know an error exists and what it is.</div>

        <div class="success"><strong>Success:</strong> If you were a colorblind user, when an error was automatically detected, the item with the error would be identified and the error described in text.</div>

        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Are there interactions which trigger error checking on the page?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; When an error is detected, is the item with the error identified?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the item with the error identified using visible text?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the nature of the error described using visible text?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.3301.3301[33010103].link | prepend: baseurl }}">{{ site.data.3301.3301[33010103].name }}.</a></span></li>
                                    </ul>

                                </li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.3301.3301[33010102].link | prepend: baseurl }}">{{ site.data.3301.3301[33010102].name }}.</a></span></li>
                            </ul>
                        </li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the error automatically corrected by error-checking code?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.3301.3301[33010104].link | prepend: baseurl }}">{{ site.data.3301.3301[33010104].name }}.</a></span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.3301.3301[33010101].link | prepend: baseurl }}">{{ site.data.3301.3301[33010101].name }}.</a></span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <h3>Desktop</h3>
            <ol>
                <li>Use ANDI to locate any forms in the content.</li>
                <li>Find all instructions and cues (textual and graphical) that are related to form components (e.g., groupings, order of completion, special conditions, qualifiers, format instructions, etc.).
                <li>Deliberately trigger errors by entering user input that falls outside the required format or values or leaving required fields blank, and submit the form.</li>
                <li>If an input error is automatically detected, verify that both of the following are true:
                    <ul>
                        <li>The item that is in error is identified in text (e.g., "Error: Password field").</li>
                        <li>The error is described to the user in text (e.g., "The Password you entered is incorrect.").</li>
                    </ul>
                </li>
            </ol>

            <h3>Mobile</h3>
            <p>Using VoiceOver or TalkBack, follow the Desktop Web procedure.</p>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.3301.3301[33010101].link | prepend: baseurl }}">{{ site.data.3301.3301[33010101].name }}.</a></li>
                <li><a href="{{ site.data.3301.3301[33010102].link | prepend: baseurl }}">{{ site.data.3301.3301[33010102].name }}.</a></li>
                <li><a href="{{ site.data.3301.3301[33010103].link | prepend: baseurl }}">{{ site.data.3301.3301[33010103].name }}.</a></li>
                <li><a href="{{ site.data.3301.3301[33010104].link | prepend: baseurl }}">{{ site.data.3301.3301[33010104].name }}.</a></li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G83">G83: Providing text descriptions to identify required fields that were not completed</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G84">G84: Providing a text description when the user provides information that is not in the list of allowed values</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G85">G85: Providing a text description when user input falls outside the required format or values</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G139">G139: Creating a mechanism that allows users to jump to errors</a></li>
                    </ul>
                </li>
                <li>ARIA:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA2">ARIA2: Identifying a required field with the aria-required property</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">ARIA18: Using aria-alertdialog to Identify Errors</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA19">ARIA19: Using ARIA role=alert or Live Regions to Identify Errors</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA21">ARIA21: Using aria-invalid to Indicate An Error Field</a></li>
                    </ul>
                </li>
                <li>JavaScript:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR18">SCR18: Providing client-side validation and alert</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR32">SCR32: Providing client-side validation and adding error text via the DOM</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF5">PDF5: Indicating required form controls in PDF forms</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF22">PDF22: Indicating when user input falls outside the required format or values in PDF forms</a></li>
                    </ul>
                </li>
             </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://www.deque.com/blog/anatomy-of-accessible-forms-error-messages/">Deque: The Anatomy of Accessible Forms: Error Messages</a></li>
                <li><a href="https://webaim.org/techniques/formvalidation/">WebAIM: Usable and Accessible Form Validation and Error Recovery</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/3301checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>