---
layout: default
current: 330601
criterion: 3306
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3306.3306[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3306.3306[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>


    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> All user submissions must be reversible, verifiable, or confirmable.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a user with a disability, I want to be able to check, confirm, or reverse transactions so that I can avoid mistakes.</div>

    <div class="success"><strong>Success:</strong> If you were a user with a disability, when submitting transactions, you would have the opportunity to check, confirm, or reverse the transaction.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/js/tree.js"></script>
    <h3 id="test1">Does the page content include submittable forms?</h3>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the data entered by the user checked for input errors and the user given the opportunity to correct them?</span>
            <ul role="group">
                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the user given the opportunity to review, confirm, and correct information before finalizing the submission?</span>
                    <ul role="group">
                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the submission reversible?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; See <a href="{{ site.data.3306.3306[33060101].link | prepend: baseurl }}">{{ site.data.3306.3306[33060101].name }}</a>.</span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" class="na"><span><strong>No</strong>; Not applicable</span></li>
    </ul>

    <h2>Web Test Procedure</h2>
    <h3>Desktop</h3>
    <ol>
        <li>Locate any submittable forms.</li>
        <li>Verify that the submission can be either:
            <ul>
                <li>Reversed by the user, <strong>OR</strong>
                    <ul>
                        <li>Instructions are provided explaining how to reverse or cancel the submission.</li>
                        <li>A keyboard-only user can reverse or cancel the submission.</li>
                    </ul>
                </li>
                <li>Verified by the user, <strong>OR</strong>
                    <ul>
                        <li>Data entered by the user is provided for review before final submission, and the user is able to make changes to this data.</li>
                    </ul>
                </li>
                <li>Confirmed by the user
                    <ul>
                        <li>A mechanism (such as a checkbox) is provided for the user to confirm the submission.</li>
                        <li>Validate that if the checkbox is left unchecked, the submission is not processed.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ol>

    <h3>Mobile</h3>
    <p>Using VoiceOver or TalkBack, follow the Desktop Web procedure.</p>

    <h2>Mobile App Test Procedure</h2>
    <p>Follow the procedure for Mobile Web.</p>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.3306.3306[33060101].link | prepend: baseurl }}">{{ site.data.3306.3306[33060101].name }}</a>.</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li>Screen reader</li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>General:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G98">G98: Providing the ability for the user to review and correct answers before submitting</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G99">G99: Providing the ability to recover deleted information</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G155">G155: Providing a checkbox in addition to a submit button</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G164">G164: Providing a stated time within which an online request (or transaction) may be amended or canceled by the user after making the request</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G168">G168: Requesting confirmation to continue with selected action</a></li>
            </ul>
        </li>
        <li>JavaScript:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR18">SCR18: Providing client-side validation and alert</a></li>
            </ul>
        </li>
     </ul>

    <h3>Additional Information</h3>
    <ul>
    </ul>
    </div>
    {% include checkpoints/3306checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>