---
layout: default
current: 410206
criterion: 4102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>State:</p>
            <ul>
                <li>Current</li>
                <li>Disabled</li>
                <li>Expanded/collapsed</li>
                <li>Selected</li>
                <li>etc.</li>
            </ul>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The states of custom user interface components which can be set by the user must be programmatically determinable by assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Notifications of changes to states of user interface components must be communicated to assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> HTML markup must meet W3C specifications and facilitate accessibility support with assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> ARIA should be used to indicate name, role, and value for tabs, modals, or other dynamic widgets.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want the state of user interface components to be programmatically determinable so that I can get this information via my screen reader.</div>

            <div class="success"><strong>Success:</strong> If you were a screen reader user, when accessing user interface components, you would be able to determine the state of the components.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Are there custom controls on the page that don't map to basic native HTML controls?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; 
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <ol>
                <li>Using a screen reader, interact with every custom user interface component in the page.</li>
                <li>Verify that the screen reader speaks any properties required for understanding the functionality of the component.</li>
                <li>Verify that the screen reader speaks any states that can be set by the user.</li>
                <li>Verify that the screen reader notifies the user of any changes to states.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.4102.4102[41020601].link | prepend: baseurl }}">{{ site.data.4102.4102[41020601].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020602].link | prepend: baseurl }}">{{ site.data.4102.4102[41020602].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020603].link | prepend: baseurl }}">{{ site.data.4102.4102[41020603].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020604].link | prepend: baseurl }}">{{ site.data.4102.4102[41020604].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020605].link | prepend: baseurl }}">{{ site.data.4102.4102[41020605].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020606].link | prepend: baseurl }}">{{ site.data.4102.4102[41020606].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020607].link | prepend: baseurl }}">{{ site.data.4102.4102[41020607].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020608].link | prepend: baseurl }}">{{ site.data.4102.4102[41020608].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020609].link | prepend: baseurl }}">{{ site.data.4102.4102[41020609].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020610].link | prepend: baseurl }}">{{ site.data.4102.4102[41020610].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020611].link | prepend: baseurl }}">{{ site.data.4102.4102[41020611].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020612].link | prepend: baseurl }}">{{ site.data.4102.4102[41020612].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020613].link | prepend: baseurl }}">{{ site.data.4102.4102[41020613].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020614].link | prepend: baseurl }}">{{ site.data.4102.4102[41020614].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020615].link | prepend: baseurl }}">{{ site.data.4102.4102[41020615].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020616].link | prepend: baseurl }}">{{ site.data.4102.4102[41020616].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020617].link | prepend: baseurl }}">{{ site.data.4102.4102[41020617].name }}.</a></li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G10">G10: Creating components using a technology that supports the accessibility API features of the platforms on which the user agents will be run to expose the names and roles, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                    </ul>
                </li>
                <li>ARIA:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H102">Creating modal dialogs with the HTML dialog element</a></li>
                    </ul>
                </li>
             </ul>
        </div>
    </div>
    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>