---
layout: default
current: 410203
criterion: 4102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>This checkpoint applies to any changes of content occurring on the web page.</p>

            <h3>Forms</h3>
            <p>Form-related content changes may be triggered by things such as:</p>
            <ul>
                <li>Changing values or states of of other form components</li>
                <li>Toggling a function</li>
                <li>Entering data in a text field</li>
                <li>Mouseover</li>
                <li>Keyboard focus</li>
            </ul>

            <p>Form-related changes include but are not limited to:</p>
            <ul>
                <li>Changes to instructions</li>
                <li>Error notifications</li>
                <li>Addition or removal of content, including other form components</li>
                <li>Button name changes</li> 
            </ul>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Automatic content changes must be communicated to assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Content changes to forms must be communicated to assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> User-initiated content changes must be communicated to assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If a dialog is used to alert the user of a content change, it must provide sufficient description of the content change.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If a focus change is used to alert the user of a content change, it must provide sufficient description of the content change.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If a status message or other ARIA Live Region is used to alert the user of a content change, it must provide sufficient description of the content change.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want to be notified of any changes of content on the page so that I know they have occurred.</div>

            <div class="success"><strong>Success:</strong> If you were a screen reader user, when page content updates, you would receive a notification.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Is there content on the page that changes/updates?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the user notified of the change in content?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the user notified using a dialog?</span>
                            <ul role="group">
                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the dialog provide sufficient programmatic notification of the content change?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020304].link | prepend: baseurl }}">{{ site.data.4102.4102[41020304].name }}.</a></span></li>
                                    </ul>
                                </li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the user notified using a focus change?</span>
                                    <ul role="group">
                                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the focus change provide sufficient programmatic notification of the content change?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020305].link | prepend: baseurl }}">{{ site.data.4102.4102[41020305].name }}.</a></span></li>
                                            </ul>
                                        </li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the user notified using a status message or other ARIA Live Region?</span>
                                            <ul role="group">
                                                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the ARIA Live Region provide sufficient programmatic notification of the content change?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020306].link | prepend: baseurl }}">{{ site.data.4102.4102[41020306].name }}.</a></span></li>
                                                    </ul>
                                                </li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020307].link | prepend: baseurl }}">{{ site.data.4102.4102[41020307].name }}</a>.</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the content change the result of an automatic update?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020301].link | prepend: baseurl }}">{{ site.data.4102.4102[41020301].name }}.</a></span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the content change within a form?</span>
                                    <ul role="group">
                                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the content change sufficiently described by the form element that triggered the change?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020302].link | prepend: baseurl }}">{{ site.data.4102.4102[41020302].name }}.</a></span></li>
                                            </ul>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the content change the result of user action?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020303].link | prepend: baseurl }}">{{ site.data.4102.4102[41020303].name }}.</a></span></li>
                                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020307].link | prepend: baseurl }}">{{ site.data.4102.4102[41020307].name }}</a>.</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>
            <ol>
                <li>Using a screen reader, interact with every user interface component in the page.</li>
                <li>Verify that the screen reader notifies the user of any changes to states, properties, or values.</li>
                <li>Note any automatic updates to the page content.</li>
                <li>Verify that the screen reader notifies the user of any changes to page content, both automatic and user-initiated.</li>
            </ol>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.4102.4102[41020301].link | prepend: baseurl }}">{{ site.data.4102.4102[41020301].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020302].link | prepend: baseurl }}">{{ site.data.4102.4102[41020302].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020303].link | prepend: baseurl }}">{{ site.data.4102.4102[41020303].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020304].link | prepend: baseurl }}">{{ site.data.4102.4102[41020304].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020305].link | prepend: baseurl }}">{{ site.data.4102.4102[41020305].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020306].link | prepend: baseurl }}">{{ site.data.4102.4102[41020306].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020307].link | prepend: baseurl }}">{{ site.data.4102.4102[41020307].name }}.</a></li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G10">G10: Creating components using a technology that supports the accessibility API features of the platforms on which the user agents will be run to expose the names and roles, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                    </ul>
                </li>
                <li>ARIA:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA4">ARIA4: Using a WAI-ARIA role to expose the role of a user interface component</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA5">ARIA5: Using WAI-ARIA state and property attributes to expose the state of a user interface component</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA16">ARIA16: Using aria-labelledby to provide a name for user interface controls</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA18">Using aria-alertdialog to Identify Errors</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19">Using ARIA role=alert or Live Regions to Identify Errors</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA22">ARIA22: Using role=status to present status messages</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H102">Creating modal dialogs with the HTML dialog element</a></li>
                    </ul>
                </li>
             </ul>
        </div>
    </div>
    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>