---
layout: default
current: 410201
criterion: 4102
css: disclosure-faq
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4102.4102[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4102.4102[page.criterion] %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-checkpoint.html %}

        <div class="block">
            <h2>Overview</h2>
            <p>This checkpoint covers the accessible name of components. The accessible name is the programmatic name identified and communicated by assistive technology. It usually should be the same as the visible label, but this isn't necessarily the case.</p>

            <p>The following components must have accessible names:</p>
            <ul>
                <li>Form components</li>
                <li>Links</li>
                <li>Other user interface controls such as menus, tabs, etc.</li>
                <li>Widgets such as comboboxes, grids, trees, etc.</li>
                <li>Dialogs</li>
                <li>Frames and iframes</li>
            </ul>

            <p>An accessible name may be provided by:</p>
            <ul>
                <li>A programmatically associated <code>&lt;label&gt;</code> for a form control</li>
                <li>An <code>aria-label</code> attribute</li>
                <li>A <code>title</code> attribute</li>
                <li>An <code>aria-labelledby</code> attribute</li>
                <li>The text of a <code>&lt;button&gt;</code></li>
                <li>A <code>value</code> attribute for Submit and Reset buttons</li>
                <li>An <code>alt</code> attribute for image buttons</li>
                <li>The text of a link</li>
                <li>The text of a drop-down option or tab</li>
                <li>The title of a frame, or iframe</li>
                <li>An <code>aria-label</code> or <code>aria-labelledby</code> element for a dialog</li>
                <li>etc.</li>
            </ul>
        </div>

        <div class="block">
            <h2>Basic Requirements and Best Practices</h2>
            <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
                <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
            <ul>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The name of user interface components must be programmatically determinable by assistive technologies.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> The accessible name and description of user interface components must accurately describe the component's purpose.</li>
                <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> If the name of the component changes during interaction, the name must be programmatically updated.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> An <code>aria-label</code> should be provided to describe sections with <code>role="region"</code>.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> When multiple navigation regions are present on a page, <code>aria-label</code>s should be used to distinguish the purpose of each.</li>
                <li><span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> The tabpanel (content section) of the tab should have an accessible name.</li>
            </ul>

            <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want the name of user interface components to be programmatically determinable so that I can get this information via my screen reader.</div>

            <div class="success"><strong>Success:</strong> If you were a screen reader user, when accessing user interface components, you would be able to determine the purpose of the components.</div>
        </div>

        <div class="block">
            <h2>Testing Logic</h2>
            <script src="{{ baseurl }}/assets/js/tree.js"></script>
            <h3 id="test1">Does the page contain user interface components?</h3>
            <ul role="tree" aria-labelledby="test1">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the name of the component identified by assistive technology when the component receives focus?</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Does the name adequately describe the purpose of the control?</span>
                            <ul role="group">
                                <li role="treeitem" class="pass"><span><strong>Yes</strong>; PASS</span></li>
                                <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020108].link | prepend: baseurl }}">{{ site.data.4102.4102[41020108].name }}.</a></span></li>
                            </ul>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component a button?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020101].link | prepend: baseurl }}">{{ site.data.4102.4102[41020101].name }}.</a></span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component a text field, checkbox, radio button, or select?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020102].link | prepend: baseurl }}">{{ site.data.4102.4102[41020102].name }}.</a></span></li>
                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component an image button?</span>
                                            <ul role="group">
                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020103].link | prepend: baseurl }}">{{ site.data.4102.4102[41020103].name }}.</a></span></li>
                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component a link?</span>
                                                    <ul role="group">
                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020104].link | prepend: baseurl }}">{{ site.data.4102.4102[41020104].name }}.</a></span></li>
                                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component an iframe?</span>
                                                            <ul role="group">
                                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020105].link | prepend: baseurl }}">{{ site.data.4102.4102[41020105].name }}.</a></span></li>
                                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component a dialog?</span>
                                                                    <ul role="group">
                                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020110].link | prepend: baseurl }}">{{ site.data.4102.4102[41020110].name }}.</a></span></li>
                                                                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component a frame?</span>
                                                                            <ul role="group">
                                                                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020109].link | prepend: baseurl }}">{{ site.data.4102.4102[41020109].name }}.</a></span></li>
                                                                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Is the component part of a group of components?</span>
                                                                                    <ul role="group">
                                                                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="{{ site.data.4102.4102[41020106].link | prepend: baseurl }}">{{ site.data.4102.4102[41020106].name }}.</a></span></li>
                                                                                        <li role="treeitem" class="fail"><span><strong>No</strong>; See <a href="{{ site.data.4102.4102[41020107].link | prepend: baseurl }}">{{ site.data.4102.4102[41020107].name }}.</a></span></li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li role="treeitem" class="na"><span><strong>No</strong>; This checkpoint is not applicable.</span></li>
            </ul>
        </div>

        <div class="block">
            <h2>Web Test Procedure</h2>

            <h3>Desktop</h3>
            <h4>User Interface Components</h4>
            <h5>ANDI</h5>
            <ol>
                <li>Launch ANDI: focusable elements.</li>
                <li>Review each component and determine if the ANDI Output adequately describes the component.</li>
                <li>If the name of the component changes during interaction, repeat the above steps on the changed content.</li>
            </ol>

            <h5>Screen Reader</h5>
            <ol>
                <li>Using a screen reader, navigate to every user interface component in the page.</li>
                <li>Verify that the screen reader speaks a name for each component.</li>
                <li>Verify that the name adequately describes the component.</li>
                <li>If the name of the component changes during interaction, repeat the above steps on the changed content.</li>
            </ol>

            <h4>Frames</h4>
            <p>Frames are obsolete in HTML5, but they may still be found on some outdated websites. Each frame's content must be tested with all other applicable tests as well.</p>
            <ol>
                <li>Launch ANDI. If a <code>&lt;frame&gt;</code> is used, ANDI will give an alert.</li>
                <li>Activate the <strong>Cancel</strong> button to test individual frames.</li>
                <li>Verify that each frame listed has a title.</li>
                <li>Select each link to view the frames.</li>
                <li>Verify that the title accurately describes the content of the frame.</li>
            </ol>

            <h4>Iframes</h4>
            <p>Each iframe's content must be tested with all other applicable tests as well.</p>
            <ol>
                <li>Use ANDI: iframes to identify any <code>&lt;iframe&gt;</code> on the page. If this option is not available, there are no iframes.</li>
                <li>Locate all iframes which have either no tabindex or a non-negative tabindex.</li>
                <li>Verify that the accessible name and description in the ANDI Output accurately describes the iframe content.</li>
            </ol>

            <h3>Mobile</h3>
            <ol>
                <li>For iOS devices, <a href="https://support.apple.com/en-us/111799">turn off image recognition features.</a></li>
                <li>Follow the procedure for Desktop Web.</li>
            </ol>

            <h2>Mobile App Test Procedure</h2>

            <h3>iOS</h3>
            <ol>
                <li><a href="https://support.apple.com/en-us/111799">Turn off image recognition features.</a></li>
                <li>Follow the procedure for Desktop Web.</li>
            </ol>

            <dl class="faq">
                <dt>
                    <button type="button" aria-expanded="false" aria-controls="faq1_desc">iOS VoiceOver name/role expectations:</button>
                </dt>
                <dd>
                    <div id="faq1_desc" class="desc">
                        <ul>
                            <li><strong>Buttons:</strong> “[visible text or accessible name], button”</li>
                            <li><strong>Links:</strong> “[visible text or accessible name], link”</li>
                            <li><strong>Listview or tableview cells containing an interactive element:</strong> If no role such as “button” is spoken, use Voice Control to check for a number to appear when using the “Show numbers” command. VoiceOver is not required to announce a role such as “button” as long as a number appears with Voice Control.</li>
                            <li><strong>Custom action menus:</strong> “Actions available”. If VoiceOver does not say “Actions available,” open the Rotor. Actions should become an available option in the Rotor, and the Rotor should automatically be set to Actions when it opens.</li>
                            <li><strong>Page controls:</strong>
                                <ul>
                                    <li>When focused on the page control, “Page [x] of [x], adjustable. Swipe up or down to adjust the value.” or similar.</li>
                                    <li>After swiping up or down to switch pages: “Page [x] of [x]” and will continue to focus the page control.</li>
                                </ul>
                            </li>
                            <li><strong>Segmented controls:</strong> “[visible text or accessible name], button, [x] of [x]” or similar</li>
                            <li><strong>Sliders:</strong> “[accessible name], [value of slider], adjustable. Swipe up or down to adjust the value.”</li>
                            <li><strong>Steppers:</strong>
                                <ul>
                                    <li>If buttons are separately focusable:
                                        <ul>
                                            <li>Decrement: “decrement, button” or similar</li>
                                            <li>Increment: “increment, button” or similar</li>
                                        </ul>
                                    </li>
                                    <li>If buttons are focusable at the same time:
                                        <ul>
                                            <li>“[accessible name], [value], adjustable. Swipe up or down to adjust the value” or similar</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><strong>Switches:</strong> “[accessible name], Switch button, off. Double tap to toggle switch” or similar</li>
                            <li><strong>Text fields:</strong> “[accessible name], [entered value or placeholder text], text field, Double tap to edit. Actions available” or similar</li>
                            <li><strong>Navigation bars:</strong> “[visible text only]”</li>
                            <li><strong>Search bars:</strong> “[accessible name], [entered value or placeholder text], Search field, Double tap to edit” or similar</li>
                            <li><strong>Tab bars:</strong> “[visible text or accessible name], Tab, [x] of [x]” or similar</li>
                            <li><strong>Alerts:</strong> “Alert, [alert title]” or similar</li>
                            <li><strong>Editable Text View:</strong> “[visible text or accessible name], Text field, Double tap to edit. Actions available” or similar</li>
                        </ul>
                    </div>
                </dd>
                <dt>
                    <button type="button" aria-expanded="false" aria-controls="faq2_desc">iOS VoiceOver state/value expectations:</button>
                </dt>
                <dd>
                    <div id="faq2_desc" class="desc">
                        <ul>
                            <li><strong>Selected:</strong> “[accessible name], button, selected”
                                <ul>
                                    <li>Note: “button” may be optional, depending on whether the selected item is within a listview.</li>
                                </ul>
                            </li>
                            <li><strong>Expanded:</strong> “[accessible name], button, expanded [or] collapsed”
                                <ul>
                                    <li>Note: “button may be optional, depending on whether the selected item is within a listview.</li>
                                </ul>
                            </li>
                            <li><strong>Disabled:</strong> “[accessible name], dimmed, button”</li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <script src="{{ baseurl }}/js/disclosureButton.js"></script>

            <h3>Android</h3>
            <ol>
                <li>Follow the procedure for Desktop Web.</li>
            </ol>

            <dl class="faq">
                <dt>
                    <button type="button" aria-expanded="false" aria-controls="faq3_desc">Android TalkBack name/role expectations:</button>
                </dt>
                <dd>
                    <div id="faq3_desc" class="desc">
                        <ul>
                            <li><strong>Buttons</strong> (including text, image, and floating action buttons): 
                                <ul>
                                    <li>“[accessible name], button”, <strong>OR</strong></li>
                                    <li>“[accessible name] (pause), Double tap to activate”, <strong>OR</strong></li>
                                    <li>“[accessible name], button (pause), Double tap to activate” or similar</li>
                                </ul>
                            </li>
                            <li><strong>Links:</strong>
                                <ul>
                                    <li>An earcon plays identifying the text span as a link (“link” is NOT spoken), <strong>AND</strong></li>
                                    <li>“[accessible name], Double tap to activate” or similar</li>
                                </ul>
                            </li>
                            <li><strong>Alert or popup:</strong> “Alert” or “Popup”, then:
                                <ul>
                                    <li>First text block, <strong>OR</strong></li>
                                    <li>Pane title as set by <code>accessibilityPaneTitle</code></li>
                                </ul>
                            </li>
                            <li><strong>Badge:</strong> “[accessible name], has [x] notifications, [rest of announcement]”</li>
                            <li><strong>Bottom navigation:</strong>
                                <ul>
                                    <li>Selected state for currently active top-level destination, <strong>AND</strong></li>
                                    <li>“[accessible name], Double tap to activate” or similar</li>
                                </ul>
                            </li>
                            <li><strong>Checkbox or radio button:</strong>
                                <ul>
                                    <li>“Checked” or “Not checked”, then “[accessible name], Double tap to activate” or similar
                                        <ul>
                                            <li>May or may not say “checkbox” or “radio button” before “Double tap to activate” or similar</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><strong>Compound button or toggle button</strong> (i.e., a button with a “pressed” state):
                                <ul>
                                    <li>“Checked” or “Not checked”, then [accessible name], Double tap to activate” or similar (no “checkbox” or “button” role is read)</li>
                                </ul>
                            </li>
                            <li><strong>Text field:</strong>
                                <ul>
                                    <li>“[accessible name], Edit box”, <strong>OR</strong></li>
                                    <li>“[accessible name], Edit box for [accessible name]”, <strong>OR</strong></li>
                                    <li>“[entered value], Edit box for [accessible name]”, <strong>OR</strong></li>
                                    <li>“Editing Edit box for [accessible name]”, <strong>OR</strong></li>
                                    <li>“Editing [entered value], Edit box for [accessible name]”<br>
                                        <strong>AND</strong></li>
                                    <li>“(pause) Double tap to enter text. Double tap and hold to long press”, <strong>OR</strong></li>
                                    <li>“(pause) Double tap and hold to long press” or similar</li>
                                </ul>
                            </li>
                            <li><strong>Expandable list view:</strong> “[accessible name], Collapsed (or) Expanded, Double tap to activate” or similar</li>
                            <li><strong>Menu (various types):</strong> “[role], [accessible name of first menu item]</li>
                            <li><strong>Progress bar:</strong>
                                <ul>
                                    <li>Indeterminate: “Loading… [accessible name]”</li>
                                    <li>Determinate: “Loading… [accessible name], [current %]”</li>
                                </ul>
                            </li>
                            <li><strong>Rating bar:</strong> “[Percentage], [accessible name], rating”</li>
                            <li><strong>Seek bar:</strong> 
                                <ul>
                                    <li>“[Percentage], [accessible name], Seek control (pause), Use volume keys to adjust”, <strong>OR</strong></li>
                                    <li>“[Percentage], Seek control for [accessible name] (pause), Use volume keys to adjust” or similar</li>
                                </ul>
                            </li>
                            <li><strong>Snackbar or toast:</strong> A polite accessibility announcement of the text in the snackbar or toast</li>
                            <li><strong>Spinner:</strong>
                                <ul>
                                    <li>Collapsed state: “Drop-down list, [value] for [accessible name], Double tap to change, <strong>OR</strong></li>
                                    <li>“Drop-down list, [value], Double tap to change” or similar (may or may not say “drop-down list”<br>
                                        <strong>AND/OR</strong></li>
                                    <li>Expanded state: “[accessible name], [x] of [x]” for each list item</li>
                                </ul>
                            </li>
                            <li><strong>Switch:</strong>
                                <ul>
                                    <li>“[accessible name], [state], Switch (pause), Double tap to activate, <strong>OR</strong></li>
                                    <li>“[state], Switch for [accessible name] (pause), Double tap to toggle” or similar</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </dd>
        </div>

        <div class="block">
            <h2>Failures</h2>
            <ul>
                <li><a href="{{ site.data.4102.4102[41020101].link | prepend: baseurl }}">{{ site.data.4102.4102[41020101].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020102].link | prepend: baseurl }}">{{ site.data.4102.4102[41020102].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020103].link | prepend: baseurl }}">{{ site.data.4102.4102[41020103].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020104].link | prepend: baseurl }}">{{ site.data.4102.4102[41020104].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020105].link | prepend: baseurl }}">{{ site.data.4102.4102[41020105].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020106].link | prepend: baseurl }}">{{ site.data.4102.4102[41020106].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020107].link | prepend: baseurl }}">{{ site.data.4102.4102[41020107].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020108].link | prepend: baseurl }}">{{ site.data.4102.4102[41020108].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020109].link | prepend: baseurl }}">{{ site.data.4102.4102[41020109].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020110].link | prepend: baseurl }}">{{ site.data.4102.4102[41020110].name }}.</a></li>
                <li><a href="{{ site.data.4102.4102[41020111].link | prepend: baseurl }}">{{ site.data.4102.4102[41020111].name }}.</a></li>
            </ul>
        </div>

        <div class="block">
            <h2>Testing Tools</h2>
            <ul>
                <li><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></li>
                <li>Screen reader</li>
            </ul>
        </div>

        <div class="block">
            <h2>References</h2>
            <h3>WCAG</h3>
            <ul>
                <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                <li>General:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G108">G108: Using markup features to expose the name and role, allow user-settable properties to be directly set, and provide notification of changes</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G135">G135: Using the accessibility API features of a technology to expose names and notification of changes</a></li>
                    </ul>
                </li>
                <li>HTML:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H44">H44: Using label elements to associate text labels with form controls</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H64">H64: Using the title attribute of the iframe element</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H65">H65: Using the title attribute to identify form controls when the label element cannot be used</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H88">H88: Using HTML according to spec</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H91">H91: Using HTML form controls and links</a></li>
                    </ul>
                </li>
                <li>ARIA:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA14">ARIA14: Using aria-label to provide an invisible label where a visible label cannot be used</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA16">ARIA16: Using aria-labelledby to provide a name for user interface controls</a></li>
                    </ul>
                </li>
                <li>PDF:
                    <ul>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF10">PDF10: Providing labels for interactive form controls in PDF documents</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF12">PDF12: Providing name, role, value information for form fields in PDF documents</a></li>
                    </ul>
                </li>
             </ul>

            <h3>Additional Information</h3>
            <ul>
                <li><a href="https://www.w3.org/TR/html-aam-1.0/#input-type-text-input-type-password-input-type-number-input-type-search-input-type-tel-input-type-email-input-type-url-and-textarea-element-accessible-name-computation">HTML Accessibility API Mappings 1.0 for text input</a></li>
                <li><a href="https://www.w3.org/TR/html-aam-1.0/#input-type-button-input-type-submit-and-input-type-reset-accessible-name-computation">HTML Accessibility API Mappings for input controls</a></li>
                <li><a href="https://www.w3.org/TR/html-aam-1.0/#button-element-accessible-name-computation">HTML Accessibility API Mappings for button element</a></li>
                <li><a href="https://www.w3.org/TR/html-aam-1.0/#input-type-image-accessible-name-computation">HTML Accessibility API Mappings for input type="image"</a></li>
                <li><a href="https://www.w3.org/TR/html-aam-1.0/#other-form-elements-accessible-name-computation">HTML Accessibility API Mappings for Other Form Elements</a></li>
                <li><a href="https://www.w3.org/TR/html-aam-1.0/#accdesc-computation">HTML Accessibility API Mappings for Accessible Description Computation</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/05Controls/">Section 508 ICT Testing Baseline Portfolio: User Controls (Web)</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/06Images/">Section 508 ICT Testing Baseline Portfolio: Images (Web)</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/10Forms/">Section 508 ICT Testing Baseline Portfolio: Forms (Web)</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/12DataTables/">Section 508 ICT Testing Baseline Portfolio: Tables (Web)</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/14Links/">Section 508 ICT Testing Baseline Portfolio: Links (Web)</a></li>
                <li><a href="https://ictbaseline.access-board.gov/web-baselines/19Frames/">Section 508 ICT Testing Baseline Portfolio: Frames and iFrames (Web)</a></li>
                <li><a href="https://a11ysupport.io/">Accessibility Support</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/4102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>