---
layout: default
current: 410301
criterion: 4103
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.4103.4103[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.4103.4103[page.criterion] %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-checkpoint.html %}

    <h2>Overview</h2>
    

    <h2>Basic Requirements and Best Practices</h2>
    <p><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> = Requirement<br>
        <span role="img" class="fa-solid fa-circle-check" style="color: #28a228;" aria-label="Best Practice"></span> = Best Practice</p>
    <ul>
        <li><span role="img" class="fa-solid fa-circle-exclamation" style="color: #e00000;" aria-label="Requirement"></span> Status messages must be conveyed to assistive technology users.</li>
    </ul>

    <div class="userstory"><strong>User Story:</strong> As a screen reader user, I want to hear status messages.</div>

    <div class="success"><strong>Success:</strong> If you were a screen reader user, when interacting with a site, you would hear any status messages.</div>

    <h2>Testing Logic</h2>
    <script src="{{ baseurl }}/js/tree.js"></script>
    <h3 id="test1">TEST 1: Is the content a status message?</h3>
    <p>Status messages include pop-ups which are not given focus, text indicating the number of search results, text informing that an action was completed, inline error or success messages, busy messages, progress bars, and modification or removal of existing status text. This includes non-text content, such as images.</p>
    <ul role="tree" aria-labelledby="test1">
        <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is the status message communicated by assistive technologies?</span>
            <ul role="group">
                <li role="treeitem" aria-expanded="false"><span><strong>Yes</strong>; Is <code>role="alert"</code> or <code>aria-live="assertive"</code> used on content which is not critical or time-sensitive?</span>
                    <ul role="group">
                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See</span></li>
                        <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
                    </ul>
                </li>
                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the status message communicate the success or results of an action or the state of an application?</span>
                    <ul role="group">
                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See</span></li>
                        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the status message alert the user about an error, warning, or suggestion?</span>
                            <ul role="group">
                                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See</span></li>
                                <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the status message communicate the progress of a process?</span>
                                    <ul role="group">
                                        <li role="treeitem" class="fail"><span><strong>Yes</strong>; See</span></li>
                                        <li role="treeitem"><span><strong>No</strong>;</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li role="treeitem" aria-expanded="false"><span><strong>No</strong>; Does the content use one of the status message roles or ARIA Live Regions to announce changes? (Examples include modal dialogs, expandable regions, and content such as additional form fields added after the current user focus.)</span>
            <ul role="group">
                <li role="treeitem" class="fail"><span><strong>Yes</strong>; See <a href="/a11y/failure/4103/4102aa.html">4.1.2.1.1 Button does not have an accessible name.</a></span></li>
                <li role="treeitem" class="pass"><span><strong>No</strong>; PASS</span></li>
            </ul>
        </li>
    </ul>

    <h2>Web Test Procedure</h2>

    <h3>Desktop</h3>
    <ol>
        <li>Identify any status messages that appear on the page.</li>
        <li>Trigger each status message and verify that the newly added status message is announced by the screen reader.</li>
    </ol>

    <h3>Mobile</h3>
    <ol>
        <li>Identify any status messages that appear on the page.</li>
        <li>Using VoiceOver or TalkBack, trigger each status message and verify that the newly added status message is announced by the screen reader.</li>
    </ol>

    <h2>Failures</h2>
    <ul>
        <li><a href="{{ site.data.4103.4103[41030101].link | prepend: baseurl }}">{{ site.data.4103.4103[41030101].name }}</a>.</li>
        <li><a href="{{ site.data.4103.4103[41030102].link | prepend: baseurl }}">{{ site.data.4103.4103[41030102].name }}</a>.</li>
        <li><a href="{{ site.data.4103.4103[41030103].link | prepend: baseurl }}">{{ site.data.4103.4103[41030103].name }}</a>.</li>
        <li><a href="{{ site.data.4103.4103[41030104].link | prepend: baseurl }}">{{ site.data.4103.4103[41030104].name }}</a>.</li>
        <li><a href="{{ site.data.4103.4103[41030105].link | prepend: baseurl }}">{{ site.data.4103.4103[41030105].name }}</a>.</li>
        <li><a href="{{ site.data.4103.4103[41030106].link | prepend: baseurl }}">{{ site.data.4103.4103[41030106].name }}</a>.</li>
        <li><a href="{{ site.data.4103.4103[41030107].link | prepend: baseurl }}">{{ site.data.4103.4103[41030107].name }}</a>.</li>
    </ul>

    <h2>Testing Tools</h2>
    <ul>
        <li>Screen reader</li>
    </ul>

    <h2>References</h2>
    <h3>WCAG</h3>
    <ul>
        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ page.sctitle }}</a></li>
        <li>General:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G83">G83: Providing text descriptions to identify required fields that were not completed</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G84">G84: Providing a text description when the user provides information that is not in the list of allowed values</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G85">G85: Providing a text description when user input falls outside the required format or values</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G177">G177: Providing suggested correction text</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G193">G193: Providing help by an assistant in the Web page</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G194">G194: Providing spell checking and suggestions for text input</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G199">G199: Providing success feedback when data is submitted successfully</a></li>
                
            </ul>
        </li>
        <li>ARIA:
            <ul>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA19">ARIA19: Using ARIA role=alert or Live Regions to Identify Errors</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA22">ARIA22: Using role=status to present status messages</a></li>
                <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA23">ARIA23: Using role=log to identify sequential information updates</a></li>
            </ul>
        </li>
     </ul>

    <h3>Additional Information</h3>
    <ul>
        
    </ul>
    </div>
    {% include checkpoints/4103checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>