<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/a11y/assets/css/styles.css">
		<script src="https://kit.fontawesome.com/a2a3f8fa39.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<div class="siteTitle">Web Accessibility Testing</div>
			<a class="skip-to-content-link" href="#main">Skip to main content</a>
			{% include navigation.html %}
		</header>
		{% include sidebar.html %}
		<main class="column" id="main">
			<div class="content">
				{{ content }}
			</div>
			<script src="/a11y/assets/js/accordion.js"></script>
			<script type="text/javascript">
				var button1 = document.getElementById("accordion1id");
				var button2 = document.getElementById("accordion2id");
				var button3 = document.getElementById("accordion3id");
				var button4 = document.getElementById("accordion4id");
				{% if page.guideline == "perceivable" %}
					button1.click();
				{% endif %}
				{% if page.guideline == "operable" %}
					button2.click();
				{% endif %}
				{% if page.guideline == "understandable" %}
					button3.click();
				{% endif %}
				{% if page.guideline == "robust" %}
					button4.click();
				{% endif %}
			</script>
		</main>
		<footer>{% include footer.html %}</footer>
	</body>
</html>