---
layout: default
current: 24040101
criterion: 2404
checkpoint: 240401
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.2404.2404[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.2404.2404[page.criterion] %}
{% assign cp=site.data.2404.2404[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>The purpose of the link can be determined from the link text along with its immediate context without having to leave the link.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The purpose of the link cannot be determined without leaving the link.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <ul>
                        <li>Change the link text to describe the purpose of the link, <strong>OR</strong></li>
                        <li>Include text that describes the purpose of the link within the same sentence, paragraph, list item, or table cell, <strong>OR</strong></li>
                        <li>Add an <code>aria-label</code> attribute with text describing the purpose of the link, <strong>OR</strong></li>
                        <li>Add an <code>aria-labelledby</code> attribute pointing to text outside the link's immediate context.</li>
                    </ul>      
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Examples</h2>
                <div>
                    <h3>Link Text</h3>
                    <a href="#">How to Make Links Accessible</a>

                    <h3>Link in Sentence</h3>
                    <p>See the <a href="#">How to Make Links Accessible</a> page for more information.</p>

                    <h3>Link in Paragraph</h3>
                    <p>There are several different ways to make links accessible. They are described in detail in the How to Make Links Accessible guide. <a href="#">Read More</a></p>

                    <h3>Link in List Item</h3>
                    <p>Make links accessible by doing the following:</p>
                    <ul>
                        <li>Ensure the <a href="#">link text</a> describes the purpose of the link.</li>
                        <li>Ensure there is a <a href="#">means other than color</a> to distinguish links from text.</li>
                    </ul>

                    <h3>Link with <code>aria-label</code></h3>
                    <p>There are several different ways to make links accessible. They are described in detail in the How to Make Links Accessible guide.</p>
                    <p><a href="#" aria-label="Read more about ways to make links accessible">Read More</a></p>
                    <pre><code>&lt;p&gt;There are several different ways to make links accessible. They are described in detail in the How to Make Links Accessible guide.&lt;/p&gt;
    &lt;p&gt;&lt;a href="#" <strong>aria-label="Read more about ways to make links accessible"</strong>&gt;Read More&lt;/a&gt;&lt;/p&gt;</code></pre>

                    <h3>Link Labeled by Heading</h3>
                    <p id="listHeading"><strong>Accessible Link Guide</strong></p>
                    <ul>
                        <li><a href="#" aria-describedby="listHeading">Web page</a></li>
                        <li><a href="#" aria-describedby="listHeading">PDF</a></li>
                        <li><a href="#" aria-describedby="listHeading">Word doc</a></li>
                    </ul>
                    <pre><code>&lt;h3 <strong>id="listHeading"</strong>&gt;Accessible Link Guide&lt;/h3&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href="#" <strong>aria-describedby="listHeading"</strong>&gt;Web page&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#" <strong>aria-describedby="listHeading"</strong>&gt;PDF&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#" <strong>aria-describedby="listHeading"</strong>&gt;Word doc&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;</code></pre>                
                </div>
            </div>
            <div class="row block">
            <h2 class="{{ sc.level }}">Not Applicable</h2>
            <div>
                <p>The following items are not applicable to this failure:</p>
                <ul>
                    <li><strong>Buttons</strong>:<br>
                        File under <a href="{{ site.data.2406.2406[2406].link | prepend: baseurl }}">{{ site.data.2406.2406[2406].name }}.</a></li>
                </ul>
            </div>
        </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Why It's Important</h2>
                <div>
                    <ul>
                        <li><strong>Blind/vision impaired:</strong> Users can determine the purpose of the link without having to explore around the page.</li>
                        <li><strong>Motion impaired:</strong> Users can skip links they are not interested in without having to visit the links to see what the content is.</li>
                        <li><strong>Cognitively impaired:</strong> Users can avoid confusion caused by having to navigate to and from links to see what the content is.</li>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F63">F63: Failure of Success Criterion 2.4.4 due to providing link context only in content that is not related to the link</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G53">G53: Identifying the purpose of a link using link text combined with the text of the enclosing sentence</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G91">G91: Providing link text that describes the purpose of a link</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H24">H24: Providing text alternatives for the area elements of image maps</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H30">H30: Providing link text that describes the purpose of a link for anchor elements</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H33">H33: Supplementing link text with the title attribute</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H77">H77: Identifying the purpose of a link using link text combined with its enclosing list item</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H78">H78: Identifying the purpose of a link using link text combined with its enclosing paragraph</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H79">H79: Identifying the purpose of a link in a data table using the link text combined with its enclosing table cell and associated table header cells</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H81">H81: Identifying the purpose of a link in a nested list using link text combined with the parent list item under which the list is nested</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/css/C7">C7: Using CSS to hide a portion of the link text</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA7">ARIA7: Using aria-labelledby for link purpose</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA8">ARIA8: Using aria-label for link purpose</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR30">SCR30: Using scripts to change the link text</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/2404checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>