---
layout: default
current: 32050102
criterion: 3205
checkpoint: 320501
guideline: understandable
aa
---
{% assign currentpg=site.data.3205.3205[page.current] %}
{% assign baseurl=site.data.3205.3205[page.base] %}
{% assign sc=site.data.3205.3205[page.criterion] %}
{% assign cp=site.data.3205.3205[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>A new window, tab, or dialog is not launched without user request.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>A new window, tab, or dialog is launched without user request.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Launch new windows, tabs, or dialogs only on user request.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Content that behaves predictably is especially important to people with disabilities.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F22">F22: Failure of Success Criterion 3.2.5 due to opening windows that are not requested by the user</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F52">F52: Failure of Success Criterion 3.2.1 and 3.2.5 due to opening a new window as soon as a new page is loaded</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F60">F60: Failure of Success Criterion 3.2.5 due to launching a new window when a user enters text into an input field</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G200">G200: Opening new windows and tabs from a link only when necessary</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H83">H83: Using the target attribute to open a new window on user request and indicating this in link text</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR24">SCR24: Using progressive enhancement to open new windows on user request</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include  checkpoints/3205checkpoints.html %}