---
layout: default
current: 32050103
criterion: 3205
checkpoint: 320501
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3205.3205[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3205.3205[page.criterion] %}
{% assign cp=site.data.3205.3205[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>There is not a significant change of content without user request.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>There is a significant change of content without user request.</div>
    	</div>
    	<div class="row block">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Add new content after the focus, <strong>OR</strong></li>
                    <li>Notify assistive technology of the change.</li>
                </ul>
            </div>
    	</div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Content that behaves predictably is especially important to people with disabilities.</div>
        </div>
        <div class="row block">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F61">F61: Failure of Success Criterion 3.2.5 due to complete change of main content through an automatic update that the user cannot disable from within the content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G76">G76: Providing a mechanism to request an update of the content instead of updating automatically</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR19">SCR19: Using an onchange event on a select element without causing a change of context</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include  checkpoints/3205checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>