---
layout: default
current: 24010203
criterion: 2401
checkpoint: 240102
---
{% assign currentpg=site.data.2401.2401[page.current] %}
{% assign baseurl=site.data.2401.2401[page.base] %}
{% assign sc=site.data.2401.2401[page.criterion] %}
{% assign cp=site.data.2401.2401[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div><code>&lt;iframe title&gt;</code> attributes are unique so screen reader users can tell them apart.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div><code>&lt;iframe&gt;</code>s have <code>title</code> attributes which describe the <code>&lt;iframe&gt;</code>'s contents, but they are not unique.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Set each <code>title</code> attribute to a unique value describing the <code>&lt;iframe&gt;</code>'s contents.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                <pre><code>&lt;iframe src="header.html" name="header-iframe" title="Header"&gt;&lt;/iframe&gt;
&lt;iframe src="footer.html" name="footer-iframe" title="Footer"&gt;&lt;/iframe&gt;</code></pre>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Screen reader users need to be able to tell which sections they can navigate to.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H64">H64: Using the title attribute of the iframe element</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2401checkpoints.html %}