---
layout: default
current: 24010101
criterion: 2401
checkpoint: 240101
---
{% assign currentpg=site.data.2401.2401[page.current] %}
{% assign baseurl=site.data.2401.2401[page.base] %}
{% assign sc=site.data.2401.2401[page.criterion] %}
{% assign cp=site.data.2401.2401[page.checkpoint] %}
{% include sidebar.html %}
<div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>A method is provided to skip blocks of content repeated across pages.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>No skip link, headings, or landmarks are available to skip content blocks.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Provide a skip link, <strong>OR</strong></li>
                    <li>Use landmarks to semantically mark up page content, <strong>OR</strong></li>
                    <li>Semantically mark up content with headings, <strong>OR</strong></li>
                    <li>Use a collapsible menu to hide blocks of links</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Screen reader and keyboard-only users are not able to scroll past blocks of content or go directly to the main content.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G1">G1: Adding a link at the top of each page that goes directly to the main content area</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G123">G123: Adding a link at the beginning of a block of repeated content to go to the end of the block</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G124">G124: Adding links at the top of the page to each area of the content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/html/H69">H69: Providing heading elements at the beginning of each section of content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/aria/ARIA11">ARIA11: Using ARIA landmarks to identify regions of a page</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/client-side-script/SCR28">SCR28: Using an expandable and collapsible menu to bypass block of content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/pdf/PDF9">PDF9: Providing headings by marking content with heading tags in PDF documents</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/2401checkpoints.html %}