---
layout: default
current: 12010202
criterion: 1201
checkpoint: 120102
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign baseurl=site.data.1201.1201[page.base] %}
{% assign sc=site.data.1201.1201[page.criterion] %}
{% assign cp=site.data.1201.1201[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Prerecorded video-only content must have a text or audio alternative that includes all of the information presented in the video.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The prerecorded video-only content has an audio description or text transcript, but it doesn't include all of the information presented in the video.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Update the audio description or text transcript to include all of the information presented in the video.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Silent Video and Alternate Video with Audio Description</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RlRMxbuggR0?si=E2C-vnZ3dXPPlz6N" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p><a href="https://youtu.be/OHdYifAcwNc?si=S_D2bUOxuLGakjpC">Click here for audio description.</a></p>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Blind users need to get all the information conveyed through video-only content.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F67">F67: Failure of Success Criterion 1.1.1 and 1.2.1 due to providing long descriptions for non-text content that does not serve the same purpose or does not present the same information</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G159">G159: Providing an alternative for time-based media for video-only content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G166">G166: Providing audio that describes the important video content and describing it as such</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/description/">W3: Description of Visual Information</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/transcripts/">W3: Transcripts</a></li>
                    <li><a href="https://www.3playmedia.com/learn/how-to-guides/audio-description-how-to-guides/audio-description-examples/">3PlayMedia: Audio Description Examples</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1201checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>