---
layout: default
current: 12010104
criterion: 1201
checkpoint: 120101
---
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign baseurl=site.data.1201.1201[page.base] %}
{% assign sc=site.data.1201.1201[page.criterion] %}
{% assign cp=site.data.1201.1201[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>Prerecorded audio-only content must have a text transcript that includes all of the information presented in the audio.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>The prerecorded audio-only content has a text transcript, but it doesn't include important sound effects.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>Update the text transcript to include all important sound effects in the audio.</div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Example</h2>
            <div>
                <h3>Transcript</h3>
                <p><a href="https://www.npr.org/transcripts/809336135">This example from the Invisibilia podcast</a> includes descriptions of significant sounds.</p>

                <div style="border: 1px solid black; padding: 10px;">
                    <p>ALIX SPIEGEL, HOST:</p>
                    <p>The human animal averages 60 to 100 heartbeats a minute. To me, that’s like the Goldilocks heartbeat - not too fast, not too slow, just right - you know, as heartbeats go.</p>
                    <p>(SOUNDBITE OF HUMAN HEART BEATING)</p>
                    <p>SPIEGEL: So steady and reassuring.</p>
                    <p>(SOUNDBITE OF HUMAN HEART BEATING)</p>
                    <p>SPIEGEL: But then there’s the black-capped chickadee, which beats 480 times a minute - a tempo so fast just listening to it makes me feel nervous.</p>
                    <p>(SOUNDBITE OF BIRD HEART BEATING)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>People who are deaf or hard of hearing need access to the sounds in the audio which convey meaning.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/failures/F67">F67: Failure of Success Criterion 1.1.1 and 1.2.1 due to providing long descriptions for non-text content that does not serve the same purpose or does not present the same information</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G158">G158: Providing an alternative for time-based media for audio-only content</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/transcripts/">W3: Transcripts</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1201checkpoints.html %}