---
layout: default
current: 12010106
criterion: 1201
checkpoint: 120101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.1201.1201[page.criterion] %}
{% assign cp=site.data.1201.1201[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>If audio-only media is used as a media alternative to text, it must be clearly labeled as such.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>The audio-only media is an alternative to text on the page, but it is not clearly labeled as such.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <p>Clearly label the audio-only media as an alternative to text on the page.</p>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Example<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Example<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Prerecorded Synchronized Media:</strong><br>
                            File under <a href="{{ site.data.1202.1202[12020107].link | prepend: baseurl }}">{{ site.data.1202.1202[12020107].name }}.</a></li>
                        <li><strong>Notification Sounds</strong></li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <p>Media which is intended as an alternative to text on the page needs to be clearly labeled as such, so users can find it and so users who expect text alternatives know not to look for them.</p>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include checkpoints/1201checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>