---
layout: default
current: 12010101
root: WCAG 2.2
base: base
criterion: 1201
checkpoint: 120101
guideline: perceivable

---
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign baseurl=site.data.1201.1201[page.base] %}
{% assign sc=site.data.1201.1201[page.criterion] %}
{% assign cp=site.data.1201.1201[page.checkpoint] %}

<div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ page.level }}">Expected Result</h2>
    		<div>Prerecorded audio-only content must have a text transcript that includes all of the information presented in the audio.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Actual Result</h2>
    		<div>The prerecorded audio-only content does not have a text transcript.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ page.level }}">Solution</h2>
    		<div>Add a text transcript that includes all of the information presented in the audio using one of the following methods:
                <ul>
                    <li>Place the text transcript directly on the page, adjacent to the audio content, <strong>OR</strong></li>
                    <li>Place the transcript on a separate page, and place a visible link adjacent to the image</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ page.level }}">Example</h2>
            <div>
                <h3>Adjacent Transcript</h3>
                <img src="{{ baseurl }}/assets/images/120101-this-am-life.png" style="max-width: 550px; border: 1px solid black;" alt="Screenshot of an episode of the This American Life podcast with the audio player at the top and the transcript underneath">
    <p>The text transcript for this audio podcast can be read while the audio is playing.</p>
    <p><a href="https://www.thisamericanlife.org/775/transcript">This American Life podcast episode transcript</a></p>
            </div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">Why It's Important</h2>
            <div>Text transcripts allow people who are deaf, hard of hearing, or have difficulty understanding audio information for any reason to be able to consume the content in an alternate form.</div>
        </div>
        <div class="row">
            <h2 class="{{ page.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding SC 1.1.1: Non-text Content</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G158">G158: Providing an alternative for time-based media for audio-only content</a></li>
                    <li><a href="https://www.w3.org/WAI/media/av/transcripts/">W3: Transcripts</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include checkpoints/1201checkpoints.html %}