---
layout: default
current: 1101
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1101.1101[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block sc {{ currentpg.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>All non-text content that is presented to the user has a text alternative that serves the equivalent purpose, except for the situations listed below.</p>

            <dl>
                <dt><strong>Controls, Input</strong></dt>
                <dd>If non-text content is a control or accepts user input, then it has a name that describes its purpose. (Refer to Success Criterion 4.1.2 for additional requirements for controls and content that accepts user input.)</dd>
                <dt><strong>Time-Based Media</strong></dt>
                <dd>If non-text content is time-based media, then text alternatives at least provide descriptive identification of the non-text content. (Refer to Guideline 1.2 for additional requirements for media.)</dd>
                <dt><strong>Test</strong></dt>
                <dd>If non-text content is a test or exercise that would be invalid if presented in text, then text alternatives at least provide descriptive identification of the non-text content.</dd>
                <dt><strong>Sensory</strong></dt>
                <dd>If non-text content is primarily intended to create a specific sensory experience, then text alternatives at least provide descriptive identification of the non-text content.</dd>
                <dt><strong>CAPTCHA</strong></dt>
                <dd>If the purpose of non-text content is to confirm that content is being accessed by a person rather than a computer, then text alternatives that identify and describe the purpose of the non-text content are provided, and alternative forms of CAPTCHA using output modes for different types of sensory perception are provided to accommodate different disabilities.</dd>
                <dt><strong>Decoration, Formatting, Invisible</strong></dt>
                <dd>If non-text content is pure decoration, is used only for visual formatting, or is not presented to users, then it is implemented in a way that it can be ignored by assistive technology.</dd>
            </dl>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>assistive technology</dt>
                <dd>hardware and/or software that acts as a user agent, or along with a mainstream user agent, to provide functionality to meet the requirements of users with disabilities that go beyond those offered by mainstream user agents
                    <p>Note 1: Functionality provided by assistive technology includes alternative presentations (e.g., as synthesized speech or magnified content), alternative input methods (e.g., voice), additional navigation or orientation mechanisms, and content transformations (e.g., to make tables more accessible).</p>
                    <p>Note 2: Assistive technologies often communicate data and messages with mainstream user agents by using and monitoring APIs.</p>
                    <p>Note 3: The distinction between mainstream user agents and assistive technologies is not absolute. Many mainstream user agents provide some features to assist individuals with disabilities. The basic difference is that mainstream user agents target broad and diverse audiences that usually include people with and without disabilities. Assistive technologies target narrowly defined populations of users with specific disabilities. The assistance provided by an assistive technology is more specific and appropriate to the needs of its target users. The mainstream user agent may provide important functionality to assistive technologies like retrieving web content from program objects or parsing markup into identifiable bundles.</p>
                </dd>
                
                <dt>CAPTCHA</dt>
                <dd>initialism for "Completely Automated Public Turing test to tell Computers and Humans Apart"
                    <p>Note 1: CAPTCHA tests often involve asking the user to type in text that is displayed in an obscured image or audio file.</p>
                    <p>Note 2: A Turing test is any system of tests designed to differentiate a human from a computer. It is named after famed computer scientist Alan Turing. The term was coined by researchers at Carnegie Mellon University.</p>
                </dd>

                <dt>name</dt>
                <dd>text by which software can identify a component within web content to the user
                    <p>Note 1: The name may be hidden and only exposed by assistive technology, whereas a label is presented to all users. In many (but not all) cases, the label and the name are the same.</p>
                    <p>Note 2: This is unrelated to the <code>name</code> attribute in HTML.</p>
                </dd>

                <dt>non-text content</dt>
                <dd>any content that is not a sequence of characters that can be programmatically determined or where the sequence is not expressing something in human language
                    <p>Note: This includes ASCII art (which is a pattern of characters), emoticons, leetspeak (which uses character substitution), and images representing text.</p>
                </dd>

                <dt>pure decoration</dt>
                <dd>serving only an aesthetic purpose, providing no information, and having no functionality
                    <p>Note: Text is only purely decorative if the words can be rearranged or substituted without changing their purpose. For example, the cover page of a dictionary has random words in very light text in the background.</p>
                </dd>

                <dt>specific sensory experience</dt>
                <dd>a sensory experience that is not purely decorative and does not primarily convey important information or perform a function
                    <p>For example, a performance of a flute solo, works of visual art, etc.</p>
                </dd>

                <dt>text</dt>
                <dd>sequence of characters that can be programmatically determined, where the sequence is expressing something in human language</dd>

                <dt>text alternative</dt>
                <dd>Text that is programmatically associated with non-text content or referred to from text that is programmatically associated with non-text content. Programmatically associated text is text whose location can be programmatically determined from the non-text content.</dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/images/toc">Deque University: Images, SVG, and Canvas</a> (requires account)</li>
                <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx07/">Section508.gov: Module 7: Adding Alternative Text to Images and Other Objects (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx11/">Section508.gov: Module 11: Ensuring Descriptions of Embedded Audio, Video and Multimedia Files are Accurate (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/documents/aed-cop-docx09/">Section508.gov: Module 9: Create Accessible Images and Other Objects (From: How to Make an Accessible Document in Microsoft Word)</a></li>
                <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx06/">Section508.gov: Module 6: Adding Alternative Text to Images and Other Objects (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx08/">Section508.gov: Module 8: Ensuring Descriptions of Embedded Audio, Video and Multimedia Files are Accurate (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/pdfs/aed-cop-pdf03/">Section508.gov: Module 3: Remediating PDFs for Accessibility (From: How to Test and Remediate PDFs for Accessibility Using Adobe Acrobat DC)</a></li>
                <li><a href="https://www.w3schools.com/accessibility/accessibility_meaningful_images.php">W3Schools: Accessibility Meaningful & Decorative Images</a></li>
                <li><a href="https://www.w3schools.com/accessibility/accessibility_image_text.php">W3Schools: Accessibility Descriptive Texts for Images</a></li>
                <li><a href="https://www.ssa.gov/accessibility/files/SSA_Alternative_Text_Guide.pdf">Social Security Administration Guide: Alternate text for images</a> (PDF)</li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>