---
layout: default
current: 1201
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1201.1201[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
        <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>

        <div class="sc {{ page.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>For prerecorded audio-only and prerecorded video-only media, the following are true, except when the audio or video is a media alternative for text and is clearly labeled as such:</p>

            <dl>
                <dt><strong>Prerecorded Audio-only</strong></dt>
                <dd>An alternative for time-based media is provided that presents equivalent information for prerecorded audio-only content.</dd>
                <dt><strong>Prerecorded Video-only</strong></dt>
                <dd>Either an alternative for time-based media or an audio track is provided that presents equivalent information for prerecorded video-only content.</dd>
            </dl>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/multimedia/">Deque University: Multimedia, Animations, and Motion</a> (requires account)</li>
            <li><a href="https://www.section508.gov/create/synchronized-media/creating-accessible-media/">Section508.gov: Creating Accessible Media</a></li>
        </ul>
    </div>
</div>

    {% include checkpoints/1201checkpoints.html %}