---
layout: default
current: 1203
---
{% assign root=site.data.site.root %}
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1203.1203[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>An alternative for time-based media or audio description of the prerecorded video content is provided for synchronized media, except when the media is a media alternative for text and is clearly labeled as such.</p>

            <p>Note: This guideline is superseded by <a href="1205.html">1.2.5 Audio Description (Prerecorded)</a> when testing for Level <strong>AA</strong>. If testing for Level <strong>AAA</strong>, for <a href="1208.html">1.2.8 Media Alternative (Prerecorded)</a>, both an audio description and text transcript are required.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>alternative for time-based media</dt>
                <dd>document including correctly sequenced text descriptions of time-based visual and auditory information and providing a means for achieving the outcomes of any time-based interaction</dd>

                <dt>audio description</dt>
                <dd>narration added to the soundtrack to describe important visual details that cannot be understood from the main soundtrack alone.
                    <p>Note: Audio description of video provides information about actions, characters, scene changes, on-screen text, and other visual content.</p>
                    <p>Note: In standard audio description, narration is added during existing pauses in dialogue.</p>
                    <p>Note: Where all of the video information is already provided in existing audio, no additional audio description is needed.</p>
                </dd>
                
                <dt>media alternative for text</dt>
                <dd>media that presents no more information than is already presented in text (directly or via text alternative)</dd>

                <dt>synchronized media</dt>
                <dd>audio or video synchronized with another format for presenting information and/or with time-based interactive components</dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/multimedia-part-1/toc">Deque University: Multimedia, Animations, and Motion: The Basics</a> (requires account)</li>
                <li><a href="https://www.section508.gov/create/synchronized-media/">Section508.gov: Create Accessible Synchronized Media Content</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1203checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>