---
layout: default
current: 1205
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1205.1205[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        <div class="block">
            <h2><a href="{{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>Audio description is provided for all prerecorded video content in synchronized media.</p>

            <p>Note: This guideline supersedes <a href="1203.html">1.2.3 Audio Description or Media Alternative (Prerecorded)</a> when testing for Level <strong>AA</strong>.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>audio description</dt>
                <dd>narration added to the soundtrack to describe important visual details that cannot be understood from the main soundtrack alone.
                    <p>Note: Audio description of video provides information about actions, characters, scene changes, on-screen text, and other visual content.</p>
                    <p>Note: In standard audio description, narration is added during existing pauses in dialogue.</p>
                    <p>Note: Where all of the video information is already provided in existing audio, no additional audio description is needed.</p>
                </dd>

                <dt>prerecorded</dt>
                <dd>information that is not live</dd>

                <dt>synchronized media</dt>
                <dd>audio or video synchronized with another format for presenting information and/or with time-based interactive components</dd>

                <dt>video</dt>
                <dd>the technology of moving or sequenced pictures or images
                    <p>Note: Video can be made up of animated or photographic images, or both.</p>
                </dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/multimedia-part-1/toc">Deque University: Multimedia, Animations, and Motion: The Basics</a> (requires account)</li>
                <li><a href="https://www.section508.gov/create/synchronized-media/creating-accessible-media/">Section508.gov: Creating Accessible Media</a></li>
            </ul>
        </div>
    </div>
     {% include checkpoints/1205checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>