---
layout: default
current: 1206
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1206.1206[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        <div class="block">
            <h2><a href="{{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>Sign language interpretation is provided for all prerecorded audio content in synchronized media.</p>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/multimedia/">Deque University: Multimedia, Animations, and Motion</a> (requires account)</li>
            </ul>
        </div>
    </div>
     {% include checkpoints/1206checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>