---
layout: default
current: 1208
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1208.1208[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
        <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>
        <div class="sc {{ page.level }}">
            <h2><a href="{{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>An alternative for time-based media is provided for all prerecorded synchronized media and for all prerecorded video-only media.</p>

            <p>Note: This guideline supersedes <a href="1203.html">1.2.3 Audio Description or Media Alternative (Prerecorded)</a> when testing for Level <strong>AAA</strong>.</p>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/multimedia/">Deque University: Multimedia, Animations, and Motion</a> (requires account)</li>
        </ul>
    </div>
</div>
     {% include checkpoints/1208checkpoints.html %}
</div>