---
layout: default
current: 1209
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1209.1209[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>

        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>An alternative for time-based media that presents equivalent information for live audio-only content is provided.</p>
        </div>        

        <div class="block">
                <h2>Definitions</h2>
                <dl>
                    <dt>alternative for time-based media</dt>
                    <dd>document including correctly sequenced text descriptions of time-based visual and auditory information and providing a means for achieving the outcomes of any time-based interaction</dd>
                </dl>
            </div>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/multimedia-part-1/toc">Deque University: Multimedia, Animations, and Motion: The Basics</a> (requires account)</li>
            </ul>
        </div>    
    </div>
     {% include checkpoints/1209checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>