---
layout: default
current: 1401
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1401.1401[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="sc {{ currentpg.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.</p>

            <dl>
                <dt><strong>Note</strong></dt>
                <dd>This success criterion addresses color perception specifically. Other forms of perception are covered in Guideline 1.3 including programmatic access to color and other visual presentation coding.</dd>
            </dl>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/visual-design/">Deque University: Visual Design and Colors</a> (requires account)</li>
            <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx03/">Section508.gov: Module 3: Ensuring Color and Other Visual Characteristics that Convey Information are Also Described in Text (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
            <li><a href="https://www.section508.gov/training/documents/aed-cop-docx11/">Section508.gov: Module 11: Use Color and Other Sensory Characteristics Plus Text to Convey Meaning (From: How to Make an Accessible Document in Microsoft Word)</a></li>
            <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx03/">Section508.gov: Module 3: Ensuring Color and Other Visual Characteristics are Also Described in Text (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
            <li><a href="https://www.w3schools.com/accessibility/accessibility_color_meaning.php">W3: Accessibility Color Alone as Meaning</a></li>
        </ul>
    </div>
    {% include checkpoints/1401checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>