---
layout: default
current: 1403
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1403.1403[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
        <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>
        
        <div class="sc {{ page.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>The visual presentation of text and images of text has a contrast ratio of at least 4.5:1, except for the following:</p>
            <dl>
                <dt><strong>Large Text</strong></dt>
                <dd>Large-scale text and images of large-scale text have a contrast ratio of at least 3:1;</dd>
                <dt><strong>Incidental</strong></dt>
                <dd>Text or images of text that are part of an inactive user interface component, that are pure decoration, that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast requirement.</dd>
                <dt><strong>Logotypes</strong></dt>
                <dd>Text that is part of a logo or brand name has no contrast requirement.</dd>
            </dl>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/visual-design/">Deque University: Visual Design and Colors</a> (requires account)</li>
            <li><a href="https://www.w3schools.com/accessibility/accessibility_color_contrast.php">W3: Accessibility Color Contrast</a></li>
            <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx02/">Section508.gov: Module 2: Ensuring the Contrast Ratio Between Text and Background is Sufficient (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
            <li><a href="https://www.section508.gov/training/documents/aed-cop-docx12/">Section508.gov: Module 12: Create the Required Color Contrast (From: How to Make an Accessible Document in Microsoft Word)</a></li>
            <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx02/">Section508.gov: Module 2: Ensuring the Contrast Ratio Between Text and Background is Sufficient (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
        </ul>
    </div>
</div>
    {% include checkpoints/1403checkpoints.html %}