---
layout: default
current: 1403
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1403.1403[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>The visual presentation of text and images of text has a contrast ratio of at least 4.5:1, except for the following:</p>
            <dl>
                <dt><strong>Large Text</strong></dt>
                <dd>Large-scale text and images of large-scale text have a contrast ratio of at least 3:1;</dd>
                <dt><strong>Incidental</strong></dt>
                <dd>Text or images of text that are part of an inactive user interface component, that are pure decoration, that are not visible to anyone, or that are part of a picture that contains significant other visual content, have no contrast requirement.</dd>
                <dt><strong>Logotypes</strong></dt>
                <dd>Text that is part of a logo or brand name has no contrast requirement.</dd>
            </dl>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>contrast ratio</dt>
                <dd>(L1 + 0.05)/(L2 + 0.05), where
                    <ul>
                        <li>L1 is the relative luminance of the lighter of the colors, and</li>
                        <li>L2 is the relative luminance of the darker of the colors</li>
                    </ul>
                    <p>Note 1: Contrast ratios can range from 1 to 21 (commonly written 1:1 to 21:1).</p>
                    <p>Note 2: Because authors do not have control over user settings as to how text is rendered (for example font smoothing or anti-aliasing), the contrast ratio for text can be evaluated with anti-aliasing turned off.</p>
                    <p>Note 3: For the purpose of Success Criteria 1.4.3 and 1.4.6, contrast is measured with respect to the specified background over which the text is rendered in normal usage. If no background color is specified, then white is assumed.</p>
                    <p>Note 4: Background color is the specified color of content over which the text is to be rendered in normal usage. It is a failure if no background color is specified when the text color is specified, because the user's default background color is unknown and cannot be evaluated for sufficient contrast. For the same reason, it is a failure if no text color is specified when a background color is specified.</p>
                    <p>Note 5: When there is a border around the letter, the border can add contrast and would be used in calculating the contrast between the letter and its backround. A narrow border around the letter would be used as the letter. A wide border around the letter that fills in the inner details of the letters acts as a halo and would be considered background.</p>
                    <p>Note 6: WCAG conformance should be evaluated for color pairs specified in the content that an author would expect to appear adjacent in typical presentation. Authors need not consider unusual presentations, such as color changes made by the user agent, except where caused by author's code.</p>
                </dd>

                <dt>images of text</dt>
                <dd>text that has been rendered in a non-text form (e.g., an image) in order to achieve a particular visual effect
                    <p>Note: This does not include text that is part of a picture that contains significant other visual content, such as a person's name on a nametag in a photograph.</p>
                </dd>

                <dt>large scale</dt>
                <dd>with at least 18 point or 14 point bold or font size that would yield equivalent size for Chinese, Japanese and Korean (CJK) fonts
                    <p>Note 1: Fonts with extraordinarily thin strokes or unusual features and characteristics that reduce the familiarity of their letter forms are harder to read, especially at lower contrast levels.</p>
                    <p>Note 2: Font size is the size when the content is delivered. It does not include resizing that may be done by a user.</p>
                    <p>Note 3: The actual size of the character that a user sees is dependent both on the author-defined size and the user's display or user agent settings. For many mainstream body text fonts, 14 and 18 point is roughly equivalent to 1.2 and 1.5 em or to 120% or 150% of the default size for body text (assuming that the body font is 100%), but authors would need to check this for the particular fonts in use. When fonts are defined in relative units, the actual point size is calculated by the user agent for display. The point size should be obtained from the user agent, or calculated based on font metrics as the user agent does, when evaluating this success criterion. Users who have low vision would be responsible for choosing appropriate settings.</p>
                    <p>Note 4: When using text without specifying the font size, the smallest font size used on major browsers for unspecified text would be a reasonable size to assume for the font. If a level 1 heading is rendered in 14pt bold or higher on major browsers, then it would be reasonable to assume it is large text. Relative scaling can be calculated from the default sizes in a similar fashion.</p>
                    <p>Note 5: The 18 and 14 point sizes for roman texts are taken from the minimum size for large print (14pt) and the larger standard font size (18pt). For other fonts such as CJK languages, the "equivalent" sizes would be the minimum large print size used for those languages and the next larger standard large print size.</p>
                </dd>

                <dt>pure decoration</dt>
                <dd>serving only an aesthetic purpose, providing no information, and having no functionality
                    <p>Note: Text is only purely decorative if the words can be rearranged or substituted without changing their purpose.</p>
                    <p>For example, the cover page of a dictionary has random words in very light text in the background.</p>
                </dd>

                <dt>text</dt>
                <dd>sequence of characters that can be programmatically determined, where the sequence is expressing something in human language</dd>

                <dt>user interface component</dt>
                <dd>a part of the content that is perceived by users as a single control for a distinct function
                    <p>Note 1: Multiple user interface components may be implemented as a single programmatic element. "Components" here is not tied to programming techniques, but rather to what the user perceives as separate controls.</p>
                    <p>Note 2: User interface components include form elements and links as well as components generated by scripts.</p>
                    <p>Note 3: What is meant by "component" or "user interface component" here is also sometimes called "user interface element".</p>
                    <p>For example, an applet has a "control" that can be used to move through content by line or page or random access. Since each of these would need to have a name and be settable independently, they would each be a "user interface component".</p>
                </dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/visual-design/">Deque University: Visual Design and Colors</a> (requires account)</li>
                <li><a href="https://www.w3schools.com/accessibility/accessibility_color_contrast.php">W3: Accessibility Color Contrast</a></li>
                <li><a href="https://www.section508.gov/training/web-software/andi-training-videos/color-contrast-analyzer/">Section508.gov: ANDI Video Training Module 14: Color Contrast Analyzer</a></li>
                <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx02/">Section508.gov: Module 2: Ensuring the Contrast Ratio Between Text and Background is Sufficient (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/documents/aed-cop-docx12/">Section508.gov: Module 12: Create the Required Color Contrast (From: How to Make an Accessible Document in Microsoft Word)</a></li>
                <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx02/">Section508.gov: Module 2: Ensuring the Contrast Ratio Between Text and Background is Sufficient (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/1403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>