---
layout: default
current: 1404
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.1404.1404[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>Except for captions and images of text, text can be resized without assistive technology up to 200 percent without loss of content or functionality.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>assistive technology</dt>
                <dd>hardware and/or software that acts as a user agent, or along with a mainstream user agent, to provide functionality to meet the requirements of users with disabilities that go beyond those offered by mainstream user agents
                    <p>Functionality provided by assistive technology includes alternative presentations (e.g., as synthesized speech or magnified content), alternative input methods (e.g., voice), additional navigation or orientation mechanisms, and content transformations (e.g., to make tables more accessible).</p>
                </dd>
                
                <dt>captions</dt>
                <dd>synchronized visual and/or text alternative for both speech and non-speech audio information needed to understand the media content</dd>

                <dt>image of text</dt>
                <dd>text that has been rendered in a non-text form (e.g., an image) in order to achieve a particular visual effect</dd>

                <dt>text</dt>
                <dd>sequence of characters that can be programmatically determined, where the sequence is expressing something in human language</dd>
        </div>

        <div class="block">
            <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/responsive-zoom/">Deque University: Responsive Design and Zoom</a> (requires account)</li>
            <li><a href="https://www.w3schools.com/accessibility/accessibility_zoom_intro.php">W3: Accessibility Zoom Introduction</a></li>
            <li><a href="https://www.w3schools.com/accessibility/accessibility_text_size.php">W3: Accessibility Text Size</a></li>
            <li><a href="https://www.w3schools.com/accessibility/accessibility_page_zoom.php">W3: Accessibility Page Zoom</a></li>
        </ul>
        </div>
    </div>
    {% include checkpoints/1404checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>