---
layout: default
current: 2102
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2102.2102[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>If keyboard focus can be moved to a component of the page using a keyboard interface, then focus can be moved away from that component using only a keyboard interface, and, if it requires more than unmodified <kbd>arrow</kbd> or <kbd>tab</kbd> keys or other standard exit methods, the user is advised of the method for moving focus away.</p>

            <p><strong>Note</strong>: Since any content that does not meet this success criterion can interfere with a user's ability to use the whole page, all content on the Web page (whether it is used to meet other success criteria or not) must meet this success criterion. See <a href="https://www.w3.org/WAI/WCAG22/Understanding/no-keyboard-trap#cc5">Conformance Requirement 5: Non-Interference.</a></p>
        </div>

        <div class="block">
            <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/input-methods/">Deque: Device-Independent User Input Methods</a> (account required)</li>
            <li><a href="https://dequeuniversity.com/class/testing/">Deque: Web Accessibility Testing: Basic Methods and Tools</a> (account required)</li>
        </ul>
        </div>
    </div>
    {% include checkpoints/2102checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>