---
layout: default
current: 2103
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2103.2103[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="sc {{ currentpg.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>All functionality of the content is operable through a keyboard interface without requiring specific timings for individual keystrokes.</p>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/input-methods/">Deque: Device-Independent User Input Methods</a> (account required)</li>
            <li><a href="https://dequeuniversity.com/class/testing/">Deque: Web Accessibility Testing: Basic Methods and Tools</a> (account required)</li>
        </ul>
    </div>
</div>
    {% include checkpoints/2103checkpoints.html %}
</div>