---
layout: default
current: 2203
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2203.2203[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="sc {{ currentpg.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>Timing is not an essential part of the event or activity presented by the content, except for non-interactive synchronized media and real-time events.</p>
    </div>

    <h2>Training</h2>
    <ul>
        <li><a href="https://dequeuniversity.com/class/multimedia/">Deque: Multimedia, Animations, and Motion</a> (account required)</li>
    </ul>
    </div>
    {% include checkpoints/2203checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>