---
layout: default
current: 2402
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2402.2402[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="block">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>Web pages have titles that describe topic or purpose.</p>
    </div>

    <div class="block">
        <h2>Definitions</h2>
        <dl>
            <dt>web page</dt>
                <dd>a non-embedded resource obtained from a single URI using HTTP plus any other resources that are used in the rendering or intended to be rendered together with it by a user agent
                    <p>Note 1: Although any "other resources" would be rendered together with the primary resource, they would not necessarily be rendered simultaneously with each other.</p>
                    <p>For the purpose of conformance with these guidelines, a resource must be "non-embedded" within the scope of conformance to be considered a web page.</p>
                    <p>Examples:</p>
                    <ul>
                        <li>A web resource including all embedded images and media</li>
                        <li>A web mail program that lives entirely at a single url but includes an inbox, a contacts area, and a calendar. Links or buttons are provided that cause the inbox, contacts, or calendar to display but do not change the URI of the page as a whole.</li>
                        <li>A customizable portal site, where users can choose content to display from a set of different content modules.</li>
                        <li>A movie-like interactive shopping environment where you visually move around in a store dragging products off of the shelves areound you and into a visual shopping cart in front of you. This might be a single-page website or just one page within a website.</li>
                    </ul>
                </dd>
        </dl>

    <div class="block">
            <h2>Training</h2>
    <ul>
        <li><a href="https://dequeuniversity.com/class/semantic-structure/?lang=en">Deque: Semantic Structure and Navigation</a> (account required)</li>
    </ul>
        </div>
    </div>
    {% include checkpoints/2402checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>