---
layout: default
current: 2403
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2403.2403[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>If a Web page can be navigated sequentially and the navigation sequences affect meaning or operation, focusable components receive focus in an order that preserves meaning and operability.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>navigated sequentially</dt>
                <dd>navigated in the order defined for advancing focus (from one element to the next) using a keyboard interface</dd>

                <dt>web page</dt>
                <dd>a non-embedded resource obtained from a single URI using HTTP plus any other resources that are used in the rendering or intended to be rendered together with it by a user agent
                    <p>Note 1: Although any "other resources" would be rendered together with the primary resource, they would not necessarily be rendered simultaneously with each other.</p>
                    <p>Note 2: For the purposes of conformance with these guidelines, a resource must be "non-embedded" within the scope of conformance to be considered a web page.</p>
                    <p>Examples:</p>
                    <ul>
                        <li>A web resource including all embedded images and media.</li>
                        <li>A web mail program built using Asynchronous JavaScript and XML (AJAX). The program lives entirely at http://example.com/mail, but includes an inbox, a contacts area and a calendar. Links or buttons are provided that cause the inbox, contacts, or calendar to display, but do not change the URI of the page as a whole.</li>
                        <li>A customizable portal site, where users can choose content to display from a set of different content modules.</li>
                        <li>When you enter "http://shopping.example.com/" in your browser, you enter a movie-like interactive shopping environment where you visually move around in a store dragging products off of the shelves around you and into a visual shopping cart in front of you. Clicking on a product causes it to be demonstrated with a specification sheet floating alongside. This might be a single-page website or just one page within a website.</li>
                    </ul>
                </dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/input-methods/?lang=en">Deque: Device-Independent User Input Methods</a> (account required)</li>
                <li><a href="https://dequeuniversity.com/class/testing/?lang=en">Deque: Web Accessibility Testing: Basic Methods and Tools</a> (account required)</li>
                <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx01/">Section508.gov: Module 1: Creating the Presentation’s Layout Design and Establishing the Logical Reading Order (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/pdfs/aed-cop-pdf03/">Section508.gov: Module 3: Remediating PDFs for Accessibility (From: How to Test and Remediate PDFs for Accessibility Using Adobe Acrobat DC)</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/2403checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>