---
layout: default
current: 2404
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2404.2404[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="sc {{ currentpg.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>The purpose of each link can be determined from the link text alone or from the link text together with its programmatically determined link context, except where the purpose of the link would be ambiguous to users in general.</p>
    </div>

    <h2>Training</h2>
    <ul>
        <li><a href="https://dequeuniversity.com/class/semantic-structure/?lang=en">Deque: Semantic Structure and Navigation</a> (account required)</li>
        <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx08/">Section508.gov: Module 8: Creating Links with Unique and Descriptive Names (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
        <li><a href="https://www.section508.gov/training/documents/aed-cop-docx07/">Section508.gov: Module 7: Create Unambiguous Names for Links (From: How to Make an Accessible Document in Microsoft Word)</a></li>
        <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx07/">Section508.gov: Module 7: Creating Links with Unique and Descriptive Names (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
    </ul>
    </div>
    {% include checkpoints/2404checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>