---
layout: default
current: 2404
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2404.2404[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>The purpose of each link can be determined from the link text alone or from the link text together with its programmatically determined link context, except where the purpose of the link would be ambiguous to users in general.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>ambiguous to users in general</dt>
                <dd>the purpose cannot be determined from the link and all information of the web page presented to the user simultaneously with the link (i.e., readers without disabilities would not know what a link would do until they activated it)
                    <p>Example: The word guava in the following sentence "One of the notable exports is guava" is a link. The link could lead to a definition of guava, a chart listing the quantity of guava exports or a photograph of people harvesting guava. Until the link is activated, all readers are unsure and the person with a disability is not at any disadvantage.</p>
                </dd>
                
                <dt>link purpose</dt>
                <dd>nature of the result obtained by activating a hyperlink</dd>

                <dt>programmatically determined link context</dt>
                <dd>additional information that can be programmatically determined from relationships with a link, combined with the link text, and presented to users in different modalities
                    <p>Example: In HTML, information that is programmatically determinable from a link in English includes text that is in the same paragraph, list item, or table cell as the link or in a table header cell that is associated with the table cell that contains the link.</p>
                    <p>Note: Since screen readers interpret punctuation, they can also provide the context from the current sentence, when the focus is on a link in that sentence.</p>
                </dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/semantic-structure/?lang=en">Deque: Semantic Structure and Navigation</a> (account required)</li>
                <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx08/">Section508.gov: Module 8: Creating Links with Unique and Descriptive Names (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/documents/aed-cop-docx07/">Section508.gov: Module 7: Create Unambiguous Names for Links (From: How to Make an Accessible Document in Microsoft Word)</a></li>
                <li><a href="https://www.section508.gov/training/spreadsheets/aed-cop-xlsx07/">Section508.gov: Module 7: Creating Links with Unique and Descriptive Names (From: How to Author and Test Microsoft Excel Worksheets for Accessibility)</a></li>
            </ul>
        </div>
    </div>
    {% include checkpoints/2404checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>