---
layout: default
current: 2405
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2405.2405[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>More than one way is available to locate a Web page within a set of Web pages except where the Web Page is the result of, or a step in, a process.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>process</dt>
                <dd>series of user actions where each action is required in order to complete an activity
                    <p>Examples include shopping cart check-out flows and account registration flows</p>
                </dd>
                
                <dt>set of web pages</dt>
                <dd>collection of web pages that share a common purpose and that are created by the same author, group, or organization
                    <p>Note: Different language versions would be considered different sets of web pages.</p>
                </dd>

                <dt>web page</dt>
                <dd>a non-embedded resource obtained from a single URI using HTTP plus any other resources that are used in the rendering or intended to be rendered together with it by a user agent
                    <p>Note 1: Although any "other resources" would be rendered together with the primary resource, they would not necessarily be rendered simultaneously with each other.</p>
                    <p>Note 2: For the purpose of conformance with these guidelines, a resource must be "non-embedded" within the scope of conformance to be considered a web page.</p>
                </dd>
            </dl>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/semantic-structure/?lang=en">Deque: Semantic Structure and Navigation</a> (account required)</li>
            </ul>
        </div>
    </div>
    {% include checkpoints/2405checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>