---
layout: default
current: 2409
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2409.2409[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="sc {{ currentpg.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>A mechanism is available to allow the purpose of each link to be identified from link text alone, except where the purpose of the link would be ambiguous to users in general.</p>
    </div>

    <h2>Training</h2>
    <ul>

    </ul>
    </div>
    {% include checkpoints/2409checkpoints.html %}
</div>