---
layout: default
current: 2410
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2410.2410[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>Section headings are used to organize the content.</p>

            <p><strong>Note</strong>: "Heading" is used in its general sense and includes titles and other ways to add a heading to different types of content.</p>

            <p><strong>Note</strong>: This success criterion covers sections within writing, not user interface components. User interface components are covered under <a href="4102.html">Success Criterion 4.1.2.</a></p>
        </div>

        <div class="block">
            <h2>Training</h2>
        <ul>

        </ul>
        </div>
    </div>
    {% include checkpoints/2410checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>