---
layout: default
current: 2501
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.2501.2501[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
        <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>
        
        <div class="sc {{ page.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>All functionality that uses multipoint or path-based gestures for operation can be operated with a single pointer without a path-based gesture, unless a multipoint or path-based gesture is essential.</p>

            <p><strong>Note</strong>: This requirement applies to web content that interprets pointer actions (i.e. this does not apply to actions that are required to operate the user agent or assistive technology).</p>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/input-methods/?lang=en">Deque: Device-Independent User Input Methods</a> (account required)</li>
        </ul>
    </div>
</div>
    {% include checkpoints/2501checkpoints.html %}