---
layout: default
current: 3101
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3101.3101[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ currentpg.level }}link">
        <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
        
        <div class="block">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>The default human language of each Web page can be programmatically determined.</p>
        </div>

        <div class="block">
            <h2>Definitions</h2>
            <dl>
                <dt>human language</dt>
                <dd>language that is spoken, written, or signed (through visual or tactile means) to communicate with humans</dd>

                <dt>programmatically determined</dt>
                <dd>determined by software from author-supplied data provided in a way that different user agents, including assistive technologies, can extract and present this information to users in different modalities
                    <p>For example, determined in a markup language from elements and attributes that are accesssed directly by commonly available assistive technology</p></dd>

                <dt>web page</dt>
                <dd>a non-embedded resource obtained from a single URI using HTTP plus any other resources that are used in the rendering or intended to be rendered together with it by a user agent
                    <p>Note 1: Although any "other resources" would be rendered together with the primary resource, they would not necessarily be rendered simultaneously with each other.</p>
                    <p>For the purpose of conformance with these guidelines, a resource must be "non-embedded" within the scope of conformance to be considered a web page.</p>
                    <p>Examples:</p>
                    <ul>
                        <li>A web resource including all embedded images and media</li>
                        <li>A web mail program that lives entirely at a single url but includes an inbox, a contacts area, and a calendar. Links or buttons are provided that cause the inbox, contacts, or calendar to display but do not change the URI of the page as a whole.</li>
                        <li>A customizable portal site, where users can choose content to display from a set of different content modules.</li>
                        <li>A movie-like interactive shopping environment where you visually move around in a store dragging products off of the shelves areound you and into a visual shopping cart in front of you. This might be a single-page website or just one page within a website.</li>
                    </ul>
                </dd>
        </div>

        <div class="block">
            <h2>Training</h2>
            <ul>
                <li><a href="https://dequeuniversity.com/class/semantic-structure/">Deque University: Semantic Structure and Navigation</a> (account required)</li>
                <li><a href="https://www.section508.gov/training/presentations/aed-cop-pptx10/">Section508.gov: Module 10: Formatting Text for the Intended Language (From: How to Author and Test Microsoft PowerPoint Presentations for Accessibility)</a></li>
                <li><a href="https://www.section508.gov/training/documents/aed-cop-docx06/">Section508.gov: Module 6: Identify Distinct Languages (From: How to Make an Accessible Document in Microsoft Word)</a></li>
                <li><a href="https://www.section508.gov/training/pdfs/aed-cop-pdf03/">Section508.gov: Module 3: Remediating PDFs for Accessibility (From: How to Test and Remediate PDFs for Accessibility Using Adobe Acrobat DC)</a></li>
                <li><a href="https://www.w3schools.com/accessibility/accessibility_screen_readers.php">W3 Schools: Accessibility Screen Readers</a></li>
            </ul>
        </div>
    </div>
    {% include  checkpoints/3101checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>