---
layout: default
current: 3102
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3102.3102[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
    <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>
    
    <div class="sc {{ page.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>The human language of each passage or phrase in the content can be programmatically determined except for proper names, technical terms, words of indeterminate language, and words or phrases that have become part of the vernacular of the immediately surrounding text.</p>
    </div>

    <h2>Training</h2>
    <ul>
        <li><a href="https://dequeuniversity.com/class/semantic-structure/?lang=en">Deque: Semantic Structure and Navigation</a> (account required)</li>
    </ul>
</div>
    {% include  checkpoints/3102checkpoints.html %}