---
layout: default
current: 3106
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3106.3106[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="sc {{ currentpg.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>A mechanism is available for identifying specific pronunciation of words where meaning of the words, in context, is ambiguous without knowing the pronunciation.</p>
    </div>

    <h2>Training</h2>
    <ul>

    </ul>
</div>
    {% include  checkpoints/3106checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>