---
layout: default
current: 3203
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3203.3203[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="sc {{ currentpg.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>Navigational mechanisms that are repeated on multiple Web pages within a set of Web pages occur in the same relative order each time they are repeated, unless a change is initiated by the user.</p>
    </div>

    <h2>Training</h2>
    <ul>
        <li><a href="https://dequeuniversity.com/class/semantic-structure/">Deque University: Semantic Structure and Navigation</a></li>
    </ul>
</div>
    {% include  checkpoints/3203checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>