---
layout: default
current: 3205
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3205.3205[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ currentpg.level }}link">
    <h1>{{ currentpg.name }} (Level {{ currentpg.level | upcase }})</h1>
    
    <div class="sc {{ currentpg.level }}">
        <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
        <p>Changes of context are initiated only by user request or a mechanism is available to turn off such changes.</p>
    </div>

    <h2>Training</h2>
    <ul>
    </ul>
</div>
    {% include  checkpoints/3205checkpoints.html %}
</div>