---
layout: default
current: 3206
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3206.3206[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
        <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>
        
        <div class="sc {{ page.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>If a Web page contains any of the following help mechanisms, and those mechanisms are repeated on multiple Web pages within a set of Web pages, they occur in the same order relative to other page content, unless a change is initiated by the user:</p>

            <ul>
                <li>Human contact details;</li>
                <li>Human contact mechanism;</li>
                <li>Self-help option;</li>
                <li>A fully automated contact mechanism.</li>
            </ul>

            <p><strong>Note</strong>: Help mechanisms may be provided directly on the page, or may be provided via a direct link to a different page containing the information.</p>

            <p><strong>Note</strong>: For this Success Criterion, "the same order relative to other page content" can be thought of as how the content is ordered when the page is serialized. The visual position of a help mechanism is likely to be consistent across pages for the same page variation (e.g., CSS break-point). The user can initiate a change, such as changing the page's zoom or orientation, which may trigger a different page variation. This criterion is concerned with relative order across pages displayed in the same page variation (e.g., same zoom level and orientation).</p>
        </div>

        <h2>Training</h2>
        <ul>
        </ul>
    </div>
</div>
    {% include checkpoints/3206checkpoints.html %}
</div>