---
layout: default
current: 3304
---
{% assign baseurl=site.data.site.base %}
{% assign currentpg=site.data.3304.3304[page.current] %}
{% assign sc=currentpg %}

{% include sidebar.html %}
<div class="content row">
    <div class="cpcontent {{ page.level }}link">
        <h1>{{ currentpg.name }} (Level {{ page.level | upcase }})</h1>
        
        <div class="sc {{ page.level }}">
            <h2><a href=" {{ currentpg.w3url }}">Success Criterion</a></h2>
            <p>For Web pages that cause legal commitments or financial transactions for the user to occur, that modify or delete user-controllable data in data storage systems, or that submit user test responses, at least one of the following is true:</p>

            <dl>
                <dt><strong>Reversible</strong></dt>
                <dd>Submissions are reversible.</dd>
                <dt><strong>Checked</strong></dt>
                <dd>Data entered by the user is checked for input errors and the user is provided an opportunity to correct them.</dd>
                <dt><strong>Confirmed</strong></dt>
                <dd>A mechanism is available for reviewing, confirming, and correcting information before finalizing the submission.</dd>
            </dl>
        </div>

        <h2>Training</h2>
        <ul>
            <li><a href="https://dequeuniversity.com/class/forms/">Deque University: Form Labels, Instructions, and Validation</a> (account required)</li>
        </ul>
    </div>
</div>
    {% include checkpoints/3304checkpoints.html %}
</div>