---
layout: default
current: 32010104
criterion: 3201
checkpoint: 320101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3201.3201[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3201.3201[page.criterion] %}
{% assign cp=site.data.3201.3201[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
    <h1>{{ currentpg.name }}</h1>
    {% include breadcrumbs/bc-failure.html %}

    <div class="failure">
    	<div class="row">
    		<h2 class="{{ sc.level }}">Expected Result</h2>
    		<div>When a control gains focus, a form is not automatically submitted.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Actual Result</h2>
    		<div>When a control gains focus, a form is automatically submitted.</div>
    	</div>
    	<div class="row">
    		<h2 class="{{ sc.level }}">Solution</h2>
    		<div>
                <ul>
                    <li>Submit forms only on activation.</li>
                </ul>
            </div>
    	</div>
        <div class="row">
            <h2 class="{{ sc.level }}">Examples</h2>
            <div>
                
            </div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">Why It's Important</h2>
            <div>Content that behaves predictably is especially important to people with disabilities.</div>
        </div>
        <div class="row">
            <h2 class="{{ sc.level }}">References</h2>
            <div>
                <ul>
                    <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                    <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G107">G107: Using "activate" rather than "focus" as a trigger for changes of context</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include  checkpoints/3201checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>