---
layout: default
current: 32010101
criterion: 3201
checkpoint: 320101
---
{% assign root=site.data.site.root %}
{% assign currentpg=site.data.3201.3201[page.current] %}
{% assign baseurl=site.data.site.base %}
{% assign sc=site.data.3201.3201[page.criterion] %}
{% assign cp=site.data.3201.3201[page.checkpoint] %}
{% include sidebar.html %}
<div class="content row {{ sc.level }}">
    <div class="cpcontent {{ sc.level }}link">
        <h1>{{ currentpg.name }}</h1>
        {% include breadcrumbs/bc-failure.html %}

        <div class="failure">
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Expected Result</h2>
        		<div>When a component gains focus, focus is not removed or redirected.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Actual Result</h2>
        		<div>When a component gains focus, focus is removed or redirected.</div>
        	</div>
        	<div class="row block">
        		<h2 class="{{ sc.level }}">Solution</h2>
        		<div>
                    <ul>
                        <li>Do not remove or redirect the focus on focus.</li>
                        <li>Intentionally place focus if necessary so that it isn't lost.</li>
                    </ul>
                </div>
        	</div>
            <div class="row block">
                <h2 class="{{ sc.level }} bad">Failing Examples<br>
                <span class="fa-solid fa-circle-xmark lgIcon" style="color: #e00000;"></span></h2>
                <div>
                    <h3>Link Focus Removed</h3>
                    <p>When this link receives focus, the focus is removed.</p>
                    <div class="example" style="width: 80%;">
                        <p><a onFocus="this.blur()" href="#">Link</a></p>
                    </div>
                    <pre><code>&lt;a onFocus="this.blur()" href="#"&gt;Link&lt;/a&gt;</code></pre>

                    <h3>Focus Moved</h3>
                    <div class="example" style="width: 80%;">
                        <script>
                            function checkForm() {
                                var email = document.forms["failForm"]["email"].value;
                                setTimeOut(function() {
                                    if (email == null || email == "") {
                                        document.getElementById("email").focus();
                                    }
                                }, 1000);
                            }
                        </script>
                        <form name="failForm">
                            <label>Email: <input type="text" name="email" id="email"></label>
                            <label><input type="checkbox" onfocus="checkForm()"> I agree to receive promotional emails.</label>
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }} good">Passing Examples<br>
                <span class="fa-solid fa-circle-check lgIcon" style="color: #28a228;"></span></h2>
                <div>
                    
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Not Applicable</h2>
                <div>
                    <ul>
                        <li><strong>Context changes on input:</strong><br>
                            File under <a href="{{ site.data.3202.3202[3202].link | prepend: baseurl }}">{{ site.data.3202.3202[3202].name }}.</a></li>
                        <li><strong>Links open in new window:</strong><br>
                            File under <a href="{{ site.data.2404.2404[2404].link | prepend: baseurl }}">{{ site.data.2404.2404[2404].name }}.</a></li>
                        <li><strong>Automatic tabs:</strong><br>
                        Tab content changes when focusing on a tab in a tab list is not a change of context, because the behavior is logical within the tab list context.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">Disabilities Affected</h2>
                <div>
                    <ul>
                        <li><strong>Blind/Visual Impairment:</strong> Unexpected changes of context can cause significant confusion if the user can't see what has happened.</li>
                        <li><strong>Cognitive Impairment:</strong> Unexpected changes of context can cause the user to become disoriented.</li>
                        <li><strong>Motor Impairment:</strong> Unexpected changes of context can make content significantly more difficult to navigate.</li>
                    </ul>
                </div>
            </div>
            <div class="row block">
                <h2 class="{{ sc.level }}">References</h2>
                <div>
                    <ul>
                        <li><a href="{{ sc.w3url }}">Understanding Success Criterion {{ sc.name }}</a></li>
                        <li><a href="https://www.w3.org/WAI/WCAG22/Techniques/general/G107">G107: Using "activate" rather than "focus" as a trigger for changes of context</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include  checkpoints/3201checkpoints.html %}
    <script>document.title = "{{ currentpg.name }}";</script>
</div>